<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=us-ascii">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 11">
<link id=Main-File rel=Main-File href="../CID_valle_sur_ilmc.htm">
<link rel=Preview href=preview.wmf>
<meta name=Robots content=NoIndex>
<link rel=Stylesheet href="master04_stylesheet.css">
<![if !ppt]><script src=script.js></script>
<script>
<!--
	parent.location.href=document.all.item("Main-File").href
//-->
</script>
<![endif]><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="17"/>
</o:shapelayout>
</head>

<body>
<p:colorscheme
 colors="#ffffff,#000000,#808080,#000000,#00cc99,#3333cc,#ccccff,#b2b2b2"/><v:background
 id="_x0000_s17409" o:bwmode="white" fillcolor="white [0]">
 <v:fill color2="#33c [5]"/>
</v:background><v:shapetype id="_x0000_s17410" style='position:absolute;left:0;
 top:0;width:234pt;height:36pt' coordsize="21600,21600" o:master="" o:spt="1"
 path="m,l,21600r21600,l21600,xe" filled="f" fillcolor="#0c9 [4]" stroked="f"
 strokecolor="black [1]">
 <v:fill color2="white [0]" o:detectmouseclick="t"/>
 <v:stroke joinstyle="miter" o:forcedash="t"/>
 <v:shadow color="gray [2]"/>
 <v:path gradientshapeok="t" o:connecttype="rect"/>
 <o:lock v:ext="edit" grouping="t"/>
 <p:placeholder type="header" size="quarter"/></v:shapetype>

<div v:shape="_x0000_s17410" class=O><span style='font-size:50%;mso-field-code:
meta14'><u>&#8249;encabezado&#8250;</u></span><span style='font-size:50%;
mso-special-format:lastCR'><u>&#13;</u></span></div>

<v:shapetype id="_x0000_s17411" style='position:absolute;left:306pt;top:0;
 width:234pt;height:36pt' coordsize="21600,21600" o:master="" o:spt="1" path="m,l,21600r21600,l21600,xe"
 filled="f" fillcolor="#0c9 [4]" stroked="f" strokecolor="black [1]">
 <v:fill color2="white [0]" o:detectmouseclick="t"/>
 <v:stroke joinstyle="miter" o:forcedash="t"/>
 <v:shadow color="gray [2]"/>
 <v:path gradientshapeok="t" o:connecttype="rect"/>
 <o:lock v:ext="edit" grouping="t"/>
 <p:placeholder type="dateTime" position="1"/></v:shapetype>

<div v:shape="_x0000_s17411" class=O style='text-align:right'><span
lang=ES-TRAD style='font-size:50%;mso-field-code:meta0'><u>&#8249;fecha y
hora&#8250;</u></span><span style='font-size:50%;mso-special-format:lastCR'><u>&#13;</u></span></div>

<v:shapetype id="_x0000_m17412" style='position:absolute;left:90pt;top:54pt;
 width:5in;height:270pt;v-text-anchor:middle' coordsize="21600,21600" o:master=""
 o:spt="1" path="m,l,21600r21600,l21600,xe">
 <v:fill o:detectmouseclick="t"/>
 <v:stroke joinstyle="miter"/>
 <v:shadow obscured="t"/>
 <v:path gradientshapeok="t" fillok="f" o:connecttype="rect"/>
 <o:lock v:ext="edit" text="t"/>
 <p:placeholder type="slideImage" position="2"/></v:shapetype><v:shapetype
 id="_x0000_m17413" style='position:absolute;left:1in;top:342pt;width:396pt;
 height:324pt' coordsize="21600,21600" o:master="" o:spt="1" path="m,l,21600r21600,l21600,xe"
 filled="f" fillcolor="#0c9 [4]" stroked="f" strokecolor="black [1]">
 <v:fill color2="white [0]" o:detectmouseclick="t"/>
 <v:stroke joinstyle="miter" o:forcedash="t"/>
 <v:shadow color="gray [2]"/>
 <v:path gradientshapeok="t" o:connecttype="rect"/>
 <o:lock v:ext="edit" grouping="t"/>
 <p:placeholder type="body" position="3" size="quarter"/></v:shapetype>

<div v:shape="_x0000_m17413">

<div class=N>Haga clic para modificar el estilo de texto del patr&oacute;n&#13;</div>

<div class=N1>Segundo nivel&#13;</div>

<div class=N2>Tercer nivel&#13;</div>

<div class=N3>Cuarto nivel&#13;</div>

<div class=N4>Quinto nivel</div>

</div>

<v:shapetype id="_x0000_s17414" style='position:absolute;left:0;top:684pt;
 width:234pt;height:36pt;v-text-anchor:bottom' coordsize="21600,21600"
 o:master="" o:spt="1" path="m,l,21600r21600,l21600,xe" filled="f" fillcolor="#0c9 [4]"
 stroked="f" strokecolor="black [1]">
 <v:fill color2="white [0]" o:detectmouseclick="t"/>
 <v:stroke joinstyle="miter" o:forcedash="t"/>
 <v:shadow color="gray [2]"/>
 <v:path gradientshapeok="t" o:connecttype="rect"/>
 <o:lock v:ext="edit" grouping="t"/>
 <p:placeholder type="footer" position="4" size="quarter"/></v:shapetype>

<div v:shape="_x0000_s17414" class=O><span style='font-size:50%;mso-field-code:
meta15'><u>&#8249;pie de p&aacute;gina&#8250;</u></span><span style='font-size:
50%;mso-special-format:lastCR'><u>&#13;</u></span></div>

<v:shapetype id="_x0000_s17415" style='position:absolute;left:306pt;top:684pt;
 width:234pt;height:36pt;v-text-anchor:bottom' coordsize="21600,21600"
 o:master="" o:spt="1" path="m,l,21600r21600,l21600,xe" filled="f" fillcolor="#0c9 [4]"
 stroked="f" strokecolor="black [1]">
 <v:fill color2="white [0]" o:detectmouseclick="t"/>
 <v:stroke joinstyle="miter" o:forcedash="t"/>
 <v:shadow color="gray [2]"/>
 <v:path gradientshapeok="t" o:connecttype="rect"/>
 <o:lock v:ext="edit" grouping="t"/>
 <p:placeholder type="slideNumber" position="5" size="quarter"/></v:shapetype>

<div v:shape="_x0000_s17415" class=O style='text-align:right'><span
style='font-size:50%;mso-field-code:meta16'><u>&#8249;N&ordm;&#8250;</u></span><span
style='font-size:50%;mso-special-format:lastCR'><u>&#13;</u></span></div>

<p:notes id="67" layout="notes" slots="slideImage,body">
 <o:shapelayout v:ext="edit">
  <o:idmap v:ext="edit" data="139"/>
 </o:shapelayout><v:shape id="_x0000_s142338" type="#_x0000_m17412" style='position:absolute;
  left:90pt;top:54pt;width:5in;height:270pt'>
  <v:fill o:detectmouseclick="t"/>
  <v:stroke o:forcedash="t"/>
  <o:lock v:ext="edit" text="t"/>
  <p:placeholder type="slideImage"/></v:shape><v:shape id="_x0000_s142339"
  type="#_x0000_m17413" style='position:absolute;left:1in;top:342pt;width:396pt;
  height:324pt'>
  <v:fill o:detectmouseclick="t"/>
  <v:stroke o:forcedash="t"/>
  <o:lock v:ext="edit" text="f"/>
  <p:placeholder type="body" position="1"/></v:shape>
 <div v:shape="_x0000_s142339" class=N><span lang=ES-MODERN style='mso-special-format:
 lastCR'>&#13;</span></div>
</p:notes>
</body>

</html>
