<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=us-ascii">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 11">
<link id=Main-File rel=Main-File href="../CID_valle_sur_ilmc.htm">
<link rel=Preview href=preview.wmf>
<meta name=Robots content=NoIndex>
<link rel=Stylesheet href="master04_stylesheet.css">
<![if !ppt]><script src=script.js></script>
<script>
<!--
	parent.location.href=document.all.item("Main-File").href
//-->
</script>
<![endif]><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="108"/>
</o:shapelayout>
</head>

<body>
<p:colorscheme
 colors="#ffffff,#000000,#808080,#000000,#00cc99,#3333cc,#ccccff,#b2b2b2"/><v:background
 id="_x0000_s110593" o:bwmode="white" fillcolor="white [0]">
 <v:fill color2="#33c [5]"/>
</v:background><v:shapetype id="_x0000_s110594" style='position:absolute;
 left:0;top:0;width:234pt;height:36pt' coordsize="21600,21600" o:master=""
 o:spt="1" path="m,l,21600r21600,l21600,xe" filled="f" fillcolor="#0c9 [4]"
 stroked="f" strokecolor="black [1]">
 <v:fill color2="white [0]" o:detectmouseclick="t"/>
 <v:stroke joinstyle="miter" o:forcedash="t"/>
 <v:shadow color="gray [2]"/>
 <v:path gradientshapeok="t" o:connecttype="rect"/>
 <o:lock v:ext="edit" grouping="t"/>
 <p:placeholder type="header" size="quarter"/></v:shapetype>

<div v:shape="_x0000_s110594" class=O><span style='font-family:"Arial Narrow";
font-size:50%;text-shadow:auto;mso-field-code:meta14'><b>&#8249;encabezado&#8250;</b></span><span
style='font-family:"Arial Narrow";font-size:50%;text-shadow:auto;mso-special-format:
lastCR'><b>&#13;</b></span></div>

<v:shapetype id="_x0000_s110595" style='position:absolute;left:306pt;top:0;
 width:234pt;height:36pt' coordsize="21600,21600" o:master="" o:spt="1" path="m,l,21600r21600,l21600,xe"
 filled="f" fillcolor="#0c9 [4]" stroked="f" strokecolor="black [1]">
 <v:fill color2="white [0]" o:detectmouseclick="t"/>
 <v:stroke joinstyle="miter" o:forcedash="t"/>
 <v:shadow color="gray [2]"/>
 <v:path gradientshapeok="t" o:connecttype="rect"/>
 <o:lock v:ext="edit" grouping="t"/>
 <p:placeholder type="dateTime" position="1" size="quarter"/></v:shapetype>

<div v:shape="_x0000_s110595" class=O style='text-align:right'><span
lang=ES-TRAD style='font-family:"Arial Narrow";font-size:50%;text-shadow:auto;
mso-field-code:meta0'><b>&#8249;fecha y hora&#8250;</b></span><span
style='font-family:"Arial Narrow";font-size:50%;text-shadow:auto;mso-special-format:
lastCR'><b>&#13;</b></span></div>

<v:shapetype id="_x0000_s110596" style='position:absolute;left:0;top:684pt;
 width:234pt;height:36pt;v-text-anchor:bottom' coordsize="21600,21600"
 o:master="" o:spt="1" path="m,l,21600r21600,l21600,xe" filled="f" fillcolor="#0c9 [4]"
 stroked="f" strokecolor="black [1]">
 <v:fill color2="white [0]" o:detectmouseclick="t"/>
 <v:stroke joinstyle="miter" o:forcedash="t"/>
 <v:shadow color="gray [2]"/>
 <v:path gradientshapeok="t" o:connecttype="rect"/>
 <o:lock v:ext="edit" grouping="t"/>
 <p:placeholder type="footer" position="2" size="quarter"/></v:shapetype>

<div v:shape="_x0000_s110596" class=O><span style='font-family:"Arial Narrow";
font-size:50%;text-shadow:auto;mso-field-code:meta15'><b>&#8249;pie de
p&aacute;gina&#8250;</b></span><span style='font-family:"Arial Narrow";
font-size:50%;text-shadow:auto;mso-special-format:lastCR'><b>&#13;</b></span></div>

<v:shapetype id="_x0000_s110597" style='position:absolute;left:306pt;top:684pt;
 width:234pt;height:36pt;v-text-anchor:bottom' coordsize="21600,21600"
 o:master="" o:spt="1" path="m,l,21600r21600,l21600,xe" filled="f" fillcolor="#0c9 [4]"
 stroked="f" strokecolor="black [1]">
 <v:fill color2="white [0]" o:detectmouseclick="t"/>
 <v:stroke joinstyle="miter" o:forcedash="t"/>
 <v:shadow color="gray [2]"/>
 <v:path gradientshapeok="t" o:connecttype="rect"/>
 <o:lock v:ext="edit" grouping="t"/>
 <p:placeholder type="slideNumber" position="3" size="quarter"/></v:shapetype>

<div v:shape="_x0000_s110597" class=O style='text-align:right'><span
style='font-family:"Arial Narrow";font-size:50%;text-shadow:auto;mso-field-code:
meta16'><b>&#8249;N&ordm;&#8250;</b></span><span style='font-family:"Arial Narrow";
font-size:50%;text-shadow:auto;mso-special-format:lastCR'><b>&#13;</b></span></div>

</body>

</html>
