<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=us-ascii">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 11">
<link id=Main-File rel=Main-File href="../CID_valle_sur_ilmc.htm">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>PIDES</title>
<meta name=Description content="22/04/2005">
<link rel=Stylesheet href="master04_stylesheet.css">
<!--[if gte IE 5]>
<object id=MSOANIM classid="CLSID:A4639D2F-774E-11D3-A490-00C04F6843FB"></object>
<object id=MSOTIME classid="CLSID:A4639D29-774E-11D3-A490-00C04F6843FB"></object>
<![endif]-->
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:76% !important;}
-->
</style>
<style>
<!--
oa\:* { BEHAVIOR: url(#MSOANIM#ANIM) url(#MSOTIME#TIME) }
oa\:par,oa\:seq,oa\:iterate { BEHAVIOR:url(#MSOTIME) }
oa\:video,oa\:audio {BEHAVIOR:url(#MSOTIME) url(#MSOTIME#MEDIA) }
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><script><!--
g_animItemsToHide=new Array("_x0000_s132111","_x0000_s132108_AllText","_x0000_s132108","_x0000_s132107_AllText","_x0000_s132107","_x0000_s132098_AllText","_x0000_s132098");

//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><p:slidetransition advancetime="0" speed="1"
 effect="randomBar" direction="vertical" flag="1"/><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="130"/>
</o:shapelayout>
</head>

<body lang=ES-MODERN style='margin:0px;background-color:#993300'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()" oa:clockstart="onstart">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:755px;height:566px;font-size:16px;background-color:#993300;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden;filter:revealtrans(Duration=2, Transition=22)'><p:slide
 coordsize="720,540"
 colors="#993300,#ffffff,#bb5f03,#feec94,#ff9900,#b76a03,#ffffcc,#cccc00"
 masterhref="master04.xml">
 <p:shaperange href="master04.xml#_x0000_s118785"/><![if !vml]><img
 src="master04_background.gif" v:shapes="_x0000_s118785" style='position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><![endif]><![if !ppt]><p:shaperange
  href="master04.xml#_x0000_s118786"/><![if !vml]><img border=0
 v:shapes="_x0000_s118786,_x0000_s118787,_x0000_s118788,_x0000_s118789,_x0000_s118790,_x0000_s118791,_x0000_s118792,_x0000_s118793,_x0000_s118794,_x0000_s118795,_x0000_s118796,_x0000_s118797,_x0000_s118798,_x0000_s118799,_x0000_s118800,_x0000_s118801,_x0000_s118802,_x0000_s118803,_x0000_s118804"
 src="master04_image015.gif" style='position:absolute;top:0%;left:0%;
 width:100.26%;height:101.41%'><![endif]><p:shaperange
  href="master04.xml#_x0000_s118809"/>
 <div v:shape="_x0000_s118809" class=O>
 <div style='text-align:right;mso-char-wrap:1;mso-kinsoku-overflow:1;
 position:absolute;top:92.04%;left:72.71%;width:21.45%;height:3.0%'><span
 lang=ES-MODERN style='font-size:58%;text-shadow:auto;mso-field-code:meta16'>19</span><span
 lang=ES-MODERN style='font-size:58%;text-shadow:auto;mso-special-format:lastCR;
 display:none'>&#13;</span></div>
 </div>
 <![endif]><v:shapetype id="_x0000_t202" coordsize="21600,21600" o:spt="202"
  path="m,l,21600r21600,l21600,xe">
  <v:stroke joinstyle="miter"/>
  <v:path gradientshapeok="t" o:connecttype="rect"/>
 </v:shapetype><v:shape id="_x0000_s132098" type="#_x0000_t202" style='position:absolute;
  left:0;top:60.25pt;width:663.375pt;height:28.875pt' fillcolor="#930 [0]"
  stroked="f" strokecolor="white [1]">
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="2" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s132098" src="slide0079_image157.gif" style='position:absolute;
 top:11.13%;left:0%;width:92.45%;height:5.65%'><![endif]>
 <div id="_x0000_s132098_AllText" v:shape="_x0000_s132098" class=O
 style='position:absolute;top:12.01%;left:1.05%;width:105.29%;height:3.88%;
 white-space:nowrap'>
 <div style='mso-line-spacing:"100 50 0";mso-char-wrap:1;mso-kinsoku-overflow:
 1;position:absolute;top:0%;left:0%;width:100.0%;height:100.0%'><span
 lang=ES-MX style='font-family:Arial;font-size:75%'><b>LOS COMIT&Eacute;S DE
 OBRAS Y DE GESTI&Oacute;N DE PROGRAMAS Y SERVICIOS</b></span><span
 lang=ES-MODERN style='font-family:Arial;font-size:75%;mso-special-format:lastCR;
 display:none'><b>&#13;</b></span></div>
 </div>
 <v:shape id="_x0000_s132099" type="#_x0000_t202" style='position:absolute;
  left:-2.875pt;top:3.5pt;width:722.875pt;height:40.875pt' fillcolor="#930 [0]"
  stroked="f" strokecolor="white [1]">
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
 </v:shape><![if !vml]><img border=0 v:shapes="_x0000_s132099"
 src="slide0079_image158.gif" style='position:absolute;top:.7%;left:-.39%;
 width:100.66%;height:7.95%'><![endif]>
 <div v:shape="_x0000_s132099" class=O style='text-align:center;position:absolute;
 top:1.59%;left:.66%;width:98.54%;height:6.0%'><span style='font-family:Arial;
 font-size:117%;text-shadow:auto;color:#FFFFCC;mso-color-index:6'><b>ESPACIOS
 DE CONCERTACION</b></span><span style='font-size:117%;text-shadow:auto;
 mso-special-format:lastCR;display:none'><b>&#13;</b></span></div>
 <v:shape id="_x0000_s132107" type="#_x0000_t202" style='position:absolute;
  left:14.125pt;top:150.875pt;width:311.875pt;height:180.25pt' filled="f"
  fillcolor="#f90 [4]" stroked="f" strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="3" delay="0" type="object" effect="wipe" direction="down"
   flag="1028"/></v:shape>
 <div id="_x0000_s132107_AllText" v:shape="_x0000_s132107" class=O
 style='position:absolute;top:28.79%;left:2.91%;width:41.45%;height:31.97%'>
 <div style='text-align:justify;mso-line-spacing:"100 50 0";mso-char-wrap:1;
 mso-kinsoku-overflow:1;position:absolute;top:0%;left:0%;width:100.0%;
 height:100.0%'><span lang=ES-MODERN style='font-family:Arial;font-size:75%'><b>Las
 municipalidades del Valle Sur gestionan y ejecutan proyectos priorizados por
 el CID, que se hacen realidad con el aporte local de municipalidad,
 poblaci&oacute;n organizada y con el financiamiento de la cooperaci&oacute;n
 internacional. </b></span></div>
 </div>
 <v:shape id="_x0000_s132108" type="#_x0000_t202" style='position:absolute;
  left:36.875pt;top:389.125pt;width:657.625pt;height:72.125pt' filled="f"
  fillcolor="#f90 [4]" stroked="f" strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="4" delay="0" type="object" effect="wipe"
   direction="right" flag="1028"/></v:shape>
 <div id="_x0000_s132108_AllText" v:shape="_x0000_s132108" class=O
 style='position:absolute;top:72.96%;left:6.09%;width:105.43%;height:11.83%;
 white-space:nowrap'>
 <div style='mso-line-spacing:"100 50 0";mso-char-wrap:1;mso-kinsoku-overflow:
 1'><span style='position:absolute;top:0%;left:0%;width:100.0%;height:32.83%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:75%'><b>Estos proyectos
 requieren de una gesti&oacute;n y co-gesti&oacute;n, ya no s&oacute;lo para la
 </b></span></span><span style='position:absolute;top:34.32%;left:0%;
 width:91.2%;height:32.83%'><span lang=ES-MODERN style='font-family:Arial;
 font-size:75%'><b>ejecuci&oacute;n de las actividades y obras, sino
 tambi&eacute;n, y lo que es m&aacute;s </b></span></span><span
 style='position:absolute;top:67.16%;left:0%;width:84.79%;height:32.83%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:75%'><b>importante, para
 garantizar su sostenibilidad </b></span></span></div>
 </div>
 <v:group id="_x0000_s132111" style='position:absolute;left:354.375pt;top:145.25pt;
  width:340.125pt;height:192.75pt' coordorigin="2835,1162" coordsize="2721,1542">
  <v:shapetype id="_x0000_t75" coordsize="21600,21600" o:spt="75"
   o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
   <v:stroke joinstyle="miter"/>
   <v:formulas>
    <v:f eqn="if lineDrawn pixelLineWidth 0"/>
    <v:f eqn="sum @0 1 0"/>
    <v:f eqn="sum 0 0 @1"/>
    <v:f eqn="prod @2 1 2"/>
    <v:f eqn="prod @3 21600 pixelWidth"/>
    <v:f eqn="prod @3 21600 pixelHeight"/>
    <v:f eqn="sum @0 0 1"/>
    <v:f eqn="prod @6 1 2"/>
    <v:f eqn="prod @7 21600 pixelWidth"/>
    <v:f eqn="sum @8 21600 0"/>
    <v:f eqn="prod @7 21600 pixelHeight"/>
    <v:f eqn="sum @10 21600 0"/>
   </v:formulas>
   <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
   <o:lock v:ext="edit" aspectratio="t"/>
  </v:shapetype><v:shape id="_x0000_s132109" type="#_x0000_t75" style='position:absolute;
   left:2880;top:1207;width:2631;height:1452'>
   <v:imagedata src="slide0079_image159.jpg" o:title="5faenantes" croptop="23600f"
    cropbottom="9139f" cropleft="10306f" cropright="14753f" gain="74473f"
    blacklevel="-1966f"/>
  </v:shape><v:rect id="_x0000_s132110" style='position:absolute;left:2835;
   top:1162;width:2721;height:1542;mso-wrap-style:none;v-text-anchor:middle'
   filled="f" fillcolor="#f90 [4]" strokecolor="#f90 [4]">
   <v:fill color2="#930 [0]"/>
   <v:shadow color="#bb5f03 [2]"/>
  </v:rect><p:animation number="5" delay="0" type="object" effect="randomBar"
   direction="vertical" flag="17412"/></v:group><![if !vml]><img border=0
 v:shapes="_x0000_s132111,_x0000_s132109,_x0000_s132110"
 src="slide0079_image160.gif" style='position:absolute;top:26.85%;left:49.13%;
 width:47.54%;height:36.21%'><![endif]></p:slide></div>

<p:animation number="89788460"/><oa:par id="TimeNode0" dur="indefinite"
 restart="never" p:nodeType="timingRoot">
 <oa:seq id="TimeNode1" dur="indefinite" prev="document.onpptprev"
  next="document.onpptnext" concurrent="enabled" nextAction="seek"
  p:nodeType="mainSeq">
  <oa:par id="TimeNode2" begin="indefinite;TimeNode1.onbegin" fill="hold">
   <oa:par id="TimeNode3" begin="0.0" fill="hold">
    <oa:par id="TimeNode4" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode5" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s132098" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode6" dur="2.0" targetElement="_x0000_s132098"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode7" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode8" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s132098_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode9" dur="2.0"
      targetElement="_x0000_s132098_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode10" begin="2.0" fill="hold">
    <oa:par id="TimeNode11" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x1" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode12" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s132107" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode13" dur="2.0" targetElement="_x0000_s132107"
      transition="in" filter="wipe(up)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode14" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x1" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode15" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s132107_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode16" dur="2.0"
      targetElement="_x0000_s132107_AllText" transition="in" filter="wipe(up)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode17" begin="4.0" fill="hold">
    <oa:par id="TimeNode18" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode19" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s132108" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode20" dur="2.0" targetElement="_x0000_s132108"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode21" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode22" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s132108_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode23" dur="2.0"
      targetElement="_x0000_s132108_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode24" begin="6.0" fill="hold">
    <oa:par id="TimeNode25" o:presetID="ppt_14" o:presetClass="entrance"
     o:presetSubType="0x5" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode26" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s132111" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode27" dur="0.5" targetElement="_x0000_s132111"
      transition="in" filter="randombar(vertical)"/>
    </oa:par>
   </oa:par>
  </oa:par>
 </oa:seq>
</oa:par>
<![if ppt]>
<oa:buildParagraph targetElement="_x0000_s132098" groupID="0" build="asAWhole"
 buildLevel="1" alsoAnimate="background" reverse="false" buildAdvance="onclick"
 userSetAnimBgd="false"/><oa:buildParagraph targetElement="_x0000_s132107"
 groupID="0" build="asAWhole" buildLevel="1" reverse="false"
 buildAdvance="onclick" userSetAnimBgd="false"/><oa:buildParagraph
 targetElement="_x0000_s132108" groupID="0" build="asAWhole" buildLevel="1"
 reverse="false" buildAdvance="onclick" userSetAnimBgd="false"/>
<![endif]>
</body>

</html>
