<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=us-ascii">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 11">
<link id=Main-File rel=Main-File href="../CID_valle_sur_ilmc.htm">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>PIDES</title>
<meta name=Description content="22/04/2005">
<link rel=Stylesheet href="master04_stylesheet.css">
<!--[if gte IE 5]>
<object id=MSOANIM classid="CLSID:A4639D2F-774E-11D3-A490-00C04F6843FB"></object>
<object id=MSOTIME classid="CLSID:A4639D29-774E-11D3-A490-00C04F6843FB"></object>
<![endif]-->
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:76% !important;}
-->
</style>
<style>
<!--
oa\:* { BEHAVIOR: url(#MSOANIM#ANIM) url(#MSOTIME#TIME) }
oa\:par,oa\:seq,oa\:iterate { BEHAVIOR:url(#MSOTIME) }
oa\:video,oa\:audio {BEHAVIOR:url(#MSOTIME) url(#MSOTIME#MEDIA) }
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><script><!--
g_animItemsToHide=new Array("_x0000_s6150","_x0000_s6148_AllText","_x0000_s6148","_x0000_s6147_AllText","_x0000_s6147");

//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><p:slidetransition advancetime="0" speed="1"
 effect="randomBar" direction="vertical" flag="1"/><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="6"/>
</o:shapelayout>
</head>

<body lang=ES-MODERN style='margin:0px;background-color:#993300'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()" oa:clockstart="onstart">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:755px;height:566px;font-size:16px;background-color:#993300;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden;filter:revealtrans(Duration=2, Transition=22)'><p:slide
 coordsize="720,540"
 colors="#993300,#ffffff,#bb5f03,#feec94,#ff9900,#b76a03,#ffffcc,#cccc00"
 masterhref="master04.xml">
 <p:shaperange href="master04.xml#_x0000_s118785"/><![if !vml]><img
 src="master04_background.gif" v:shapes="_x0000_s118785" style='position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><![endif]><![if !ppt]><p:shaperange
  href="master04.xml#_x0000_s118786"/><![if !vml]><img border=0
 v:shapes="_x0000_s118786,_x0000_s118787,_x0000_s118788,_x0000_s118789,_x0000_s118790,_x0000_s118791,_x0000_s118792,_x0000_s118793,_x0000_s118794,_x0000_s118795,_x0000_s118796,_x0000_s118797,_x0000_s118798,_x0000_s118799,_x0000_s118800,_x0000_s118801,_x0000_s118802,_x0000_s118803,_x0000_s118804"
 src="master04_image015.gif" style='position:absolute;top:0%;left:0%;
 width:100.26%;height:101.41%'><![endif]><p:shaperange
  href="master04.xml#_x0000_s118809"/>
 <div v:shape="_x0000_s118809" class=O>
 <div style='text-align:right;mso-char-wrap:1;mso-kinsoku-overflow:1;
 position:absolute;top:92.04%;left:72.71%;width:21.45%;height:3.0%'><span
 lang=ES-MODERN style='font-size:58%;text-shadow:auto;mso-field-code:meta16'>4</span><span
 lang=ES-MODERN style='font-size:58%;text-shadow:auto;mso-special-format:lastCR;
 display:none'>&#13;</span></div>
 </div>
 <![endif]><v:shapetype id="_x0000_t202" coordsize="21600,21600" o:spt="202"
  path="m,l,21600r21600,l21600,xe">
  <v:stroke joinstyle="miter"/>
  <v:path gradientshapeok="t" o:connecttype="rect"/>
 </v:shapetype><v:shape id="_x0000_s6147" type="#_x0000_t202" style='position:absolute;
  left:14.125pt;top:20.5pt;width:642pt;height:45.625pt' filled="f" fillcolor="#f90 [4]"
  stroked="f" strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="2" delay="0" type="object" effect="wipe"
   direction="right" flag="1028"/></v:shape>
 <div id="_x0000_s6147_AllText" v:shape="_x0000_s6147" class=O
 style='position:absolute;top:4.77%;left:-4.37%;width:101.85%;height:6.89%;
 white-space:nowrap'>
 <div style='text-align:center;mso-line-spacing:"100 50 0";position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><span style='font-family:Arial;
 font-size:133%;color:#FFFFCC;mso-color-index:6'><b>Es un plan</b></span><span
 style='font-size:133%'><b> </b></span><span style='font-family:Arial;
 font-size:133%;text-shadow:auto;color:yellow'><b>PARTICIPATIVO</b></span><span
 style='font-family:Arial;font-size:133%'><b> </b></span><span
 style='font-family:Arial;font-size:133%;color:#FFFFCC;mso-color-index:6'><b>por
 lo tanto</b></span><span style='font-family:Arial;font-size:133%;color:#FFFFCC;
 mso-color-index:6'>:</span><span style='font-size:117%;mso-special-format:
 lastCR;display:none'>&#13;</span></div>
 </div>
 <v:rect id="_x0000_s6148" style='position:absolute;left:25.5pt;top:111.25pt;
  width:330pt;height:343.625pt' filled="f" fillcolor="#f90 [4]" stroked="f"
  strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="3" delay="0" type="object" effect="wipe" direction="down"
   flag="1028"/></v:rect>
 <div id="_x0000_s6148_AllText" v:shape="_x0000_s6148" class=O
 style='position:absolute;top:21.55%;left:4.5%;width:50.86%;height:62.01%;
 white-space:nowrap'>
 <div style='mso-line-spacing:"100 50 0"'><span style='position:absolute;
 top:0%;left:2.86%;width:90.1%;height:9.68%'><span style='font-family:Arial;
 font-size:117%'><span style='mso-special-format:bullet;position:absolute;
 left:-3.17%'>&#8226;</span></span><span style='font-family:Arial;font-size:
 117%'><b>Convoca a todos los </b></span></span><span style='position:absolute;
 top:10.25%;left:0%;width:86.45%;height:9.68%'><span style='font-family:Arial;
 font-size:117%'><b>sectores de la<span style='mso-spacerun:yes'>&nbsp; </span></b></span></span><span
 style='position:absolute;top:20.22%;left:0%;width:86.45%;height:9.68%'><span
 style='font-family:Arial;font-size:117%'><b>poblaci&oacute;n&#13;</b></span></span></div>
 <div style='mso-line-spacing:"100 50 0"'><span style='position:absolute;
 top:35.32%;left:2.86%;width:97.39%;height:9.68%'><span style='font-family:
 Arial;font-size:117%'><span style='mso-special-format:bullet;position:absolute;
 left:-2.94%'>&#8226;</span></span><span style='font-family:Arial;font-size:
 117%'><b>Desarrolla un proceso </b></span></span><span style='position:absolute;
 top:45.29%;left:0%;width:86.45%;height:9.68%'><span style='font-family:Arial;
 font-size:117%'><b>de participaci&oacute;n </b></span></span><span
 style='position:absolute;top:55.27%;left:0%;width:86.45%;height:9.68%'><span
 style='font-family:Arial;font-size:117%'><b>interactivo&#13;</b></span></span></div>
 <div style='mso-line-spacing:"100 50 0"'><span style='position:absolute;
 top:70.37%;left:2.86%;width:83.85%;height:9.68%'><span style='font-family:
 Arial;font-size:117%'><span style='mso-special-format:bullet;position:absolute;
 left:-3.41%'>&#8226;</span></span><span style='font-family:Arial;font-size:
 117%'><b>Promueve el </b></span></span><span style='position:absolute;
 top:80.34%;left:0%;width:94.79%;height:9.68%'><span style='font-family:Arial;
 font-size:117%'><b>fortalecimiento de las </b></span></span><span
 style='position:absolute;top:90.59%;left:0%;width:90.62%;height:9.68%'><span
 style='font-family:Arial;font-size:117%'><b>instituciones locales</b></span></span></div>
 </div>
 <v:shapetype id="_x0000_t75" coordsize="21600,21600" o:spt="75"
  o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" aspectratio="t"/>
 </v:shapetype><v:shape id="_x0000_s6150" type="#_x0000_t75" style='position:absolute;
  left:348.625pt;top:116.875pt;width:371.375pt;height:348pt'>
  <v:imagedata src="slide0005_image019.jpg" o:title="FOTO8"/>
  <p:animation number="4" delay="0" type="object" effect="wipe" direction="up"
   flag="17412"/></v:shape><![if !vml]><img border=0 v:shapes="_x0000_s6150"
 src="slide0005_image020.jpg" style='position:absolute;top:21.73%;left:48.47%;
 width:51.52%;height:64.48%'><![endif]></p:slide></div>

<p:animation number="307941627"/><oa:par id="TimeNode0" dur="indefinite"
 restart="never" p:nodeType="timingRoot">
 <oa:seq id="TimeNode1" dur="indefinite" prev="document.onpptprev"
  next="document.onpptnext" concurrent="enabled" nextAction="seek"
  p:nodeType="mainSeq">
  <oa:par id="TimeNode2" begin="indefinite;TimeNode1.onbegin" fill="hold">
   <oa:par id="TimeNode3" begin="0.0" fill="hold">
    <oa:par id="TimeNode4" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode5" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s6147" attributeName="style.visibility" to="visible"/>
     <oa:animateFilter id="TimeNode6" dur="0.5" targetElement="_x0000_s6147"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode7" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode8" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s6147_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode9" dur="0.5"
      targetElement="_x0000_s6147_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode10" begin="0.5" fill="hold">
    <oa:par id="TimeNode11" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x1" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode12" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s6148" attributeName="style.visibility" to="visible"/>
     <oa:animateFilter id="TimeNode13" dur="3.0" targetElement="_x0000_s6148"
      transition="in" filter="wipe(up)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode14" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x1" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode15" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s6148_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode16" dur="3.0"
      targetElement="_x0000_s6148_AllText" transition="in" filter="wipe(up)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode17" begin="3.5" fill="hold">
    <oa:par id="TimeNode18" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x4" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode19" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s6150" attributeName="style.visibility" to="visible"/>
     <oa:animateFilter id="TimeNode20" dur="3.0" targetElement="_x0000_s6150"
      transition="in" filter="wipe(down)"/>
    </oa:par>
   </oa:par>
  </oa:par>
 </oa:seq>
</oa:par>
<![if ppt]>
<oa:buildParagraph targetElement="_x0000_s6147" groupID="0" build="asAWhole"
 buildLevel="1" reverse="false" buildAdvance="onclick" userSetAnimBgd="false"/><oa:buildParagraph
 targetElement="_x0000_s6148" groupID="0" build="asAWhole" buildLevel="1"
 reverse="false" buildAdvance="onclick" userSetAnimBgd="false"/>
<![endif]>
</body>

</html>
