<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=us-ascii">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 11">
<link id=Main-File rel=Main-File href="../CID_valle_sur_ilmc.htm">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>PIDES</title>
<meta name=Description content="22/04/2005">
<link rel=Stylesheet href="master04_stylesheet.css">
<!--[if gte IE 5]>
<object id=MSOANIM classid="CLSID:A4639D2F-774E-11D3-A490-00C04F6843FB"></object>
<object id=MSOTIME classid="CLSID:A4639D29-774E-11D3-A490-00C04F6843FB"></object>
<![endif]-->
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:76% !important;}
-->
</style>
<style>
<!--
oa\:* { BEHAVIOR: url(#MSOANIM#ANIM) url(#MSOTIME#TIME) }
oa\:par,oa\:seq,oa\:iterate { BEHAVIOR:url(#MSOTIME) }
oa\:video,oa\:audio {BEHAVIOR:url(#MSOTIME) url(#MSOTIME#MEDIA) }
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><script><!--
g_animItemsToHide=new Array("_x0000_s133128","_x0000_s133127","_x0000_s133126_AllText","_x0000_s133126","_x0000_s133122_AllText","_x0000_s133122");

//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><p:slidetransition advancetime="0" speed="1"
 effect="randomBar" direction="vertical" flag="1"/><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="131"/>
</o:shapelayout>
</head>

<body lang=ES-MODERN style='margin:0px;background-color:#993300'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()" oa:clockstart="onstart">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:755px;height:566px;font-size:16px;background-color:#993300;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden;filter:revealtrans(Duration=2, Transition=22)'><p:slide
 coordsize="720,540"
 colors="#993300,#ffffff,#bb5f03,#feec94,#ff9900,#b76a03,#ffffcc,#cccc00"
 masterhref="master04.xml">
 <p:shaperange href="master04.xml#_x0000_s118785"/><![if !vml]><img
 src="master04_background.gif" v:shapes="_x0000_s118785" style='position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><![endif]><![if !ppt]><p:shaperange
  href="master04.xml#_x0000_s118786"/><![if !vml]><img border=0
 v:shapes="_x0000_s118786,_x0000_s118787,_x0000_s118788,_x0000_s118789,_x0000_s118790,_x0000_s118791,_x0000_s118792,_x0000_s118793,_x0000_s118794,_x0000_s118795,_x0000_s118796,_x0000_s118797,_x0000_s118798,_x0000_s118799,_x0000_s118800,_x0000_s118801,_x0000_s118802,_x0000_s118803,_x0000_s118804"
 src="master04_image015.gif" style='position:absolute;top:0%;left:0%;
 width:100.26%;height:101.41%'><![endif]><p:shaperange
  href="master04.xml#_x0000_s118809"/>
 <div v:shape="_x0000_s118809" class=O>
 <div style='text-align:right;mso-char-wrap:1;mso-kinsoku-overflow:1;
 position:absolute;top:92.04%;left:72.71%;width:21.45%;height:3.0%'><span
 lang=ES-MODERN style='font-size:58%;text-shadow:auto;mso-field-code:meta16'>20</span><span
 lang=ES-MODERN style='font-size:58%;text-shadow:auto;mso-special-format:lastCR;
 display:none'>&#13;</span></div>
 </div>
 <![endif]><v:shapetype id="_x0000_t202" coordsize="21600,21600" o:spt="202"
  path="m,l,21600r21600,l21600,xe">
  <v:stroke joinstyle="miter"/>
  <v:path gradientshapeok="t" o:connecttype="rect"/>
 </v:shapetype><v:shape id="_x0000_s133122" type="#_x0000_t202" style='position:absolute;
  left:0;top:60.25pt;width:161.5pt;height:28.875pt' fillcolor="#930 [0]"
  stroked="f" strokecolor="white [1]">
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="2" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s133122" src="slide0080_image161.gif" style='position:absolute;
 top:11.13%;left:0%;width:22.64%;height:5.65%'><![endif]>
 <div id="_x0000_s133122_AllText" v:shape="_x0000_s133122" class=O
 style='position:absolute;top:12.01%;left:1.05%;width:20.52%;height:3.88%;
 white-space:nowrap'>
 <div style='mso-line-spacing:"100 50 0";mso-char-wrap:1;mso-kinsoku-overflow:
 1;position:absolute;top:0%;left:0%;width:100.0%;height:100.0%'><span
 lang=ES-MX style='font-family:Arial;font-size:75%'><b>FESTIVALLE</b></span><span
 lang=ES-MODERN style='font-family:Arial;font-size:75%;mso-special-format:lastCR;
 display:none'><b>&#13;</b></span></div>
 </div>
 <v:shape id="_x0000_s133123" type="#_x0000_t202" style='position:absolute;
  left:-2.875pt;top:3.5pt;width:722.875pt;height:40.875pt' fillcolor="#930 [0]"
  stroked="f" strokecolor="white [1]">
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
 </v:shape><![if !vml]><img border=0 v:shapes="_x0000_s133123"
 src="slide0080_image162.gif" style='position:absolute;top:.7%;left:-.39%;
 width:100.66%;height:7.95%'><![endif]>
 <div v:shape="_x0000_s133123" class=O style='text-align:center;position:absolute;
 top:1.59%;left:.66%;width:98.54%;height:6.0%'><span style='font-family:Arial;
 font-size:117%;text-shadow:auto;color:#FFFFCC;mso-color-index:6'><b>ESPACIOS
 DE CONCERTACION</b></span><span style='font-size:117%;text-shadow:auto;
 mso-special-format:lastCR;display:none'><b>&#13;</b></span></div>
 <v:shape id="_x0000_s133126" type="#_x0000_t202" style='position:absolute;
  left:31.125pt;top:435.375pt;width:652.125pt;height:104.625pt' filled="f"
  fillcolor="#f90 [4]" stroked="f" strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="3" delay="0" type="object" effect="wipe"
   direction="right" flag="1028"/></v:shape>
 <div id="_x0000_s133126_AllText" v:shape="_x0000_s133126" class=O
 style='position:absolute;top:81.44%;left:5.29%;width:102.11%;height:17.84%'>
 <div style='text-align:justify;mso-line-spacing:"100 50 0";mso-char-wrap:1;
 mso-kinsoku-overflow:1;position:absolute;top:0%;left:0%;width:86.9%;
 height:44.55%'><span lang=ES-MODERN style='font-family:Arial;font-size:75%'><b>Es
 un espacio de promoci&oacute;n, difusi&oacute;n y socializaci&oacute;n tanto
 de los logros del proceso PIDES como de la cultura viva del Valle Sur.&#13;</b></span></div>
 <div style='mso-line-spacing:"100 50 0";mso-char-wrap:1;mso-kinsoku-overflow:
 1'><span style='position:absolute;top:56.43%;left:0%;width:100.0%;height:21.78%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:75%'><b>Participan los g</b></span><span
 lang=ES-MX style='font-family:Arial;font-size:75%'><b>obiernos locales,
 organizaciones sociales, econ&oacute;micas, </b></span></span><span
 style='position:absolute;top:79.2%;left:0%;width:86.9%;height:21.78%'><span
 lang=ES-MX style='font-family:Arial;font-size:75%'><b>culturales, educativas y
 poblaci&oacute;n del Sur del Valle</b></span><span lang=ES-MODERN
 style='font-family:Arial;font-size:75%;mso-special-format:lastCR;display:none'><b>&#13;</b></span></span></div>
 </div>
 <v:shapetype id="_x0000_t75" coordsize="21600,21600" o:spt="75"
  o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" aspectratio="t"/>
 </v:shapetype><v:shape id="_x0000_s133127" type="#_x0000_t75" style='position:absolute;
  left:167.25pt;top:116.625pt;width:425.25pt;height:279.25pt'>
  <v:imagedata src="slide0080_image163.jpg" o:title="festivalle3" cropbottom="4130f"
   cropright="1646f" gain="79922f" blacklevel="-3932f"/>
  <p:animation number="4" delay="0" type="object" effect="randomBar"
   direction="vertical" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s133127" src="slide0080_image164.jpg" style='position:absolute;
 top:21.55%;left:23.17%;width:59.07%;height:51.76%'><![endif]><v:shape id="_x0000_s133128"
  type="#_x0000_t75" style='position:absolute;left:150.25pt;top:111.25pt;
  width:448pt;height:289.125pt'>
  <v:imagedata src="slide0080_image165.jpg" o:title="festivalleIV" gain="79922f"
   blacklevel="-3932f"/>
  <p:animation number="5" delay="3500" type="object" effect="randomBar"
   direction="horizontal" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s133128" src="slide0080_image166.jpg" style='position:absolute;
 top:20.67%;left:20.92%;width:62.25%;height:53.53%'><![endif]></p:slide></div>

<p:animation number="-844378768"/><oa:par id="TimeNode0" dur="indefinite"
 restart="never" p:nodeType="timingRoot">
 <oa:seq id="TimeNode1" dur="indefinite" prev="document.onpptprev"
  next="document.onpptnext" concurrent="enabled" nextAction="seek"
  p:nodeType="mainSeq">
  <oa:par id="TimeNode2" begin="indefinite;TimeNode1.onbegin" fill="hold">
   <oa:par id="TimeNode3" begin="0.0" fill="hold">
    <oa:par id="TimeNode4" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode5" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s133122" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode6" dur="2.0" targetElement="_x0000_s133122"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode7" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode8" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s133122_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode9" dur="2.0"
      targetElement="_x0000_s133122_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode10" begin="2.0" fill="hold">
    <oa:par id="TimeNode11" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode12" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s133126" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode13" dur="2.0" targetElement="_x0000_s133126"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode14" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode15" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s133126_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode16" dur="2.0"
      targetElement="_x0000_s133126_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode17" begin="4.0" fill="hold">
    <oa:par id="TimeNode18" o:presetID="ppt_14" o:presetClass="entrance"
     o:presetSubType="0x5" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode19" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s133127" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode20" dur="2.0" targetElement="_x0000_s133127"
      transition="in" filter="randombar(vertical)"/>
    </oa:par>
   </oa:par>
   <oa:par id="TimeNode21" begin="6.0" fill="hold">
    <oa:par id="TimeNode22" o:presetID="ppt_14" o:presetClass="entrance"
     o:presetSubType="0xA" begin="3.5" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode23" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s133128" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode24" dur="2.0" targetElement="_x0000_s133128"
      transition="in" filter="randombar(horizontal)"/>
    </oa:par>
   </oa:par>
  </oa:par>
 </oa:seq>
</oa:par>
<![if ppt]>
<oa:buildParagraph targetElement="_x0000_s133122" groupID="0" build="asAWhole"
 buildLevel="1" alsoAnimate="background" reverse="false" buildAdvance="onclick"
 userSetAnimBgd="false"/><oa:buildParagraph targetElement="_x0000_s133126"
 groupID="0" build="asAWhole" buildLevel="1" reverse="false"
 buildAdvance="onclick" userSetAnimBgd="false"/>
<![endif]>
</body>

</html>
