<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=us-ascii">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 11">
<link id=Main-File rel=Main-File href="../CID_valle_sur_ilmc.htm">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>PIDES</title>
<meta name=Description content="22/04/2005">
<link rel=Stylesheet href="master04_stylesheet.css">
<!--[if gte IE 5]>
<object id=MSOANIM classid="CLSID:A4639D2F-774E-11D3-A490-00C04F6843FB"></object>
<object id=MSOTIME classid="CLSID:A4639D29-774E-11D3-A490-00C04F6843FB"></object>
<![endif]-->
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:76% !important;}
-->
</style>
<style>
<!--
oa\:* { BEHAVIOR: url(#MSOANIM#ANIM) url(#MSOTIME#TIME) }
oa\:par,oa\:seq,oa\:iterate { BEHAVIOR:url(#MSOTIME) }
oa\:video,oa\:audio {BEHAVIOR:url(#MSOTIME) url(#MSOTIME#MEDIA) }
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><script><!--
g_animItemsToHide=new Array("_x0000_s138259","_x0000_s138252_AllText","_x0000_s138252","_x0000_s138258","_x0000_s138256_AllText","_x0000_s138256","_x0000_s138257","_x0000_s138255_AllText","_x0000_s138255","_x0000_s138253","_x0000_s138254_AllText","_x0000_s138254","_x0000_s138251_AllText","_x0000_s138251","_x0000_s138250_AllText","_x0000_s138250","_x0000_s138249_AllText","_x0000_s138249");

//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><p:slidetransition advancetime="0" speed="1"
 effect="randomBar" direction="vertical" flag="1"/>
</head>

<body lang=ES-MODERN style='margin:0px;background-color:#993300'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()" oa:clockstart="onstart">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:755px;height:566px;font-size:16px;background-color:#993300;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden;filter:revealtrans(Duration=2, Transition=22)'><p:slide
 coordsize="720,540"
 colors="#993300,#ffffff,#bb5f03,#feec94,#ff9900,#b76a03,#ffffcc,#cccc00"
 masterhref="master04.xml">
 <p:shaperange href="master04.xml#_x0000_s118785"/><![if !vml]><img
 src="master04_background.gif" v:shapes="_x0000_s118785" style='position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><![endif]><![if !ppt]><p:shaperange
  href="master04.xml#_x0000_s118786"/><![if !vml]><img border=0
 v:shapes="_x0000_s118786,_x0000_s118787,_x0000_s118788,_x0000_s118789,_x0000_s118790,_x0000_s118791,_x0000_s118792,_x0000_s118793,_x0000_s118794,_x0000_s118795,_x0000_s118796,_x0000_s118797,_x0000_s118798,_x0000_s118799,_x0000_s118800,_x0000_s118801,_x0000_s118802,_x0000_s118803,_x0000_s118804"
 src="master04_image015.gif" style='position:absolute;top:0%;left:0%;
 width:100.26%;height:101.41%'><![endif]><p:shaperange
  href="master04.xml#_x0000_s118809"/>
 <div v:shape="_x0000_s118809" class=O>
 <div style='text-align:right;mso-char-wrap:1;mso-kinsoku-overflow:1;
 position:absolute;top:92.04%;left:72.71%;width:21.45%;height:3.0%'><span
 lang=ES-MODERN style='font-size:58%;text-shadow:auto;mso-field-code:meta16'>25</span><span
 lang=ES-MODERN style='font-size:58%;text-shadow:auto;mso-special-format:lastCR;
 display:none'>&#13;</span></div>
 </div>
 <![endif]><v:shapetype id="_x0000_t202" coordsize="21600,21600" o:spt="202"
  path="m,l,21600r21600,l21600,xe">
  <v:stroke joinstyle="miter"/>
  <v:path gradientshapeok="t" o:connecttype="rect"/>
 </v:shapetype><v:shape id="_x0000_s138249" type="#_x0000_t202" style='position:absolute;
  left:0;top:43.25pt;width:479.125pt;height:31.25pt' fillcolor="#930 [0]"
  stroked="f" strokecolor="white [1]">
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="2" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s138249" src="slide0085_image180.gif" style='position:absolute;
 top:7.95%;left:0%;width:66.75%;height:6.18%'><![endif]>
 <div id="_x0000_s138249_AllText" v:shape="_x0000_s138249" class=O
 style='position:absolute;top:9.01%;left:1.05%;width:75.89%;height:4.24%;
 white-space:nowrap'>
 <div style='mso-line-spacing:"100 50 0";mso-char-wrap:1;mso-kinsoku-overflow:
 1;position:absolute;top:0%;left:0%;width:100.0%;height:100.0%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:83%'><b>PLAN DE
 ACONDICIONAMIENTO TERRITORIAL</b></span><span lang=ES-MODERN style='font-family:
 Arial;font-size:83%'> </span></div>
 </div>
 <v:shape id="_x0000_s138250" type="#_x0000_t202" style='position:absolute;
  left:14.125pt;top:111.25pt;width:465pt;height:93.75pt' filled="f"
  fillcolor="#f90 [4]" stroked="f" strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="3" delay="0" type="object" effect="wipe"
   direction="right" flag="1028"/></v:shape>
 <div id="_x0000_s138250_AllText" v:shape="_x0000_s138250" class=O
 style='position:absolute;top:21.55%;left:2.91%;width:62.64%;height:15.9%'>
 <div style='text-align:justify;mso-line-spacing:"100 50 0";mso-char-wrap:1;
 mso-kinsoku-overflow:1;position:absolute;top:0%;left:0%;width:100.0%;
 height:100.0%'><span lang=ES-MODERN style='font-family:Arial;font-size:75%'><b>Es
 una herramienta identificada en el plan integral de desarrollo, que sirve para
 acondicionar el territorio a la visi&oacute;n y objetivos estrat&eacute;gicos
 del mismo. </b></span></div>
 </div>
 <v:shape id="_x0000_s138251" type="#_x0000_t202" style='position:absolute;
  left:14.125pt;top:207.625pt;width:685.5pt;height:28.875pt;mso-wrap-style:none;
  v-text-anchor:top-baseline' filled="f" fillcolor="#f90 [4]" stroked="f"
  strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="4" delay="0" type="object" effect="wipe"
   direction="right" flag="1028"/></v:shape>
 <div id="_x0000_s138251_AllText" v:shape="_x0000_s138251" class=O
 style='position:absolute;top:39.39%;left:2.91%;width:111.92%;height:3.88%;
 white-space:nowrap'>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><span lang=ES-MODERN
 style='font-family:Arial;font-size:75%'><b>Se ha avanzado el
 diagn&oacute;stico propositivo en base a 4 subsistemas definidos:</b></span></div>
 </div>
 <v:shape id="_x0000_s138252" type="#_x0000_t202" style='position:absolute;
  left:25.5pt;top:423.125pt;width:334.5pt;height:29.625pt' filled="f"
  fillcolor="#f90 [4]" strokecolor="#f90 [4]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="11" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s138252" src="slide0085_image181.gif" style='position:absolute;
 top:78.26%;left:3.44%;width:46.88%;height:6.0%'><![endif]>
 <div id="_x0000_s138252_AllText" v:shape="_x0000_s138252" class=O
 style='position:absolute;top:79.32%;left:4.63%;width:50.86%;height:3.88%;
 white-space:nowrap'>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><span style='position:absolute;
 top:0%;left:1.56%;width:98.17%;height:100.0%'><span style='font-family:Arial;
 font-size:75%'><span style='mso-special-format:bullet;position:absolute;
 left:-1.59%'>&#8226;</span></span><span lang=ES-MODERN style='font-family:
 Arial;font-size:75%'><b>Subsistema econ&oacute;mico productivo</b></span></span></div>
 </div>
 <v:shapetype id="_x0000_t75" coordsize="21600,21600" o:spt="75"
  o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" aspectratio="t"/>
 </v:shapetype><v:shape id="_x0000_s138253" type="#_x0000_t75" style='position:absolute;
  left:433.75pt;top:241.625pt;width:150.625pt;height:281.375pt'>
  <v:imagedata src="slide0085_image182.jpg" o:title="11b"/>
  <p:animation number="6" delay="0" type="object" effect="randomBar"
   direction="horizontal" afterbuild="hide" flag="17412"/></v:shape><![if !vml]><img
 border=0 v:shapes="_x0000_s138253" src="slide0085_image183.gif"
 style='position:absolute;top:44.69%;left:60.26%;width:20.92%;height:52.12%'><![endif]><v:shape
  id="_x0000_s138254" type="#_x0000_t202" style='position:absolute;left:23.875pt;
  top:260.25pt;width:244.5pt;height:29.625pt;mso-wrap-style:none;
  v-text-anchor:top-baseline' filled="f" fillcolor="#f90 [4]" strokecolor="#f90 [4]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="5" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s138254" src="slide0085_image184.gif" style='position:absolute;
 top:48.05%;left:3.31%;width:34.3%;height:6.0%'><![endif]>
 <div id="_x0000_s138254_AllText" v:shape="_x0000_s138254" class=O
 style='position:absolute;top:49.11%;left:4.37%;width:38.14%;height:3.88%;
 white-space:nowrap'>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><span style='position:absolute;
 top:0%;left:2.43%;width:97.91%;height:100.0%'><span style='font-family:Arial;
 font-size:75%'><span style='mso-special-format:bullet;position:absolute;
 left:-2.48%'>&#8226;</span></span><span lang=ES-MODERN style='font-family:
 Arial;font-size:75%'><b>Subsistema socio cultural</b></span><span
 lang=ES-MODERN style='font-family:Arial;font-size:75%;mso-special-format:lastCR;
 display:none'>&#13;</span></span></div>
 </div>
 <v:shape id="_x0000_s138255" type="#_x0000_t202" style='position:absolute;
  left:25.5pt;top:309.625pt;width:187.5pt;height:29.625pt;mso-wrap-style:none;
  v-text-anchor:top-baseline' filled="f" fillcolor="#f90 [4]" strokecolor="#f90 [4]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="7" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s138255" src="slide0085_image185.gif" style='position:absolute;
 top:57.24%;left:3.44%;width:26.35%;height:6.0%'><![endif]>
 <div id="_x0000_s138255_AllText" v:shape="_x0000_s138255" class=O
 style='position:absolute;top:58.3%;left:4.63%;width:28.74%;height:3.88%;
 white-space:nowrap'>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><span style='position:absolute;
 top:0%;left:2.76%;width:96.77%;height:100.0%'><span style='font-family:Arial;
 font-size:75%'><span style='mso-special-format:bullet;position:absolute;
 left:-2.85%'>&#8226;</span></span><span lang=ES-MODERN style='font-family:
 Arial;font-size:75%'><b>Subsistema natural</b></span><span lang=ES-MODERN
 style='font-family:Arial;font-size:75%;mso-special-format:lastCR;display:none'>&#13;</span></span></div>
 </div>
 <v:shape id="_x0000_s138256" type="#_x0000_t202" style='position:absolute;
  left:25.5pt;top:366.25pt;width:220.5pt;height:29.625pt;mso-wrap-style:none;
  v-text-anchor:top-baseline' filled="f" fillcolor="#f90 [4]" strokecolor="#f90 [4]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="9" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s138256" src="slide0085_image186.gif" style='position:absolute;
 top:67.66%;left:3.44%;width:30.99%;height:6.0%'><![endif]>
 <div id="_x0000_s138256_AllText" v:shape="_x0000_s138256" class=O
 style='position:absolute;top:68.72%;left:4.63%;width:34.17%;height:3.88%;
 white-space:nowrap'>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><span style='position:absolute;
 top:0%;left:2.32%;width:97.67%;height:100.0%'><span style='font-family:Arial;
 font-size:75%'><span style='mso-special-format:bullet;position:absolute;
 left:-2.38%'>&#8226;</span></span><span lang=ES-MODERN style='font-family:
 Arial;font-size:75%'><b>Subsistema construido</b></span><span lang=ES-MODERN
 style='font-family:Arial;font-size:75%;mso-special-format:lastCR;display:none'>&#13;</span></span></div>
 </div>
 <v:shape id="_x0000_s138257" type="#_x0000_t75" style='position:absolute;
  left:416.75pt;top:283.75pt;width:260.75pt;height:168.375pt'>
  <v:imagedata src="slide0085_image187.png" o:title="flor"/>
  <p:animation number="8" delay="0" type="object" effect="randomBar"
   direction="horizontal" afterbuild="hide" flag="17412"/></v:shape><![if !vml]><img
 border=0 v:shapes="_x0000_s138257" src="slide0085_image188.jpg"
 style='position:absolute;top:52.47%;left:57.88%;width:36.15%;height:31.09%'><![endif]><v:shape
  id="_x0000_s138258" type="#_x0000_t75" style='position:absolute;left:394pt;
  top:281.375pt;width:299.5pt;height:178.625pt'>
  <v:imagedata src="slide0085_image189.jpg" o:title="oropesa" cropbottom="2682f"/>
  <p:animation number="10" delay="0" type="object" effect="randomBar"
   direction="vertical" afterbuild="hide" flag="17412"/></v:shape><![if !vml]><img
 border=0 v:shapes="_x0000_s138258" src="slide0085_image190.jpg"
 style='position:absolute;top:52.12%;left:54.7%;width:41.58%;height:33.03%'><![endif]><v:shape
  id="_x0000_s138259" type="#_x0000_t75" style='position:absolute;left:382.625pt;
  top:281.375pt;width:308.75pt;height:199.875pt'>
  <v:imagedata src="slide0085_image191.jpg" o:title="08" cropbottom="3038f"/>
  <p:animation number="12" delay="0" type="object" effect="randomBar"
   direction="horizontal" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s138259" src="slide0085_image192.jpg" style='position:absolute;
 top:52.12%;left:53.11%;width:42.91%;height:36.92%'><![endif]></p:slide></div>

<p:animation number="-1857508195"/><oa:par id="TimeNode0" dur="indefinite"
 restart="never" p:nodeType="timingRoot">
 <oa:seq id="TimeNode1" dur="indefinite" prev="document.onpptprev"
  next="document.onpptnext" concurrent="enabled" nextAction="seek"
  p:nodeType="mainSeq">
  <oa:par id="TimeNode2" begin="indefinite;TimeNode1.onbegin" fill="hold">
   <oa:par id="TimeNode3" begin="0.0" fill="hold">
    <oa:par id="TimeNode4" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode5" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s138249" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode6" dur="2.0" targetElement="_x0000_s138249"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode7" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode8" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s138249_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode9" dur="2.0"
      targetElement="_x0000_s138249_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode10" begin="2.0" fill="hold">
    <oa:par id="TimeNode11" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode12" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s138250" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode13" dur="1.0" targetElement="_x0000_s138250"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode14" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode15" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s138250_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode16" dur="1.0"
      targetElement="_x0000_s138250_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode17" begin="3.0" fill="hold">
    <oa:par id="TimeNode18" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode19" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s138251" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode20" dur="2.0" targetElement="_x0000_s138251"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode21" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode22" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s138251_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode23" dur="2.0"
      targetElement="_x0000_s138251_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode24" begin="5.0" fill="hold">
    <oa:par id="TimeNode25" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode26" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s138254" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode27" dur="2.0" targetElement="_x0000_s138254"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode28" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode29" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s138254_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode30" dur="2.0"
      targetElement="_x0000_s138254_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode31" begin="7.0" fill="hold">
    <oa:par id="TimeNode32" o:presetID="ppt_14" o:presetClass="entrance"
     o:presetSubType="0xA" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode33" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s138253" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode34" dur="1.0" targetElement="_x0000_s138253"
      transition="in" filter="randombar(horizontal)"/>
    </oa:par>
   </oa:par>
   <oa:par id="TimeNode35" begin="8.0" fill="hold">
    <oa:par id="TimeNode36" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode37" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s138255" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode38" dur="2.0" targetElement="_x0000_s138255"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode39" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode40" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s138255_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode41" dur="2.0"
      targetElement="_x0000_s138255_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]><oa:set id="TimeNode42" begin="0.0" dur="0.001" fill="hold"
     o:display="hidden" o:master="TimeNode32" o:masterRel="nextClick"
     o:afterEffect="true" p:nodeType="withEffect" targetElement="_x0000_s138253"
     attributeName="style.visibility" override="childStyle" to="hidden"/>
   </oa:par>
   <oa:par id="TimeNode43" begin="10.0" fill="hold">
    <oa:par id="TimeNode44" o:presetID="ppt_14" o:presetClass="entrance"
     o:presetSubType="0xA" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode45" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s138257" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode46" dur="2.0" targetElement="_x0000_s138257"
      transition="in" filter="randombar(horizontal)"/>
    </oa:par>
   </oa:par>
   <oa:par id="TimeNode47" begin="12.0" fill="hold">
    <oa:par id="TimeNode48" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode49" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s138256" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode50" dur="0.5" targetElement="_x0000_s138256"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode51" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode52" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s138256_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode53" dur="0.5"
      targetElement="_x0000_s138256_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]><oa:set id="TimeNode54" begin="0.0" dur="0.001" fill="hold"
     o:display="hidden" o:master="TimeNode44" o:masterRel="nextClick"
     o:afterEffect="true" p:nodeType="withEffect" targetElement="_x0000_s138257"
     attributeName="style.visibility" override="childStyle" to="hidden"/>
   </oa:par>
   <oa:par id="TimeNode55" begin="12.5" fill="hold">
    <oa:par id="TimeNode56" o:presetID="ppt_14" o:presetClass="entrance"
     o:presetSubType="0x5" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode57" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s138258" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode58" dur="2.0" targetElement="_x0000_s138258"
      transition="in" filter="randombar(vertical)"/>
    </oa:par>
   </oa:par>
   <oa:par id="TimeNode59" begin="14.5" fill="hold">
    <oa:par id="TimeNode60" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode61" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s138252" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode62" dur="2.0" targetElement="_x0000_s138252"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode63" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode64" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s138252_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode65" dur="2.0"
      targetElement="_x0000_s138252_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]><oa:set id="TimeNode66" begin="0.0" dur="0.001" fill="hold"
     o:display="hidden" o:master="TimeNode56" o:masterRel="nextClick"
     o:afterEffect="true" p:nodeType="withEffect" targetElement="_x0000_s138258"
     attributeName="style.visibility" override="childStyle" to="hidden"/>
   </oa:par>
   <oa:par id="TimeNode67" begin="16.5" fill="hold">
    <oa:par id="TimeNode68" o:presetID="ppt_14" o:presetClass="entrance"
     o:presetSubType="0xA" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode69" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s138259" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode70" dur="0.5" targetElement="_x0000_s138259"
      transition="in" filter="randombar(horizontal)"/>
    </oa:par>
   </oa:par>
  </oa:par>
 </oa:seq>
</oa:par>
<![if ppt]>
<oa:buildParagraph targetElement="_x0000_s138249" groupID="0" build="asAWhole"
 buildLevel="1" alsoAnimate="background" reverse="false" buildAdvance="onclick"
 userSetAnimBgd="false"/><oa:buildParagraph targetElement="_x0000_s138250"
 groupID="0" build="asAWhole" buildLevel="1" reverse="false"
 buildAdvance="onclick" userSetAnimBgd="false"/><oa:buildParagraph
 targetElement="_x0000_s138251" groupID="0" build="asAWhole" buildLevel="1"
 reverse="false" buildAdvance="onclick" userSetAnimBgd="false"/><oa:buildParagraph
 targetElement="_x0000_s138252" groupID="0" build="asAWhole" buildLevel="1"
 alsoAnimate="background" reverse="false" buildAdvance="onclick"
 userSetAnimBgd="false"/><oa:buildParagraph targetElement="_x0000_s138254"
 groupID="0" build="asAWhole" buildLevel="1" alsoAnimate="background"
 reverse="false" buildAdvance="onclick" userSetAnimBgd="false"/><oa:buildParagraph
 targetElement="_x0000_s138255" groupID="0" build="asAWhole" buildLevel="1"
 alsoAnimate="background" reverse="false" buildAdvance="onclick"
 userSetAnimBgd="false"/><oa:buildParagraph targetElement="_x0000_s138256"
 groupID="0" build="asAWhole" buildLevel="1" alsoAnimate="background"
 reverse="false" buildAdvance="onclick" userSetAnimBgd="false"/>
<![endif]>
</body>

</html>
