<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=us-ascii">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 11">
<link id=Main-File rel=Main-File href="../CID_valle_sur_ilmc.htm">
<link rel=Preview href=preview.wmf>
<link rel=OLE-Object-Data href=oledata.mso>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>PIDES</title>
<meta name=Description content="22/04/2005">
<link rel=Stylesheet href="master04_stylesheet.css">
<!--[if gte IE 5]>
<object id=MSOANIM classid="CLSID:A4639D2F-774E-11D3-A490-00C04F6843FB"></object>
<object id=MSOTIME classid="CLSID:A4639D29-774E-11D3-A490-00C04F6843FB"></object>
<![endif]-->
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:76% !important;}
-->
</style>
<style>
<!--
oa\:* { BEHAVIOR: url(#MSOANIM#ANIM) url(#MSOTIME#TIME) }
oa\:par,oa\:seq,oa\:iterate { BEHAVIOR:url(#MSOTIME) }
oa\:video,oa\:audio {BEHAVIOR:url(#MSOTIME) url(#MSOTIME#MEDIA) }
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><script><!--
g_animItemsToHide=new Array("_x0000_s121860_AllText","_x0000_s121860","_x0000_s121864_AllText","_x0000_s121864","_x0000_s121863_AllText","_x0000_s121863","_x0000_s121862_AllText","_x0000_s121862","_x0000_s121861_AllText","_x0000_s121861");

//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><p:slidetransition advancetime="0" speed="1"
 effect="randomBar" direction="vertical" flag="1"/><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="119,137"/>
</o:shapelayout>
</head>

<body lang=ES-MODERN style='margin:0px;background-color:#993300'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()" oa:clockstart="onstart">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:755px;height:566px;font-size:16px;background-color:#993300;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden;filter:revealtrans(Duration=2, Transition=22)'><p:slide
 coordsize="720,540"
 colors="#993300,#ffffff,#bb5f03,#feec94,#ff9900,#b76a03,#ffffcc,#cccc00"
 masterhref="master04.xml">
 <p:shaperange href="master04.xml#_x0000_s118785"/><![if !vml]><img
 src="master04_background.gif" v:shapes="_x0000_s118785" style='position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><![endif]><![if !ppt]><p:shaperange
  href="master04.xml#_x0000_s118786"/><![if !vml]><img border=0
 v:shapes="_x0000_s118786,_x0000_s118787,_x0000_s118788,_x0000_s118789,_x0000_s118790,_x0000_s118791,_x0000_s118792,_x0000_s118793,_x0000_s118794,_x0000_s118795,_x0000_s118796,_x0000_s118797,_x0000_s118798,_x0000_s118799,_x0000_s118800,_x0000_s118801,_x0000_s118802,_x0000_s118803,_x0000_s118804"
 src="master04_image015.gif" style='position:absolute;top:0%;left:0%;
 width:100.26%;height:101.41%'><![endif]><p:shaperange
  href="master04.xml#_x0000_s118809"/>
 <div v:shape="_x0000_s118809" class=O style='text-align:right;mso-char-wrap:
 1;mso-kinsoku-overflow:1;position:absolute;top:92.04%;left:72.71%;width:21.45%;
 height:3.0%'><span lang=ES-MODERN style='font-size:58%;text-shadow:auto;
 mso-field-code:meta16'>3</span><span lang=ES-MODERN style='font-size:58%;
 text-shadow:auto;mso-special-format:lastCR;display:none'>&#13;</span></div>
 <![endif]><v:shapetype id="_x0000_t202" coordsize="21600,21600" o:spt="202"
  path="m,l,21600r21600,l21600,xe">
  <v:stroke joinstyle="miter"/>
  <v:path gradientshapeok="t" o:connecttype="rect"/>
 </v:shapetype><v:shape id="_x0000_s121860" type="#_x0000_t202" style='position:absolute;
  left:229.5pt;top:349.375pt;width:482pt;height:108.125pt' filled="f"
  fillcolor="#ffc" stroked="f" strokecolor="white [1]">
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="6" delay="1000" type="object" effect="wipe"
   direction="right" flag="1028"/></v:shape>
 <div id="_x0000_s121860_AllText" v:shape="_x0000_s121860" class=O
 style='position:absolute;top:65.72%;left:32.84%;width:77.48%;height:18.37%;
 white-space:nowrap'>
 <div><span style='position:absolute;top:0%;left:1.7%;width:94.35%;height:32.69%'><span
 style='font-family:Arial;font-size:117%'><span style='mso-special-format:bullet;
 position:absolute;left:-1.81%'>&#8226;</span></span><span style='font-family:
 Arial;font-size:117%'><b>Despertar esa energ&iacute;a social que </b></span></span><span
 style='position:absolute;top:33.65%;left:0%;width:100.0%;height:32.69%'><span
 style='font-family:Arial;font-size:117%'><b>es el potencial mas importante y
 la </b></span></span><span style='position:absolute;top:67.3%;left:0%;
 width:83.93%;height:32.69%'><span style='font-family:Arial;font-size:117%'><b>&uacute;nica
 garant&iacute;a de desarrollo</b></span><span style='font-family:Arial;
 mso-special-format:lastCR;display:none'><b>&#13;</b></span></span></div>
 </div>
 <v:shape id="_x0000_s121861" type="#_x0000_t202" style='position:absolute;
  left:-2.875pt;top:3.5pt;width:722.875pt;height:74.5pt' filled="f"
  fillcolor="#930 [0]" stroked="f" strokecolor="white [1]">
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="2" delay="0" type="object" effect="wipe"
   direction="right" flag="1028"/></v:shape>
 <div id="_x0000_s121861_AllText" v:shape="_x0000_s121861" class=O
 style='position:absolute;top:1.59%;left:-4.5%;width:108.74%;height:12.19%;
 white-space:nowrap'>
 <div style='text-align:center'><span style='position:absolute;top:0%;
 left:0%;width:100.0%;height:49.27%'><span style='font-family:Arial;font-size:
 117%;text-shadow:auto;color:#FFFFCC;mso-color-index:6'><b>&iquest;QUE ES EL
 PLAN INTEGRAL DE DESARROLLO </b></span></span><span style='position:absolute;
 top:52.17%;left:4.75%;width:90.62%;height:49.27%'><span style='font-family:
 Arial;font-size:117%;text-shadow:auto;color:#FFFFCC;mso-color-index:6'><b>ESTRATEGICO
 Y SOSTENIBLE?</b></span><span style='font-size:117%;text-shadow:auto;
 mso-special-format:lastCR;display:none'><b>&#13;</b></span></span></div>
 </div>
 <v:shape id="_x0000_s121862" type="#_x0000_t202" style='position:absolute;
  left:70.875pt;top:116.875pt;width:136.125pt;height:56pt' filled="f"
  fillcolor="#f90 [4]" strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="3" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s121862" src="slide0069_image016.gif" style='position:absolute;
 top:21.55%;left:9.8%;width:19.2%;height:10.77%'><![endif]>
 <div id="_x0000_s121862_AllText" v:shape="_x0000_s121862" class=O
 style='position:absolute;top:22.96%;left:10.86%;width:19.73%;height:8.3%;
 white-space:nowrap'>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><span style='font-size:167%'><b>PIDES</b></span><span
 lang=ES-MODERN style='font-size:167%;mso-special-format:lastCR;display:none'><b>&#13;</b></span></div>
 </div>
 <v:shape id="_x0000_s121863" type="#_x0000_t202" style='position:absolute;
  left:235.25pt;top:139.625pt;width:425.25pt;height:74.5pt' filled="f"
  fillcolor="#f90 [4]" stroked="f" strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="4" delay="1000" type="object" effect="wipe"
   direction="right" flag="1028"/></v:shape>
 <div id="_x0000_s121863_AllText" v:shape="_x0000_s121863" class=O
 style='position:absolute;top:26.85%;left:33.64%;width:57.61%;height:12.19%;
 white-space:nowrap'>
 <div><span style='position:absolute;top:0%;left:0%;width:99.31%;height:49.27%'><span
 style='font-family:Arial;font-size:117%'><b>Es un Proceso de </b></span></span><span
 style='position:absolute;top:50.72%;left:0%;width:100.0%;height:49.27%'><span
 style='font-family:Arial;font-size:117%'><b>planificaci&oacute;n participativa</b></span><span
 lang=ES-MODERN style='font-family:Arial;font-size:117%;mso-special-format:
 lastCR;display:none'>&#13;</span></span></div>
 </div>
 <v:shape id="_x0000_s121864" type="#_x0000_t202" style='position:absolute;
  left:235.25pt;top:230.25pt;width:482pt;height:108.125pt' filled="f"
  fillcolor="#f90 [4]" stroked="f" strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="5" delay="1000" type="object" effect="wipe"
   direction="right" flag="1028"/></v:shape>
 <div id="_x0000_s121864_AllText" v:shape="_x0000_s121864" class=O
 style='position:absolute;top:43.63%;left:33.64%;width:75.49%;height:18.37%;
 white-space:nowrap'>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;
 top:0%;left:0%;width:92.1%;height:32.69%'><span style='position:absolute;
 top:0%;left:2.09%;width:97.9%;height:100.0%'><span style='font-family:Arial;
 font-size:117%'><span style='mso-special-format:bullet;position:absolute;
 left:-2.14%'>&#8226;</span></span><span style='font-family:Arial;font-size:
 117%'><b>Busca movilizar a la poblaci&oacute;n&#13;</b></span></span></div>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1'><span style='position:
 absolute;top:33.65%;left:0%;width:100.0%;height:32.69%'><span
 style='font-family:Arial;font-size:117%'><b>sumar sentimientos, voluntades y </b></span></span><span
 style='position:absolute;top:68.26%;left:0%;width:86.14%;height:32.69%'><span
 style='font-family:Arial;font-size:117%'><b>recursos</b></span><span
 lang=ES-MODERN style='font-family:Arial;font-size:117%;mso-special-format:
 lastCR;display:none'>&#13;</span></span></div>
 </div>
 <v:shapetype id="_x0000_t75" coordsize="21600,21600" o:spt="75"
  o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" aspectratio="t"/>
 </v:shapetype><v:shape id="_x0000_s121865" type="#_x0000_t75" style='position:absolute;
  left:14.125pt;top:236pt;width:215.5pt;height:143.625pt'>
  <v:imagedata src="slide0069_image017.wmz" o:title=""/>
 </v:shape><o:OLEObject Type="Embed" ProgID="MS_ClipArt_Gallery.2"
  ShapeID="_x0000_s121865" DrawAspect="Content" ObjectID="260">
  <p:oleclientdata subtype="clipart" menuname="Imagen"
   clipboardname="Galer&#237;a de im&#225;genes de Microsoft"/></o:OLEObject>
 <![if !vml]><img border=0 v:shapes="_x0000_s121865"
 src="slide0069_image018.gif" style='position:absolute;top:43.63%;left:1.98%;
 width:29.93%;height:26.67%'><![endif]></p:slide></div>

<p:animation number="2027565143"/><oa:par id="TimeNode0" dur="indefinite"
 restart="never" p:nodeType="timingRoot">
 <oa:seq id="TimeNode1" dur="indefinite" prev="document.onpptprev"
  next="document.onpptnext" concurrent="enabled" nextAction="seek"
  p:nodeType="mainSeq">
  <oa:par id="TimeNode2" begin="indefinite;TimeNode1.onbegin" fill="hold">
   <oa:par id="TimeNode3" begin="0.0" fill="hold">
    <oa:par id="TimeNode4" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode5" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s121861" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode6" dur="2.0" targetElement="_x0000_s121861"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode7" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode8" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s121861_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode9" dur="2.0"
      targetElement="_x0000_s121861_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode10" begin="2.0" fill="hold">
    <oa:par id="TimeNode11" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode12" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s121862" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode13" dur="2.0" targetElement="_x0000_s121862"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode14" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode15" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s121862_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode16" dur="2.0"
      targetElement="_x0000_s121862_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode17" begin="4.0" fill="hold">
    <oa:par id="TimeNode18" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="1.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode19" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s121863" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode20" dur="2.0" targetElement="_x0000_s121863"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode21" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="1.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode22" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s121863_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode23" dur="2.0"
      targetElement="_x0000_s121863_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode24" begin="7.0" fill="hold">
    <oa:par id="TimeNode25" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="1.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode26" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s121864" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode27" dur="2.0" targetElement="_x0000_s121864"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode28" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="1.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode29" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s121864_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode30" dur="2.0"
      targetElement="_x0000_s121864_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode31" begin="10.0" fill="hold">
    <oa:par id="TimeNode32" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="1.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode33" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s121860" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode34" dur="2.0" targetElement="_x0000_s121860"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode35" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="1.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode36" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s121860_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode37" dur="2.0"
      targetElement="_x0000_s121860_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
  </oa:par>
 </oa:seq>
</oa:par>
<![if ppt]>
<oa:buildParagraph targetElement="_x0000_s121860" groupID="0" build="asAWhole"
 buildLevel="1" reverse="false" buildAdvance="onclick" userSetAnimBgd="false"/><oa:buildParagraph
 targetElement="_x0000_s121861" groupID="0" build="asAWhole" buildLevel="1"
 reverse="false" buildAdvance="onclick" userSetAnimBgd="false"/><oa:buildParagraph
 targetElement="_x0000_s121862" groupID="0" build="asAWhole" buildLevel="1"
 alsoAnimate="background" reverse="false" buildAdvance="onclick"
 userSetAnimBgd="false"/><oa:buildParagraph targetElement="_x0000_s121863"
 groupID="0" build="asAWhole" buildLevel="1" reverse="false"
 buildAdvance="onclick" userSetAnimBgd="false"/><oa:buildParagraph
 targetElement="_x0000_s121864" groupID="0" build="asAWhole" buildLevel="1"
 reverse="false" buildAdvance="onclick" userSetAnimBgd="false"/>
<![endif]>
</body>

</html>
