<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=us-ascii">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 11">
<link id=Main-File rel=Main-File href="../CID_valle_sur_ilmc.htm">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>PIDES</title>
<meta name=Description content="22/04/2005">
<link rel=Stylesheet href="master04_stylesheet.css">
<!--[if gte IE 5]>
<object id=MSOANIM classid="CLSID:A4639D2F-774E-11D3-A490-00C04F6843FB"></object>
<object id=MSOTIME classid="CLSID:A4639D29-774E-11D3-A490-00C04F6843FB"></object>
<![endif]-->
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:76% !important;}
-->
</style>
<style>
<!--
oa\:* { BEHAVIOR: url(#MSOANIM#ANIM) url(#MSOTIME#TIME) }
oa\:par,oa\:seq,oa\:iterate { BEHAVIOR:url(#MSOTIME) }
oa\:video,oa\:audio {BEHAVIOR:url(#MSOTIME) url(#MSOTIME#MEDIA) }
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><script><!--
g_animItemsToHide=new Array("_x0000_s128032_AllText","_x0000_s128032","_x0000_s128016_AllText","_x0000_s128016","_x0000_s128031_AllText","_x0000_s128031","_x0000_s128030_AllText","_x0000_s128030","_x0000_s128029_AllText","_x0000_s128029","_x0000_s128028_AllText","_x0000_s128028","_x0000_s128027_AllText","_x0000_s128027","_x0000_s128026_AllText","_x0000_s128026","_x0000_s128010_AllText","_x0000_s128010","_x0000_s128008_AllText","_x0000_s128008");

//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><p:slidetransition advancetime="0" speed="1"
 effect="randomBar" direction="vertical" flag="1"/><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="126"/>
</o:shapelayout>
</head>

<body lang=ES-MODERN style='margin:0px;background-color:#993300'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()" oa:clockstart="onstart">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:755px;height:566px;font-size:16px;background-color:black;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden;filter:revealtrans(Duration=2, Transition=22)'><p:slide
 coordsize="720,540"
 colors="#993300,#ffffff,#bb5f03,#feec94,#ff9900,#b76a03,#ffffcc,#cccc00"
 masterhref="master04.xml">
 <v:background id="_x0000_s128001" o:bwmode="white" fillcolor="black"/>
 <v:group id="_x0000_s128026" style='position:absolute;left:21.25pt;top:233.5pt;
  width:698.75pt;height:63pt' coordorigin="170,1868" coordsize="5590,504">
  <v:shapetype id="_x0000_t13" coordsize="21600,21600" o:spt="13" adj="16200,5400"
   path="m@0,l@0@1,0@1,0@2@0@2@0,21600,21600,10800xe">
   <v:stroke joinstyle="miter"/>
   <v:formulas>
    <v:f eqn="val #0"/>
    <v:f eqn="val #1"/>
    <v:f eqn="sum height 0 #1"/>
    <v:f eqn="sum 10800 0 #1"/>
    <v:f eqn="sum width 0 #0"/>
    <v:f eqn="prod @4 @3 10800"/>
    <v:f eqn="sum width 0 @5"/>
   </v:formulas>
   <v:path o:connecttype="custom" o:connectlocs="@0,0;0,10800;@0,21600;21600,10800"
    o:connectangles="270,180,90,0" textboxrect="0,@1,@6,@2"/>
   <v:handles>
    <v:h position="#0,#1" xrange="0,21600" yrange="0,10800"/>
   </v:handles>
  </v:shapetype><v:shape id="_x0000_s128004" type="#_x0000_t13" style='position:absolute;
   left:170;top:1868;width:5590;height:504' o:allowincell="f" adj="19457,4422"
   fillcolor="silver"/>
  <v:shape id="_x0000_s128005" style='position:absolute;left:2815;top:1978;
   width:0;height:288;mso-position-horizontal:absolute;
   mso-position-horizontal-relative:text;mso-position-vertical:absolute;
   mso-position-vertical-relative:text' coordsize="1,720" o:allowincell="f"
   path="m,l,720e" filled="f">
   <v:path arrowok="t"/>
  </v:shape><v:shapetype id="_x0000_t202" coordsize="21600,21600" o:spt="202"
   path="m,l,21600r21600,l21600,xe">
   <v:stroke joinstyle="miter"/>
   <v:path gradientshapeok="t" o:connecttype="rect"/>
  </v:shapetype><v:shape id="_x0000_s128006" type="#_x0000_t202" style='position:absolute;
   left:1023;top:2021;width:1008;height:207' o:allowincell="f">
   <v:textbox style='mso-next-textbox:#_x0000_s128006'/>
  </v:shape><v:shape id="_x0000_s128007" type="#_x0000_t202" style='position:absolute;
   left:3975;top:2021;width:1224;height:207' o:allowincell="f">
   <v:textbox style='mso-next-textbox:#_x0000_s128007'/>
  </v:shape><p:animation number="4" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:group><![if !ppt]>
 <div id="_x0000_s128026_AllText" style='position:absolute;top:43.1%;
 left:2.91%;width:97.61%;height:12.19%;white-space:nowrap'
 onfilterchange="javascript:TickHandler()"><![endif]><![if !vml]><img border=0
 v:shapes="_x0000_s128026,_x0000_s128004,_x0000_s128005,_x0000_s128006,_x0000_s128007"
 src="slide0075_image136.gif" style='position:absolute;top:0%;left:0%;
 width:100.0%;height:100.0%'><![endif]>
 <div v:shape="_x0000_s128006" class=O style='text-align:center;mso-char-wrap:
 1;mso-kinsoku-overflow:1;position:absolute;top:37.68%;left:16.28%;width:15.87%;
 height:28.98%'><span lang=ES-MODERN style='font-size:67%;color:black'><b>Abril
 2002</b></span><span lang=ES-MODERN style='font-size:75%;color:black;
 mso-special-format:lastCR;display:none'>&#13;</span></div>
 <div v:shape="_x0000_s128007" class=O style='text-align:center;mso-char-wrap:
 1;mso-kinsoku-overflow:1;position:absolute;top:37.68%;left:68.79%;width:19.67%;
 height:28.98%'><span lang=ES-MODERN style='font-size:67%;color:black'><b>2003</b></span><span
 lang=ES-MODERN style='font-size:75%;color:black;mso-special-format:lastCR;
 display:none'>&#13;</span></div>
 <![if !ppt]></div>
 <![endif]><v:shape id="_x0000_s128008" type="#_x0000_t202" style='position:absolute;
  left:21.25pt;top:37.5pt;width:673.25pt;height:51pt' o:allowincell="f"
  fillcolor="red">
  <p:animation number="2" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s128008" src="slide0075_image137.gif" style='position:absolute;
 top:6.89%;left:2.91%;width:93.9%;height:9.89%'><![endif]>
 <div id="_x0000_s128008_AllText" v:shape="_x0000_s128008" class=O1
 style='position:absolute;top:7.95%;left:9.0%;width:68.6%;height:4.24%'>
 <div style='text-align:justify;mso-char-wrap:1;mso-kinsoku-overflow:1;
 position:absolute;top:0%;left:0%;width:100.0%;height:100.0%'><nobr><span
 style='font-family:Arial;font-size:83%;color:black'><span style='mso-special-format:
 bullet;text-align:left;font-family:Wingdings'>&uuml;</span></span><span
 lang=ES-MODERN style='font-family:Arial;font-size:83%;color:black'><b>Conclusi&oacute;n
 y reformulaci&oacute;n de los PIDs distritales</b></span></nobr></div>
 </div>
 <v:shape id="_x0000_s128010" type="#_x0000_t202" style='position:absolute;
  left:14.125pt;top:491pt;width:686.125pt;height:45.5pt' fillcolor="red">
  <p:animation number="3" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s128010" src="slide0075_image138.gif" style='position:absolute;
 top:90.81%;left:1.85%;width:95.62%;height:8.83%'><![endif]>
 <div id="_x0000_s128010_AllText" v:shape="_x0000_s128010" class=O1
 style='position:absolute;top:91.87%;left:8.07%;width:88.34%;height:4.24%;
 white-space:nowrap'>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><span style='position:absolute;
 top:0%;left:2.39%;width:97.45%;height:100.0%'><span style='font-family:Arial;
 font-size:83%;color:black'><span style='mso-special-format:bullet;position:
 absolute;left:-2.46%;font-family:Wingdings'>&uuml;</span></span><span
 lang=ES-MODERN style='font-family:Arial;font-size:83%;color:black'><b>Ejecuci&oacute;n
 de acciones.</b></span></span></div>
 </div>
 <v:group id="_x0000_s128028" style='position:absolute;left:209.875pt;top:156.625pt;
  width:121.75pt;height:81.125pt' coordorigin="1679,1253" coordsize="974,649">
  <v:line id="_x0000_s128011" style='position:absolute;flip:y' from="2129,1661"
   to="2129,1902" o:allowincell="f" strokecolor="white [1]">
   <v:stroke endarrow="block"/>
  </v:line><v:shape id="_x0000_s128012" type="#_x0000_t202" style='position:absolute;
   left:1679;top:1253;width:974;height:400' o:allowincell="f">
   <v:textbox style='mso-next-textbox:#_x0000_s128012'/>
  </v:shape><p:animation number="6" delay="0" type="object" effect="wipe"
   direction="up" flag="17412"/></v:group><![if !ppt]>
 <div id="_x0000_s128028_AllText" style='position:absolute;top:28.97%;
 left:29.13%;width:17.21%;height:15.54%;white-space:nowrap'
 onfilterchange="javascript:TickHandler()"><![endif]><![if !vml]><img border=0
 v:shapes="_x0000_s128028,_x0000_s128011,_x0000_s128012"
 src="slide0075_image139.gif" style='position:absolute;top:0%;left:0%;
 width:100.0%;height:100.0%'><![endif]>
 <div v:shape="_x0000_s128012" class=O style='text-align:justify;mso-char-wrap:
 1;mso-kinsoku-overflow:1;position:absolute;top:5.68%;left:6.15%;width:86.92%;
 height:39.77%'><span lang=ES-MODERN style='font-family:Arial;font-size:58%;
 color:black'><b>Conclusi&oacute;n del estudio del PAT</b></span></div>
 <![if !ppt]></div>
 <![endif]><v:group id="_x0000_s128029" style='position:absolute;left:0;top:287.5pt;
  width:107.625pt;height:101.625pt' coordorigin=",2300" coordsize="861,813">
  <v:shape id="_x0000_s128013" type="#_x0000_t202" style='position:absolute;
   top:2472;width:861;height:641'>
   <v:textbox style='mso-next-textbox:#_x0000_s128013'/>
  </v:shape><v:line id="_x0000_s128014" style='position:absolute' from="573,2300"
   to="573,2472" strokecolor="white [1]">
   <v:stroke endarrow="block"/>
  </v:line><p:animation number="7" delay="0" type="object" effect="wipe"
   direction="down" flag="17412"/></v:group><![if !ppt]>
 <div id="_x0000_s128029_AllText" style='position:absolute;top:53.18%;
 left:0%;width:15.36%;height:19.25%;white-space:nowrap'
 onfilterchange="javascript:TickHandler()"><![endif]><![if !vml]><img border=0
 v:shapes="_x0000_s128029,_x0000_s128013,_x0000_s128014"
 src="slide0075_image140.gif" style='position:absolute;top:0%;left:0%;
 width:100.0%;height:100.0%'><![endif]>
 <div v:shape="_x0000_s128013" class=O style='text-align:center;mso-char-wrap:
 1;mso-kinsoku-overflow:1'><span style='position:absolute;top:25.68%;
 left:5.17%;width:87.06%;height:15.59%'><span lang=ES-MODERN style='font-family:
 Arial;font-size:58%;color:black'><b>Celebraci&oacute;n </b></span></span><span
 style='position:absolute;top:42.2%;left:6.89%;width:84.48%;height:15.59%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:58%;color:black'><b>del IV </b></span></span><span
 style='position:absolute;top:57.79%;left:3.44%;width:91.37%;height:15.59%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:58%;color:black'><b>Festivalle
 en </b></span></span><span style='position:absolute;top:74.31%;left:6.89%;
 width:84.48%;height:15.59%'><span lang=ES-MODERN style='font-family:Arial;
 font-size:58%;color:black'><b>Oropesa</b></span></span></div>
 <![if !ppt]></div>
 <![endif]><v:group id="_x0000_s128027" style='position:absolute;left:35.625pt;
  top:94.25pt;width:160pt;height:142.125pt' coordorigin="285,754" coordsize="1280,1137">
  <v:shape id="_x0000_s128009" type="#_x0000_t202" style='position:absolute;
   left:285;top:754;width:1280;height:957' o:allowincell="f">
   <v:textbox style='mso-next-textbox:#_x0000_s128009'/>
  </v:shape><v:line id="_x0000_s128015" style='position:absolute;flip:y'
   from="861,1776" to="861,1891" o:allowincell="f" strokecolor="white [1]">
   <v:stroke endarrow="block"/>
  </v:line><p:animation number="5" delay="0" type="object" effect="wipe"
   direction="up" flag="17412"/></v:group><![if !ppt]>
 <div id="_x0000_s128027_AllText" style='position:absolute;top:17.31%;
 left:4.9%;width:22.64%;height:26.85%;white-space:nowrap'
 onfilterchange="javascript:TickHandler()"><![endif]><![if !vml]><img border=0
 v:shapes="_x0000_s128027,_x0000_s128009,_x0000_s128015"
 src="slide0075_image141.gif" style='position:absolute;top:0%;left:0%;
 width:100.0%;height:100.0%'><![endif]>
 <div v:shape="_x0000_s128009" class=O style='text-align:justify;mso-char-wrap:
 1;mso-kinsoku-overflow:1;position:absolute;top:3.94%;left:4.67%;width:89.47%;
 height:80.92%'><span lang=ES-MODERN style='font-family:Arial;font-size:58%;
 color:black'><b>Reformulaci&oacute;n de los Planes Integrales de Desarrollo
 Distritales, de forma que respondan a las nuevas demandas de la realidad.</b></span></div>
 <![if !ppt]></div>
 <![endif]><v:shape id="_x0000_s128016" type="#_x0000_t202" style='position:absolute;
  left:121.875pt;top:434.5pt;width:493.375pt;height:39.625pt'>
  <v:textbox style='mso-next-textbox:#_x0000_s128016'/>
  <p:animation number="10" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s128016" src="slide0075_image142.gif" style='position:absolute;
 top:80.38%;left:16.82%;width:68.87%;height:7.77%'><![endif]>
 <div id="_x0000_s128016_AllText" v:shape="_x0000_s128016" class=O
 style='position:absolute;top:81.44%;left:18.01%;width:66.49%;height:6.18%'>
 <div style='text-align:justify;mso-char-wrap:1;mso-kinsoku-overflow:1;
 position:absolute;top:0%;left:0%;width:100.0%;height:100.0%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:58%;color:black'><b>Ejecuci&oacute;n
 de proyectos y acciones priorizadas en el Plan y por las Comisiones
 Tem&aacute;ticas.</b></span></div>
 </div>
 <v:group id="_x0000_s128030" style='position:absolute;left:107.625pt;top:298.375pt;
  width:172.875pt;height:124.75pt' coordorigin="861,2387" coordsize="1383,998">
  <v:shape id="_x0000_s128017" type="#_x0000_t202" style='position:absolute;
   left:977;top:2387;width:1267;height:317'>
   <v:textbox style='mso-next-textbox:#_x0000_s128017'/>
  </v:shape><v:shape id="_x0000_s128018" type="#_x0000_t202" style='position:absolute;
   left:977;top:2755;width:1267;height:630'>
   <v:textbox style='mso-next-textbox:#_x0000_s128018'/>
  </v:shape><v:line id="_x0000_s128019" style='position:absolute' from="861,2703"
   to="919,2703" strokecolor="white [1]"/>
  <v:line id="_x0000_s128020" style='position:absolute' from="919,2588" to="919,2818"
   strokecolor="white [1]"/>
  <v:line id="_x0000_s128021" style='position:absolute' from="919,2588" to="977,2588"
   strokecolor="white [1]"/>
  <v:line id="_x0000_s128022" style='position:absolute' from="919,2818" to="977,2818"
   strokecolor="white [1]"/>
  <p:animation number="8" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:group><![if !ppt]>
 <div id="_x0000_s128030_AllText" style='position:absolute;top:55.12%;
 left:14.83%;width:27.01%;height:23.67%;white-space:nowrap'
 onfilterchange="javascript:TickHandler()"><![endif]><![if !vml]><img border=0
 v:shapes="_x0000_s128030,_x0000_s128017,_x0000_s128018,_x0000_s128019,_x0000_s128020,_x0000_s128021,_x0000_s128022"
 src="slide0075_image143.gif" style='position:absolute;top:0%;left:0%;
 width:90.19%;height:100.0%'><![endif]>
 <div v:shape="_x0000_s128017" class=O style='text-align:justify;mso-char-wrap:
 1;mso-kinsoku-overflow:1;position:absolute;top:4.47%;left:11.76%;width:74.01%;
 height:26.11%'><span lang=ES-MODERN style='font-family:Arial;font-size:58%;
 color:black'><b>Presentaci&oacute;n Planes distritales</b></span></div>
 <div v:shape="_x0000_s128018" class=O style='mso-char-wrap:1;mso-kinsoku-overflow:
 1'><span style='position:absolute;top:40.29%;left:11.76%;width:79.41%;
 height:12.68%'><span lang=ES-MODERN style='font-family:Arial;font-size:58%;
 color:black'><b>Firma &#8220;Declaraci&oacute;n </b></span></span><span
 style='position:absolute;top:53.73%;left:11.76%;width:88.72%;height:12.68%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:58%;color:black'><b>de
 Oropesa&#8221; para dar </b></span></span><span style='position:absolute;
 top:66.41%;left:11.76%;width:74.01%;height:12.68%'><span lang=ES-MODERN
 style='font-family:Arial;font-size:58%;color:black'><b>continuidad al </b></span></span><span
 style='position:absolute;top:79.85%;left:11.76%;width:74.01%;height:12.68%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:58%;color:black'><b>proceso
 PIDES.</b></span></span></div>
 <![if !ppt]></div>
 <![endif]><v:group id="_x0000_s128031" style='position:absolute;left:287.625pt;
  top:287.5pt;width:146.125pt;height:107.25pt' coordorigin="2301,2300"
  coordsize="1169,858">
  <v:shape id="_x0000_s128023" type="#_x0000_t202" style='position:absolute;
   left:2301;top:2472;width:1169;height:686'/>
  <v:line id="_x0000_s128024" style='position:absolute' from="2705,2300" to="2705,2472"
   strokecolor="white [1]">
   <v:stroke endarrow="block"/>
  </v:line><p:animation number="9" delay="0" type="object" effect="wipe"
   direction="down" flag="17412"/></v:group><![if !ppt]>
 <div id="_x0000_s128031_AllText" style='position:absolute;top:53.18%;
 left:39.86%;width:20.66%;height:20.31%;white-space:nowrap'
 onfilterchange="javascript:TickHandler()"><![endif]><![if !vml]><img border=0
 v:shapes="_x0000_s128031,_x0000_s128023,_x0000_s128024"
 src="slide0075_image144.gif" style='position:absolute;top:0%;left:0%;
 width:100.0%;height:100.0%'><![endif]>
 <div v:shape="_x0000_s128023" class=O style='text-align:justify;mso-char-wrap:
 1;mso-kinsoku-overflow:1;position:absolute;top:24.34%;left:5.76%;width:88.46%;
 height:60.86%'><span lang=ES-MODERN style='font-family:Arial;font-size:58%;
 color:black'><b>Celebraci&oacute;n de Encuentros con Organizaciones de Mujeres
 y J&oacute;venes.</b></span></div>
 <![if !ppt]></div>
 <![endif]><v:shape id="_x0000_s128025" type="#_x0000_t202" style='position:absolute;
  left:19.75pt;top:9.125pt;width:170.25pt;height:31.25pt;mso-wrap-style:none;
  v-text-anchor:top-baseline' filled="f" fillcolor="#f90 [4]" stroked="f"
  strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
 </v:shape>
 <div v:shape="_x0000_s128025" class=O style='mso-char-wrap:1;mso-kinsoku-overflow:
 1;position:absolute;top:2.65%;left:3.7%;width:26.09%;height:4.24%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:83%'><b>QUINTA<span
 style='mso-spacerun:yes'>&nbsp; </span>ETAPA</b></span></div>
 <v:shape id="_x0000_s128032" type="#_x0000_t202" style='position:absolute;
  left:490.375pt;top:213.25pt;width:160.375pt;height:31.25pt;mso-wrap-style:none;
  v-text-anchor:top-baseline' filled="f" fillcolor="#f90 [4]" stroked="f"
  strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="11" delay="0" type="object" effect="wipe"
   direction="right" flag="1028"/></v:shape>
 <div id="_x0000_s128032_AllText" v:shape="_x0000_s128032" class=O
 style='position:absolute;top:40.45%;left:69.13%;width:24.5%;height:4.24%;
 white-space:nowrap'>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><span lang=ES-MODERN
 style='font-family:Arial;font-size:83%'><b>SEXTA<span
 style='mso-spacerun:yes'>&nbsp; </span>ETAPA</b></span></div>
 </div>
</p:slide></div>

<p:animation number="-1633859252"/><oa:par id="TimeNode0" dur="indefinite"
 restart="never" p:nodeType="timingRoot">
 <oa:seq id="TimeNode1" dur="indefinite" prev="document.onpptprev"
  next="document.onpptnext" concurrent="enabled" nextAction="seek"
  p:nodeType="mainSeq">
  <oa:par id="TimeNode2" begin="indefinite;TimeNode1.onbegin" fill="hold">
   <oa:par id="TimeNode3" begin="0.0" fill="hold">
    <oa:par id="TimeNode4" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode5" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s128008" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode6" dur="1.0" targetElement="_x0000_s128008"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode7" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode8" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s128008_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode9" dur="1.0"
      targetElement="_x0000_s128008_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode10" begin="1.0" fill="hold">
    <oa:par id="TimeNode11" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode12" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s128010" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode13" dur="1.0" targetElement="_x0000_s128010"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode14" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode15" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s128010_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode16" dur="1.0"
      targetElement="_x0000_s128010_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode17" begin="2.0" fill="hold">
    <oa:par id="TimeNode18" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" accelerate="0.0" decelerate="0.0"
     autoReverse="false" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode19" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s128026" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode20" dur="1.0" targetElement="_x0000_s128026"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode21" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" accelerate="0.0"
     decelerate="0.0" autoReverse="false" fill="hold" p:nodeType="withEffect">
     <oa:set id="TimeNode22" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s128026_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode23" dur="1.0"
      targetElement="_x0000_s128026_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode24" begin="3.0" fill="hold">
    <oa:par id="TimeNode25" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x4" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode26" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s128027" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode27" dur="1.0" targetElement="_x0000_s128027"
      transition="in" filter="wipe(down)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode28" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x4" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode29" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s128027_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode30" dur="1.0"
      targetElement="_x0000_s128027_AllText" transition="in" filter="wipe(down)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode31" begin="4.0" fill="hold">
    <oa:par id="TimeNode32" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x4" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode33" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s128028" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode34" dur="1.0" targetElement="_x0000_s128028"
      transition="in" filter="wipe(down)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode35" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x4" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode36" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s128028_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode37" dur="1.0"
      targetElement="_x0000_s128028_AllText" transition="in" filter="wipe(down)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode38" begin="5.0" fill="hold">
    <oa:par id="TimeNode39" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x1" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode40" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s128029" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode41" dur="1.0" targetElement="_x0000_s128029"
      transition="in" filter="wipe(up)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode42" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x1" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode43" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s128029_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode44" dur="1.0"
      targetElement="_x0000_s128029_AllText" transition="in" filter="wipe(up)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode45" begin="6.0" fill="hold">
    <oa:par id="TimeNode46" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode47" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s128030" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode48" dur="1.0" targetElement="_x0000_s128030"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode49" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode50" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s128030_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode51" dur="1.0"
      targetElement="_x0000_s128030_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode52" begin="7.0" fill="hold">
    <oa:par id="TimeNode53" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x1" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode54" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s128031" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode55" dur="0.5" targetElement="_x0000_s128031"
      transition="in" filter="wipe(up)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode56" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x1" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode57" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s128031_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode58" dur="0.5"
      targetElement="_x0000_s128031_AllText" transition="in" filter="wipe(up)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode59" begin="7.5" fill="hold">
    <oa:par id="TimeNode60" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode61" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s128016" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode62" dur="0.5" targetElement="_x0000_s128016"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode63" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode64" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s128016_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode65" dur="0.5"
      targetElement="_x0000_s128016_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode66" begin="8.0" fill="hold">
    <oa:par id="TimeNode67" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode68" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s128032" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode69" dur="0.5" targetElement="_x0000_s128032"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode70" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode71" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s128032_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode72" dur="0.5"
      targetElement="_x0000_s128032_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
  </oa:par>
 </oa:seq>
</oa:par>
<![if ppt]>
<oa:buildParagraph targetElement="_x0000_s128008" groupID="0" build="asAWhole"
 buildLevel="1" alsoAnimate="background" reverse="false" buildAdvance="onclick"
 userSetAnimBgd="false"/><oa:buildParagraph targetElement="_x0000_s128010"
 groupID="0" build="asAWhole" buildLevel="1" alsoAnimate="background"
 reverse="false" buildAdvance="onclick" userSetAnimBgd="false"/><oa:buildParagraph
 targetElement="_x0000_s128016" groupID="0" build="asAWhole" buildLevel="1"
 alsoAnimate="background" reverse="false" buildAdvance="onclick"
 userSetAnimBgd="false"/><oa:buildParagraph targetElement="_x0000_s128032"
 groupID="0" build="asAWhole" buildLevel="1" reverse="false"
 buildAdvance="onclick" userSetAnimBgd="false"/>
<![endif]>
</body>

</html>
