<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=us-ascii">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 11">
<link id=Main-File rel=Main-File href="../CID_valle_sur_ilmc.htm">
<link rel=Preview href=preview.wmf>
<link rel=OLE-Object-Data href=oledata.mso>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>PIDES</title>
<meta name=Description content="22/04/2005">
<link rel=Stylesheet href="master04_stylesheet.css">
<!--[if gte IE 5]>
<object id=MSOANIM classid="CLSID:A4639D2F-774E-11D3-A490-00C04F6843FB"></object>
<object id=MSOTIME classid="CLSID:A4639D29-774E-11D3-A490-00C04F6843FB"></object>
<![endif]-->
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:76% !important;}
-->
</style>
<style>
<!--
oa\:* { BEHAVIOR: url(#MSOANIM#ANIM) url(#MSOTIME#TIME) }
oa\:par,oa\:seq,oa\:iterate { BEHAVIOR:url(#MSOTIME) }
oa\:video,oa\:audio {BEHAVIOR:url(#MSOTIME) url(#MSOTIME#MEDIA) }
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><script><!--
g_animItemsToHide=new Array("_x0000_s122902","_x0000_s122903","_x0000_s122904","_x0000_s122905","_x0000_s122906","_x0000_s122901_AllText","_x0000_s122901","_x0000_s122914","_x0000_s122913","_x0000_s122900_AllText","_x0000_s122900","_x0000_s122894","_x0000_s122912","_x0000_s122899_AllText","_x0000_s122899","_x0000_s122893","_x0000_s122911","_x0000_s122898_AllText","_x0000_s122898","_x0000_s122892","_x0000_s122910","_x0000_s122897_AllText","_x0000_s122897","_x0000_s122891","_x0000_s122909","_x0000_s122896_AllText","_x0000_s122896","_x0000_s122890","_x0000_s122895_AllText","_x0000_s122895","_x0000_s122908","_x0000_s122889","_x0000_s122887_AllText","_x0000_s122887","_x0000_s122885","_x0000_s122884_AllText","_x0000_s122884");

//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><p:slidetransition advancetime="0" speed="1"
 effect="randomBar" direction="vertical" flag="1"/><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="121"/>
</o:shapelayout>
</head>

<body lang=ES-MODERN style='margin:0px;background-color:#993300'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()" oa:clockstart="onstart">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:755px;height:566px;font-size:16px;background-color:#993300;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden;filter:revealtrans(Duration=2, Transition=22)'><p:slide
 coordsize="720,540"
 colors="#993300,#ffffff,#bb5f03,#feec94,#ff9900,#b76a03,#ffffcc,#cccc00"
 masterhref="master04.xml">
 <p:shaperange href="master04.xml#_x0000_s118785"/><![if !vml]><img
 src="master04_background.gif" v:shapes="_x0000_s118785" style='position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><![endif]><![if !ppt]><p:shaperange
  href="master04.xml#_x0000_s118786"/><![if !vml]><img border=0
 v:shapes="_x0000_s118786,_x0000_s118787,_x0000_s118788,_x0000_s118789,_x0000_s118790,_x0000_s118791,_x0000_s118792,_x0000_s118793,_x0000_s118794,_x0000_s118795,_x0000_s118796,_x0000_s118797,_x0000_s118798,_x0000_s118799,_x0000_s118800,_x0000_s118801,_x0000_s118802,_x0000_s118803,_x0000_s118804"
 src="master04_image015.gif" style='position:absolute;top:0%;left:0%;
 width:100.26%;height:101.41%'><![endif]><p:shaperange
  href="master04.xml#_x0000_s118809"/>
 <div v:shape="_x0000_s118809" class=O>
 <div style='text-align:right;mso-char-wrap:1;mso-kinsoku-overflow:1;
 position:absolute;top:92.04%;left:72.71%;width:21.45%;height:3.0%'><span
 lang=ES-MODERN style='font-size:58%;text-shadow:auto;mso-field-code:meta16'>10</span><span
 lang=ES-MODERN style='font-size:58%;text-shadow:auto;mso-special-format:lastCR;
 display:none'>&#13;</span></div>
 </div>
 <![endif]><v:shapetype id="_x0000_t202" coordsize="21600,21600" o:spt="202"
  path="m,l,21600r21600,l21600,xe">
  <v:stroke joinstyle="miter"/>
  <v:path gradientshapeok="t" o:connecttype="rect"/>
 </v:shapetype><v:shape id="_x0000_s122884" type="#_x0000_t202" style='position:absolute;
  left:0;top:3.5pt;width:705.875pt;height:72.125pt' filled="f" fillcolor="#f90 [4]"
  stroked="f" strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="2" delay="0" type="object" effect="wipe"
   direction="right" flag="1028"/></v:shape>
 <div id="_x0000_s122884_AllText" v:shape="_x0000_s122884" class=O
 style='position:absolute;top:1.59%;left:1.05%;width:115.36%;height:11.83%;
 white-space:nowrap'>
 <div style='mso-line-spacing:"100 50 0";mso-char-wrap:1;mso-kinsoku-overflow:
 1'><span style='position:absolute;top:0%;left:0%;width:97.93%;height:32.83%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:75%'>Hist&oacute;ricamente
 este proceso de planificaci&oacute;n concertada ha pasado por cinco etapas </span></span><span
 style='position:absolute;top:32.83%;left:0%;width:100.0%;height:32.83%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:75%'>principales, desde que
 se constituy&oacute; el CID del Valle Sur, hace casi una d&eacute;cada, hasta </span></span><span
 style='position:absolute;top:67.16%;left:0%;width:83.35%;height:32.83%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:75%'>la realidad presente.</span></span></div>
 </div>
 <v:shapetype id="_x0000_t75" coordsize="21600,21600" o:spt="75"
  o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" aspectratio="t"/>
 </v:shapetype><v:shape id="_x0000_s122885" type="#_x0000_t75" style='position:absolute;
  left:2.75pt;top:480.375pt;width:136.125pt;height:47.125pt' fillcolor="#f90 [4]"
  strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:imagedata src="slide0070_image049.emz" o:title=""/>
  <v:shadow color="#bb5f03 [2]"/>
  <p:animation number="3" delay="0" type="object" effect="cut"
   direction="noBlack" buildby="char" flag="17412"/></v:shape><o:OLEObject
  Type="Embed" ProgID="CorelDRAW.Graphic.10" ShapeID="_x0000_s122885"
  DrawAspect="Content" ObjectID="261">
  <p:oleclientdata menuname="CorelDRAW" clipboardname="CorelDRAW 10.0 Gr&#225;fico"/></o:OLEObject>
 <![if !vml]><img border=0 v:shapes="_x0000_s122885"
 src="slide0070_image050.gif" style='position:absolute;top:89.04%;left:.39%;
 width:18.94%;height:8.65%'><![endif]><v:shape id="_x0000_s122887" type="#_x0000_t202"
  style='position:absolute;left:150.25pt;top:480.5pt;width:414pt;height:50.375pt'
  filled="f" fillcolor="#f90 [4]" stroked="f" strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="4" delay="0" type="object" effect="wipe"
   direction="right" flag="1028"/></v:shape>
 <div id="_x0000_s122887_AllText" v:shape="_x0000_s122887" class=O
 style='position:absolute;top:89.75%;left:21.85%;width:55.62%;height:7.95%'>
 <div style='text-align:justify;mso-line-spacing:"100 50 0";mso-char-wrap:1;
 mso-kinsoku-overflow:1;position:absolute;top:0%;left:0%;width:100.0%;
 height:100.0%'><span lang=ES-MODERN style='font-family:Arial;font-size:50%'><b>Establecimiento
 de los lineamientos generales para la propuesta de un Plan Integral de
 Desarrollo del distrito de San Jer&oacute;nimo, a partir de la
 realizaci&oacute;n de un diagn&oacute;stico previo de su realidad.</b></span></div>
 </div>
 <v:shape id="_x0000_s122889" type="#_x0000_t75" style='position:absolute;
  left:8.5pt;top:424.375pt;width:147.375pt;height:43.25pt' fillcolor="#f90 [4]"
  strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:imagedata src="slide0070_image051.emz" o:title=""/>
  <v:shadow color="#bb5f03 [2]"/>
  <p:animation number="5" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><o:OLEObject Type="Embed"
  ProgID="CorelDRAW.Graphic.10" ShapeID="_x0000_s122889" DrawAspect="Content"
  ObjectID="266">
  <p:oleclientdata menuname="CorelDRAW" clipboardname="CorelDRAW 10.0 Gr&#225;fico"/></o:OLEObject>
 <![if !vml]><img border=0 v:shapes="_x0000_s122889"
 src="slide0070_image052.gif" style='position:absolute;top:78.62%;left:1.19%;
 width:20.52%;height:7.95%'><![endif]><v:shape id="_x0000_s122890" type="#_x0000_t75"
  style='position:absolute;left:19.75pt;top:356.875pt;width:145.125pt;height:42.5pt'
  fillcolor="#f90 [4]" strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:imagedata src="slide0070_image053.emz" o:title=""/>
  <v:shadow color="#bb5f03 [2]"/>
  <p:animation number="8" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><o:OLEObject Type="Embed"
  ProgID="CorelDRAW.Graphic.10" ShapeID="_x0000_s122890" DrawAspect="Content"
  ObjectID="267">
  <p:oleclientdata menuname="CorelDRAW" clipboardname="CorelDRAW 10.0 Gr&#225;fico"/></o:OLEObject>
 <![if !vml]><img border=0 v:shapes="_x0000_s122890"
 src="slide0070_image054.gif" style='position:absolute;top:66.07%;left:2.78%;
 width:20.13%;height:7.95%'><![endif]><v:shape id="_x0000_s122891" type="#_x0000_t75"
  style='position:absolute;left:42.5pt;top:283.375pt;width:158.75pt;height:37.625pt'
  fillcolor="#f90 [4]" strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:imagedata src="slide0070_image055.emz" o:title=""/>
  <v:shadow color="#bb5f03 [2]"/>
  <p:animation number="11" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><o:OLEObject Type="Embed"
  ProgID="CorelDRAW.Graphic.10" ShapeID="_x0000_s122891" DrawAspect="Content"
  ObjectID="268">
  <p:oleclientdata menuname="CorelDRAW" clipboardname="CorelDRAW 10.0 Gr&#225;fico"/></o:OLEObject>
 <![if !vml]><img border=0 v:shapes="_x0000_s122891"
 src="slide0070_image056.gif" style='position:absolute;top:52.47%;left:5.96%;
 width:21.98%;height:6.89%'><![endif]><v:shape id="_x0000_s122892" type="#_x0000_t75"
  style='position:absolute;left:87.875pt;top:202pt;width:147.375pt;height:43.25pt'
  fillcolor="#f90 [4]" strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:imagedata src="slide0070_image057.emz" o:title=""/>
  <v:shadow color="#bb5f03 [2]"/>
  <p:animation number="14" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><o:OLEObject Type="Embed"
  ProgID="CorelDRAW.Graphic.10" ShapeID="_x0000_s122892" DrawAspect="Content"
  ObjectID="269">
  <p:oleclientdata menuname="CorelDRAW" clipboardname="CorelDRAW 10.0 Gr&#225;fico"/></o:OLEObject>
 <![if !vml]><img border=0 v:shapes="_x0000_s122892"
 src="slide0070_image058.gif" style='position:absolute;top:37.45%;left:12.18%;
 width:20.52%;height:7.95%'><![endif]><v:shape id="_x0000_s122893" type="#_x0000_t75"
  style='position:absolute;left:138.875pt;top:145.25pt;width:137.125pt;
  height:40.25pt' fillcolor="#f90 [4]" strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:imagedata src="slide0070_image059.emz" o:title=""/>
  <v:shadow color="#bb5f03 [2]"/>
  <p:animation number="17" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><o:OLEObject Type="Embed"
  ProgID="CorelDRAW.Graphic.10" ShapeID="_x0000_s122893" DrawAspect="Content"
  ObjectID="270">
  <p:oleclientdata menuname="CorelDRAW" clipboardname="CorelDRAW 10.0 Gr&#225;fico"/></o:OLEObject>
 <![if !vml]><img border=0 v:shapes="_x0000_s122893"
 src="slide0070_image060.gif" style='position:absolute;top:26.85%;left:19.33%;
 width:19.07%;height:7.42%'><![endif]><v:shape id="_x0000_s122894" type="#_x0000_t75"
  style='position:absolute;left:167.25pt;top:88.75pt;width:119pt;height:45.125pt'
  fillcolor="#f90 [4]" strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:imagedata src="slide0070_image061.emz" o:title=""/>
  <v:shadow color="#bb5f03 [2]"/>
  <p:animation number="20" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><o:OLEObject Type="Embed"
  ProgID="CorelDRAW.Graphic.10" ShapeID="_x0000_s122894" DrawAspect="Content"
  ObjectID="271">
  <p:oleclientdata menuname="CorelDRAW" clipboardname="CorelDRAW 10.0 Gr&#225;fico"/></o:OLEObject>
 <![if !vml]><img border=0 v:shapes="_x0000_s122894"
 src="slide0070_image062.gif" style='position:absolute;top:16.43%;left:23.17%;
 width:16.55%;height:8.3%'><![endif]><v:shape id="_x0000_s122895" type="#_x0000_t202"
  style='position:absolute;left:173pt;top:421.5pt;width:374.125pt;height:58.25pt'
  filled="f" fillcolor="#f90 [4]" strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="7" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s122895" src="slide0070_image063.gif" style='position:absolute;
 top:77.91%;left:23.97%;width:52.31%;height:11.3%'><![endif]>
 <div id="_x0000_s122895_AllText" v:shape="_x0000_s122895" class=O
 style='position:absolute;top:78.97%;left:25.03%;width:56.29%;height:9.18%;
 white-space:nowrap'>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1'><span style='position:
 absolute;top:0%;left:1.41%;width:93.88%;height:32.69%'><span style='font-family:
 Arial;font-size:58%'><span style='mso-special-format:bullet;position:absolute;
 left:-1.5%'>&#8226;</span></span><span lang=ES-MODERN style='font-family:Arial;
 font-size:58%'><b>Creaci&oacute;n<span style='mso-spacerun:yes'>&nbsp;
 </span>de la instancia formal responsable de </b></span></span><span
 style='position:absolute;top:32.69%;left:0%;width:100.0%;height:32.69%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:58%'><b>gestionar las
 pol&iacute;ticas de desarrollo locales: el CID&#13;</b></span></span></div>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;
 top:67.3%;left:0%;width:88.7%;height:32.69%'><span style='position:absolute;
 top:0%;left:1.59%;width:98.67%;height:100.0%'><span style='font-family:Arial;
 font-size:58%'><span style='mso-special-format:bullet;position:absolute;
 left:-1.61%'>&#8226;</span></span><span lang=ES-MODERN style='font-family:
 Arial;font-size:58%'><b>An&aacute;lisis de la realidad local del Valle Sur.</b></span></span></div>
 </div>
 <v:shape id="_x0000_s122896" type="#_x0000_t202" style='position:absolute;
  left:190pt;top:358.875pt;width:345.875pt;height:58.25pt' filled="f"
  fillcolor="#f90 [4]" strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="9" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s122896" src="slide0070_image064.gif" style='position:absolute;
 top:66.43%;left:26.35%;width:48.34%;height:11.3%'><![endif]>
 <div id="_x0000_s122896_AllText" v:shape="_x0000_s122896" class=O
 style='position:absolute;top:67.31%;left:27.41%;width:54.7%;height:9.18%;
 white-space:nowrap'>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;
 top:0%;left:0%;width:84.26%;height:32.69%'><span style='position:absolute;
 top:0%;left:1.43%;width:98.56%;height:100.0%'><span style='font-family:Arial;
 font-size:58%'><span style='mso-special-format:bullet;position:absolute;
 left:-1.45%'>&#8226;</span></span><span lang=ES-MODERN style='font-family:
 Arial;font-size:58%'><b>Formulaci&oacute;n del PIDES.&#13;</b></span></span></div>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1'><span style='position:
 absolute;top:34.61%;left:1.21%;width:98.78%;height:32.69%'><span
 style='font-family:Arial;font-size:58%'><span style='mso-special-format:bullet;
 position:absolute;left:-1.22%'>&#8226;</span></span><span lang=ES-MODERN
 style='font-family:Arial;font-size:58%'><b>Consolidaci&oacute;n de las
 Comisiones de Trabajo por </b></span></span><span style='position:absolute;
 top:67.3%;left:0%;width:84.26%;height:32.69%'><span lang=ES-MODERN
 style='font-family:Arial;font-size:58%'><b>ejes tem&aacute;ticos: COTIs.</b></span></span></div>
 </div>
 <v:shape id="_x0000_s122897" type="#_x0000_t202" style='position:absolute;
  left:224pt;top:263.25pt;width:357.25pt;height:91.75pt' filled="f"
  fillcolor="#f90 [4]" strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="12" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s122897" src="slide0070_image065.gif" style='position:absolute;
 top:48.76%;left:30.99%;width:49.93%;height:17.49%'><![endif]>
 <div id="_x0000_s122897_AllText" v:shape="_x0000_s122897" class=O
 style='position:absolute;top:49.64%;left:32.18%;width:47.68%;height:15.54%'>
 <div style='text-align:justify;mso-char-wrap:1;mso-kinsoku-overflow:1;
 position:absolute;top:0%;left:0%;width:100.0%;height:59.09%'><span
 style='font-family:Arial;font-size:58%'><span style='mso-special-format:bullet;
 text-align:left'>&#8226;</span></span><span lang=ES-MODERN style='font-family:
 Arial;font-size:58%'><b>Conformaci&oacute;n de espacios que aseguren la
 participaci&oacute;n permanente y concertada de autoridades y
 poblaci&oacute;n: los CDDs.&#13;</b></span></div>
 <div style='text-align:justify;mso-char-wrap:1;mso-kinsoku-overflow:1;
 position:absolute;top:60.22%;left:0%;width:100.0%;height:39.77%'><span
 style='font-family:Arial;font-size:58%'><span style='mso-special-format:bullet;
 text-align:left'>&#8226;</span></span><span lang=ES-MODERN style='font-family:
 Arial;font-size:58%'><b>Formulaci&oacute;n de Planes Integrales de Desarrollo
 en cada distrito: los PIDs.</b></span></div>
 </div>
 <v:shape id="_x0000_s122898" type="#_x0000_t202" style='position:absolute;
  left:263.625pt;top:185pt;width:328.875pt;height:75pt' filled="f" fillcolor="#f90 [4]"
  strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="15" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s122898" src="slide0070_image066.gif" style='position:absolute;
 top:34.27%;left:36.55%;width:46.09%;height:14.31%'><![endif]>
 <div id="_x0000_s122898_AllText" v:shape="_x0000_s122898" class=O
 style='position:absolute;top:35.15%;left:37.61%;width:43.7%;height:12.36%'>
 <div style='text-align:justify;mso-char-wrap:1;mso-kinsoku-overflow:1;
 position:absolute;top:0%;left:0%;width:100.0%;height:50.0%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:58%'><b>Elaboraci&oacute;n
 del Diagn&oacute;stico para implementar el Plan de Acondicionamiento
 Territorial (PAT).&#13;</b></span></div>
 <div style='text-align:justify;mso-char-wrap:1;mso-kinsoku-overflow:1;
 position:absolute;top:50.0%;left:0%;width:100.0%;height:50.0%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:58%'><b>Ejecuci&oacute;n del
 Plan Operativo Anual (POA) de<span style='mso-spacerun:yes'>&nbsp; </span>las
 COTIs.</b></span></div>
 </div>
 <v:shape id="_x0000_s122899" type="#_x0000_t202" style='position:absolute;
  left:303.375pt;top:139.625pt;width:283.5pt;height:41.5pt' filled="f"
  fillcolor="#f90 [4]" strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="18" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s122899" src="slide0070_image067.gif" style='position:absolute;
 top:25.79%;left:42.11%;width:39.73%;height:8.12%'><![endif]>
 <div id="_x0000_s122899_AllText" v:shape="_x0000_s122899" class=O
 style='position:absolute;top:26.67%;left:43.17%;width:43.17%;height:6.18%;
 white-space:nowrap'>
 <div style='mso-line-spacing:"100 50 0";mso-char-wrap:1;mso-kinsoku-overflow:
 1'><span style='position:absolute;top:0%;left:0%;width:100.0%;height:48.57%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:58%'><b>Conclusi&oacute;n y
 actualizaci&oacute;n de los PIDs </b></span></span><span style='position:absolute;
 top:51.42%;left:0%;width:86.5%;height:48.57%'><span lang=ES-MODERN
 style='font-family:Arial;font-size:58%'><b>distritales.</b></span></span></div>
 </div>
 <v:shape id="_x0000_s122900" type="#_x0000_t202" style='position:absolute;
  left:303.375pt;top:88.75pt;width:260.75pt;height:41.5pt' filled="f"
  fillcolor="#f90 [4]" strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="21" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s122900" src="slide0070_image068.gif" style='position:absolute;
 top:16.43%;left:42.11%;width:36.55%;height:8.12%'><![endif]>
 <div id="_x0000_s122900_AllText" v:shape="_x0000_s122900" class=O
 style='position:absolute;top:17.31%;left:43.17%;width:35.62%;height:6.18%;
 white-space:nowrap'>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;
 top:0%;left:0%;width:97.02%;height:48.57%'><span lang=ES-MODERN
 style='font-family:Arial;font-size:58%'><b>Aprobaci&oacute;n y difusi&oacute;n
 del PAT.&#13;</b></span></div>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;
 top:51.42%;left:0%;width:100.0%;height:48.57%'><span lang=ES-MODERN
 style='font-family:Arial;font-size:58%'><b>Elaboraci&oacute;n de Planes
 Urbanos.</b></span></div>
 </div>
 <v:shape id="_x0000_s122901" type="#_x0000_t202" style='position:absolute;
  left:603.875pt;top:113pt;width:110.5pt;height:292.75pt' filled="f"
  fillcolor="#f90 [4]" strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="24" delay="0" type="object" effect="wipe" direction="up"
   flag="17412"/></v:shape><![if !vml]><img border=0 v:shapes="_x0000_s122901"
 src="slide0070_image069.gif" style='position:absolute;top:20.84%;left:83.84%;
 width:15.76%;height:54.77%'><![endif]>
 <div id="_x0000_s122901_AllText" v:shape="_x0000_s122901" class=O
 style='position:absolute;top:21.9%;left:84.9%;width:15.89%;height:52.65%;
 white-space:nowrap'>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1'><span style='position:
 absolute;top:0%;left:0%;width:87.5%;height:5.7%'><span lang=ES-MODERN
 style='font-size:58%'><b>VISI&Oacute;N DEL </b></span></span><span
 style='position:absolute;top:5.7%;left:0%;width:85.0%;height:5.7%'><span
 lang=ES-MODERN style='font-size:58%'><b>VALLE SUR&#13;</b></span></span></div>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1'><span style='position:
 absolute;top:11.74%;left:0%;width:84.16%;height:5.7%'><span lang=ES-MODERN
 style='font-size:58%'><b>&#8220;Ciudadan&iacute;a </b></span></span><span
 style='position:absolute;top:17.44%;left:0%;width:91.66%;height:5.7%'><span
 lang=ES-MODERN style='font-size:58%'><b>con una mejor </b></span></span><span
 style='position:absolute;top:23.48%;left:0%;width:99.16%;height:5.7%'><span
 lang=ES-MODERN style='font-size:58%'><b>calidad de vida, </b></span></span><span
 style='position:absolute;top:29.19%;left:0%;width:100.0%;height:5.7%'><span
 lang=ES-MODERN style='font-size:58%'><b>en una sociedad </b></span></span><span
 style='position:absolute;top:35.23%;left:0%;width:84.16%;height:5.7%'><span
 lang=ES-MODERN style='font-size:58%'><b>justa, </b></span></span><span
 style='position:absolute;top:41.27%;left:0%;width:84.16%;height:5.7%'><span
 lang=ES-MODERN style='font-size:58%'><b>democr&aacute;tica, </b></span></span><span
 style='position:absolute;top:46.97%;left:0%;width:90.0%;height:5.7%'><span
 lang=ES-MODERN style='font-size:58%'><b>con identidad, </b></span></span><span
 style='position:absolute;top:53.02%;left:0%;width:84.16%;height:5.7%'><span
 lang=ES-MODERN style='font-size:58%'><b>acceso a </b></span></span><span
 style='position:absolute;top:58.72%;left:0%;width:84.16%;height:5.7%'><span
 lang=ES-MODERN style='font-size:58%'><b>servicios, </b></span></span><span
 style='position:absolute;top:64.76%;left:0%;width:84.16%;height:5.7%'><span
 lang=ES-MODERN style='font-size:58%'><b>empleo y </b></span></span><span
 style='position:absolute;top:70.46%;left:0%;width:84.16%;height:5.7%'><span
 lang=ES-MODERN style='font-size:58%'><b>educaci&oacute;n </b></span></span><span
 style='position:absolute;top:76.51%;left:0%;width:88.33%;height:5.7%'><span
 lang=ES-MODERN style='font-size:58%'><b>adecuados, en </b></span></span><span
 style='position:absolute;top:82.21%;left:0%;width:84.16%;height:5.7%'><span
 lang=ES-MODERN style='font-size:58%'><b>un medio </b></span></span><span
 style='position:absolute;top:88.25%;left:0%;width:90.83%;height:5.7%'><span
 lang=ES-MODERN style='font-size:58%'><b>ambiente sano </b></span></span><span
 style='position:absolute;top:94.29%;left:0%;width:84.16%;height:5.7%'><span
 lang=ES-MODERN style='font-size:58%'><b>y sostenible&#8221;</b></span></span></div>
 </div>
 <v:shape id="_x0000_s122902" type="#_x0000_t75" style='position:absolute;
  left:150.25pt;top:376.625pt;width:30.125pt;height:52.125pt' fillcolor="white [1]"
  strokecolor="white [1]">
  <v:imagedata src="slide0070_image070.emz" o:title=""/>
  <v:shadow color="#bb5f03 [2]"/>
  <p:animation number="29" delay="0" type="object" effect="wipe"
   direction="down" flag="17412"/></v:shape><o:OLEObject Type="Embed"
  ProgID="CorelDRAW.Graphic.10" ShapeID="_x0000_s122902" DrawAspect="Content"
  ObjectID="272">
  <p:oleclientdata menuname="CorelDRAW" clipboardname="CorelDRAW 10.0 Gr&#225;fico"/></o:OLEObject>
 <![if !vml]><img border=0 v:shapes="_x0000_s122902"
 src="slide0070_image071.gif" style='position:absolute;top:69.78%;left:20.92%;
 width:4.23%;height:9.71%'><![endif]><v:shape id="_x0000_s122903" type="#_x0000_t75"
  style='position:absolute;left:183.125pt;top:297.375pt;width:29.5pt;height:51pt'
  fillcolor="white [1]" strokecolor="white [1]">
  <v:imagedata src="slide0070_image070.emz" o:title=""/>
  <v:shadow color="#bb5f03 [2]"/>
  <p:animation number="28" delay="0" type="object" effect="wipe"
   direction="down" flag="17412"/></v:shape><o:OLEObject Type="Embed"
  ProgID="CorelDRAW.Graphic.10" ShapeID="_x0000_s122903" DrawAspect="Content"
  ObjectID="273">
  <p:oleclientdata menuname="CorelDRAW" clipboardname="CorelDRAW 10.0 Gr&#225;fico"/></o:OLEObject>
 <![if !vml]><img border=0 v:shapes="_x0000_s122903"
 src="slide0070_image072.gif" style='position:absolute;top:55.12%;left:25.43%;
 width:4.1%;height:9.36%'><![endif]><v:shape id="_x0000_s122904" type="#_x0000_t75"
  style='position:absolute;left:205.125pt;top:236pt;width:29.5pt;height:51pt'
  fillcolor="white [1]" strokecolor="white [1]">
  <v:imagedata src="slide0070_image070.emz" o:title=""/>
  <v:shadow color="#bb5f03 [2]"/>
  <p:animation number="27" delay="0" type="object" effect="wipe"
   direction="down" flag="17412"/></v:shape><o:OLEObject Type="Embed"
  ProgID="CorelDRAW.Graphic.10" ShapeID="_x0000_s122904" DrawAspect="Content"
  ObjectID="274">
  <p:oleclientdata menuname="CorelDRAW" clipboardname="CorelDRAW 10.0 Gr&#225;fico"/></o:OLEObject>
 <![if !vml]><img border=0 v:shapes="_x0000_s122904"
 src="slide0070_image073.gif" style='position:absolute;top:43.63%;left:28.47%;
 width:4.1%;height:9.36%'><![endif]><v:shape id="_x0000_s122905" type="#_x0000_t75"
  style='position:absolute;left:239.125pt;top:173.625pt;width:29.5pt;height:51.125pt'
  fillcolor="white [1]" strokecolor="white [1]">
  <v:imagedata src="slide0070_image070.emz" o:title=""/>
  <v:shadow color="#bb5f03 [2]"/>
  <p:animation number="26" delay="0" type="object" effect="wipe"
   direction="down" flag="17412"/></v:shape><o:OLEObject Type="Embed"
  ProgID="CorelDRAW.Graphic.10" ShapeID="_x0000_s122905" DrawAspect="Content"
  ObjectID="275">
  <p:oleclientdata menuname="CorelDRAW" clipboardname="CorelDRAW 10.0 Gr&#225;fico"/></o:OLEObject>
 <![if !vml]><img border=0 v:shapes="_x0000_s122905"
 src="slide0070_image074.gif" style='position:absolute;top:32.15%;left:33.24%;
 width:4.1%;height:9.54%'><![endif]><v:shape id="_x0000_s122906" type="#_x0000_t75"
  style='position:absolute;left:269.25pt;top:105.625pt;width:29.5pt;height:51pt'
  fillcolor="white [1]" strokecolor="white [1]">
  <v:imagedata src="slide0070_image070.emz" o:title=""/>
  <v:shadow color="#bb5f03 [2]"/>
  <p:animation number="25" delay="0" type="object" effect="wipe"
   direction="down" flag="17412"/></v:shape><o:OLEObject Type="Embed"
  ProgID="CorelDRAW.Graphic.10" ShapeID="_x0000_s122906" DrawAspect="Content"
  ObjectID="276">
  <p:oleclientdata menuname="CorelDRAW" clipboardname="CorelDRAW 10.0 Gr&#225;fico"/></o:OLEObject>
 <![if !vml]><img border=0 v:shapes="_x0000_s122906"
 src="slide0070_image075.gif" style='position:absolute;top:19.61%;left:37.35%;
 width:4.1%;height:9.36%'><![endif]><v:shapetype id="_x0000_t13" coordsize="21600,21600"
  o:spt="13" adj="16200,5400" path="m@0,l@0@1,0@1,0@2@0@2@0,21600,21600,10800xe">
  <v:stroke joinstyle="miter"/>
  <v:formulas>
   <v:f eqn="val #0"/>
   <v:f eqn="val #1"/>
   <v:f eqn="sum height 0 #1"/>
   <v:f eqn="sum 10800 0 #1"/>
   <v:f eqn="sum width 0 #0"/>
   <v:f eqn="prod @4 @3 10800"/>
   <v:f eqn="sum width 0 @5"/>
  </v:formulas>
  <v:path o:connecttype="custom" o:connectlocs="@0,0;0,10800;@0,21600;21600,10800"
   o:connectangles="270,180,90,0" textboxrect="0,@1,@6,@2"/>
  <v:handles>
   <v:h position="#0,#1" xrange="0,21600" yrange="0,10800"/>
  </v:handles>
 </v:shapetype><v:shape id="_x0000_s122908" type="#_x0000_t13" style='position:absolute;
  left:155.875pt;top:439.375pt;width:17pt;height:17pt;mso-wrap-style:none;
  v-text-anchor:middle' fillcolor="black" strokecolor="white [1]">
  <v:shadow color="#bb5f03 [2]"/>
  <p:animation number="6" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s122908" src="slide0070_image076.gif" style='position:absolute;
 top:80.91%;left:21.58%;width:2.78%;height:4.24%'><![endif]><v:shape id="_x0000_s122909"
  type="#_x0000_t13" style='position:absolute;left:172.875pt;top:368.25pt;
  width:17pt;height:17pt;mso-wrap-style:none;v-text-anchor:middle' fillcolor="black"
  strokecolor="white [1]">
  <v:shadow color="#bb5f03 [2]"/>
  <p:animation number="10" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s122909" src="slide0070_image077.gif" style='position:absolute;
 top:67.84%;left:23.97%;width:2.78%;height:4.24%'><![endif]><v:shape id="_x0000_s122910"
  type="#_x0000_t13" style='position:absolute;left:206.875pt;top:291.625pt;
  width:17pt;height:17pt;mso-wrap-style:none;v-text-anchor:middle' fillcolor="black"
  strokecolor="white [1]">
  <v:shadow color="#bb5f03 [2]"/>
  <p:animation number="13" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s122910" src="slide0070_image078.gif" style='position:absolute;
 top:53.71%;left:28.74%;width:2.78%;height:4.24%'><![endif]><v:shape id="_x0000_s122911"
  type="#_x0000_t13" style='position:absolute;left:235.25pt;top:219pt;width:17pt;
  height:17pt;mso-wrap-style:none;v-text-anchor:middle' fillcolor="black"
  strokecolor="white [1]">
  <v:shadow color="#bb5f03 [2]"/>
  <p:animation number="16" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s122911" src="slide0070_image079.gif" style='position:absolute;
 top:40.1%;left:32.58%;width:2.78%;height:4.24%'><![endif]><v:shape id="_x0000_s122912"
  type="#_x0000_t13" style='position:absolute;left:275pt;top:156.625pt;width:17pt;
  height:17pt;mso-wrap-style:none;v-text-anchor:middle' fillcolor="black"
  strokecolor="white [1]">
  <v:shadow color="#bb5f03 [2]"/>
  <p:animation number="19" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s122912" src="slide0070_image080.gif" style='position:absolute;
 top:28.62%;left:38.14%;width:2.78%;height:4.24%'><![endif]><v:shape id="_x0000_s122913"
  type="#_x0000_t13" style='position:absolute;left:286.25pt;top:100pt;width:17pt;
  height:17pt;mso-wrap-style:none;v-text-anchor:middle' fillcolor="black"
  strokecolor="white [1]">
  <v:shadow color="#bb5f03 [2]"/>
  <p:animation number="22" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s122913" src="slide0070_image081.gif" style='position:absolute;
 top:18.19%;left:39.73%;width:2.78%;height:4.24%'><![endif]><v:shapetype id="_x0000_t88"
  coordsize="21600,21600" o:spt="88" adj="1800,10800" path="m,qx10800@0l10800@2qy21600@11,10800@3l10800@1qy,21600e"
  filled="f">
  <v:formulas>
   <v:f eqn="val #0"/>
   <v:f eqn="sum 21600 0 #0"/>
   <v:f eqn="sum #1 0 #0"/>
   <v:f eqn="sum #1 #0 0"/>
   <v:f eqn="prod #0 9598 32768"/>
   <v:f eqn="sum 21600 0 @4"/>
   <v:f eqn="sum 21600 0 #1"/>
   <v:f eqn="min #1 @6"/>
   <v:f eqn="prod @7 1 2"/>
   <v:f eqn="prod #0 2 1"/>
   <v:f eqn="sum 21600 0 @9"/>
   <v:f eqn="val #1"/>
  </v:formulas>
  <v:path arrowok="t" o:connecttype="custom" o:connectlocs="0,0;21600,@11;0,21600"
   textboxrect="0,@4,7637,@5"/>
  <v:handles>
   <v:h position="center,#0" yrange="0,@8"/>
   <v:h position="bottomRight,#1" yrange="@9,@10"/>
  </v:handles>
 </v:shapetype><v:shape id="_x0000_s122914" type="#_x0000_t88" style='position:absolute;
  left:569.75pt;top:88.625pt;width:39.75pt;height:408.125pt;mso-wrap-style:none;
  v-text-anchor:middle' fillcolor="#f90 [4]" strokeweight="3pt">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <p:animation number="23" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s122914" src="slide0070_image082.gif" style='position:absolute;
 top:16.07%;left:78.94%;width:6.22%;height:76.5%'><![endif]></p:slide></div>

<p:animation number="-2091553261"/><oa:par id="TimeNode0" dur="indefinite"
 restart="never" p:nodeType="timingRoot">
 <oa:seq id="TimeNode1" dur="indefinite" prev="document.onpptprev"
  next="document.onpptnext" concurrent="enabled" nextAction="seek"
  p:nodeType="mainSeq">
  <oa:par id="TimeNode2" begin="indefinite;TimeNode1.onbegin" fill="hold">
   <oa:par id="TimeNode3" begin="0.0" fill="hold">
    <oa:par id="TimeNode4" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode5" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s122884" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode6" dur="2.0" targetElement="_x0000_s122884"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode7" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode8" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s122884_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode9" dur="2.0"
      targetElement="_x0000_s122884_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode10" begin="2.0" fill="hold">
    <oa:iterate targetElement="_x0000_s122885" id="TimeNode11" o:presetID="ppt_31"
     o:presetClass="entrance" o:presetSubType="0x0" begin="0.0" fill="hold"
     p:nodeType="afterEffect" iterateType="byLetter" iterateInterval="5.0%">
     <oa:set id="TimeNode12" begin="0.0" dur="0.001" fill="hold"
      attributeName="style.visibility" to="visible"/>
     <oa:animate id="TimeNode13" dur="1.0" fill="hold" attributeName="ppt_w"
      calcmode="linear" valueType="number" keyTimes="0.0;1.0"
      values="0.0;#ppt_w"/>
     <oa:animate id="TimeNode14" dur="1.0" fill="hold" attributeName="ppt_h"
      calcmode="linear" valueType="number" keyTimes="0.0;1.0"
      values="0.0;#ppt_h"/>
     <oa:animate id="TimeNode15" dur="1.0" fill="hold"
      attributeName="style.rotation" calcmode="linear" valueType="number"
      keyTimes="0.0;1.0" values="90.0;0.0"/>
     <oa:animateFilter id="TimeNode16" dur="1.0" transition="in" filter="fade"/>
    </oa:iterate>
   </oa:par>
   <oa:par id="TimeNode17" begin="3.0" fill="hold">
    <oa:par id="TimeNode18" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode19" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s122887" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode20" dur="0.5" targetElement="_x0000_s122887"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode21" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode22" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s122887_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode23" dur="0.5"
      targetElement="_x0000_s122887_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode24" begin="3.5" fill="hold">
    <oa:par id="TimeNode25" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode26" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s122889" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode27" dur="0.5" targetElement="_x0000_s122889"
      transition="in" filter="wipe(left)"/>
    </oa:par>
   </oa:par>
   <oa:par id="TimeNode28" begin="4.0" fill="hold">
    <oa:par id="TimeNode29" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode30" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s122908" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode31" dur="0.5" targetElement="_x0000_s122908"
      transition="in" filter="wipe(left)"/>
    </oa:par>
   </oa:par>
   <oa:par id="TimeNode32" begin="4.5" fill="hold">
    <oa:par id="TimeNode33" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode34" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s122895" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode35" dur="0.5" targetElement="_x0000_s122895"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode36" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode37" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s122895_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode38" dur="0.5"
      targetElement="_x0000_s122895_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode39" begin="5.0" fill="hold">
    <oa:par id="TimeNode40" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode41" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s122890" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode42" dur="0.5" targetElement="_x0000_s122890"
      transition="in" filter="wipe(left)"/>
    </oa:par>
   </oa:par>
   <oa:par id="TimeNode43" begin="5.5" fill="hold">
    <oa:par id="TimeNode44" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode45" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s122896" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode46" dur="0.5" targetElement="_x0000_s122896"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode47" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode48" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s122896_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode49" dur="0.5"
      targetElement="_x0000_s122896_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode50" begin="6.0" fill="hold">
    <oa:par id="TimeNode51" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode52" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s122909" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode53" dur="0.5" targetElement="_x0000_s122909"
      transition="in" filter="wipe(left)"/>
    </oa:par>
   </oa:par>
   <oa:par id="TimeNode54" begin="6.5" fill="hold">
    <oa:par id="TimeNode55" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode56" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s122891" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode57" dur="0.5" targetElement="_x0000_s122891"
      transition="in" filter="wipe(left)"/>
    </oa:par>
   </oa:par>
   <oa:par id="TimeNode58" begin="7.0" fill="hold">
    <oa:par id="TimeNode59" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode60" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s122897" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode61" dur="0.5" targetElement="_x0000_s122897"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode62" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode63" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s122897_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode64" dur="0.5"
      targetElement="_x0000_s122897_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode65" begin="7.5" fill="hold">
    <oa:par id="TimeNode66" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode67" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s122910" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode68" dur="0.5" targetElement="_x0000_s122910"
      transition="in" filter="wipe(left)"/>
    </oa:par>
   </oa:par>
   <oa:par id="TimeNode69" begin="8.0" fill="hold">
    <oa:par id="TimeNode70" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode71" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s122892" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode72" dur="0.5" targetElement="_x0000_s122892"
      transition="in" filter="wipe(left)"/>
    </oa:par>
   </oa:par>
   <oa:par id="TimeNode73" begin="8.5" fill="hold">
    <oa:par id="TimeNode74" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode75" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s122898" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode76" dur="0.5" targetElement="_x0000_s122898"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode77" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode78" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s122898_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode79" dur="0.5"
      targetElement="_x0000_s122898_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode80" begin="9.0" fill="hold">
    <oa:par id="TimeNode81" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode82" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s122911" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode83" dur="0.5" targetElement="_x0000_s122911"
      transition="in" filter="wipe(left)"/>
    </oa:par>
   </oa:par>
   <oa:par id="TimeNode84" begin="9.5" fill="hold">
    <oa:par id="TimeNode85" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode86" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s122893" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode87" dur="0.5" targetElement="_x0000_s122893"
      transition="in" filter="wipe(left)"/>
    </oa:par>
   </oa:par>
   <oa:par id="TimeNode88" begin="10.0" fill="hold">
    <oa:par id="TimeNode89" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode90" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s122899" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode91" dur="0.5" targetElement="_x0000_s122899"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode92" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode93" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s122899_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode94" dur="0.5"
      targetElement="_x0000_s122899_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode95" begin="10.5" fill="hold">
    <oa:par id="TimeNode96" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode97" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s122912" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode98" dur="0.5" targetElement="_x0000_s122912"
      transition="in" filter="wipe(left)"/>
    </oa:par>
   </oa:par>
   <oa:par id="TimeNode99" begin="11.0" fill="hold">
    <oa:par id="TimeNode100" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode101" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s122894" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode102" dur="0.5" targetElement="_x0000_s122894"
      transition="in" filter="wipe(left)"/>
    </oa:par>
   </oa:par>
   <oa:par id="TimeNode103" begin="11.5" fill="hold">
    <oa:par id="TimeNode104" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode105" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s122900" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode106" dur="0.5" targetElement="_x0000_s122900"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode107" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode108" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s122900_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode109" dur="0.5"
      targetElement="_x0000_s122900_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode110" begin="12.0" fill="hold">
    <oa:par id="TimeNode111" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode112" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s122913" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode113" dur="0.5" targetElement="_x0000_s122913"
      transition="in" filter="wipe(left)"/>
    </oa:par>
   </oa:par>
   <oa:par id="TimeNode114" begin="12.5" fill="hold">
    <oa:par id="TimeNode115" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode116" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s122914" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode117" dur="0.5" targetElement="_x0000_s122914"
      transition="in" filter="wipe(left)"/>
    </oa:par>
   </oa:par>
   <oa:par id="TimeNode118" begin="13.0" fill="hold">
    <oa:par id="TimeNode119" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x4" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode120" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s122901" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode121" dur="2.0" targetElement="_x0000_s122901"
      transition="in" filter="wipe(down)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode122" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x4" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode123" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s122901_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode124" dur="2.0"
      targetElement="_x0000_s122901_AllText" transition="in" filter="wipe(down)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode125" begin="15.0" fill="hold">
    <oa:par id="TimeNode126" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x1" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode127" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s122906" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode128" dur="0.5" targetElement="_x0000_s122906"
      transition="in" filter="wipe(up)"/>
    </oa:par>
   </oa:par>
   <oa:par id="TimeNode129" begin="15.5" fill="hold">
    <oa:par id="TimeNode130" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x1" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode131" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s122905" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode132" dur="0.5" targetElement="_x0000_s122905"
      transition="in" filter="wipe(up)"/>
    </oa:par>
   </oa:par>
   <oa:par id="TimeNode133" begin="16.0" fill="hold">
    <oa:par id="TimeNode134" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x1" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode135" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s122904" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode136" dur="0.5" targetElement="_x0000_s122904"
      transition="in" filter="wipe(up)"/>
    </oa:par>
   </oa:par>
   <oa:par id="TimeNode137" begin="16.5" fill="hold">
    <oa:par id="TimeNode138" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x1" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode139" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s122903" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode140" dur="0.5" targetElement="_x0000_s122903"
      transition="in" filter="wipe(up)"/>
    </oa:par>
   </oa:par>
   <oa:par id="TimeNode141" begin="17.0" fill="hold">
    <oa:par id="TimeNode142" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x1" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode143" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s122902" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode144" dur="0.5" targetElement="_x0000_s122902"
      transition="in" filter="wipe(up)"/>
    </oa:par>
   </oa:par>
  </oa:par>
 </oa:seq>
</oa:par>
<![if ppt]>
<oa:buildParagraph targetElement="_x0000_s122884" groupID="0" build="asAWhole"
 buildLevel="1" reverse="false" buildAdvance="onclick" userSetAnimBgd="false"/><oa:buildParagraph
 targetElement="_x0000_s122887" groupID="0" build="asAWhole" buildLevel="1"
 reverse="false" buildAdvance="onclick" userSetAnimBgd="false"/><oa:buildParagraph
 targetElement="_x0000_s122895" groupID="0" build="asAWhole" buildLevel="1"
 alsoAnimate="background" reverse="false" buildAdvance="onclick"
 userSetAnimBgd="false"/><oa:buildParagraph targetElement="_x0000_s122896"
 groupID="0" build="asAWhole" buildLevel="1" alsoAnimate="background"
 reverse="false" buildAdvance="onclick" userSetAnimBgd="false"/><oa:buildParagraph
 targetElement="_x0000_s122897" groupID="0" build="asAWhole" buildLevel="1"
 alsoAnimate="background" reverse="false" buildAdvance="onclick"
 userSetAnimBgd="false"/><oa:buildParagraph targetElement="_x0000_s122898"
 groupID="0" build="asAWhole" buildLevel="1" alsoAnimate="background"
 reverse="false" buildAdvance="onclick" userSetAnimBgd="false"/><oa:buildParagraph
 targetElement="_x0000_s122899" groupID="0" build="asAWhole" buildLevel="1"
 alsoAnimate="background" reverse="false" buildAdvance="onclick"
 userSetAnimBgd="false"/><oa:buildParagraph targetElement="_x0000_s122900"
 groupID="0" build="asAWhole" buildLevel="1" alsoAnimate="background"
 reverse="false" buildAdvance="onclick" userSetAnimBgd="false"/><oa:buildParagraph
 targetElement="_x0000_s122901" groupID="0" build="asAWhole" buildLevel="1"
 alsoAnimate="background" reverse="false" buildAdvance="onclick"
 userSetAnimBgd="false"/>
<![endif]>
</body>

</html>
