<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=us-ascii">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 11">
<link id=Main-File rel=Main-File href="../CID_valle_sur_ilmc.htm">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>PIDES</title>
<meta name=Description content="22/04/2005">
<link rel=Stylesheet href="master04_stylesheet.css">
<!--[if gte IE 5]>
<object id=MSOANIM classid="CLSID:A4639D2F-774E-11D3-A490-00C04F6843FB"></object>
<object id=MSOTIME classid="CLSID:A4639D29-774E-11D3-A490-00C04F6843FB"></object>
<![endif]-->
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:76% !important;}
-->
</style>
<style>
<!--
oa\:* { BEHAVIOR: url(#MSOANIM#ANIM) url(#MSOTIME#TIME) }
oa\:par,oa\:seq,oa\:iterate { BEHAVIOR:url(#MSOTIME) }
oa\:video,oa\:audio {BEHAVIOR:url(#MSOTIME) url(#MSOTIME#MEDIA) }
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><script><!--
g_animItemsToHide=new Array("_x0000_s137227_AllText","_x0000_s137227","_x0000_s137230_AllText","_x0000_s137230","_x0000_s137229_AllText","_x0000_s137229","_x0000_s137228_AllText","_x0000_s137228","_x0000_s137226_AllText","_x0000_s137226","_x0000_s137225_AllText","_x0000_s137225","_x0000_s137219_AllText","_x0000_s137219");

//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><p:slidetransition advancetime="0" speed="1"
 effect="randomBar" direction="vertical" flag="1"/><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="135"/>
</o:shapelayout>
</head>

<body lang=ES-MODERN style='margin:0px;background-color:#993300'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()" oa:clockstart="onstart">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:755px;height:566px;font-size:16px;background-color:#993300;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden;filter:revealtrans(Duration=2, Transition=22)'><p:slide
 coordsize="720,540"
 colors="#993300,#ffffff,#bb5f03,#feec94,#ff9900,#b76a03,#ffffcc,#cccc00"
 masterhref="master04.xml">
 <p:shaperange href="master04.xml#_x0000_s118785"/><![if !vml]><img
 src="master04_background.gif" v:shapes="_x0000_s118785" style='position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><![endif]><![if !ppt]><p:shaperange
  href="master04.xml#_x0000_s118786"/><![if !vml]><img border=0
 v:shapes="_x0000_s118786,_x0000_s118787,_x0000_s118788,_x0000_s118789,_x0000_s118790,_x0000_s118791,_x0000_s118792,_x0000_s118793,_x0000_s118794,_x0000_s118795,_x0000_s118796,_x0000_s118797,_x0000_s118798,_x0000_s118799,_x0000_s118800,_x0000_s118801,_x0000_s118802,_x0000_s118803,_x0000_s118804"
 src="master04_image015.gif" style='position:absolute;top:0%;left:0%;
 width:100.26%;height:101.41%'><![endif]><p:shaperange
  href="master04.xml#_x0000_s118809"/>
 <div v:shape="_x0000_s118809" class=O>
 <div style='text-align:right;mso-char-wrap:1;mso-kinsoku-overflow:1;
 position:absolute;top:92.04%;left:72.71%;width:21.45%;height:3.0%'><span
 lang=ES-MODERN style='font-size:58%;text-shadow:auto;mso-field-code:meta16'>24</span><span
 lang=ES-MODERN style='font-size:58%;text-shadow:auto;mso-special-format:lastCR;
 display:none'>&#13;</span></div>
 </div>
 <![endif]><v:shapetype id="_x0000_t202" coordsize="21600,21600" o:spt="202"
  path="m,l,21600r21600,l21600,xe">
  <v:stroke joinstyle="miter"/>
  <v:path gradientshapeok="t" o:connecttype="rect"/>
 </v:shapetype><v:shape id="_x0000_s137219" type="#_x0000_t202" style='position:absolute;
  left:-2.875pt;top:3.5pt;width:722.875pt;height:36pt' fillcolor="#930 [0]"
  stroked="f" strokecolor="white [1]">
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="2" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s137219" src="slide0084_image179.gif" style='position:absolute;
 top:.7%;left:-.39%;width:100.66%;height:7.06%'><![endif]>
 <div id="_x0000_s137219_AllText" v:shape="_x0000_s137219" class=O
 style='position:absolute;top:1.59%;left:.66%;width:98.54%;height:5.12%;
 white-space:nowrap'>
 <div style='text-align:center;position:absolute;top:0%;left:0%;width:100.0%;
 height:100.0%'><span lang=ES-MX style='font-family:Arial;text-shadow:auto'><b>PLANES
 INTEGRALES DE DESARROLLO</b></span><span lang=ES-MODERN style='font-size:75%'>
 </span><span style='font-size:75%;mso-special-format:lastCR;display:none'>&#13;</span></div>
 </div>
 <v:shape id="_x0000_s137225" type="#_x0000_t202" style='position:absolute;
  left:42.5pt;top:116.875pt;width:657.75pt;height:55.25pt' filled="f"
  fillcolor="#f90 [4]" stroked="f" strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="3" delay="0" type="object" effect="wipe"
   direction="right" flag="1028"/></v:shape>
 <div id="_x0000_s137225_AllText" v:shape="_x0000_s137225" class=O
 style='position:absolute;top:22.61%;left:6.88%;width:106.88%;height:8.83%;
 white-space:nowrap'>
 <div style='mso-line-spacing:"100 50 0";mso-char-wrap:1;mso-kinsoku-overflow:
 1'><span style='position:absolute;top:0%;left:0%;width:100.0%;height:48.0%'><span
 lang=ES-MX style='font-family:Arial;font-size:83%'><b>Cada municipalidad ha
 elaborado en forma participativa sus planes </b></span></span><span
 style='position:absolute;top:50.0%;left:0%;width:83.64%;height:48.0%'><span
 lang=ES-MX style='font-family:Arial;font-size:83%'><b>integrales de desarrollo
 local.</b></span><span lang=ES-MODERN style='font-family:Arial;font-size:83%;
 mso-special-format:lastCR;display:none'><b>&#13;</b></span></span></div>
 </div>
 <v:shape id="_x0000_s137226" type="#_x0000_t202" style='position:absolute;
  left:48.125pt;top:196.25pt;width:448pt;height:79.25pt' filled="f"
  fillcolor="#f90 [4]" stroked="f" strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="4" delay="1000" type="object" effect="wipe"
   direction="right" flag="1028"/></v:shape>
 <div id="_x0000_s137226_AllText" v:shape="_x0000_s137226" class=O
 style='position:absolute;top:37.27%;left:7.68%;width:69.53%;height:13.25%;
 white-space:nowrap'>
 <div style='mso-line-spacing:"100 50 0";mso-char-wrap:1;mso-kinsoku-overflow:
 1'><span style='position:absolute;top:0%;left:0%;width:97.9%;height:32.0%'><span
 lang=ES-MX style='font-family:Arial;font-size:83%'><b>A partir de los planes
 se han elaborado los </b></span></span><span style='position:absolute;
 top:33.33%;left:0%;width:100.0%;height:32.0%'><span lang=ES-MX
 style='font-family:Arial;font-size:83%'><b>presupuestos participativos, en la
 siguiente </b></span></span><span style='position:absolute;top:66.66%;
 left:0%;width:86.66%;height:32.0%'><span lang=ES-MX style='font-family:Arial;
 font-size:83%'><b>secuencia:</b></span><span lang=ES-MODERN style='font-family:
 Arial;font-size:83%;mso-special-format:lastCR;display:none'><b>&#13;</b></span></span></div>
 </div>
 <v:shape id="_x0000_s137227" type="#_x0000_t202" style='position:absolute;
  left:66pt;top:420pt;width:459.375pt;height:103.25pt' filled="f" fillcolor="#f90 [4]"
  stroked="f" strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="8" delay="0" type="object" effect="wipe"
   direction="right" flag="1028"/></v:shape>
 <div id="_x0000_s137227_AllText" v:shape="_x0000_s137227" class=O
 style='position:absolute;top:78.62%;left:10.19%;width:70.06%;height:17.66%;
 white-space:nowrap'>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1'><span style='position:
 absolute;top:0%;left:1.32%;width:98.67%;height:24.0%'><span style='font-family:
 Arial;font-size:83%;color:yellow'><span style='mso-special-format:bullet;
 position:absolute;left:-1.34%'>&#8226;</span></span><span lang=ES-MX
 style='font-family:Arial;font-size:83%;color:yellow'><b>Taller de
 calificaci&oacute;n para la priorizaci&oacute;n de </b></span></span><span
 style='position:absolute;top:26.0%;left:0%;width:88.27%;height:24.0%'><span
 lang=ES-MX style='font-family:Arial;font-size:83%;color:yellow'><b>programas y
 proyectos</b></span><span lang=ES-MODERN style='font-family:Arial;font-size:
 83%;color:yellow'><b> &#13;</b></span></span></div>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;
 top:51.0%;left:0%;width:88.27%;height:24.0%'><span style='position:absolute;
 top:0%;left:1.49%;width:98.5%;height:100.0%'><span style='font-family:Arial;
 font-size:83%;color:yellow;visibility:hidden'><span style='mso-special-format:
 bullet;position:absolute;left:-1.52%'>&#8226;</span></span><span
 lang=ES-MODERN style='font-family:Arial;font-size:83%;color:yellow;display:
 none'><b>&#13;</b></span></span></div>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;
 top:76.0%;left:0%;width:88.27%;height:24.0%'><span style='position:absolute;
 top:0%;left:1.49%;width:98.5%;height:100.0%'><span style='font-family:Arial;
 font-size:83%;color:yellow'><span style='mso-special-format:bullet;position:
 absolute;left:-1.52%'>&#8226;</span></span><span lang=ES-MODERN
 style='font-family:Arial;font-size:83%;color:yellow'><b>Talleres informativos</b></span></span></div>
 </div>
 <v:shape id="_x0000_s137228" type="#_x0000_t202" style='position:absolute;
  left:59.5pt;top:277.125pt;width:533pt;height:55.25pt;mso-wrap-style:none;
  v-text-anchor:top-baseline' filled="f" fillcolor="#f90 [4]" stroked="f"
  strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="5" delay="0" type="object" effect="wipe"
   direction="right" afterbuild="dim" dimcolor="schemeText" flag="1028"/></v:shape>
 <div id="_x0000_s137228_AllText" v:shape="_x0000_s137228" class=O
 style='position:absolute;top:52.29%;left:9.27%;width:86.35%;height:8.83%;
 white-space:nowrap'>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;
 top:0%;left:0%;width:100.0%;height:48.0%'><span style='position:absolute;
 top:0%;left:1.07%;width:98.92%;height:100.0%'><span style='font-family:Arial;
 font-size:83%;color:yellow'><span style='mso-special-format:bullet;position:
 absolute;left:-1.08%'>&#8226;</span></span><span lang=ES-MX style='font-family:
 Arial;font-size:83%;color:yellow'><b>Taller informativo, organizativo y de
 socializaci&oacute;n del &#13;</b></span></span></div>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;
 top:50.0%;left:0%;width:83.58%;height:48.0%'><span lang=ES-MX
 style='font-family:Arial;font-size:83%;color:yellow'><b><span
 style='mso-spacerun:yes'>&nbsp; </span>proceso en los CDDs</b></span><span
 lang=ES-MODERN style='font-family:Arial;font-size:83%;color:yellow;mso-special-format:
 lastCR;display:none'>&#13;</span></div>
 </div>
 <v:shape id="_x0000_s137229" type="#_x0000_t202" style='position:absolute;
  left:59.5pt;top:339.5pt;width:332.625pt;height:31.25pt;mso-wrap-style:none;
  v-text-anchor:top-baseline' filled="f" fillcolor="#f90 [4]" stroked="f"
  strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="6" delay="0" type="object" effect="wipe"
   direction="right" afterbuild="dim" dimcolor="schemeText" flag="1028"/></v:shape>
 <div id="_x0000_s137229_AllText" v:shape="_x0000_s137229" class=O
 style='position:absolute;top:63.78%;left:9.27%;width:52.98%;height:4.24%;
 white-space:nowrap'>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><span style='position:absolute;
 top:0%;left:1.75%;width:98.25%;height:100.0%'><span style='font-family:Arial;
 font-size:83%;color:yellow'><span style='mso-special-format:bullet;position:
 absolute;left:-1.78%'>&#8226;</span></span><span lang=ES-MX style='font-family:
 Arial;font-size:83%;color:yellow'><b>Conformaci&oacute;n de equipo
 t&eacute;cnico</b></span><span lang=ES-MODERN style='font-family:Arial;
 font-size:83%;color:yellow;mso-special-format:lastCR;display:none'><b>&#13;</b></span></span></div>
 </div>
 <v:shape id="_x0000_s137230" type="#_x0000_t202" style='position:absolute;
  left:66pt;top:378pt;width:378.875pt;height:31.25pt;mso-wrap-style:none;
  v-text-anchor:top-baseline' filled="f" fillcolor="#f90 [4]" stroked="f"
  strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="7" delay="0" type="object" effect="wipe"
   direction="right" afterbuild="dim" dimcolor="schemeText" flag="1028"/></v:shape>
 <div id="_x0000_s137230_AllText" v:shape="_x0000_s137230" class=O
 style='position:absolute;top:70.84%;left:10.19%;width:60.66%;height:4.24%;
 white-space:nowrap'>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><span style='position:absolute;
 top:0%;left:1.52%;width:98.47%;height:100.0%'><span style='font-family:Arial;
 font-size:83%;color:yellow'><span style='mso-special-format:bullet;position:
 absolute;left:-1.55%'>&#8226;</span></span><span lang=ES-MX style='font-family:
 Arial;font-size:83%;color:yellow'><b>Definici&oacute;n de criterios de
 priorizaci&oacute;n</b></span><span lang=ES-MODERN style='font-family:Arial;
 font-size:83%;color:yellow;mso-special-format:lastCR;display:none'><b>&#13;</b></span></span></div>
 </div>
</p:slide></div>

<p:animation number="-209183979"/><oa:par id="TimeNode0" dur="indefinite"
 restart="never" p:nodeType="timingRoot">
 <oa:seq id="TimeNode1" dur="indefinite" prev="document.onpptprev"
  next="document.onpptnext" concurrent="enabled" nextAction="seek"
  p:nodeType="mainSeq">
  <oa:par id="TimeNode2" begin="indefinite;TimeNode1.onbegin" fill="hold">
   <oa:par id="TimeNode3" begin="0.0" fill="hold">
    <oa:par id="TimeNode4" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode5" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s137219" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode6" dur="0.5" targetElement="_x0000_s137219"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode7" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode8" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s137219_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode9" dur="0.5"
      targetElement="_x0000_s137219_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode10" begin="0.5" fill="hold">
    <oa:par id="TimeNode11" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode12" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s137225" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode13" dur="2.0" targetElement="_x0000_s137225"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode14" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode15" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s137225_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode16" dur="2.0"
      targetElement="_x0000_s137225_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode17" begin="2.5" fill="hold">
    <oa:par id="TimeNode18" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="1.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode19" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s137226" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode20" dur="2.0" targetElement="_x0000_s137226"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode21" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="1.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode22" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s137226_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode23" dur="2.0"
      targetElement="_x0000_s137226_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode24" begin="5.5" fill="hold">
    <oa:par id="TimeNode25" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode26" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s137228" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode27" dur="0.5" targetElement="_x0000_s137228"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode28" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode29" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s137228_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode30" dur="0.5"
      targetElement="_x0000_s137228_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode31" begin="6.0" fill="hold">
    <oa:par id="TimeNode32" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode33" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s137229" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode34" dur="1.0" targetElement="_x0000_s137229"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode35" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode36" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s137229_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode37" dur="1.0"
      targetElement="_x0000_s137229_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]><oa:animateColor id="TimeNode38" begin="0.0" dur="0.001"
     fill="hold" o:display="hidden" o:master="TimeNode25" o:masterRel="nextClick"
     o:afterEffect="true" p:nodeType="withEffect" targetElement="_x0000_s137228"
     attributeName="ppt_c" override="childStyle" to="#ffffff [1]"
     colorSpace="rgb" direction="clockwise"/>
    <![if !ppt]><oa:animateColor id="TimeNode39" begin="0.0" dur="0.001"
     fill="hold" o:display="hidden" o:masterRel="nextClick" o:afterEffect="true"
     p:nodeType="withEffect" targetElement="_x0000_s137228_AllText"
     attributeName="ppt_c" override="childStyle" to="#ffffff [1]"
     colorSpace="rgb" direction="clockwise"/>
    <![endif]></oa:par>
   <oa:par id="TimeNode40" begin="7.0" fill="hold">
    <oa:par id="TimeNode41" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode42" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s137230" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode43" dur="0.5" targetElement="_x0000_s137230"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode44" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode45" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s137230_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode46" dur="0.5"
      targetElement="_x0000_s137230_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]><oa:animateColor id="TimeNode47" begin="0.0" dur="0.001"
     fill="hold" o:display="hidden" o:master="TimeNode32" o:masterRel="nextClick"
     o:afterEffect="true" p:nodeType="withEffect" targetElement="_x0000_s137229"
     attributeName="ppt_c" override="childStyle" to="#ffffff [1]"
     colorSpace="rgb" direction="clockwise"/>
    <![if !ppt]><oa:animateColor id="TimeNode48" begin="0.0" dur="0.001"
     fill="hold" o:display="hidden" o:masterRel="nextClick" o:afterEffect="true"
     p:nodeType="withEffect" targetElement="_x0000_s137229_AllText"
     attributeName="ppt_c" override="childStyle" to="#ffffff [1]"
     colorSpace="rgb" direction="clockwise"/>
    <![endif]></oa:par>
   <oa:par id="TimeNode49" begin="7.5" fill="hold">
    <oa:par id="TimeNode50" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode51" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s137227" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode52" dur="0.5" targetElement="_x0000_s137227"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode53" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode54" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s137227_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode55" dur="0.5"
      targetElement="_x0000_s137227_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]><oa:animateColor id="TimeNode56" begin="0.0" dur="0.001"
     fill="hold" o:display="hidden" o:master="TimeNode41" o:masterRel="nextClick"
     o:afterEffect="true" p:nodeType="withEffect" targetElement="_x0000_s137230"
     attributeName="ppt_c" override="childStyle" to="#ffffff [1]"
     colorSpace="rgb" direction="clockwise"/>
    <![if !ppt]><oa:animateColor id="TimeNode57" begin="0.0" dur="0.001"
     fill="hold" o:display="hidden" o:masterRel="nextClick" o:afterEffect="true"
     p:nodeType="withEffect" targetElement="_x0000_s137230_AllText"
     attributeName="ppt_c" override="childStyle" to="#ffffff [1]"
     colorSpace="rgb" direction="clockwise"/>
    <![endif]></oa:par>
  </oa:par>
 </oa:seq>
</oa:par>
<![if ppt]>
<oa:buildParagraph targetElement="_x0000_s137219" groupID="0" build="asAWhole"
 buildLevel="1" alsoAnimate="background" reverse="false" buildAdvance="onclick"
 userSetAnimBgd="false"/><oa:buildParagraph targetElement="_x0000_s137225"
 groupID="0" build="asAWhole" buildLevel="1" reverse="false"
 buildAdvance="onclick" userSetAnimBgd="false"/><oa:buildParagraph
 targetElement="_x0000_s137226" groupID="0" build="asAWhole" buildLevel="1"
 reverse="false" buildAdvance="onclick" userSetAnimBgd="false"/><oa:buildParagraph
 targetElement="_x0000_s137227" groupID="0" build="asAWhole" buildLevel="1"
 reverse="false" buildAdvance="onclick" userSetAnimBgd="false"/><oa:buildParagraph
 targetElement="_x0000_s137228" groupID="0" build="asAWhole" buildLevel="1"
 reverse="false" buildAdvance="onclick" userSetAnimBgd="false"/><oa:buildParagraph
 targetElement="_x0000_s137229" groupID="0" build="asAWhole" buildLevel="1"
 reverse="false" buildAdvance="onclick" userSetAnimBgd="false"/><oa:buildParagraph
 targetElement="_x0000_s137230" groupID="0" build="asAWhole" buildLevel="1"
 reverse="false" buildAdvance="onclick" userSetAnimBgd="false"/>
<![endif]>
</body>

</html>
