<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=us-ascii">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 11">
<link id=Main-File rel=Main-File href="../CID_valle_sur_ilmc.htm">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>PIDES</title>
<meta name=Description content="22/04/2005">
<link rel=Stylesheet href="master04_stylesheet.css">
<!--[if gte IE 5]>
<object id=MSOANIM classid="CLSID:A4639D2F-774E-11D3-A490-00C04F6843FB"></object>
<object id=MSOTIME classid="CLSID:A4639D29-774E-11D3-A490-00C04F6843FB"></object>
<![endif]-->
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:76% !important;}
-->
</style>
<style>
<!--
oa\:* { BEHAVIOR: url(#MSOANIM#ANIM) url(#MSOTIME#TIME) }
oa\:par,oa\:seq,oa\:iterate { BEHAVIOR:url(#MSOTIME) }
oa\:video,oa\:audio {BEHAVIOR:url(#MSOTIME) url(#MSOTIME#MEDIA) }
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><script><!--
g_animItemsToHide=new Array("_x0000_s129040","_x0000_s129030_AllText","_x0000_s129030","_x0000_s129031_AllText","_x0000_s129031","_x0000_s129029_AllText","_x0000_s129029","_x0000_s129028_AllText","_x0000_s129028");

//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><p:slidetransition advancetime="0" speed="1"
 effect="randomBar" direction="vertical" flag="1"/><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="127"/>
 <o:regrouptable v:ext="edit">
  <o:entry new="1" old="0"/>
 </o:regrouptable>
</o:shapelayout>
</head>

<body lang=ES-MODERN style='margin:0px;background-color:#993300'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()" oa:clockstart="onstart">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:755px;height:566px;font-size:16px;background-color:#993300;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden;filter:revealtrans(Duration=2, Transition=22)'><p:slide
 coordsize="720,540"
 colors="#993300,#ffffff,#bb5f03,#feec94,#ff9900,#b76a03,#ffffcc,#cccc00"
 masterhref="master04.xml">
 <p:shaperange href="master04.xml#_x0000_s118785"/><![if !vml]><img
 src="master04_background.gif" v:shapes="_x0000_s118785" style='position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><![endif]><![if !ppt]><p:shaperange
  href="master04.xml#_x0000_s118786"/><![if !vml]><img border=0
 v:shapes="_x0000_s118786,_x0000_s118787,_x0000_s118788,_x0000_s118789,_x0000_s118790,_x0000_s118791,_x0000_s118792,_x0000_s118793,_x0000_s118794,_x0000_s118795,_x0000_s118796,_x0000_s118797,_x0000_s118798,_x0000_s118799,_x0000_s118800,_x0000_s118801,_x0000_s118802,_x0000_s118803,_x0000_s118804"
 src="master04_image015.gif" style='position:absolute;top:0%;left:0%;
 width:100.26%;height:101.41%'><![endif]><p:shaperange
  href="master04.xml#_x0000_s118809"/>
 <div v:shape="_x0000_s118809" class=O>
 <div style='text-align:right;mso-char-wrap:1;mso-kinsoku-overflow:1;
 position:absolute;top:92.04%;left:72.71%;width:21.45%;height:3.0%'><span
 lang=ES-MODERN style='font-size:58%;text-shadow:auto;mso-field-code:meta16'>16</span><span
 lang=ES-MODERN style='font-size:58%;text-shadow:auto;mso-special-format:lastCR;
 display:none'>&#13;</span></div>
 </div>
 <![endif]><v:shapetype id="_x0000_t202" coordsize="21600,21600" o:spt="202"
  path="m,l,21600r21600,l21600,xe">
  <v:stroke joinstyle="miter"/>
  <v:path gradientshapeok="t" o:connecttype="rect"/>
 </v:shapetype><v:shape id="_x0000_s129028" type="#_x0000_t202" style='position:absolute;
  left:-2.875pt;top:3.5pt;width:722.875pt;height:40.875pt' fillcolor="#930 [0]"
  stroked="f" strokecolor="white [1]">
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="2" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s129028" src="slide0076_image145.gif" style='position:absolute;
 top:.7%;left:-.39%;width:100.66%;height:7.95%'><![endif]>
 <div id="_x0000_s129028_AllText" v:shape="_x0000_s129028" class=O
 style='position:absolute;top:1.59%;left:.66%;width:98.54%;height:6.0%;
 white-space:nowrap'>
 <div style='text-align:center;position:absolute;top:0%;left:0%;width:100.0%;
 height:100.0%'><span style='font-family:Arial;font-size:117%;text-shadow:auto;
 color:#FFFFCC;mso-color-index:6'><b>ESPACIOS DE CONCERTACION</b></span><span
 style='font-size:117%;text-shadow:auto;mso-special-format:lastCR;display:none'><b>&#13;</b></span></div>
 </div>
 <v:shape id="_x0000_s129029" type="#_x0000_t202" style='position:absolute;
  left:0;top:60.25pt;width:663.375pt;height:55.25pt' fillcolor="#930 [0]"
  stroked="f" strokecolor="white [1]">
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="3" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s129029" src="slide0076_image146.gif" style='position:absolute;
 top:11.13%;left:0%;width:92.45%;height:10.6%'><![endif]>
 <div id="_x0000_s129029_AllText" v:shape="_x0000_s129029" class=O
 style='position:absolute;top:12.01%;left:1.05%;width:106.22%;height:8.83%;
 white-space:nowrap'>
 <div style='mso-line-spacing:"100 50 0";mso-char-wrap:1;mso-kinsoku-overflow:
 1'><span style='position:absolute;top:0%;left:0%;width:100.0%;height:48.0%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:83%'><b>EL CID O
 COMIT&Eacute; INTERDISTRITAL DE CONCERTACION PARA EL </b></span></span><span
 style='position:absolute;top:52.0%;left:0%;width:84.91%;height:48.0%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:83%'><b>DESARROLLO DEL VALLE
 SUR DE CUSCO</b></span></span></div>
 </div>
 <v:shape id="_x0000_s129030" type="#_x0000_t202" style='position:absolute;
  left:11.375pt;top:414.875pt;width:705.875pt;height:127.25pt' filled="f"
  fillcolor="#f90 [4]" stroked="f" strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="5" delay="0" type="object" effect="wipe"
   direction="right" flag="1028"/></v:shape>
 <div id="_x0000_s129030_AllText" v:shape="_x0000_s129030" class=O
 style='position:absolute;top:77.73%;left:2.64%;width:96.15%;height:22.08%'>
 <div style='text-align:justify;mso-line-spacing:"100 50 0";mso-char-wrap:1;
 mso-kinsoku-overflow:1;position:absolute;top:0%;left:0%;width:100.0%;
 height:100.0%'><span lang=ES-PE style='font-family:Arial;font-size:83%'><b>El
 CID se ha constituido con la finalidad de analizar la problem&aacute;tica
 com&uacute;n a los cuatro distritos, generar propuestas integrales de
 soluci&oacute;n y elaborar proyectos estrat&eacute;gicos que sean ejecutados
 de manera conjunta para mejorar la calidad de vida de las poblaciones
 asentadas en nuestro territorio. </b></span><span lang=ES-MODERN
 style='font-family:Arial;font-size:83%;mso-special-format:lastCR;display:none'><b>&#13;</b></span></div>
 </div>
 <v:shape id="_x0000_s129031" type="#_x0000_t202" style='position:absolute;
  left:19.75pt;top:174.125pt;width:300.5pt;height:175.25pt' filled="f"
  fillcolor="#f90 [4]" stroked="f" strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="4" delay="0" type="object" effect="wipe" direction="down"
   flag="1028"/></v:shape>
 <div id="_x0000_s129031_AllText" v:shape="_x0000_s129031" class=O
 style='position:absolute;top:33.21%;left:3.7%;width:39.86%;height:30.91%'>
 <div style='text-align:justify;mso-line-spacing:"100 50 0";mso-char-wrap:1;
 mso-kinsoku-overflow:1;position:absolute;top:0%;left:0%;width:100.0%;
 height:100.0%'><span lang=ES-PE style='font-family:Arial;font-size:83%'><b>Es
 la m&aacute;xima instancia de concertaci&oacute;n en el proceso PIDES,<span
 style='mso-spacerun:yes'>&nbsp; </span>se constituy&oacute; en 1996<span
 style='mso-spacerun:yes'>&nbsp; </span>y est&aacute; conformado por los
 alcaldes de los<span style='mso-spacerun:yes'>&nbsp; </span>municipios de San
 Jer&oacute;nimo, Saylla,<span style='mso-spacerun:yes'>&nbsp; </span>Oropesa y
 Lucre.</b></span><span lang=ES-MODERN style='font-family:Arial;font-size:83%;
 mso-special-format:lastCR;display:none'><b>&#13;</b></span></div>
 </div>
 <v:shape id="_x0000_s129038" type="#_x0000_t202" style='position:absolute;
  left:511.625pt;top:383.375pt;width:175.125pt;height:21.625pt;
  mso-wrap-style:none;v-text-anchor:top-baseline' filled="f" fillcolor="#f90 [4]"
  stroked="f" strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
 </v:shape>
 <div v:shape="_x0000_s129038" class=O style='mso-char-wrap:1;mso-kinsoku-overflow:
 1;position:absolute;top:71.9%;left:72.05%;width:26.88%;height:2.65%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:50%'>JURAMENTACION<span
 style='mso-spacerun:yes'>&nbsp; </span>DEL<span
 style='mso-spacerun:yes'>&nbsp; </span>CID</span></div>
 <v:group id="_x0000_s129040" style='position:absolute;left:331.625pt;top:139.625pt;
  width:362.875pt;height:243.75pt' coordorigin="2653,1117" coordsize="2903,1950">
  <v:rect id="_x0000_s129036" style='position:absolute;left:2653;top:1117;
   width:2903;height:1950;mso-wrap-style:none;v-text-anchor:middle'
   o:regroupid="1" filled="f" fillcolor="black" strokecolor="#f90 [4]">
   <v:shadow color="#bb5f03 [2]"/>
  </v:rect><v:shapetype id="_x0000_t75" coordsize="21600,21600" o:spt="75"
   o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
   <v:stroke joinstyle="miter"/>
   <v:formulas>
    <v:f eqn="if lineDrawn pixelLineWidth 0"/>
    <v:f eqn="sum @0 1 0"/>
    <v:f eqn="sum 0 0 @1"/>
    <v:f eqn="prod @2 1 2"/>
    <v:f eqn="prod @3 21600 pixelWidth"/>
    <v:f eqn="prod @3 21600 pixelHeight"/>
    <v:f eqn="sum @0 0 1"/>
    <v:f eqn="prod @6 1 2"/>
    <v:f eqn="prod @7 21600 pixelWidth"/>
    <v:f eqn="sum @8 21600 0"/>
    <v:f eqn="prod @7 21600 pixelHeight"/>
    <v:f eqn="sum @10 21600 0"/>
   </v:formulas>
   <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
   <o:lock v:ext="edit" aspectratio="t"/>
  </v:shapetype><v:shape id="_x0000_s129039" type="#_x0000_t75" style='position:absolute;
   left:2699;top:1162;width:2812;height:1877'>
   <v:imagedata src="slide0076_image147.jpg" o:title="juramentacion"
    cropbottom="1520f" gain="69719f" blacklevel="-5898f"/>
  </v:shape><p:animation number="6" delay="0" type="object" effect="randomBar"
   direction="vertical" flag="17412"/></v:group><![if !vml]><img border=0
 v:shapes="_x0000_s129040,_x0000_s129036,_x0000_s129039"
 src="slide0076_image148.gif" style='position:absolute;top:25.79%;left:45.96%;
 width:50.72%;height:45.58%'><![endif]></p:slide></div>

<p:animation number="-1783739919"/><oa:par id="TimeNode0" dur="indefinite"
 restart="never" p:nodeType="timingRoot">
 <oa:seq id="TimeNode1" dur="indefinite" prev="document.onpptprev"
  next="document.onpptnext" concurrent="enabled" nextAction="seek"
  p:nodeType="mainSeq">
  <oa:par id="TimeNode2" begin="indefinite;TimeNode1.onbegin" fill="hold">
   <oa:par id="TimeNode3" begin="0.0" fill="hold">
    <oa:par id="TimeNode4" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode5" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s129028" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode6" dur="2.0" targetElement="_x0000_s129028"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode7" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode8" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s129028_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode9" dur="2.0"
      targetElement="_x0000_s129028_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode10" begin="2.0" fill="hold">
    <oa:par id="TimeNode11" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode12" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s129029" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode13" dur="2.0" targetElement="_x0000_s129029"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode14" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode15" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s129029_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode16" dur="2.0"
      targetElement="_x0000_s129029_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode17" begin="4.0" fill="hold">
    <oa:par id="TimeNode18" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x1" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode19" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s129031" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode20" dur="2.0" targetElement="_x0000_s129031"
      transition="in" filter="wipe(up)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode21" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x1" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode22" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s129031_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode23" dur="2.0"
      targetElement="_x0000_s129031_AllText" transition="in" filter="wipe(up)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode24" begin="6.0" fill="hold">
    <oa:par id="TimeNode25" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode26" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s129030" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode27" dur="1.0" targetElement="_x0000_s129030"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode28" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode29" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s129030_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode30" dur="1.0"
      targetElement="_x0000_s129030_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode31" begin="7.0" fill="hold">
    <oa:par id="TimeNode32" o:presetID="ppt_14" o:presetClass="entrance"
     o:presetSubType="0x5" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode33" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s129040" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode34" dur="2.0" targetElement="_x0000_s129040"
      transition="in" filter="randombar(vertical)"/>
    </oa:par>
   </oa:par>
  </oa:par>
 </oa:seq>
</oa:par>
<![if ppt]>
<oa:buildParagraph targetElement="_x0000_s129028" groupID="0" build="asAWhole"
 buildLevel="1" alsoAnimate="background" reverse="false" buildAdvance="onclick"
 userSetAnimBgd="false"/><oa:buildParagraph targetElement="_x0000_s129029"
 groupID="0" build="asAWhole" buildLevel="1" alsoAnimate="background"
 reverse="false" buildAdvance="onclick" userSetAnimBgd="false"/><oa:buildParagraph
 targetElement="_x0000_s129030" groupID="0" build="asAWhole" buildLevel="1"
 reverse="false" buildAdvance="onclick" userSetAnimBgd="false"/><oa:buildParagraph
 targetElement="_x0000_s129031" groupID="0" build="asAWhole" buildLevel="1"
 reverse="false" buildAdvance="onclick" userSetAnimBgd="false"/>
<![endif]>
</body>

</html>
