<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=us-ascii">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 11">
<link id=Main-File rel=Main-File href="../CID_valle_sur_ilmc.htm">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>PIDES</title>
<meta name=Description content="22/04/2005">
<link rel=Stylesheet href="master04_stylesheet.css">
<!--[if gte IE 5]>
<object id=MSOANIM classid="CLSID:A4639D2F-774E-11D3-A490-00C04F6843FB"></object>
<object id=MSOTIME classid="CLSID:A4639D29-774E-11D3-A490-00C04F6843FB"></object>
<![endif]-->
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:76% !important;}
-->
</style>
<style>
<!--
oa\:* { BEHAVIOR: url(#MSOANIM#ANIM) url(#MSOTIME#TIME) }
oa\:par,oa\:seq,oa\:iterate { BEHAVIOR:url(#MSOTIME) }
oa\:video,oa\:audio {BEHAVIOR:url(#MSOTIME) url(#MSOTIME#MEDIA) }
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><script><!--
g_animItemsToHide=new Array("_x0000_s140294_AllText","_x0000_s140294","_x0000_s140293_AllText","_x0000_s140293","_x0000_s140291_AllText","_x0000_s140291");

//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><p:slidetransition advancetime="0" speed="1"
 effect="randomBar" direction="vertical" flag="1"/>
</head>

<body lang=ES-MODERN style='margin:0px;background-color:#993300'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()" oa:clockstart="onstart">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:755px;height:566px;font-size:16px;background-color:#993300;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden;filter:revealtrans(Duration=2, Transition=22)'><p:slide
 coordsize="720,540"
 colors="#993300,#ffffff,#bb5f03,#feec94,#ff9900,#b76a03,#ffffcc,#cccc00"
 masterhref="master04.xml">
 <p:shaperange href="master04.xml#_x0000_s118785"/><![if !vml]><img
 src="master04_background.gif" v:shapes="_x0000_s118785" style='position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><![endif]><![if !ppt]><p:shaperange
  href="master04.xml#_x0000_s118786"/><![if !vml]><img border=0
 v:shapes="_x0000_s118786,_x0000_s118787,_x0000_s118788,_x0000_s118789,_x0000_s118790,_x0000_s118791,_x0000_s118792,_x0000_s118793,_x0000_s118794,_x0000_s118795,_x0000_s118796,_x0000_s118797,_x0000_s118798,_x0000_s118799,_x0000_s118800,_x0000_s118801,_x0000_s118802,_x0000_s118803,_x0000_s118804"
 src="master04_image015.gif" style='position:absolute;top:0%;left:0%;
 width:100.26%;height:101.41%'><![endif]><p:shaperange
  href="master04.xml#_x0000_s118809"/>
 <div v:shape="_x0000_s118809" class=O>
 <div style='text-align:right;mso-char-wrap:1;mso-kinsoku-overflow:1;
 position:absolute;top:92.04%;left:72.71%;width:21.45%;height:3.0%'><span
 lang=ES-MODERN style='font-size:58%;text-shadow:auto;mso-field-code:meta16'>5</span><span
 lang=ES-MODERN style='font-size:58%;text-shadow:auto;mso-special-format:lastCR;
 display:none'>&#13;</span></div>
 </div>
 <![endif]><v:shapetype id="_x0000_t202" coordsize="21600,21600" o:spt="202"
  path="m,l,21600r21600,l21600,xe">
  <v:stroke joinstyle="miter"/>
  <v:path gradientshapeok="t" o:connecttype="rect"/>
 </v:shapetype><v:shape id="_x0000_s140290" type="#_x0000_t202" style='position:absolute;
  left:14.125pt;top:20.5pt;width:642pt;height:45.625pt' filled="f" fillcolor="#f90 [4]"
  stroked="f" strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
 </v:shape>
 <div v:shape="_x0000_s140290" class=O style='text-align:center;mso-line-spacing:
 "100 50 0";position:absolute;top:4.77%;left:-4.37%;width:101.85%;height:6.89%'><span
 style='font-family:Arial;font-size:133%;color:#FFFFCC;mso-color-index:6'><b>Es
 un plan</b></span><span style='font-size:133%'><b> </b></span><span
 style='font-family:Arial;font-size:133%;text-shadow:auto;color:yellow'><b>PARTICIPATIVO</b></span><span
 style='font-family:Arial;font-size:133%'><b> </b></span><span
 style='font-family:Arial;font-size:133%;color:#FFFFCC;mso-color-index:6'><b>por
 lo tanto</b></span><span style='font-family:Arial;font-size:133%;color:#FFFFCC;
 mso-color-index:6'>:</span><span style='font-size:117%;mso-special-format:
 lastCR;display:none'>&#13;</span></div>
 <v:rect id="_x0000_s140291" style='position:absolute;left:25.5pt;top:77.25pt;
  width:425.25pt;height:40.875pt' filled="f" fillcolor="#f90 [4]" stroked="f"
  strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="2" delay="0" type="object" effect="wipe" direction="down"
   flag="1028"/></v:rect>
 <div id="_x0000_s140291_AllText" v:shape="_x0000_s140291" class=O
 style='position:absolute;top:15.37%;left:4.5%;width:57.21%;height:6.0%;
 white-space:nowrap'>
 <div style='mso-line-spacing:"100 50 0";position:absolute;top:0%;left:0%;
 width:100.0%;height:100.0%'><span style='font-family:Arial;font-size:117%'><b>Los
 actores son:</b></span></div>
 </div>
 <v:shape id="_x0000_s140293" type="#_x0000_t202" style='position:absolute;
  left:14.125pt;top:168pt;width:300.5pt;height:245.875pt' filled="f"
  fillcolor="#f90 [4]" strokecolor="#f90 [4]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="4" delay="0" type="object" effect="wipe" direction="down"
   flag="17412"/></v:shape><![if !vml]><img border=0 v:shapes="_x0000_s140293"
 src="slide0087_image021.gif" style='position:absolute;top:31.09%;left:1.85%;
 width:42.11%;height:45.93%'><![endif]>
 <div id="_x0000_s140293_AllText" v:shape="_x0000_s140293" class=O
 style='position:absolute;top:32.15%;left:3.04%;width:45.96%;height:43.99%;
 white-space:nowrap'>
 <div style='text-align:center;mso-char-wrap:1;mso-kinsoku-overflow:1;
 position:absolute;top:0%;left:0%;width:86.45%;height:8.83%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:75%;color:yellow'><b>DEL
 ESTADO&#13;</b></span></div>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1'><span style='position:
 absolute;top:8.83%;left:1.72%;width:93.08%;height:8.83%'><span
 style='font-family:Arial;font-size:75%'><span style='mso-special-format:bullet;
 position:absolute;left:-1.85%'>&#8226;</span></span><span lang=ES-MODERN
 style='font-family:Arial;font-size:75%'><b>Ministerio de Salud: centros y </b></span></span><span
 style='position:absolute;top:18.07%;left:0%;width:86.45%;height:8.83%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:75%'><b>puestos de
 salud.&#13;</b></span></span></div>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1'><span style='position:
 absolute;top:27.3%;left:1.72%;width:84.43%;height:8.83%'><span
 style='font-family:Arial;font-size:75%'><span style='mso-special-format:bullet;
 position:absolute;left:-2.04%'>&#8226;</span></span><span lang=ES-MODERN
 style='font-family:Arial;font-size:75%'><b>Ministerio de Agricultura: </b></span></span><span
 style='position:absolute;top:36.14%;left:0%;width:86.45%;height:8.83%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:75%'><b>direcci&oacute;n
 de<span style='mso-spacerun:yes'>&nbsp; </span>Aguas, PETT, </b></span></span><span
 style='position:absolute;top:45.38%;left:0%;width:86.45%;height:8.83%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:75%'><b>INRENA, Vivero
 Forestal.&#13;</b></span></span></div>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;
 top:54.61%;left:0%;width:86.45%;height:8.83%'><span style='position:absolute;
 top:0%;left:2.0%;width:97.66%;height:100.0%'><span style='font-family:Arial;
 font-size:75%'><span style='mso-special-format:bullet;position:absolute;
 left:-2.04%'>&#8226;</span></span><span lang=ES-MODERN style='font-family:
 Arial;font-size:75%'><b>Polic&iacute;a Nacional del Per&uacute;.&#13;</b></span></span></div>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;
 top:63.45%;left:0%;width:86.45%;height:8.83%'><span style='position:absolute;
 top:0%;left:2.0%;width:97.66%;height:100.0%'><span style='font-family:Arial;
 font-size:75%'><span style='mso-special-format:bullet;position:absolute;
 left:-2.04%'>&#8226;</span></span><span lang=ES-MODERN style='font-family:
 Arial;font-size:75%'><b>Gobernaturas de distritos.&#13;</b></span></span></div>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1'><span style='position:
 absolute;top:72.69%;left:1.72%;width:84.43%;height:8.83%'><span
 style='font-family:Arial;font-size:75%'><span style='mso-special-format:bullet;
 position:absolute;left:-2.04%'>&#8226;</span></span><span lang=ES-MODERN
 style='font-family:Arial;font-size:75%'><b>Ministerio de Educaci&oacute;n: </b></span></span><span
 style='position:absolute;top:81.92%;left:0%;width:100.0%;height:8.83%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:75%'><b>Centros educativos,
 profesores, </b></span></span><span style='position:absolute;top:90.76%;
 left:0%;width:86.45%;height:8.83%'><span lang=ES-MODERN style='font-family:
 Arial;font-size:75%'><b>padres de familia y otros.</b></span></span></div>
 </div>
 <v:shape id="_x0000_s140294" type="#_x0000_t202" style='position:absolute;
  left:5in;top:168pt;width:340.25pt;height:289.125pt' filled="f" fillcolor="#f90 [4]"
  strokecolor="#f90 [4]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="5" delay="0" type="object" effect="wipe" direction="down"
   flag="17412"/></v:shape><![if !vml]><img border=0 v:shapes="_x0000_s140294"
 src="slide0087_image022.gif" style='position:absolute;top:31.09%;left:49.93%;
 width:47.68%;height:54.06%'><![endif]>
 <div id="_x0000_s140294_AllText" v:shape="_x0000_s140294" class=O
 style='position:absolute;top:32.15%;left:50.99%;width:50.99%;height:51.94%;
 white-space:nowrap'>
 <div style='text-align:center;mso-char-wrap:1;mso-kinsoku-overflow:1;
 position:absolute;top:0%;left:0%;width:88.83%;height:7.48%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:75%;color:yellow'><b>DE LA
 SOCIEDAD CIVIL&#13;</b></span></div>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1'><span style='position:
 absolute;top:7.48%;left:1.81%;width:87.01%;height:7.48%'><span
 style='font-family:Arial;font-size:75%'><span style='mso-special-format:bullet;
 position:absolute;left:-2.08%'>&#8226;</span></span><span lang=ES-MODERN
 style='font-family:Arial;font-size:75%'><b>Organizaciones Campesinas: </b></span></span><span
 style='position:absolute;top:15.3%;left:0%;width:88.83%;height:7.48%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:75%'><b>Comunidades,
 Regantes.&#13;</b></span></span></div>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1'><span style='position:
 absolute;top:23.12%;left:1.81%;width:98.44%;height:7.48%'><span
 style='font-family:Arial;font-size:75%'><span style='mso-special-format:bullet;
 position:absolute;left:-1.84%'>&#8226;</span></span><span lang=ES-MODERN
 style='font-family:Arial;font-size:75%'><b>Organizaciones Vecinales: AA.HH., </b></span></span><span
 style='position:absolute;top:30.61%;left:0%;width:88.83%;height:7.48%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:75%'><b>Asociaci&oacute;n
 Pro Vivienda.&#13;</b></span></span></div>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;
 top:38.43%;left:0%;width:88.83%;height:7.48%'><span style='position:absolute;
 top:0%;left:2.04%;width:97.95%;height:100.0%'><span style='font-family:Arial;
 font-size:75%'><span style='mso-special-format:bullet;position:absolute;
 left:-2.08%'>&#8226;</span></span><span lang=ES-MODERN style='font-family:
 Arial;font-size:75%'><b>Organizaciones Femeninas.&#13;</b></span></span></div>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1'><span style='position:
 absolute;top:46.25%;left:1.81%;width:87.01%;height:7.48%'><span
 style='font-family:Arial;font-size:75%'><span style='mso-special-format:bullet;
 position:absolute;left:-2.08%'>&#8226;</span></span><span lang=ES-MODERN
 style='font-family:Arial;font-size:75%'><b>Organizaciones Juveniles, </b></span></span><span
 style='position:absolute;top:53.74%;left:0%;width:88.83%;height:7.48%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:75%'><b>deportivas,
 culturales...&#13;</b></span></span></div>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1'><span style='position:
 absolute;top:61.56%;left:1.81%;width:92.46%;height:7.48%'><span
 style='font-family:Arial;font-size:75%'><span style='mso-special-format:bullet;
 position:absolute;left:-1.96%'>&#8226;</span></span><span lang=ES-MODERN
 style='font-family:Arial;font-size:75%'><b>Organizaciones productivas y de </b></span></span><span
 style='position:absolute;top:69.38%;left:0%;width:88.83%;height:7.48%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:75%'><b>comercio.&#13;</b></span></span></div>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;
 top:76.87%;left:0%;width:95.84%;height:7.48%'><span style='position:absolute;
 top:0%;left:1.89%;width:98.1%;height:100.0%'><span style='font-family:Arial;
 font-size:75%'><span style='mso-special-format:bullet;position:absolute;
 left:-1.93%'>&#8226;</span></span><span lang=ES-MODERN style='font-family:
 Arial;font-size:75%'><b>Partidos y movimientos pol&iacute;ticos.&#13;</b></span></span></div>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1'><span style='position:
 absolute;top:84.69%;left:1.81%;width:97.14%;height:7.48%'><span
 style='font-family:Arial;font-size:75%'><span style='mso-special-format:bullet;
 position:absolute;left:-1.87%'>&#8226;</span></span><span lang=ES-MODERN
 style='font-family:Arial;font-size:75%'><b>Instituciones: Iglesia,
 Universidad, </b></span></span><span style='position:absolute;top:92.51%;
 left:0%;width:88.83%;height:7.48%'><span lang=ES-MODERN style='font-family:
 Arial;font-size:75%'><b>ONGs.</b></span></span></div>
 </div>
</p:slide></div>

<p:animation number="-1501379285"/><oa:par id="TimeNode0" dur="indefinite"
 restart="never" p:nodeType="timingRoot">
 <oa:seq id="TimeNode1" dur="indefinite" prev="document.onpptprev"
  next="document.onpptnext" concurrent="enabled" nextAction="seek"
  p:nodeType="mainSeq">
  <oa:par id="TimeNode2" begin="indefinite;TimeNode1.onbegin" fill="hold">
   <oa:par id="TimeNode3" begin="0.0" fill="hold">
    <oa:par id="TimeNode4" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x1" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode5" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s140291" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode6" dur="3.0" targetElement="_x0000_s140291"
      transition="in" filter="wipe(up)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode7" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x1" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode8" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s140291_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode9" dur="3.0"
      targetElement="_x0000_s140291_AllText" transition="in" filter="wipe(up)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode10" begin="3.0" fill="hold">
    <oa:par id="TimeNode11" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="1"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode12" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s140291" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode13" dur="2.0" targetElement="_x0000_s140291"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode14" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode15" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s140291_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode16" dur="2.0"
      targetElement="_x0000_s140291_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode17" begin="5.0" fill="hold">
    <oa:par id="TimeNode18" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x1" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode19" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s140293" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode20" dur="2.0" targetElement="_x0000_s140293"
      transition="in" filter="wipe(up)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode21" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x1" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode22" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s140293_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode23" dur="2.0"
      targetElement="_x0000_s140293_AllText" transition="in" filter="wipe(up)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode24" begin="7.0" fill="hold">
    <oa:par id="TimeNode25" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x1" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode26" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s140294" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode27" dur="2.0" targetElement="_x0000_s140294"
      transition="in" filter="wipe(up)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode28" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x1" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode29" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s140294_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode30" dur="2.0"
      targetElement="_x0000_s140294_AllText" transition="in" filter="wipe(up)"/>
    </oa:par>
    <![endif]></oa:par>
  </oa:par>
 </oa:seq>
</oa:par>
<![if ppt]>
<oa:buildParagraph targetElement="_x0000_s140291" groupID="0" build="asAWhole"
 buildLevel="1" reverse="false" buildAdvance="onclick" userSetAnimBgd="false"/><oa:buildParagraph
 targetElement="_x0000_s140291" groupID="1" build="asAWhole" buildLevel="1"
 reverse="false" buildAdvance="onclick" userSetAnimBgd="false"/><oa:buildParagraph
 targetElement="_x0000_s140293" groupID="0" build="asAWhole" buildLevel="1"
 alsoAnimate="background" reverse="false" buildAdvance="onclick"
 userSetAnimBgd="false"/><oa:buildParagraph targetElement="_x0000_s140294"
 groupID="0" build="asAWhole" buildLevel="1" alsoAnimate="background"
 reverse="false" buildAdvance="onclick" userSetAnimBgd="false"/>
<![endif]>
</body>

</html>
