a:link{
color:#996600;
}
a:visited{
color:#CC9966;
}
a:active{
color:#669933;
}
body{
color:#000000;
background-color:#FFFFCC;
}
h1{
color:#000000;
}
h2,marquee{
color:#000000;
}
h3{
color:#000000;
}
h4{
color:#000000;
}
h5{
color:#000000;
}
h6{
color:#000000;
}
LABEL,.MSTHEME-LABEL{
color:#000000;
}
FIELDSET{
border-color:#666600;
color:#000000;
}
LEGEND{
color:#000000;
}
SELECT{
border-color:#CCCC99;
color:#000000;
}
TABLE{
table-border-color-light:#CCCC99;
table-border-color-dark:#666600;
border-color:#666600;
color:#000000;
}
CAPTION{
color:#000000;
}
TH{
color:#000000;
}
HR{
color:#666600;
}
TD{
border-color:#666600;
}
