.mstheme{
nav-banner-image:url(tabbanr.gif);
separator-image:url(tabrule.gif);
list-image-1:url(tabbul1.gif);
list-image-2:url(tabbul2.gif);
list-image-3:url(tabbul3.gif);
navbutton-horiz-pushed:url(tabhsel.gif);
navbutton-horiz-normal:url(tabhbtn.gif);
navbutton-vert-pushed:url(tabvsel.gif);
navbutton-vert-normal:url(tabvbtn.gif);
navbutton-home-normal:url(tabhom.gif);
navbutton-up-normal:url(tabup.gif);
navbutton-prev-normal:url(tabbck.gif);
navbutton-next-normal:url(tabnxt.gif);
}
UL{
list-style-image:url(tabbul1.gif);
}
UL UL{
list-style-image:url(tabbul2.gif);
}
UL UL UL{
list-style-image:url(tabbul3.gif);
}
.mstheme-bannertxt{
font-family:"Times New Roman","Times New Roman",Times;
font-size:5;
color:#000000;
}
.mstheme-horiz-navtxt{
font-family:arial,helvetica;
font-size:2;
color:#000000;
}
.mstheme-vert-navtxt{
font-family:arial,helvetica;
font-size:2;
color:#000000;
}
.mstheme-navtxthome{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtup{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtprev{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtnext{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
