.mstheme{
nav-banner-image:url(atabbanr.gif);
separator-image:url(atabrule.gif);
list-image-1:url(atabbul1.gif);
list-image-2:url(atabbul2.gif);
list-image-3:url(atabbul3.gif);
navbutton-horiz-pushed:url(atabhsel.gif);
navbutton-horiz-normal:url(atabhbtn.gif);
navbutton-horiz-hovered:url(atabhhov.gif);
navbutton-vert-pushed:url(atabvsel.gif);
navbutton-vert-normal:url(atabvbtn.gif);
navbutton-vert-hovered:url(atabvhov.gif);
navbutton-home-normal:url(atabhom.gif);
navbutton-home-hovered:url(atabhomh.gif);
navbutton-up-normal:url(atabup.gif);
navbutton-up-hovered:url(atabuph.gif);
navbutton-prev-normal:url(atabbck.gif);
navbutton-prev-hovered:url(atabbckh.gif);
navbutton-next-normal:url(atabnxt.gif);
navbutton-next-hovered:url(atabnxth.gif);
}
UL{
list-style-image:url(atabbul1.gif);
}
UL UL{
list-style-image:url(atabbul2.gif);
}
UL UL UL{
list-style-image:url(atabbul3.gif);
}
.mstheme-bannertxt{
font-family:"Times New Roman","Times New Roman",Times;
font-size:5;
color:#000000;
}
.mstheme-horiz-navtxt{
font-family:arial,helvetica;
font-size:2;
color:#000000;
}
.mstheme-vert-navtxt{
font-family:arial,helvetica;
font-size:2;
color:#000000;
}
.mstheme-navtxthome{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtup{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtprev{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtnext{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
