body {
	background:#FFFFCC url('images/fondo_40.jpg') no-repeat fixed center ; font-family: Georgia, "Times New Roman", Times, serif;
	font-size: x-small;
	color: #232323;
	scrollbar-face-color: #C1BCDB;
	scrollbar-shadow-color: #C1BCDB;
	scrollbar-highlight-color: #C1BCDB;
	scrollbar-3dlight-color: #000000;
	scrollbar-darkshadow-color: #000000;
	scrollbar-track-color: #C1BCDB;
	scrollbar-arrow-color: #000000;
	font-weight: bold



}
.titretableau {
	font-size: small;
	font-weight: bold;
	color: #FFFFFF;
}
.textetableau {
	font-size: x-small;
	font-weight: normal;
	color: #FFFFFF;
}
.nombrebout {
	height: 21px;
	width: 50px;
	background-color: #C6E7FF;

}
.userinfo {
	height: 21px;
	width: 250px;
	background-color: #C6E7FF;
}
.boutoncommande {
	height: 23px;
	width: 80px;
	background-color: #423052;
	color: #FFFFFF;

}
.titretableaumoyen {

	font-size: x-small;
	font-weight: bold;
	color: #FFFFFF;
}