body
	{width:534px;
	height:400px;}
.T
	{text-align:left;
	font-family:"Arial Narrow";
	layout-flow:vertical;
	color:white;
	mso-color-index:1;
	font-size:190%;
	mso-line-spacing:"85 0 0";}
.BB
	{mso-special-format:bulletu;
	color:#FF9933;
	mso-color-index:6;
	font-family:Wingdings;
	font-size:70%;}
.B
	{text-align:left;
	font-family:Arial;
	layout-flow:vertical;
	color:white;
	mso-color-index:1;
	font-size:114%;}
.B1B
	{mso-special-format:bulletu;
	color:#FF9933;
	mso-color-index:6;
	font-family:"Monotype Sorts";
	font-size:70%;}
.B1
	{text-align:left;
	font-family:Arial;
	layout-flow:vertical;
	color:white;
	mso-color-index:1;
	font-size:114%;}
.B2B
	{mso-special-format:bulletu;
	color:#FF9933;
	mso-color-index:6;
	font-family:Wingdings;
	font-size:70%;}
.B2
	{text-align:left;
	font-family:Arial;
	layout-flow:vertical;
	color:white;
	mso-color-index:1;
	font-size:95%;}
.B3B
	{mso-special-format:bulletu;
	color:#FF9933;
	mso-color-index:6;
	font-family:Wingdings;
	font-size:70%;}
.B3
	{text-align:left;
	font-family:Arial;
	layout-flow:vertical;
	color:white;
	mso-color-index:1;
	font-size:95%;}
.B4B
	{mso-special-format:bulletu;
	color:#FF9933;
	mso-color-index:6;
	font-family:Wingdings;
	font-size:70%;}
.B4
	{text-align:left;
	font-family:Arial;
	layout-flow:vertical;
	color:white;
	mso-color-index:1;
	font-size:85%;}
.N
	{text-align:left;
	font-family:Arial;
	layout-flow:vertical;
	color:black;
	mso-color-index:1;
	font-size:57%;}
.N1
	{text-align:left;
	font-family:Arial;
	layout-flow:vertical;
	color:black;
	mso-color-index:1;
	font-size:57%;}
.N2
	{text-align:left;
	font-family:Arial;
	layout-flow:vertical;
	color:black;
	mso-color-index:1;
	font-size:57%;}
.N3
	{text-align:left;
	font-family:Arial;
	layout-flow:vertical;
	color:black;
	mso-color-index:1;
	font-size:57%;}
.N4
	{text-align:left;
	font-family:Arial;
	layout-flow:vertical;
	color:black;
	mso-color-index:1;
	font-size:57%;}
.O
	{text-align:left;
	font-family:Arial;
	layout-flow:vertical;
	color:white;
	mso-color-index:1;
	font-size:114%;}
.O1
	{text-align:left;
	font-family:"Times New Roman";
	layout-flow:vertical;
	color:white;
	mso-color-index:1;
	font-size:114%;}
.O2
	{layout-flow:vertical;}
.O3
	{layout-flow:vertical;}
.O4
	{layout-flow:vertical;}
.CBB
	{mso-special-format:nobulletu;
	color:#FF9933;
	mso-color-index:6;
	font-family:Wingdings;
	font-size:70%;}
.CB
	{text-align:left;
	font-family:Arial;
	layout-flow:vertical;
	color:white;
	mso-color-index:1;
	font-size:114%;
	mso-line-spacing:"85 20 0";}
.CB1B
	{mso-special-format:nobulletu;
	color:#FF9933;
	mso-color-index:6;
	font-family:"Monotype Sorts";
	font-size:70%;}
.CB1
	{font-family:Arial;
	layout-flow:vertical;
	font-size:114%;}
.CB2B
	{mso-special-format:nobulletu;
	color:#FF9933;
	mso-color-index:6;
	font-family:Wingdings;
	font-size:70%;}
.CB2
	{font-family:Arial;
	layout-flow:vertical;
	font-size:95%;}
.CB3B
	{mso-special-format:nobulletu;
	color:#FF9933;
	mso-color-index:6;
	font-family:Wingdings;
	font-size:70%;}
.CB3
	{font-family:Arial;
	layout-flow:vertical;}
.CB4B
	{mso-special-format:nobulletu;
	color:#FF9933;
	mso-color-index:6;
	font-family:Wingdings;
	font-size:70%;}
.CB4
	{font-family:Arial;
	layout-flow:vertical;
	font-size:85%;}
.CT
	{text-align:left;
	font-family:"Arial Narrow";
	layout-flow:vertical;
	color:teal;
	mso-color-index:3;
	font-size:190%;
	mso-line-spacing:"85 0 0";}
.HBB
	{mso-special-format:bulletu;
	color:#FF9933;
	mso-color-index:6;
	font-family:Wingdings;
	font-size:70%;}
.HB
	{font-family:Arial;
	layout-flow:vertical;
	font-size:95%;}
.HB1B
	{mso-special-format:bulletu;
	color:#FF9933;
	mso-color-index:6;
	font-family:"Monotype Sorts";
	font-size:70%;}
.HB1
	{font-family:Arial;
	layout-flow:vertical;
	font-size:95%;}
.HB2B
	{mso-special-format:bulletu;
	color:#FF9933;
	mso-color-index:6;
	font-family:Wingdings;
	font-size:70%;}
.HB2
	{font-family:Arial;
	layout-flow:vertical;
	font-size:85%;}
.HB3B
	{mso-special-format:bulletu;
	color:#FF9933;
	mso-color-index:6;
	font-family:Wingdings;
	font-size:70%;}
.HB3
	{font-family:Arial;
	layout-flow:vertical;}
.HB4B
	{mso-special-format:bulletu;
	color:#FF9933;
	mso-color-index:6;
	font-family:Wingdings;
	font-size:70%;}
.HB4
	{font-family:Arial;
	layout-flow:vertical;
	font-size:76%;}
.QBB
	{mso-special-format:bulletu;
	color:#FF9933;
	mso-color-index:6;
	font-family:Wingdings;
	font-size:70%;}
.QB
	{font-family:Arial;
	layout-flow:vertical;
	font-size:85%;}
.QB1B
	{mso-special-format:bulletu;
	color:#FF9933;
	mso-color-index:6;
	font-family:"Monotype Sorts";
	font-size:70%;}
.QB1
	{font-family:Arial;
	layout-flow:vertical;
	font-size:85%;}
.QB2B
	{mso-special-format:bulletu;
	color:#FF9933;
	mso-color-index:6;
	font-family:Wingdings;
	font-size:70%;}
.QB2
	{font-family:Arial;
	layout-flow:vertical;
	font-size:76%;}
.QB3B
	{mso-special-format:bulletu;
	color:#FF9933;
	mso-color-index:6;
	font-family:Wingdings;
	font-size:70%;}
.QB3
	{font-family:Arial;
	layout-flow:vertical;}
.QB4B
	{mso-special-format:bulletu;
	color:#FF9933;
	mso-color-index:6;
	font-family:Wingdings;
	font-size:70%;}
.QB4
	{font-family:Arial;
	layout-flow:vertical;
	font-size:66%;}
.TblB
	{mso-special-format:nobulletu;
	color:#FF9933;
	mso-color-index:6;
	font-family:Wingdings;
	font-size:70%;}
.Tbl
	{font-family:Arial;
	layout-flow:vertical;
	font-size:95%;}
.Tbl1B
	{mso-special-format:nobulletu;
	color:#FF9933;
	mso-color-index:6;
	font-family:"Monotype Sorts";
	font-size:70%;}
.Tbl1
	{font-family:Arial;
	layout-flow:vertical;
	font-size:95%;}
.Tbl2B
	{mso-special-format:nobulletu;
	color:#FF9933;
	mso-color-index:6;
	font-family:Wingdings;
	font-size:70%;}
.Tbl2
	{font-family:Arial;
	layout-flow:vertical;
	font-size:85%;}
.Tbl3B
	{mso-special-format:nobulletu;
	color:#FF9933;
	mso-color-index:6;
	font-family:Wingdings;
	font-size:70%;}
.Tbl3
	{font-family:Arial;
	layout-flow:vertical;}
.Tbl4B
	{mso-special-format:nobulletu;
	color:#FF9933;
	mso-color-index:6;
	font-family:Wingdings;
	font-size:70%;}
.Tbl4
	{font-family:Arial;
	layout-flow:vertical;
	font-size:76%;}
.defaultB
	{mso-special-format:nobullet•;}
.default
	{text-align:left;
	font-family:Arial;
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	text-shadow:none;
	text-effect:none;
	mso-fareast-hint:no;
	layout-flow:vertical;
	color:white;
	mso-color-index:1;
	font-size:114%;
	mso-text-raise:0%;
	mso-line-spacing:"100 0 0";
	mso-margin-left-alt:0;
	mso-text-indent-alt:0;
	mso-char-wrap:0;
	mso-kinsoku-overflow:0;
	direction:ltr;
	mso-word-wrap:1;
	mso-vertical-align-special:baseline;
	mso-ansi-language:EN-US;}
a:link
	{color:#FF9933 !important;}
a:active
	{color:#FFFF66 !important;}
a:visited
	{color:#FFCCFF !important;}
