﻿.style-picker{direction: ltr;font-family:Arial,"Helvetica CY",sans-serif;color:#010101;font-size:12px;width:0;min-height:200px;position:fixed;top:40px;left:0;z-index:99999999999999999999999999999;}
.style-picker .bgChanger{position:relative;min-width:35px;min-height:100px;}
.style-picker a{color:#fff !important;}
.style-picker a:hover{text-decoration:none;}
.style-picker input, .style-picker select {font-family:"Trebuchet MS",Arial,"Helvetica CY",sans-serif;border:1px solid #b7b7b7;color:#010101;}
.style-picker input{width:120px;}
.style-picker select{
	font-size: 1em;
	padding: 3px;
	width: 90%;
	height: auto;
	border: 1px solid #CCC;
	outline: 0;
	background: #FAFAFA url(images/select3.png) no-repeat right;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.style-picker .container{width:240px;padding:0 0 5px 0;}
.style-picker .options,.style-picker .handler{border:1px solid #181818;background-color:#181818;color: #CCC;box-shadow:1px 1px 1px rgba(0, 0, 0, 0.3)} 
.style-picker .options{width:230px;padding:3px 0 15px 10px;position:relative; -webkit-border-bottom-right-radius: 10px; -moz-border-radius-bottomright:3px; border-bottom-right-radius: 3px; border-radius: 0 0 3px 0;}
.style-picker .handler{background:#181818 url(images/close.png) 5px 6px no-repeat;width:33px;height:35px;position:absolute;top:0px;right:-35px;z-index:30;border-left:0;-webkit-border-top-right-radius: 3px; -webkit-border-bottom-right-radius: 3px; -moz-border-radius-topright: 3px; -moz-border-radius-bottomright: 3px; border-radius: 0 3px 3px 0;}
.style-picker .container .handler.closed{background:#181818 url(images/pencil.png) 5px 6px no-repeat;}
.style-picker span{display:block;padding:10px 0 3px;font-weight:bold;clear:both;}
.style-picker a.thumb-img{margin:0 5px 4px 0;border:1px solid #666;}
.style-picker a.thumb-img, .style-picker a.thumb-img img{display:block;float:left;width:12px;height:12px;cursor:pointer;}
.style-picker a.thumb-img img{border:0;background:none;padding:0;}
.style-picker a.bgColor{
	color: #ccc !important;
	display: inline-block;
	width: 90%;
	line-height: 20px;
	font-weight: bold;
	padding: 5px 18px 0 0;
	margin: 8px 0 8px;
	position: relative;
	clear: both;
}
.style-picker{
	display: none;
}
.style-picker a.bgColor span{border:0px solid #b7b7b7;width:18px;height:18px;float:right;padding:0;margin:1px 0 0;}
.colorpicker {
	width: 356px;
	height: 176px;
	overflow: hidden;
	position: absolute;
	background: url(images/custom_background.png);
	font-family: Arial, Helvetica, sans-serif;
	display: none;
	z-index:999999999999999;
	font-size:0.8em;
}
.colorpicker_color {
	width: 150px;
	height: 150px;
	left: 14px;
	top: 13px;
	position: absolute;
	background: #f00;
	overflow: hidden;
	cursor: crosshair;
}
.colorpicker_color div {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: url(images/colorpicker_overlay.png);
}
.colorpicker_color div div {
	position: absolute;
	top: 0;
	left: 0;
	width: 11px;
	height: 11px;
	overflow: hidden;
	background: url(images/colorpicker_select.gif);
	margin: -5px 0 0 -5px;
}
#bgColor, #bgHeaderColor, #bgFooterColor {
	position: relative;
	width: 20px;
	height: 20px;
	background: url(images/select2.png);
}
.colorpicker_hue {
	position: absolute;
	top: 13px;
	left: 171px;
	width: 35px;
	height: 150px;
	cursor: n-resize;
}
.colorpicker_hue div {
	position: absolute;
	width: 35px;
	height: 9px;
	overflow: hidden;
	background: url(images/custom_indic.gif) left top;
	margin: -4px 0 0 0;
	left: 0px;
}
.colorpicker_new_color {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 213px;
	top: 13px;
	background: #f00;
}
.colorpicker_current_color {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 283px;
	top: 13px;
	background: #f00;
}
.colorpicker input[type="text"] {
	background-color: transparent;
	border: 1px solid transparent;
	position: absolute;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #898989;
	top: 4px;
	right: 11px;
	text-align: right;
	margin: 0;
	padding: 0;
    max-width: 100%;
}
.colorpicker_hex {
	position: absolute;
	width: 72px;
	height: 22px;
	background: url(images/custom_hex.png) top;
	left: 212px;
	top: 142px;
}
.colorpicker_hex input[type="text"] {
	right: 6px;
}
.colorpicker_field {
	height: 22px;
	width: 62px;
	background-position: top;
	position: absolute;
}
.colorpicker_field span {
	position: absolute;
	width: 12px;
	height: 22px;
	overflow: hidden;
	top: 0;
	right: 0;
	cursor: n-resize;
}
.colorpicker_rgb_r {
	background-image: url(images/custom_rgb_r.png);
	top: 52px;
	left: 212px;
}
.colorpicker_rgb_g {
	background-image: url(images/custom_rgb_g.png);
	top: 82px;
	left: 212px;
}
.colorpicker_rgb_b {
	background-image: url(images/custom_rgb_b.png);
	top: 112px;
	left: 212px;
}
.colorpicker_hsb_h {
	background-image: url(images/custom_hsb_h.png);
	top: 52px;
	left: 282px;
}
.colorpicker_hsb_s {
	background-image: url(images/custom_hsb_s.png);
	top: 82px;
	left: 282px;
}
.colorpicker_hsb_b {
	background-image: url(images/custom_hsb_b.png);
	top: 112px;
	left: 282px;
}
.colorpicker_submit {
	position: absolute;
	width: 22px;
	height: 22px;
	background: url(images/custom_submit.png) top;
	left: 322px;
	top: 142px;
	overflow: hidden;
}
.colorpicker_focus { background-position: center }
.colorpicker_hex.colorpicker_focus { background-position: bottom }
.colorpicker_submit.colorpicker_focus { background-position: bottom }
.colorpicker_slider { background-position: bottom }
@media only screen and (min-width: 100px) and (max-width: 960px) { .style-picker { display: none } }