<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 11">
<link id=Main-File rel=Main-File href="../01convivencia.htm">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>Diapositiva 1</title>
<meta name=Description content="24/04/2005">
<link rel=Stylesheet href="master36_stylesheet.css">
<!--[if gte IE 5]>
<object id=MSOANIM classid="CLSID:A4639D2F-774E-11D3-A490-00C04F6843FB"></object>
<object id=MSOTIME classid="CLSID:A4639D29-774E-11D3-A490-00C04F6843FB"></object>
<![endif]-->
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:76% !important;}
-->
</style>
<style>
<!--
oa\:* { BEHAVIOR: url(#MSOANIM#ANIM) url(#MSOTIME#TIME) }
oa\:par,oa\:seq,oa\:iterate { BEHAVIOR:url(#MSOTIME) }
oa\:video,oa\:audio {BEHAVIOR:url(#MSOTIME) url(#MSOTIME#MEDIA) }
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><script><!--
g_animItemsToHide=new Array("_x0000_s66566","_x0000_s66564","_x0000_s66565");
g_animEffectTimings=new Array();
g_animSlideTime=15;

//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><p:slidetransition advancetime="15000"
 flag="1025"/><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="65"/>
</o:shapelayout>
</head>

<body lang=ES-MODERN style='margin:0px;background-color:black'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()" oa:clockstart="onstart">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:755px;height:566px;font-size:16px;background-color:#EAEAEA;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden'><p:slide coordsize="720,540"
 colors="#eaeaea,#000000,#b2b2b2,#000000,#a4bcc4,#ffffff,#0066ff,#00cc66"
 masterhref="master36.xml">
 <p:shaperange href="master36.xml#_x0000_s112641"/><![if !ppt]><p:shaperange
  href="master36.xml#_x0000_s112642"/><![if !vml]><img border=0
 v:shapes="_x0000_s112642,_x0000_s112643,_x0000_s112644,_x0000_s112646,_x0000_s112647,_x0000_s112648,_x0000_s112649,_x0000_s112650,_x0000_s112651,_x0000_s112652,_x0000_s112653,_x0000_s112654,_x0000_s112655,_x0000_s112656,_x0000_s112658,_x0000_s112659,_x0000_s112660,_x0000_s112661,_x0000_s112662,_x0000_s112663,_x0000_s112664,_x0000_s112665,_x0000_s112666,_x0000_s112667,_x0000_s112668,_x0000_s112669,_x0000_s112670,_x0000_s112671,_x0000_s112672,_x0000_s112673,_x0000_s112674,_x0000_s112675,_x0000_s112677,_x0000_s112678,_x0000_s112679,_x0000_s112680,_x0000_s112681,_x0000_s112682,_x0000_s112683,_x0000_s112684,_x0000_s112685,_x0000_s112686,_x0000_s112687,_x0000_s112688,_x0000_s112689,_x0000_s112690,_x0000_s112691,_x0000_s112692,_x0000_s112693,_x0000_s112695,_x0000_s112696,_x0000_s112697,_x0000_s112698,_x0000_s112699,_x0000_s112700,_x0000_s112701,_x0000_s112703,_x0000_s112704,_x0000_s112705,_x0000_s112706"
 src="master36_image001.gif" style='position:absolute;top:62.19%;left:0%;
 width:100.26%;height:38.16%'><![endif]><p:shaperange
  href="master36.xml#_x0000_s112709"/><p:shaperange
  href="master36.xml#_x0000_s112710"/><![endif]><v:shapetype id="_x0000_t75"
  coordsize="21600,21600" o:spt="75" o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe"
  filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" aspectratio="t"/>
 </v:shapetype><v:shape id="_x0000_s66565" type="#_x0000_t75" style='position:absolute;
  left:59.5pt;top:0;width:589.625pt;height:540pt'>
  <v:imagedata src="slide0019_image017.jpg" o:title="iglsanjero"/>
  <p:animation number="2" delay="500" type="object" effect="cut"
   direction="noBlack" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s66565" src="slide0019_image018.jpg" style='position:absolute;
 top:0%;left:8.21%;width:81.85%;height:100.0%'><![endif]><v:shape id="_x0000_s66564"
  type="#_x0000_t75" style='position:absolute;left:0;top:1.5pt;width:10in;
  height:538.5pt'>
  <v:imagedata src="slide0019_image019.jpg" o:title="5-I"/>
  <p:animation number="3" delay="3000" type="object" effect="cut"
   direction="noBlack" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s66564" src="slide0019_image020.jpg" style='position:absolute;
 top:.35%;left:0%;width:100.0%;height:99.64%'><![endif]><v:shape id="_x0000_s66566"
  type="#_x0000_t75" style='position:absolute;left:0;top:0;width:10in;height:540pt'>
  <v:imagedata src="slide0019_image021.jpg" o:title="angostura"/>
  <p:animation number="4" delay="3000" type="object" effect="cut"
   direction="noBlack" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s66566" src="slide0019_image022.jpg" style='position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><![endif]></p:slide></div>

<p:animation number="1394017898"/><oa:par id="TimeNode0" dur="indefinite"
 restart="never" p:nodeType="timingRoot">
 <oa:seq id="TimeNode1" dur="indefinite" prev="document.onpptprev"
  next="document.onpptnext" concurrent="enabled" nextAction="seek"
  p:nodeType="mainSeq">
  <oa:par id="TimeNode2" begin="indefinite;TimeNode1.onbegin" fill="hold">
   <oa:par id="TimeNode3" begin="0.0" fill="hold">
    <oa:par id="TimeNode4" o:presetID="ppt_10" o:presetClass="entrance"
     o:presetSubType="0x0" begin="0.5" accelerate="0.0" decelerate="0.0"
     autoReverse="false" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode5" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s66565" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode6" dur="2.0" targetElement="_x0000_s66565"
      transition="in" filter="fade"/>
    </oa:par>
   </oa:par>
   <oa:par id="TimeNode7" begin="2.5" fill="hold">
    <oa:par id="TimeNode8" o:presetID="ppt_10" o:presetClass="entrance"
     o:presetSubType="0x0" begin="3.0" accelerate="0.0" decelerate="0.0"
     autoReverse="false" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode9" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s66564" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode10" dur="2.0" targetElement="_x0000_s66564"
      transition="in" filter="fade"/>
    </oa:par>
   </oa:par>
   <oa:par id="TimeNode11" begin="7.5" fill="hold">
    <oa:par id="TimeNode12" o:presetID="ppt_10" o:presetClass="entrance"
     o:presetSubType="0x0" begin="3.0" accelerate="0.0" decelerate="0.0"
     autoReverse="false" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode13" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s66566" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode14" dur="2.0" targetElement="_x0000_s66566"
      transition="in" filter="fade"/>
    </oa:par>
   </oa:par>
  </oa:par>
 </oa:seq>
</oa:par>
</body>

</html>
