body
	{width:755px;
	height:566px;}
.TB
	{mso-special-format:nobullet\2022;}
.T
	{text-align:center;
	font-family:"Times New Roman";
	font-weight:bold;
	text-shadow:auto;
	color:#FEEC94;
	mso-color-index:3;
	font-size:293%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.BB
	{mso-special-format:bulletn;
	color:#FFFFCC;
	mso-color-index:6;
	font-family:Wingdings;
	font-size:60%;}
.B
	{text-align:left;
	font-family:"Times New Roman";
	text-shadow:auto;
	color:white;
	mso-color-index:1;
	font-size:213%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.B1B
	{mso-special-format:bulletn;
	color:#FEEC94;
	mso-color-index:3;
	font-family:Wingdings;
	font-size:60%;}
.B1
	{text-align:left;
	font-family:"Times New Roman";
	text-shadow:auto;
	color:white;
	mso-color-index:1;
	font-size:186%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.B2B
	{mso-special-format:bulletn;
	color:#CCCC00;
	mso-color-index:7;
	font-family:Wingdings;
	font-size:60%;}
.B2
	{text-align:left;
	font-family:"Times New Roman";
	text-shadow:auto;
	color:white;
	mso-color-index:1;
	font-size:160%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.B3B
	{mso-special-format:bulletn;
	color:white;
	mso-color-index:1;
	font-family:Wingdings;
	font-size:60%;}
.B3
	{text-align:left;
	font-family:"Times New Roman";
	text-shadow:auto;
	color:white;
	mso-color-index:1;
	font-size:133%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.B4B
	{mso-special-format:bulletn;
	color:#FFFFCC;
	mso-color-index:6;
	font-family:Wingdings;
	font-size:60%;}
.B4
	{text-align:left;
	font-family:"Times New Roman";
	text-shadow:auto;
	color:white;
	mso-color-index:1;
	font-size:133%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.NB
	{mso-special-format:nobullet\2022;}
.N
	{text-align:left;
	font-family:"Times New Roman";
	color:black;
	mso-color-index:1;
	font-size:80%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N1B
	{mso-special-format:nobullet\2022;}
.N1
	{text-align:left;
	font-family:"Times New Roman";
	color:black;
	mso-color-index:1;
	font-size:80%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N2B
	{mso-special-format:nobullet\2022;}
.N2
	{text-align:left;
	font-family:"Times New Roman";
	color:black;
	mso-color-index:1;
	font-size:80%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N3B
	{mso-special-format:nobullet\2022;}
.N3
	{text-align:left;
	font-family:"Times New Roman";
	color:black;
	mso-color-index:1;
	font-size:80%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N4N
	{mso-special-format:nobullet\2022;}
.N4
	{text-align:left;
	font-family:"Times New Roman";
	color:black;
	mso-color-index:1;
	font-size:80%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.OB
	{mso-special-format:nobullet\2022;}
.O
	{text-align:left;
	font-family:"Times New Roman";
	color:white;
	mso-color-index:1;
	font-size:160%;}
.O1B
	{mso-special-format:nobullet\2022;}
.O1
	{text-align:left;
	font-family:"Times New Roman";
	color:white;
	mso-color-index:1;
	font-size:160%;}
.O2B
	{mso-special-format:nobullet\2022;}
.O2
	{font-family:"Times New Roman";
	font-size:160%;}
.O3B
	{mso-special-format:nobullet\2022;}
.O3
	{font-family:"Times New Roman";
	font-size:160%;}
.O4B
	{mso-special-format:nobullet\2022;}
.O4
	{font-family:"Times New Roman";
	font-size:160%;}
.CBB
	{mso-special-format:nobulletn;
	color:#FFFFCC;
	mso-color-index:6;
	font-family:Wingdings;
	font-size:60%;}
.CB
	{text-align:center;
	font-family:"Times New Roman";
	text-shadow:auto;
	color:white;
	mso-color-index:1;
	font-size:213%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CB1B
	{mso-special-format:nobulletn;
	color:#FEEC94;
	mso-color-index:3;
	font-family:Wingdings;
	font-size:60%;}
.CB1
	{font-family:"Times New Roman";
	text-shadow:auto;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CB2B
	{mso-special-format:nobulletn;
	color:#CCCC00;
	mso-color-index:7;
	font-family:Wingdings;
	font-size:60%;}
.CB2
	{font-family:"Times New Roman";
	text-shadow:auto;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CB3B
	{mso-special-format:nobulletn;
	color:white;
	mso-color-index:1;
	font-family:Wingdings;
	font-size:60%;}
.CB3
	{font-family:"Times New Roman";
	text-shadow:auto;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CB4B
	{mso-special-format:nobulletn;
	color:#FFFFCC;
	mso-color-index:6;
	font-family:Wingdings;
	font-size:60%;}
.CB4
	{font-family:"Times New Roman";
	text-shadow:auto;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CTB
	{mso-special-format:nobullet\2022;}
.CT
	{text-align:center;
	font-family:"Times New Roman";
	font-weight:bold;
	text-shadow:auto;
	color:#FEEC94;
	mso-color-index:3;
	font-size:360%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HBB
	{mso-special-format:bulletn;
	color:#FFFFCC;
	mso-color-index:6;
	font-family:Wingdings;
	font-size:60%;}
.HB
	{font-family:"Times New Roman";
	text-shadow:auto;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HB1B
	{mso-special-format:bulletn;
	color:#FEEC94;
	mso-color-index:3;
	font-family:Wingdings;
	font-size:60%;}
.HB1
	{font-family:"Times New Roman";
	text-shadow:auto;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HB2B
	{mso-special-format:bulletn;
	color:#CCCC00;
	mso-color-index:7;
	font-family:Wingdings;
	font-size:60%;}
.HB2
	{font-family:"Times New Roman";
	text-shadow:auto;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HB3B
	{mso-special-format:bulletn;
	color:white;
	mso-color-index:1;
	font-family:Wingdings;
	font-size:60%;}
.HB3
	{font-family:"Times New Roman";
	text-shadow:auto;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HB4B
	{mso-special-format:bulletn;
	color:#FFFFCC;
	mso-color-index:6;
	font-family:Wingdings;
	font-size:60%;}
.HB4
	{font-family:"Times New Roman";
	text-shadow:auto;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QBB
	{mso-special-format:bulletn;
	color:#FFFFCC;
	mso-color-index:6;
	font-family:Wingdings;
	font-size:60%;}
.QB
	{font-family:"Times New Roman";
	text-shadow:auto;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QB1B
	{mso-special-format:bulletn;
	color:#FEEC94;
	mso-color-index:3;
	font-family:Wingdings;
	font-size:60%;}
.QB1
	{font-family:"Times New Roman";
	text-shadow:auto;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QB2B
	{mso-special-format:bulletn;
	color:#CCCC00;
	mso-color-index:7;
	font-family:Wingdings;
	font-size:60%;}
.QB2
	{font-family:"Times New Roman";
	text-shadow:auto;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QB3B
	{mso-special-format:bulletn;
	color:white;
	mso-color-index:1;
	font-family:Wingdings;
	font-size:60%;}
.QB3
	{font-family:"Times New Roman";
	text-shadow:auto;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QB4B
	{mso-special-format:bulletn;
	color:#FFFFCC;
	mso-color-index:6;
	font-family:Wingdings;
	font-size:60%;}
.QB4
	{font-family:"Times New Roman";
	text-shadow:auto;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.TblB
	{mso-special-format:nobulletn;
	color:#FFFFCC;
	mso-color-index:6;
	font-family:Wingdings;
	font-size:60%;}
.Tbl
	{font-family:"Times New Roman";
	text-shadow:auto;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.Tbl1B
	{mso-special-format:nobulletn;
	color:#FEEC94;
	mso-color-index:3;
	font-family:Wingdings;
	font-size:60%;}
.Tbl1
	{font-family:"Times New Roman";
	text-shadow:auto;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.Tbl2B
	{mso-special-format:nobulletn;
	color:#CCCC00;
	mso-color-index:7;
	font-family:Wingdings;
	font-size:60%;}
.Tbl2
	{font-family:"Times New Roman";
	text-shadow:auto;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.Tbl3B
	{mso-special-format:nobulletn;
	color:white;
	mso-color-index:1;
	font-family:Wingdings;
	font-size:60%;}
.Tbl3
	{font-family:"Times New Roman";
	text-shadow:auto;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.Tbl4B
	{mso-special-format:nobulletn;
	color:#FFFFCC;
	mso-color-index:6;
	font-family:Wingdings;
	font-size:60%;}
.Tbl4
	{font-family:"Times New Roman";
	text-shadow:auto;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.defaultB
	{mso-special-format:nobullet\2022;}
.default
	{text-align:left;
	font-family:"Times New Roman";
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	text-shadow:none;
	text-effect:none;
	mso-fareast-hint:no;
	layout-flow:horizontal;
	color:white;
	mso-color-index:1;
	font-size:120%;
	mso-text-raise:0%;
	mso-line-spacing:"100 0 0";
	mso-margin-left-alt:0;
	mso-text-indent-alt:0;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;
	direction:ltr;
	mso-word-wrap:1;
	mso-vertical-align-special:baseline;
	mso-ansi-language:ES-TRAD;}
a:link
	{color:#FFFFCC !important;}
a:active
	{color:#B76A03 !important;}
a:visited
	{color:#CCCC00 !important;}
