<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=us-ascii">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 11">
<link id=Main-File rel=Main-File href="../CID_valle_sur_ilmc.htm">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>PIDES</title>
<meta name=Description content="22/04/2005">
<link rel=Stylesheet href="master04_stylesheet.css">
<!--[if gte IE 5]>
<object id=MSOANIM classid="CLSID:A4639D2F-774E-11D3-A490-00C04F6843FB"></object>
<object id=MSOTIME classid="CLSID:A4639D29-774E-11D3-A490-00C04F6843FB"></object>
<![endif]-->
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:76% !important;}
-->
</style>
<style>
<!--
oa\:* { BEHAVIOR: url(#MSOANIM#ANIM) url(#MSOTIME#TIME) }
oa\:par,oa\:seq,oa\:iterate { BEHAVIOR:url(#MSOTIME) }
oa\:video,oa\:audio {BEHAVIOR:url(#MSOTIME) url(#MSOTIME#MEDIA) }
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><script><!--
g_animItemsToHide=new Array("_x0000_s123952_AllText","_x0000_s123952","_x0000_s123948_AllText","_x0000_s123948","_x0000_s123947_AllText","_x0000_s123947","_x0000_s123951_AllText","_x0000_s123951","_x0000_s123949_AllText","_x0000_s123949","_x0000_s123946_AllText","_x0000_s123946","_x0000_s123945_AllText","_x0000_s123945","_x0000_s123944_AllText","_x0000_s123944","_x0000_s123943_AllText","_x0000_s123943","_x0000_s123942_AllText","_x0000_s123942","_x0000_s123918_AllText","_x0000_s123918","_x0000_s123915_AllText","_x0000_s123915");

//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><p:slidetransition advancetime="0" speed="1"
 effect="randomBar" direction="vertical" flag="1"/><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="122"/>
 <o:regrouptable v:ext="edit">
  <o:entry new="1" old="0"/>
  <o:entry new="2" old="0"/>
 </o:regrouptable>
</o:shapelayout>
</head>

<body lang=ES-MODERN style='margin:0px;background-color:#993300'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()" oa:clockstart="onstart">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:755px;height:566px;font-size:16px;background-color:black;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden;filter:revealtrans(Duration=2, Transition=22)'><p:slide
 coordsize="720,540"
 colors="#993300,#ffffff,#bb5f03,#feec94,#ff9900,#b76a03,#ffffcc,#cccc00"
 masterhref="master04.xml">
 <v:background id="_x0000_s123905" o:bwmode="white" fillcolor="black"/>
 <v:group id="_x0000_s123942" style='position:absolute;left:17.25pt;top:233.125pt;
  width:702.75pt;height:58.875pt' coordorigin="138,1865" coordsize="5622,471">
  <v:shapetype id="_x0000_t13" coordsize="21600,21600" o:spt="13" adj="16200,5400"
   path="m@0,l@0@1,0@1,0@2@0@2@0,21600,21600,10800xe">
   <v:stroke joinstyle="miter"/>
   <v:formulas>
    <v:f eqn="val #0"/>
    <v:f eqn="val #1"/>
    <v:f eqn="sum height 0 #1"/>
    <v:f eqn="sum 10800 0 #1"/>
    <v:f eqn="sum width 0 #0"/>
    <v:f eqn="prod @4 @3 10800"/>
    <v:f eqn="sum width 0 @5"/>
   </v:formulas>
   <v:path o:connecttype="custom" o:connectlocs="@0,0;0,10800;@0,21600;21600,10800"
    o:connectangles="270,180,90,0" textboxrect="0,@1,@6,@2"/>
   <v:handles>
    <v:h position="#0,#1" xrange="0,21600" yrange="0,10800"/>
   </v:handles>
  </v:shapetype><v:shape id="_x0000_s123909" type="#_x0000_t13" style='position:absolute;
   left:138;top:1865;width:5622;height:471' o:regroupid="1" o:allowincell="f"
   adj="19457,4422" fillcolor="silver"/>
  <v:shape id="_x0000_s123910" style='position:absolute;left:1912;top:1976;
   width:0;height:261;mso-position-horizontal:absolute;
   mso-position-horizontal-relative:text;mso-position-vertical:absolute;
   mso-position-vertical-relative:text' coordsize="1,700" o:regroupid="1"
   o:allowincell="f" path="m,l,700e" filled="f">
   <v:path arrowok="t"/>
  </v:shape><v:shape id="_x0000_s123911" style='position:absolute;left:3563;
   top:1961;width:0;height:276;mso-position-horizontal:absolute;
   mso-position-horizontal-relative:text;mso-position-vertical:absolute;
   mso-position-vertical-relative:text' coordsize="1,740" o:regroupid="1"
   o:allowincell="f" path="m,l,740e" filled="f">
   <v:path arrowok="t"/>
  </v:shape><v:shapetype id="_x0000_t202" coordsize="21600,21600" o:spt="202"
   path="m,l,21600r21600,l21600,xe">
   <v:stroke joinstyle="miter"/>
   <v:path gradientshapeok="t" o:connecttype="rect"/>
  </v:shapetype><v:shape id="_x0000_s123912" type="#_x0000_t202" style='position:absolute;
   left:663;top:2000;width:669;height:201' o:regroupid="1" o:allowincell="f">
   <v:textbox style='mso-next-textbox:#_x0000_s123912'/>
  </v:shape><v:shape id="_x0000_s123913" type="#_x0000_t202" style='position:absolute;
   left:2336;top:1995;width:737;height:206' o:regroupid="1" o:allowincell="f">
   <v:textbox style='mso-next-textbox:#_x0000_s123913'/>
  </v:shape><v:shape id="_x0000_s123914" type="#_x0000_t202" style='position:absolute;
   left:3943;top:1995;width:1071;height:206' o:regroupid="1" o:allowincell="f">
   <v:textbox style='mso-next-textbox:#_x0000_s123914'/>
  </v:shape><p:animation number="4" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:group><![if !ppt]>
 <div id="_x0000_s123942_AllText" style='position:absolute;top:42.93%;
 left:2.38%;width:98.14%;height:11.48%;white-space:nowrap'
 onfilterchange="javascript:TickHandler()"><![endif]><![if !vml]><img border=0
 v:shapes="_x0000_s123942,_x0000_s123909,_x0000_s123910,_x0000_s123911,_x0000_s123912,_x0000_s123913,_x0000_s123914"
 src="slide0071_image083.gif" style='position:absolute;top:0%;left:0%;
 width:100.0%;height:100.0%'><![endif]>
 <div v:shape="_x0000_s123912" class=O style='text-align:center;mso-char-wrap:
 1;mso-kinsoku-overflow:1;position:absolute;top:36.92%;left:10.39%;width:9.71%;
 height:26.15%'><span lang=ES-MODERN style='font-family:Arial;font-size:58%;
 color:black'><b>1996</b></span></div>
 <div v:shape="_x0000_s123913" class=O style='text-align:center;mso-char-wrap:
 1;mso-kinsoku-overflow:1;position:absolute;top:35.38%;left:39.94%;width:10.93%;
 height:26.15%'><span lang=ES-MODERN style='font-family:Arial;font-size:58%;
 color:black'><b>1997</b></span></div>
 <div v:shape="_x0000_s123914" class=O style='text-align:center;mso-char-wrap:
 1;mso-kinsoku-overflow:1;position:absolute;top:35.38%;left:68.42%;width:16.86%;
 height:26.15%'><span lang=ES-MODERN style='font-family:Arial;font-size:58%;
 color:black'><b>Abril 1998</b></span></div>
 <![if !ppt]></div>
 <![endif]><v:shape id="_x0000_s123915" type="#_x0000_t202" style='position:absolute;
  left:24pt;top:54.5pt;width:696pt;height:63.5pt' o:regroupid="1" fillcolor="red">
  <p:animation number="2" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s123915" src="slide0071_image084.gif" style='position:absolute;
 top:10.07%;left:3.31%;width:97.08%;height:12.19%'><![endif]>
 <div id="_x0000_s123915_AllText" v:shape="_x0000_s123915" style='position:
 absolute;top:11.13%;left:4.37%;width:94.7%;height:11.83%'>
 <div class=O1 style='text-align:justify;mso-margin-left-alt:113;mso-char-wrap:
 1;mso-kinsoku-overflow:1;position:absolute;top:0%;left:2.09%;width:97.9%;
 height:67.16%'><span style='font-family:Arial;font-size:75%;color:black'><span
 style='mso-special-format:bullet;position:absolute;left:1.14%;text-align:left;
 font-family:Wingdings'>&uuml;</span></span><span lang=ES-MODERN
 style='font-family:Arial;font-size:75%;color:black'><b>Creaci&oacute;n y
 puesta en funcionamiento de la instancia formal responsable de gestionar las
 pol&iacute;ticas de desarrollo locales: el CID&#13;</b></span></div>
 <div class=O style='mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;
 top:67.16%;left:0%;width:100.0%;height:32.83%'><span lang=ES-MODERN
 style='font-family:Arial;font-size:75%;color:black;mso-special-format:lastCR;
 display:none'><b>&#13;</b></span></div>
 </div>
 <v:shape id="_x0000_s123918" type="#_x0000_t202" style='position:absolute;
  left:10.5pt;top:457.125pt;width:696.125pt;height:26.875pt' o:regroupid="1"
  fillcolor="red">
  <p:animation number="3" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s123918" src="slide0071_image085.gif" style='position:absolute;
 top:84.62%;left:1.45%;width:97.08%;height:5.47%'><![endif]>
 <div id="_x0000_s123918_AllText" v:shape="_x0000_s123918" style='position:
 absolute;top:85.68%;left:2.51%;width:94.7%;height:7.95%'>
 <div class=O1 style='text-align:justify;mso-char-wrap:1;mso-kinsoku-overflow:
 1;position:absolute;top:0%;left:5.31%;width:53.98%;height:48.88%'><nobr><span
 style='font-family:Arial;font-size:75%;color:black'><span style='mso-special-format:
 bullet;text-align:left;font-family:Wingdings'>&uuml;</span></span><span
 lang=ES-MODERN style='font-family:Arial;font-size:75%;color:black'><b>An&aacute;lisis
 de la realidad local del Valle Sur.&#13;</b></span></nobr></div>
 <div class=O style='mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;
 top:48.88%;left:0%;width:100.0%;height:48.88%'><span lang=ES-MODERN
 style='font-family:Arial;font-size:75%;color:black;mso-special-format:lastCR;
 display:none'><b>&#13;</b></span></div>
 </div>
 <v:group id="_x0000_s123943" style='position:absolute;left:-2.875pt;top:139.625pt;
  width:73.625pt;height:102pt' coordorigin="-23,1117" coordsize="589,816">
  <v:shape id="_x0000_s123916" type="#_x0000_t202" style='position:absolute;
   left:-23;top:1117;width:589;height:382' o:regroupid="1">
   <v:textbox style='mso-next-textbox:#_x0000_s123916'/>
  </v:shape><v:line id="_x0000_s123920" style='position:absolute;flip:y'
   from="245,1556" to="245,1933" o:regroupid="1" strokecolor="white [1]">
   <v:stroke endarrow="block"/>
  </v:line><p:animation number="5" delay="0" type="object" effect="wipe"
   direction="up" flag="17412"/></v:group><![if !ppt]>
 <div id="_x0000_s123943_AllText" style='position:absolute;top:25.79%;
 left:-.39%;width:10.59%;height:19.43%;white-space:nowrap'
 onfilterchange="javascript:TickHandler()"><![endif]><![if !vml]><img border=0
 v:shapes="_x0000_s123943,_x0000_s123916,_x0000_s123920"
 src="slide0071_image086.gif" style='position:absolute;top:0%;left:0%;
 width:100.0%;height:100.0%'><![endif]>
 <div v:shape="_x0000_s123916" class=O style='text-align:center;mso-char-wrap:
 1;mso-kinsoku-overflow:1'><span style='position:absolute;top:4.54%;left:3.75%;
 width:90.0%;height:13.63%'><span lang=ES-MODERN style='font-family:Arial;
 font-size:50%;color:black'><b>Conforma</b></span></span><span
 style='position:absolute;top:19.09%;left:10.0%;width:77.5%;height:13.63%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:50%;color:black'><b>ci&oacute;n
 del </b></span></span><span style='position:absolute;top:32.72%;left:10.0%;
 width:77.5%;height:13.63%'><span lang=ES-MODERN style='font-family:Arial;
 font-size:50%;color:black'><b>CID</b></span></span></div>
 <![if !ppt]></div>
 <![endif]><v:group id="_x0000_s123944" style='position:absolute;left:70.875pt;
  top:139.625pt;width:86.875pt;height:102pt' coordorigin="567,1117"
  coordsize="695,816">
  <v:shape id="_x0000_s123917" type="#_x0000_t202" style='position:absolute;
   left:567;top:1117;width:695;height:493' o:regroupid="1">
   <v:textbox style='mso-next-textbox:#_x0000_s123917'/>
  </v:shape><v:line id="_x0000_s123921" style='position:absolute;flip:y'
   from="941,1664" to="941,1933" o:regroupid="1" strokecolor="white [1]">
   <v:stroke endarrow="block"/>
  </v:line><p:animation number="6" delay="0" type="object" effect="wipe"
   direction="up" flag="17412"/></v:group><![if !ppt]>
 <div id="_x0000_s123944_AllText" style='position:absolute;top:25.79%;
 left:9.8%;width:12.45%;height:19.43%;white-space:nowrap'
 onfilterchange="javascript:TickHandler()"><![endif]><![if !vml]><img border=0
 v:shapes="_x0000_s123944,_x0000_s123917,_x0000_s123921"
 src="slide0071_image087.gif" style='position:absolute;top:0%;left:0%;
 width:100.0%;height:100.0%'><![endif]>
 <div v:shape="_x0000_s123917" class=O style='text-align:center;mso-char-wrap:
 1;mso-kinsoku-overflow:1'><span style='position:absolute;top:4.54%;left:2.12%;
 width:93.61%;height:13.63%'><span lang=ES-MODERN style='font-family:Arial;
 font-size:50%;color:black'><b>Elaboraci&oacute;n </b></span></span><span
 style='position:absolute;top:19.09%;left:1.06%;width:95.74%;height:13.63%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:50%;color:black'><b>de
 estatutos </b></span></span><span style='position:absolute;top:32.72%;
 left:8.51%;width:80.85%;height:13.63%'><span lang=ES-MODERN style='font-family:
 Arial;font-size:50%;color:black'><b>del CID </b></span></span></div>
 <![if !ppt]></div>
 <![endif]><v:group id="_x0000_s123945" style='position:absolute;left:164.5pt;
  top:139.625pt;width:99.125pt;height:102pt' coordorigin="1316,1117"
  coordsize="793,816">
  <v:shape id="_x0000_s123919" type="#_x0000_t202" style='position:absolute;
   left:1316;top:1117;width:793;height:601' o:regroupid="1">
   <v:textbox style='mso-next-textbox:#_x0000_s123919'/>
  </v:shape><v:line id="_x0000_s123922" style='position:absolute;flip:y'
   from="1583,1771" to="1583,1933" o:regroupid="1" strokecolor="white [1]">
   <v:stroke endarrow="block"/>
  </v:line><p:animation number="7" delay="0" type="object" effect="wipe"
   direction="up" flag="17412"/></v:group><![if !ppt]>
 <div id="_x0000_s123945_AllText" style='position:absolute;top:25.79%;
 left:22.78%;width:14.17%;height:19.43%;white-space:nowrap'
 onfilterchange="javascript:TickHandler()"><![endif]><![if !vml]><img border=0
 v:shapes="_x0000_s123945,_x0000_s123919,_x0000_s123922"
 src="slide0071_image088.gif" style='position:absolute;top:0%;left:0%;
 width:100.0%;height:100.0%'><![endif]>
 <div v:shape="_x0000_s123919" class=O style='text-align:justify;mso-char-wrap:
 1;mso-kinsoku-overflow:1;position:absolute;top:4.54%;left:7.47%;width:83.17%;
 height:54.54%'><span lang=ES-MODERN style='font-family:Arial;font-size:50%;
 color:black'><b>Acuerdo para<span style='mso-spacerun:yes'>&nbsp;
 </span>elaborar el Plan Integral Interdistrital</b></span></div>
 <![if !ppt]></div>
 <![endif]><v:group id="_x0000_s123949" style='position:absolute;left:184.25pt;
  top:283.5pt;width:160.875pt;height:139.625pt' coordorigin="1474,2268"
  coordsize="1287,1117">
  <v:shape id="_x0000_s123923" type="#_x0000_t202" style='position:absolute;
   left:1474;top:2580;width:1287;height:805' o:regroupid="1">
   <v:textbox style='mso-next-textbox:#_x0000_s123923'/>
  </v:shape><v:line id="_x0000_s123924" style='position:absolute' from="2387,2268"
   to="2387,2537" o:regroupid="1" strokecolor="white [1]">
   <v:stroke endarrow="block"/>
  </v:line><p:animation number="9" delay="0" type="object" effect="wipe"
   direction="down" flag="17412"/></v:group><![if !ppt]>
 <div id="_x0000_s123949_AllText" style='position:absolute;top:52.47%;
 left:25.56%;width:22.64%;height:26.32%;white-space:nowrap'
 onfilterchange="javascript:TickHandler()"><![endif]><![if !vml]><img border=0
 v:shapes="_x0000_s123949,_x0000_s123923,_x0000_s123924"
 src="slide0071_image089.gif" style='position:absolute;top:0%;left:0%;
 width:100.0%;height:100.0%'><![endif]>
 <div v:shape="_x0000_s123923" class=O style='text-align:justify;mso-char-wrap:
 1;mso-kinsoku-overflow:1;position:absolute;top:30.87%;left:4.67%;width:90.05%;
 height:50.33%'><span lang=ES-MODERN style='font-family:Arial;font-size:50%;
 color:black'><b>Diagn&oacute;sticos distritales preliminares que identifican
 problemas y<span style='mso-spacerun:yes'>&nbsp; </span>potencialidades
 comunes del Valle Sur.</b></span></div>
 <![if !ppt]></div>
 <![endif]><v:group id="_x0000_s123946" style='position:absolute;left:284.875pt;
  top:139.625pt;width:137.5pt;height:102pt' coordorigin="2279,1117"
  coordsize="1100,816">
  <v:shape id="_x0000_s123925" type="#_x0000_t202" style='position:absolute;
   left:2279;top:1117;width:1100;height:635' o:regroupid="1">
   <v:textbox style='mso-next-textbox:#_x0000_s123925'/>
  </v:shape><v:line id="_x0000_s123926" style='position:absolute;flip:y'
   from="2708,1771" to="2708,1933" o:regroupid="1" strokecolor="white [1]">
   <v:stroke endarrow="block"/>
  </v:line><p:animation number="8" delay="0" type="object" effect="wipe"
   direction="up" flag="17412"/></v:group><![if !ppt]>
 <div id="_x0000_s123946_AllText" style='position:absolute;top:25.79%;
 left:39.47%;width:19.47%;height:19.43%;white-space:nowrap'
 onfilterchange="javascript:TickHandler()"><![endif]><![if !vml]><img border=0
 v:shapes="_x0000_s123946,_x0000_s123925,_x0000_s123926"
 src="slide0071_image090.gif" style='position:absolute;top:0%;left:0%;
 width:100.0%;height:100.0%'><![endif]>
 <div v:shape="_x0000_s123925" class=O style='text-align:justify;mso-char-wrap:
 1;mso-kinsoku-overflow:1;position:absolute;top:4.54%;left:6.12%;width:87.75%;
 height:54.54%'><span lang=ES-MODERN style='font-family:Arial;font-size:50%;
 color:black'><b>Formulaci&oacute;n del plan de trabajo para la
 elaboraci&oacute;n del PID del Valle Sur.</b></span></div>
 <![if !ppt]></div>
 <![endif]><v:group id="_x0000_s123947" style='position:absolute;left:439.375pt;
  top:139.625pt;width:93.25pt;height:102pt' coordorigin="3515,1117"
  coordsize="746,816">
  <v:shape id="_x0000_s123927" type="#_x0000_t202" style='position:absolute;
   left:3515;top:1117;width:746;height:601' o:regroupid="1">
   <v:textbox style='mso-next-textbox:#_x0000_s123927'/>
  </v:shape><v:line id="_x0000_s123928" style='position:absolute;flip:y'
   from="3939,1771" to="3939,1933" o:regroupid="1" strokecolor="white [1]">
   <v:stroke endarrow="block"/>
  </v:line><p:animation number="11" delay="0" type="object" effect="wipe"
   direction="up" flag="17412"/></v:group><![if !ppt]>
 <div id="_x0000_s123947_AllText" style='position:absolute;top:25.79%;
 left:60.92%;width:13.37%;height:19.43%;white-space:nowrap'
 onfilterchange="javascript:TickHandler()"><![endif]><![if !vml]><img border=0
 v:shapes="_x0000_s123947,_x0000_s123927,_x0000_s123928"
 src="slide0071_image091.gif" style='position:absolute;top:0%;left:0%;
 width:100.0%;height:100.0%'><![endif]>
 <div v:shape="_x0000_s123927" class=O style='text-align:center;mso-char-wrap:
 1;mso-kinsoku-overflow:1'><span style='position:absolute;top:4.54%;left:8.91%;
 width:82.17%;height:13.63%'><span lang=ES-MODERN style='font-family:Arial;
 font-size:50%;color:black'><b>Instalaci&oacute;n </b></span></span><span
 style='position:absolute;top:19.09%;left:2.97%;width:94.05%;height:13.63%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:50%;color:black'><b>de la
 primera </b></span></span><span style='position:absolute;top:32.72%;
 left:4.95%;width:88.11%;height:13.63%'><span lang=ES-MODERN style='font-family:
 Arial;font-size:50%;color:black'><b>directiva del </b></span></span><span
 style='position:absolute;top:46.36%;left:8.91%;width:82.17%;height:13.63%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:50%;color:black'><b>CID.</b></span></span></div>
 <![if !ppt]></div>
 <![endif]><v:group id="_x0000_s123948" style='position:absolute;left:547.125pt;
  top:139.625pt;width:96.375pt;height:102pt' coordorigin="4377,1117"
  coordsize="771,816">
  <v:shape id="_x0000_s123929" type="#_x0000_t202" style='position:absolute;
   left:4377;top:1117;width:771;height:680' o:regroupid="1">
   <v:textbox style='mso-next-textbox:#_x0000_s123929'/>
  </v:shape><v:shape id="_x0000_s123930" style='position:absolute;left:4743;
   top:1801;width:2;height:132' coordsize="2,132" o:regroupid="1" path="m,132l2,e"
   filled="f" strokecolor="white [1]">
   <v:stroke endarrow="block"/>
   <v:path arrowok="t"/>
  </v:shape><p:animation number="12" delay="0" type="object" effect="wipe"
   direction="up" flag="17412"/></v:group><![if !ppt]>
 <div id="_x0000_s123948_AllText" style='position:absolute;top:25.79%;
 left:75.89%;width:13.77%;height:19.43%;white-space:nowrap'
 onfilterchange="javascript:TickHandler()"><![endif]><![if !vml]><img border=0
 v:shapes="_x0000_s123948,_x0000_s123929,_x0000_s123930"
 src="slide0071_image092.gif" style='position:absolute;top:0%;left:0%;
 width:100.0%;height:100.0%'><![endif]>
 <div v:shape="_x0000_s123929" class=O style='text-align:center;mso-char-wrap:
 1;mso-kinsoku-overflow:1'><span style='position:absolute;top:4.54%;left:8.65%;
 width:82.69%;height:13.63%'><span lang=ES-MODERN style='font-family:Arial;
 font-size:50%;color:black'><b>Realizaci&oacute;n </b></span></span><span
 style='position:absolute;top:19.09%;left:3.84%;width:92.3%;height:13.63%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:50%;color:black'><b>del I
 Foro del </b></span></span><span style='position:absolute;top:32.72%;
 left:8.65%;width:82.69%;height:13.63%'><span lang=ES-MODERN style='font-family:
 Arial;font-size:50%;color:black'><b>Valle Sur, </b></span></span><span
 style='position:absolute;top:46.36%;left:2.88%;width:94.23%;height:13.63%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:50%;color:black'><b>conformando
 </b></span></span><span style='position:absolute;top:60.0%;left:8.65%;
 width:82.69%;height:13.63%'><span lang=ES-MODERN style='font-family:Arial;
 font-size:50%;color:black'><b>las COTIs</b></span></span></div>
 <![if !ppt]></div>
 <![endif]><v:group id="_x0000_s123952" style='position:absolute;left:485.75pt;
  top:290.25pt;width:146.375pt;height:127.125pt' coordorigin="3886,2322"
  coordsize="1171,1017">
  <v:shape id="_x0000_s123935" type="#_x0000_t202" style='position:absolute;
   left:3886;top:2645;width:1171;height:694' o:regroupid="1"/>
  <v:line id="_x0000_s123936" style='position:absolute' from="4368,2322" to="4368,2591"
   o:regroupid="1" strokecolor="white [1]">
   <v:stroke endarrow="block"/>
  </v:line><p:animation number="13" delay="0" type="object" effect="wipe"
   direction="down" flag="17412"/></v:group><![if !ppt]>
 <div id="_x0000_s123952_AllText" style='position:absolute;top:53.71%;
 left:67.41%;width:20.66%;height:24.02%;white-space:nowrap'
 onfilterchange="javascript:TickHandler()"><![endif]><![if !vml]><img border=0
 v:shapes="_x0000_s123952,_x0000_s123935,_x0000_s123936"
 src="slide0071_image093.gif" style='position:absolute;top:0%;left:0%;
 width:100.0%;height:100.0%'><![endif]>
 <div v:shape="_x0000_s123935" class=O style='text-align:justify;mso-char-wrap:
 1;mso-kinsoku-overflow:1;position:absolute;top:35.29%;left:5.12%;width:88.46%;
 height:55.14%'><span lang=ES-MODERN style='font-family:Arial;font-size:50%;
 color:black'><b>Elaboraci&oacute;n de un Lema y una Declaraci&oacute;n que
 recoge una Visi&oacute;n de Futuro para el Valle.</b></span></div>
 <![if !ppt]></div>
 <![endif]><v:group id="_x0000_s123951" style='position:absolute;left:345.125pt;
  top:275.625pt;width:124pt;height:181.5pt' coordorigin="2761,2205"
  coordsize="992,1452">
  <v:shape id="_x0000_s123931" type="#_x0000_t202" style='position:absolute;
   left:2869;top:2387;width:873;height:402' o:regroupid="2"/>
  <v:line id="_x0000_s123932" style='position:absolute' from="3288,2205" to="3288,2367"
   o:regroupid="2" strokecolor="white [1]">
   <v:stroke endarrow="block"/>
  </v:line><v:shape id="_x0000_s123933" type="#_x0000_t202" style='position:absolute;
   left:2869;top:2843;width:873;height:361' o:regroupid="2"/>
  <v:shape id="_x0000_s123934" type="#_x0000_t202" style='position:absolute;
   left:2880;top:3302;width:873;height:355' o:regroupid="2"/>
  <v:line id="_x0000_s123937" style='position:absolute' from="2761,2994" to="2869,2994"
   o:regroupid="2" strokecolor="white [1]"/>
  <v:line id="_x0000_s123938" style='position:absolute' from="2815,2618" to="2815,3316"
   o:regroupid="2" strokecolor="white [1]"/>
  <v:line id="_x0000_s123939" style='position:absolute' from="2815,2618" to="2869,2618"
   o:regroupid="2" strokecolor="white [1]"/>
  <v:line id="_x0000_s123940" style='position:absolute' from="2815,3316" to="2869,3316"
   o:regroupid="2" strokecolor="white [1]"/>
  <p:animation number="10" delay="0" type="object" effect="wipe"
   direction="down" flag="17412"/></v:group><![if !ppt]>
 <div id="_x0000_s123951_AllText" style='position:absolute;top:51.06%;
 left:47.94%;width:17.61%;height:34.09%;white-space:nowrap'
 onfilterchange="javascript:TickHandler()"><![endif]><![if !vml]><img border=0
 v:shapes="_x0000_s123951,_x0000_s123931,_x0000_s123932,_x0000_s123933,_x0000_s123934,_x0000_s123937,_x0000_s123938,_x0000_s123939,_x0000_s123940"
 src="slide0071_image094.gif" style='position:absolute;top:0%;left:0%;
 width:100.0%;height:100.0%'><![endif]>
 <div v:shape="_x0000_s123931" class=O style='text-align:justify;mso-char-wrap:
 1;mso-kinsoku-overflow:1;position:absolute;top:15.02%;left:16.54%;width:66.16%;
 height:15.54%'><span lang=ES-MODERN style='font-family:Arial;font-size:50%;
 color:black'><b>Construcci&oacute;n de tendencias.</b></span></div>
 <div v:shape="_x0000_s123933" class=O style='text-align:justify;mso-char-wrap:
 1;mso-kinsoku-overflow:1;position:absolute;top:46.11%;left:16.54%;width:74.43%;
 height:15.54%'><span lang=ES-MODERN style='font-family:Arial;font-size:50%;
 color:black'><b>Identificaci&oacute;n<span style='mso-spacerun:yes'>&nbsp;
 </span>proyectos piloto</b></span></div>
 <div v:shape="_x0000_s123934" class=O style='text-align:justify;mso-char-wrap:
 1;mso-kinsoku-overflow:1;position:absolute;top:77.2%;left:17.29%;width:74.43%;
 height:15.54%'><span lang=ES-MODERN style='font-family:Arial;font-size:50%;
 color:black'><b>1&ordf; formulaci&oacute;n visi&oacute;n de futuro.</b></span></div>
 <![if !ppt]></div>
 <![endif]><v:shape id="_x0000_s123941" type="#_x0000_t202" style='position:absolute;
  left:19.75pt;top:14.875pt;width:180.375pt;height:31.25pt;mso-wrap-style:none;
  v-text-anchor:top-baseline' filled="f" fillcolor="#f90 [4]" stroked="f"
  strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
 </v:shape>
 <div v:shape="_x0000_s123941" class=O style='mso-char-wrap:1;mso-kinsoku-overflow:
 1;position:absolute;top:3.71%;left:3.7%;width:27.81%;height:4.24%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:83%'><b>PRIMERA ETAPA</b></span></div>
</p:slide></div>

<p:animation number="-2090820415"/><oa:par id="TimeNode0" dur="indefinite"
 restart="never" p:nodeType="timingRoot">
 <oa:seq id="TimeNode1" dur="indefinite" prev="document.onpptprev"
  next="document.onpptnext" concurrent="enabled" nextAction="seek"
  p:nodeType="mainSeq">
  <oa:par id="TimeNode2" begin="indefinite;TimeNode1.onbegin" fill="hold">
   <oa:par id="TimeNode3" begin="0.0" fill="hold">
    <oa:par id="TimeNode4" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode5" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s123915" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode6" dur="0.5" targetElement="_x0000_s123915"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode7" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode8" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s123915_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode9" dur="0.5"
      targetElement="_x0000_s123915_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode10" begin="0.5" fill="hold">
    <oa:par id="TimeNode11" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode12" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s123918" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode13" dur="1.0" targetElement="_x0000_s123918"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode14" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode15" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s123918_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode16" dur="1.0"
      targetElement="_x0000_s123918_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode17" begin="1.5" fill="hold">
    <oa:par id="TimeNode18" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode19" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s123942" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode20" dur="2.0" targetElement="_x0000_s123942"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode21" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode22" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s123942_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode23" dur="2.0"
      targetElement="_x0000_s123942_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode24" begin="3.5" fill="hold">
    <oa:par id="TimeNode25" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x4" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode26" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s123943" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode27" dur="1.0" targetElement="_x0000_s123943"
      transition="in" filter="wipe(down)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode28" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x4" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode29" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s123943_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode30" dur="1.0"
      targetElement="_x0000_s123943_AllText" transition="in" filter="wipe(down)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode31" begin="4.5" fill="hold">
    <oa:par id="TimeNode32" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x4" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode33" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s123944" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode34" dur="0.5" targetElement="_x0000_s123944"
      transition="in" filter="wipe(down)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode35" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x4" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode36" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s123944_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode37" dur="0.5"
      targetElement="_x0000_s123944_AllText" transition="in" filter="wipe(down)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode38" begin="5.0" fill="hold">
    <oa:par id="TimeNode39" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x4" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode40" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s123945" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode41" dur="1.0" targetElement="_x0000_s123945"
      transition="in" filter="wipe(down)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode42" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x4" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode43" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s123945_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode44" dur="1.0"
      targetElement="_x0000_s123945_AllText" transition="in" filter="wipe(down)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode45" begin="6.0" fill="hold">
    <oa:par id="TimeNode46" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x4" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode47" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s123946" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode48" dur="1.0" targetElement="_x0000_s123946"
      transition="in" filter="wipe(down)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode49" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x4" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode50" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s123946_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode51" dur="1.0"
      targetElement="_x0000_s123946_AllText" transition="in" filter="wipe(down)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode52" begin="7.0" fill="hold">
    <oa:par id="TimeNode53" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x1" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode54" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s123949" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode55" dur="0.5" targetElement="_x0000_s123949"
      transition="in" filter="wipe(up)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode56" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x1" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode57" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s123949_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode58" dur="0.5"
      targetElement="_x0000_s123949_AllText" transition="in" filter="wipe(up)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode59" begin="7.5" fill="hold">
    <oa:par id="TimeNode60" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x1" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode61" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s123951" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode62" dur="0.5" targetElement="_x0000_s123951"
      transition="in" filter="wipe(up)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode63" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x1" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode64" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s123951_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode65" dur="0.5"
      targetElement="_x0000_s123951_AllText" transition="in" filter="wipe(up)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode66" begin="8.0" fill="hold">
    <oa:par id="TimeNode67" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x4" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode68" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s123947" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode69" dur="0.5" targetElement="_x0000_s123947"
      transition="in" filter="wipe(down)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode70" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x4" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode71" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s123947_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode72" dur="0.5"
      targetElement="_x0000_s123947_AllText" transition="in" filter="wipe(down)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode73" begin="8.5" fill="hold">
    <oa:par id="TimeNode74" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x4" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode75" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s123948" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode76" dur="0.5" targetElement="_x0000_s123948"
      transition="in" filter="wipe(down)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode77" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x4" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode78" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s123948_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode79" dur="0.5"
      targetElement="_x0000_s123948_AllText" transition="in" filter="wipe(down)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode80" begin="9.0" fill="hold">
    <oa:par id="TimeNode81" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x1" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode82" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s123952" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode83" dur="0.5" targetElement="_x0000_s123952"
      transition="in" filter="wipe(up)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode84" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x1" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode85" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s123952_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode86" dur="0.5"
      targetElement="_x0000_s123952_AllText" transition="in" filter="wipe(up)"/>
    </oa:par>
    <![endif]></oa:par>
  </oa:par>
 </oa:seq>
</oa:par>
<![if ppt]>
<oa:buildParagraph targetElement="_x0000_s123915" groupID="0" build="asAWhole"
 buildLevel="1" alsoAnimate="background" reverse="false" buildAdvance="onclick"
 userSetAnimBgd="false"/><oa:buildParagraph targetElement="_x0000_s123918"
 groupID="0" build="asAWhole" buildLevel="1" alsoAnimate="background"
 reverse="false" buildAdvance="onclick" userSetAnimBgd="false"/>
<![endif]>
</body>

</html>
