<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=us-ascii">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 11">
<link id=Main-File rel=Main-File href="../CID_valle_sur_ilmc.htm">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>PIDES</title>
<meta name=Description content="22/04/2005">
<link rel=Stylesheet href="master04_stylesheet.css">
<!--[if gte IE 5]>
<object id=MSOANIM classid="CLSID:A4639D2F-774E-11D3-A490-00C04F6843FB"></object>
<object id=MSOTIME classid="CLSID:A4639D29-774E-11D3-A490-00C04F6843FB"></object>
<![endif]-->
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:76% !important;}
-->
</style>
<style>
<!--
oa\:* { BEHAVIOR: url(#MSOANIM#ANIM) url(#MSOTIME#TIME) }
oa\:par,oa\:seq,oa\:iterate { BEHAVIOR:url(#MSOTIME) }
oa\:video,oa\:audio {BEHAVIOR:url(#MSOTIME) url(#MSOTIME#MEDIA) }
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><script><!--
g_animItemsToHide=new Array("_x0000_s24580_AllText","_x0000_s24580","_x0000_s24582_AllText","_x0000_s24582","_x0000_s24581_AllText","_x0000_s24581","_x0000_s24579_AllText","_x0000_s24579","_x0000_s24578_AllText","_x0000_s24578");

//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><p:slidetransition advancetime="0" speed="1"
 effect="randomBar" direction="vertical" flag="1"/><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="120"/>
</o:shapelayout>
</head>

<body lang=ES-MODERN style='margin:0px;background-color:#993300'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()" oa:clockstart="onstart">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:755px;height:566px;font-size:16px;background-color:#993300;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden;filter:revealtrans(Duration=2, Transition=22)'><p:slide
 coordsize="720,540"
 colors="#993300,#ffffff,#bb5f03,#feec94,#ff9900,#b76a03,#ffffcc,#cccc00"
 masterhref="master04.xml">
 <p:shaperange href="master04.xml#_x0000_s118785"/><![if !vml]><img
 src="master04_background.gif" v:shapes="_x0000_s118785" style='position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><![endif]><![if !ppt]><p:shaperange
  href="master04.xml#_x0000_s118786"/><![if !vml]><img border=0
 v:shapes="_x0000_s118786,_x0000_s118787,_x0000_s118788,_x0000_s118789,_x0000_s118790,_x0000_s118791,_x0000_s118792,_x0000_s118793,_x0000_s118794,_x0000_s118795,_x0000_s118796,_x0000_s118797,_x0000_s118798,_x0000_s118799,_x0000_s118800,_x0000_s118801,_x0000_s118802,_x0000_s118803,_x0000_s118804"
 src="master04_image015.gif" style='position:absolute;top:0%;left:0%;
 width:100.26%;height:101.41%'><![endif]><p:shaperange
  href="master04.xml#_x0000_s118809"/>
 <div v:shape="_x0000_s118809" class=O>
 <div style='text-align:right;mso-char-wrap:1;mso-kinsoku-overflow:1;
 position:absolute;top:92.04%;left:72.71%;width:21.45%;height:3.0%'><span
 lang=ES-MODERN style='font-size:58%;text-shadow:auto;mso-field-code:meta16'>9</span><span
 lang=ES-MODERN style='font-size:58%;text-shadow:auto;mso-special-format:lastCR;
 display:none'>&#13;</span></div>
 </div>
 <![endif]><v:shapetype id="_x0000_t202" coordsize="21600,21600" o:spt="202"
  path="m,l,21600r21600,l21600,xe">
  <v:stroke joinstyle="miter"/>
  <v:path gradientshapeok="t" o:connecttype="rect"/>
 </v:shapetype><v:shape id="_x0000_s24578" type="#_x0000_t202" style='position:absolute;
  left:32.5pt;top:14.875pt;width:696pt;height:84pt' filled="f" fillcolor="#f90 [4]"
  stroked="f" strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="2" delay="0" type="object" effect="wipe"
   direction="right" flag="1028"/></v:shape>
 <div id="_x0000_s24578_AllText" v:shape="_x0000_s24578" class=O
 style='position:absolute;top:3.88%;left:5.56%;width:94.83%;height:13.95%;
 white-space:nowrap'>
 <div style='mso-line-spacing:"100 50 0"'><span style='position:absolute;
 top:0%;left:0%;width:100.0%;height:48.1%'><span style='font-family:Arial;
 font-size:133%;color:#FFFFCC;mso-color-index:6'><b>&iquest;Como se est&aacute;
 trabajando el proceso<span style='mso-spacerun:yes'>&nbsp;&nbsp; </span></b></span></span><span
 style='position:absolute;top:50.63%;left:0%;width:100.0%;height:49.36%'><span
 style='font-family:Arial;font-size:133%;color:#FFFFCC;mso-color-index:6'><b>PIDES?</b></span><span
 style='font-size:133%;mso-special-format:lastCR;display:none'><b>&#13;</b></span></span></div>
 </div>
 <v:shape id="_x0000_s24579" type="#_x0000_t202" style='position:absolute;
  left:110.5pt;top:133.875pt;width:480pt;height:108.125pt' filled="f"
  fillcolor="#f90 [4]" stroked="f" strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="3" delay="0" type="object" effect="wipe" direction="down"
   flag="1028"/></v:shape>
 <div id="_x0000_s24579_AllText" v:shape="_x0000_s24579" class=O
 style='position:absolute;top:25.79%;left:16.29%;width:75.62%;height:18.37%;
 white-space:nowrap'>
 <div style='mso-line-spacing:"100 50 0"'><span style='position:absolute;
 top:0%;left:0%;width:100.0%;height:32.69%'><span style='font-family:Arial;
 font-size:117%'><b>En el </b></span><span style='font-family:Arial;font-size:
 117%;color:yellow'><b>PIDES del Valle Sur</b></span><span style='font-family:
 Arial;font-size:117%'><b> se viene </b></span></span><span style='position:
 absolute;top:33.65%;left:0%;width:100.0%;height:32.69%'><span
 style='font-family:Arial;font-size:117%'><b>implementando la
 metodolog&iacute;a de </b></span></span><span style='position:absolute;
 top:68.26%;left:0%;width:85.63%;height:32.69%'><span style='font-family:Arial;
 font-size:117%'><b>la Planificaci&oacute;n Estrat&eacute;gica</b></span><span
 style='font-family:Arial;font-size:117%'> </span></span></div>
 </div>
 <v:shape id="_x0000_s24580" type="#_x0000_t202" style='position:absolute;
  left:53.875pt;top:417.375pt;width:436.625pt;height:64.75pt' filled="f"
  fillcolor="#f90 [4]" stroked="f" strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="6" delay="0" type="object" effect="wipe"
   direction="right" flag="1028"/></v:shape>
 <div id="_x0000_s24580_AllText" v:shape="_x0000_s24580" class=O
 style='position:absolute;top:78.26%;left:8.47%;width:70.06%;height:10.42%;
 white-space:nowrap'>
 <div style='mso-line-spacing:"100 50 0"'><span style='position:absolute;
 top:0%;left:1.7%;width:93.19%;height:49.15%'><span style='font-family:Arial'><span
 style='mso-special-format:bullet;position:absolute;left:-1.82%'>&#8226;</span></span><span
 style='font-family:Arial'><b>Concretamos esa estrategia en un </b></span></span><span
 style='position:absolute;top:50.84%;left:0%;width:100.0%;height:49.15%'><span
 style='font-family:Arial'><b>plan de acciones y un plan operativo</b></span></span></div>
 </div>
 <v:shape id="_x0000_s24581" type="#_x0000_t202" style='position:absolute;
  left:53.875pt;top:281.375pt;width:589.75pt;height:64.75pt' filled="f"
  fillcolor="#f90 [4]" stroked="f" strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="4" delay="0" type="object" effect="wipe"
   direction="right" flag="1028"/></v:shape>
 <div id="_x0000_s24581_AllText" v:shape="_x0000_s24581" class=O
 style='position:absolute;top:53.0%;left:8.47%;width:81.45%;height:10.42%;
 white-space:nowrap'>
 <div style='mso-line-spacing:"100 50 0"'><span style='position:absolute;
 top:0%;left:1.46%;width:98.53%;height:49.15%'><span style='font-family:Arial'><span
 style='mso-special-format:bullet;position:absolute;left:-1.48%'>&#8226;</span></span><span
 style='font-family:Arial'><b>Partimos de la construcci&oacute;n de una
 visi&oacute;n </b></span></span><span style='position:absolute;top:50.84%;
 left:0%;width:98.21%;height:49.15%'><span style='font-family:Arial'><b>positiva
 de futuro</b></span><span lang=ES-MODERN style='font-family:Arial;mso-special-format:
 lastCR;display:none'><b>&#13;</b></span></span></div>
 </div>
 <v:shape id="_x0000_s24582" type="#_x0000_t202" style='position:absolute;
  left:53.875pt;top:364.375pt;width:328.875pt;height:36pt' filled="f"
  fillcolor="#f90 [4]" stroked="f" strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="5" delay="0" type="object" effect="wipe"
   direction="right" flag="1028"/></v:shape>
 <div id="_x0000_s24582_AllText" v:shape="_x0000_s24582" class=O
 style='position:absolute;top:68.37%;left:8.47%;width:48.87%;height:5.12%;
 white-space:nowrap'>
 <div style='mso-line-spacing:"100 50 0";position:absolute;top:0%;left:0%;
 width:100.0%;height:100.0%'><span style='position:absolute;top:0%;left:2.43%;
 width:97.56%;height:100.0%'><span style='font-family:Arial'><span
 style='mso-special-format:bullet;position:absolute;left:-2.5%'>&#8226;</span></span><span
 style='font-family:Arial'><b>Definimos una estrategia</b></span><span
 lang=ES-MODERN style='font-family:Arial;mso-special-format:lastCR;display:
 none'><b>&#13;</b></span></span></div>
 </div>
</p:slide></div>

<p:animation number="545774938"/><oa:par id="TimeNode0" dur="indefinite"
 restart="never" p:nodeType="timingRoot">
 <oa:seq id="TimeNode1" dur="indefinite" prev="document.onpptprev"
  next="document.onpptnext" concurrent="enabled" nextAction="seek"
  p:nodeType="mainSeq">
  <oa:par id="TimeNode2" begin="indefinite;TimeNode1.onbegin" fill="hold">
   <oa:par id="TimeNode3" begin="0.0" fill="hold">
    <oa:par id="TimeNode4" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode5" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s24578" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode6" dur="0.5" targetElement="_x0000_s24578"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode7" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode8" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s24578_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode9" dur="0.5"
      targetElement="_x0000_s24578_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode10" begin="0.5" fill="hold">
    <oa:par id="TimeNode11" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x1" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode12" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s24579" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode13" dur="2.0" targetElement="_x0000_s24579"
      transition="in" filter="wipe(up)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode14" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x1" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode15" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s24579_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode16" dur="2.0"
      targetElement="_x0000_s24579_AllText" transition="in" filter="wipe(up)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode17" begin="2.5" fill="hold">
    <oa:par id="TimeNode18" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode19" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s24581" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode20" dur="2.0" targetElement="_x0000_s24581"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode21" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode22" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s24581_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode23" dur="2.0"
      targetElement="_x0000_s24581_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode24" begin="4.5" fill="hold">
    <oa:par id="TimeNode25" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode26" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s24582" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode27" dur="2.0" targetElement="_x0000_s24582"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode28" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode29" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s24582_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode30" dur="2.0"
      targetElement="_x0000_s24582_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode31" begin="6.5" fill="hold">
    <oa:par id="TimeNode32" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode33" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s24580" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode34" dur="2.0" targetElement="_x0000_s24580"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode35" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode36" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s24580_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode37" dur="2.0"
      targetElement="_x0000_s24580_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
  </oa:par>
 </oa:seq>
</oa:par>
<![if ppt]>
<oa:buildParagraph targetElement="_x0000_s24578" groupID="0" build="asAWhole"
 buildLevel="1" reverse="false" buildAdvance="onclick" userSetAnimBgd="false"/><oa:buildParagraph
 targetElement="_x0000_s24579" groupID="0" build="asAWhole" buildLevel="1"
 reverse="false" buildAdvance="onclick" userSetAnimBgd="false"/><oa:buildParagraph
 targetElement="_x0000_s24580" groupID="0" build="asAWhole" buildLevel="1"
 reverse="false" buildAdvance="onclick" userSetAnimBgd="false"/><oa:buildParagraph
 targetElement="_x0000_s24581" groupID="0" build="asAWhole" buildLevel="1"
 reverse="false" buildAdvance="onclick" userSetAnimBgd="false"/><oa:buildParagraph
 targetElement="_x0000_s24582" groupID="0" build="asAWhole" buildLevel="1"
 reverse="false" buildAdvance="onclick" userSetAnimBgd="false"/>
<![endif]>
</body>

</html>
