<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=us-ascii">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 11">
<link id=Main-File rel=Main-File href="../CID_valle_sur_ilmc.htm">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>PIDES</title>
<meta name=Description content="22/04/2005">
<link rel=Stylesheet href="master04_stylesheet.css">
<!--[if gte IE 5]>
<object id=MSOANIM classid="CLSID:A4639D2F-774E-11D3-A490-00C04F6843FB"></object>
<object id=MSOTIME classid="CLSID:A4639D29-774E-11D3-A490-00C04F6843FB"></object>
<![endif]-->
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:76% !important;}
-->
</style>
<style>
<!--
oa\:* { BEHAVIOR: url(#MSOANIM#ANIM) url(#MSOTIME#TIME) }
oa\:par,oa\:seq,oa\:iterate { BEHAVIOR:url(#MSOTIME) }
oa\:video,oa\:audio {BEHAVIOR:url(#MSOTIME) url(#MSOTIME#MEDIA) }
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><script><!--
g_animItemsToHide=new Array("_x0000_s46136_AllText","_x0000_s46136","_x0000_s46123_AllText","_x0000_s46123","_x0000_s46110_AllText","_x0000_s46110","_x0000_s46142_AllText","_x0000_s46142","_x0000_s46137_AllText","_x0000_s46137","_x0000_s46088_AllText","_x0000_s46088","_x0000_s46087_AllText","_x0000_s46087","_x0000_s46086_AllText","_x0000_s46086","_x0000_s46151_AllText","_x0000_s46151","_x0000_s46085_AllText","_x0000_s46085","_x0000_s46084_AllText","_x0000_s46084");

//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><p:slidetransition advancetime="0" speed="1"
 effect="randomBar" direction="vertical" flag="1"/><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="45"/>
 <o:regrouptable v:ext="edit">
  <o:entry new="1" old="0"/>
  <o:entry new="2" old="0"/>
  <o:entry new="3" old="0"/>
  <o:entry new="4" old="0"/>
 </o:regrouptable>
</o:shapelayout>
</head>

<body lang=ES-MODERN style='margin:0px;background-color:#993300'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()" oa:clockstart="onstart">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:755px;height:566px;font-size:16px;background-color:black;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden;filter:revealtrans(Duration=2, Transition=22)'><p:slide
 coordsize="720,540"
 colors="#993300,#ffffff,#bb5f03,#feec94,#ff9900,#b76a03,#ffffcc,#cccc00"
 masterhref="master04.xml">
 <v:background id="_x0000_s46081" o:bwmode="white" fillcolor="black"/>
 <v:shapetype id="_x0000_t75" coordsize="21600,21600" o:spt="75"
  o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" aspectratio="t"/>
 </v:shapetype><v:shape id="_x0000_s46141" type="#_x0000_t75" style='position:absolute;
  left:120pt;top:114pt;width:462pt;height:345.375pt'>
  <v:imagedata src="slide0036_image003.jpg" o:title="Diapositiva1" croptop="7710f"
   cropbottom="11565f" cropleft="11406f" cropright="7710f"/>
 </v:shape><![if !vml]><img border=0 v:shapes="_x0000_s46141"
 src="slide0036_image004.jpg" style='position:absolute;top:21.02%;left:16.68%;
 width:64.1%;height:63.95%'><![endif]><v:rect id="_x0000_s46084" style='position:absolute;
  left:162pt;top:24pt;width:354pt;height:54pt;v-text-anchor:middle' filled="f"
  fillcolor="#f90 [4]" stroked="f" strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <p:animation number="2" delay="0" type="object" effect="splitIn"
   direction="horizontal" buildby="char" flag="1028"/></v:rect>
 <div id="_x0000_s46084_AllText" v:shape="_x0000_s46084" class=T
 style='position:absolute;top:7.06%;left:20.52%;width:53.24%;height:5.12%;
 white-space:nowrap'>
 <div style='position:absolute;top:0%;left:0%;width:100.0%;height:100.0%'><span
 style='font-family:Arial;font-size:55%;font-weight:normal;color:white;
 mso-color-index:1'>SUR DEL VALLE DE CUSCO</span></div>
 </div>
 <v:shapetype id="_x0000_t202" coordsize="21600,21600" o:spt="202" path="m,l,21600r21600,l21600,xe">
  <v:stroke joinstyle="miter"/>
  <v:path gradientshapeok="t" o:connecttype="rect"/>
 </v:shapetype><v:shape id="_x0000_s46085" type="#_x0000_t202" style='position:absolute;
  left:271.625pt;top:259.125pt;width:93.875pt;height:21.625pt;mso-wrap-style:none;
  v-text-anchor:middle' fillcolor="white [1]" stroked="f" strokecolor="white [1]">
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="3" delay="0" type="object" effect="zoomFly"
   direction="in" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s46085" src="slide0036_image005.gif" style='position:absolute;
 top:48.05%;left:37.74%;width:13.24%;height:4.41%'><![endif]>
 <div id="_x0000_s46085_AllText" v:shape="_x0000_s46085" class=O
 style='position:absolute;top:48.58%;left:38.54%;width:11.52%;height:2.82%;
 white-space:nowrap'>
 <div style='text-align:center;position:absolute;top:0%;left:0%;width:100.0%;
 height:100.0%'><span style='font-family:"Futura Lt BT";font-size:50%;
 color:red'><b>San Jer&oacute;nimo</b></span><span style='font-family:"Futura Lt BT";
 font-size:58%;color:red;mso-special-format:lastCR;display:none'><b>&#13;</b></span></div>
 </div>
 <v:shape id="_x0000_s46086" type="#_x0000_t202" style='position:absolute;
  left:350pt;top:229.125pt;width:49.125pt;height:21.625pt;mso-wrap-style:none;
  v-text-anchor:middle' fillcolor="white [1]" stroked="f" strokecolor="white [1]">
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="5" delay="0" type="object" effect="zoomFly"
   direction="in" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s46086" src="slide0036_image006.gif" style='position:absolute;
 top:42.4%;left:48.6%;width:7.01%;height:4.41%'><![endif]>
 <div id="_x0000_s46086_AllText" v:shape="_x0000_s46086" class=O
 style='position:absolute;top:43.1%;left:49.53%;width:5.03%;height:2.82%;
 white-space:nowrap'>
 <div style='text-align:center;position:absolute;top:0%;left:0%;width:100.0%;
 height:100.0%'><span style='font-family:"Futura Lt BT";font-size:50%;
 color:red'><b>Saylla</b></span><span style='font-family:"Futura Lt BT";
 font-size:58%;color:red;mso-special-format:lastCR;display:none'><b>&#13;</b></span></div>
 </div>
 <v:shape id="_x0000_s46087" type="#_x0000_t202" style='position:absolute;
  left:436pt;top:247.125pt;width:63.125pt;height:21.625pt;mso-wrap-style:none;
  v-text-anchor:middle' fillcolor="white [1]" stroked="f" strokecolor="white [1]">
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="6" delay="0" type="object" effect="zoomFly"
   direction="in" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s46087" src="slide0036_image007.gif" style='position:absolute;
 top:45.75%;left:60.52%;width:9.0%;height:4.41%'><![endif]>
 <div id="_x0000_s46087_AllText" v:shape="_x0000_s46087" class=O
 style='position:absolute;top:46.46%;left:61.19%;width:7.54%;height:2.82%;
 white-space:nowrap'>
 <div style='text-align:center;position:absolute;top:0%;left:0%;width:100.0%;
 height:100.0%'><span style='font-family:"Futura Lt BT";font-size:50%;
 color:red'><b>Oropesa</b></span><span style='font-family:"Futura Lt BT";
 font-size:58%;color:red;mso-special-format:lastCR;display:none'><b>&#13;</b></span></div>
 </div>
 <v:shape id="_x0000_s46088" type="#_x0000_t202" style='position:absolute;
  left:418.125pt;top:355.125pt;width:47.125pt;height:21.625pt;mso-wrap-style:none;
  v-text-anchor:middle' fillcolor="white [1]" stroked="f" strokecolor="white [1]">
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="7" delay="0" type="object" effect="zoomFly"
   direction="in" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s46088" src="slide0036_image008.gif" style='position:absolute;
 top:65.72%;left:58.01%;width:6.75%;height:4.41%'><![endif]>
 <div id="_x0000_s46088_AllText" v:shape="_x0000_s46088" class=O
 style='position:absolute;top:66.43%;left:59.07%;width:4.63%;height:2.82%;
 white-space:nowrap'>
 <div style='text-align:center;position:absolute;top:0%;left:0%;width:100.0%;
 height:100.0%'><span style='font-family:"Futura Lt BT";font-size:50%;
 color:red'><b>Lucre</b></span><span style='font-family:"Futura Lt BT";
 font-size:58%;color:red;mso-special-format:lastCR;display:none'><b>&#13;</b></span></div>
 </div>
 <v:group id="_x0000_s46137" style='position:absolute;left:-12pt;top:126pt;
  width:138pt;height:114pt' coordorigin=",119" coordsize="1202,998">
  <v:shape id="_x0000_s46092" type="#_x0000_t202" style='position:absolute;
   top:119;width:1134;height:503' o:regroupid="1" filled="f" fillcolor="#f90 [4]"
   stroked="f" strokecolor="white [1]">
   <v:fill color2="#930 [0]"/>
   <v:shadow color="#bb5f03 [2]"/>
   <v:textbox style='mso-fit-shape-to-text:t'/>
  </v:shape><v:group id="_x0000_s46097" style='position:absolute;left:68;top:495;
   width:1134;height:622' coordorigin="68,402" coordsize="1134,622">
   <v:shape id="_x0000_s46090" type="#_x0000_t202" style='position:absolute;
    left:249;top:493;width:364;height:210' o:regroupid="1" filled="f"
    fillcolor="#f90 [4]" stroked="f" strokecolor="white [1]">
    <v:fill color2="#930 [0]"/>
    <v:shadow color="#bb5f03 [2]"/>
    <v:textbox style='mso-fit-shape-to-text:t'/>
   </v:shape><v:shape id="_x0000_s46091" type="#_x0000_t202" style='position:absolute;
    left:567;top:493;width:500;height:210' o:regroupid="1" filled="f"
    fillcolor="#f90 [4]" stroked="f" strokecolor="white [1]">
    <v:fill color2="#930 [0]"/>
    <v:shadow color="#bb5f03 [2]"/>
    <v:textbox style='mso-fit-shape-to-text:t'/>
   </v:shape><v:shape id="_x0000_s46093" type="#_x0000_t202" style='position:absolute;
    left:567;top:701;width:635;height:210' o:regroupid="1" filled="f"
    fillcolor="#f90 [4]" stroked="f" strokecolor="white [1]">
    <v:fill color2="#930 [0]"/>
    <v:shadow color="#bb5f03 [2]"/>
    <v:textbox style='mso-fit-shape-to-text:t'/>
   </v:shape><v:shape id="_x0000_s46094" style='position:absolute;left:567;
    top:402;width:1;height:622' coordsize="1,622" o:regroupid="1" path="m,l,622e"
    filled="f" strokecolor="white [1]">
    <v:shadow color="#bb5f03 [2]"/>
    <v:path arrowok="t"/>
   </v:shape><v:shape id="_x0000_s46095" type="#_x0000_t202" style='position:absolute;
    left:68;top:709;width:634;height:210' o:regroupid="1" filled="f"
    fillcolor="#f90 [4]" stroked="f" strokecolor="white [1]">
    <v:fill color2="#930 [0]"/>
    <v:shadow color="#bb5f03 [2]"/>
    <v:textbox style='mso-fit-shape-to-text:t'/>
   </v:shape><v:line id="_x0000_s46096" style='position:absolute' from="113,674"
    to="1066,675" o:regroupid="1" strokecolor="white [1]">
    <v:shadow color="#bb5f03 [2]"/>
   </v:line></v:group><p:animation number="8" delay="0" type="object"
   effect="wipe" direction="up" flag="17412"/></v:group><![if !ppt]>
 <div id="_x0000_s46137_AllText" style='position:absolute;top:23.32%;
 left:-1.72%;width:19.47%;height:21.55%;white-space:nowrap'
 onfilterchange="javascript:TickHandler()"><![endif]><![if !vml]><img border=0
 v:shapes="_x0000_s46137,_x0000_s46092,_x0000_s46090,_x0000_s46091,_x0000_s46093,_x0000_s46094,_x0000_s46095,_x0000_s46096"
 src="slide0036_image009.gif" style='position:absolute;top:0%;left:0%;
 width:100.0%;height:100.0%'><![endif]>
 <div v:shape="_x0000_s46092" class=O style='text-align:center;mso-line-spacing:
 "100 50 0";mso-char-wrap:1;mso-kinsoku-overflow:1'><span style='position:absolute;
 top:.81%;left:5.44%;width:82.99%;height:18.03%'><span lang=ES-MODERN
 style='font-family:"Arial Black";font-size:58%;color:red'>POBLACI&Oacute;N </span></span><span
 style='position:absolute;top:15.57%;left:5.44%;width:82.99%;height:18.03%'><span
 lang=ES-MODERN style='font-family:"Arial Black";font-size:58%;color:red'>SAN </span></span><span
 style='position:absolute;top:29.5%;left:5.44%;width:82.99%;height:18.03%'><span
 lang=ES-MODERN style='font-family:"Arial Black";font-size:58%;color:red'>JERONIMO</span></span></div>
 <div v:shape="_x0000_s46090" class=O style='mso-line-spacing:"100 50 0";
 mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;top:46.72%;
 left:25.85%;width:20.4%;height:18.03%'><span lang=ES-MODERN style='font-family:
 "Arial Black";font-size:58%'>93</span></div>
 <div v:shape="_x0000_s46091" class=O style='mso-line-spacing:"100 50 0";
 mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;top:46.72%;
 left:51.7%;width:32.65%;height:18.03%'><span lang=ES-MODERN style='font-family:
 "Arial Black";font-size:58%'>2000</span></div>
 <div v:shape="_x0000_s46093" class=O style='mso-line-spacing:"100 50 0";
 mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;top:67.21%;
 left:51.7%;width:44.89%;height:18.03%'><span lang=ES-MODERN style='font-family:
 "Arial Black";font-size:58%'>22,351</span></div>
 <div v:shape="_x0000_s46095" class=O style='mso-line-spacing:"100 50 0";
 mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;top:68.03%;
 left:10.88%;width:44.89%;height:18.03%'><span lang=ES-MODERN style='font-family:
 "Arial Black";font-size:58%'>15,166</span></div>
 <![if !ppt]></div>
 <![endif]><v:group id="_x0000_s46110" style='position:absolute;left:579pt;
  top:24.5pt;width:153pt;height:102.125pt' coordorigin="4332,436" coordsize="1224,817">
  <v:shape id="_x0000_s46103" type="#_x0000_t202" style='position:absolute;
   left:4332;top:436;width:1134;height:326' o:regroupid="2" filled="f"
   fillcolor="#f90 [4]" stroked="f" strokecolor="white [1]">
   <v:fill color2="#930 [0]"/>
   <v:shadow color="#bb5f03 [2]"/>
   <v:textbox style='mso-fit-shape-to-text:t'/>
  </v:shape><v:shape id="_x0000_s46104" type="#_x0000_t202" style='position:absolute;
   left:4604;top:794;width:363;height:192' o:regroupid="2" filled="f"
   fillcolor="#f90 [4]" stroked="f" strokecolor="white [1]">
   <v:fill color2="#930 [0]"/>
   <v:shadow color="#bb5f03 [2]"/>
   <v:textbox style='mso-fit-shape-to-text:t'/>
  </v:shape><v:shape id="_x0000_s46105" type="#_x0000_t202" style='position:absolute;
   left:4922;top:794;width:499;height:192' o:regroupid="2" filled="f"
   fillcolor="#f90 [4]" stroked="f" strokecolor="white [1]">
   <v:fill color2="#930 [0]"/>
   <v:shadow color="#bb5f03 [2]"/>
   <v:textbox style='mso-fit-shape-to-text:t'/>
  </v:shape><v:shape id="_x0000_s46106" type="#_x0000_t202" style='position:absolute;
   left:4921;top:1000;width:635;height:192' o:regroupid="2" filled="f"
   fillcolor="#f90 [4]" stroked="f" strokecolor="white [1]">
   <v:fill color2="#930 [0]"/>
   <v:shadow color="#bb5f03 [2]"/>
   <v:textbox style='mso-fit-shape-to-text:t'/>
  </v:shape><v:shape id="_x0000_s46107" style='position:absolute;left:4919;
   top:703;width:2;height:550' coordsize="2,550" o:regroupid="2" path="m2,l,550e"
   filled="f" strokecolor="white [1]">
   <v:shadow color="#bb5f03 [2]"/>
   <v:path arrowok="t"/>
  </v:shape><v:shape id="_x0000_s46108" type="#_x0000_t202" style='position:absolute;
   left:4422;top:1010;width:635;height:192' o:regroupid="2" filled="f"
   fillcolor="#f90 [4]" stroked="f" strokecolor="white [1]">
   <v:fill color2="#930 [0]"/>
   <v:shadow color="#bb5f03 [2]"/>
   <v:textbox style='mso-fit-shape-to-text:t'/>
  </v:shape><v:line id="_x0000_s46109" style='position:absolute' from="4467,975"
   to="5420,976" o:regroupid="2" strokecolor="white [1]">
   <v:shadow color="#bb5f03 [2]"/>
  </v:line><p:animation number="10" delay="0" type="object" effect="wipe"
   direction="up" flag="17412"/></v:group><![if !ppt]>
 <div id="_x0000_s46110_AllText" style='position:absolute;top:4.59%;left:80.39%;
 width:21.45%;height:19.25%;white-space:nowrap'
 onfilterchange="javascript:TickHandler()"><![endif]><![if !vml]><img border=0
 v:shapes="_x0000_s46110,_x0000_s46103,_x0000_s46104,_x0000_s46105,_x0000_s46106,_x0000_s46107,_x0000_s46108,_x0000_s46109"
 src="slide0036_image010.gif" style='position:absolute;top:0%;left:0%;
 width:100.0%;height:100.0%'><![endif]>
 <div v:shape="_x0000_s46103" class=O style='text-align:center;mso-line-spacing:
 "100 50 0";mso-char-wrap:1;mso-kinsoku-overflow:1'><span style='position:absolute;
 top:.91%;left:4.93%;width:82.71%;height:20.18%'><span lang=ES-MODERN
 style='font-family:"Arial Black";font-size:58%;color:red'>POBLACI&Oacute;N </span></span><span
 style='position:absolute;top:17.43%;left:4.93%;width:82.71%;height:20.18%'><span
 lang=ES-MODERN style='font-family:"Arial Black";font-size:58%;color:red'>SAYLLA</span></span></div>
 <div v:shape="_x0000_s46104" class=O style='mso-line-spacing:"100 50 0";
 mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;top:44.03%;
 left:26.54%;width:20.37%;height:20.18%'><span lang=ES-MODERN style='font-family:
 "Arial Black";font-size:58%'>93</span></div>
 <div v:shape="_x0000_s46105" class=O style='mso-line-spacing:"100 50 0";
 mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;top:44.03%;
 left:52.46%;width:31.48%;height:20.18%'><span lang=ES-MODERN style='font-family:
 "Arial Black";font-size:58%'>2000</span></div>
 <div v:shape="_x0000_s46106" class=O style='mso-line-spacing:"100 50 0";
 mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;top:68.8%;left:52.46%;
 width:42.59%;height:20.18%'><span lang=ES-MODERN style='font-family:"Arial Black";
 font-size:58%'>1,174</span></div>
 <div v:shape="_x0000_s46108" class=O style='mso-line-spacing:"100 50 0";
 mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;top:69.72%;
 left:12.34%;width:42.59%;height:20.18%'><span lang=ES-MODERN style='font-family:
 "Arial Black";font-size:58%'>956</span></div>
 <![if !ppt]></div>
 <![endif]><v:group id="_x0000_s46123" style='position:absolute;left:578.25pt;
  top:409.75pt;width:141.75pt;height:88.25pt' coordorigin="1202,2704"
  coordsize="1134,706">
  <v:shape id="_x0000_s46116" type="#_x0000_t202" style='position:absolute;
   left:1384;top:2977;width:363;height:192' o:regroupid="3" filled="f"
   fillcolor="#f90 [4]" stroked="f" strokecolor="white [1]">
   <v:fill color2="#930 [0]"/>
   <v:shadow color="#bb5f03 [2]"/>
   <v:textbox style='mso-fit-shape-to-text:t'/>
  </v:shape><v:shape id="_x0000_s46117" type="#_x0000_t202" style='position:absolute;
   left:1702;top:2977;width:499;height:192' o:regroupid="3" filled="f"
   fillcolor="#f90 [4]" stroked="f" strokecolor="white [1]">
   <v:fill color2="#930 [0]"/>
   <v:shadow color="#bb5f03 [2]"/>
   <v:textbox style='mso-fit-shape-to-text:t'/>
  </v:shape><v:shape id="_x0000_s46118" type="#_x0000_t202" style='position:absolute;
   left:1292;top:2704;width:908;height:326' o:regroupid="3" filled="f"
   fillcolor="#f90 [4]" stroked="f" strokecolor="white [1]">
   <v:fill color2="#930 [0]"/>
   <v:shadow color="#bb5f03 [2]"/>
   <v:textbox style='mso-fit-shape-to-text:t'/>
  </v:shape><v:shape id="_x0000_s46119" type="#_x0000_t202" style='position:absolute;
   left:1701;top:3183;width:635;height:192' o:regroupid="3" filled="f"
   fillcolor="#f90 [4]" stroked="f" strokecolor="white [1]">
   <v:fill color2="#930 [0]"/>
   <v:shadow color="#bb5f03 [2]"/>
   <v:textbox style='mso-fit-shape-to-text:t'/>
  </v:shape><v:shape id="_x0000_s46120" style='position:absolute;left:1701;
   top:2886;width:1;height:524' coordsize="1,524" o:regroupid="3" path="m,l,524e"
   filled="f" strokecolor="white [1]">
   <v:shadow color="#bb5f03 [2]"/>
   <v:path arrowok="t"/>
  </v:shape><v:shape id="_x0000_s46121" type="#_x0000_t202" style='position:absolute;
   left:1202;top:3193;width:635;height:192' o:regroupid="3" filled="f"
   fillcolor="#f90 [4]" stroked="f" strokecolor="white [1]">
   <v:fill color2="#930 [0]"/>
   <v:shadow color="#bb5f03 [2]"/>
   <v:textbox style='mso-fit-shape-to-text:t'/>
  </v:shape><v:line id="_x0000_s46122" style='position:absolute' from="1247,3158"
   to="2200,3159" o:regroupid="3" strokecolor="white [1]">
   <v:shadow color="#bb5f03 [2]"/>
  </v:line><p:animation number="11" delay="0" type="object" effect="wipe"
   direction="up" flag="17412"/></v:group><![if !ppt]>
 <div id="_x0000_s46123_AllText" style='position:absolute;top:75.79%;
 left:80.26%;width:20.0%;height:16.78%;white-space:nowrap'
 onfilterchange="javascript:TickHandler()"><![endif]><![if !vml]><img border=0
 v:shapes="_x0000_s46123,_x0000_s46116,_x0000_s46117,_x0000_s46118,_x0000_s46119,_x0000_s46120,_x0000_s46121,_x0000_s46122"
 src="slide0036_image011.gif" style='position:absolute;top:0%;left:0%;
 width:100.0%;height:100.0%'><![endif]>
 <div v:shape="_x0000_s46116" class=O style='mso-line-spacing:"100 50 0";
 mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;top:40.0%;left:21.19%;
 width:21.85%;height:23.15%'><span lang=ES-MODERN style='font-family:"Arial Black";
 font-size:58%'>93</span></div>
 <div v:shape="_x0000_s46117" class=O style='mso-line-spacing:"100 50 0";
 mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;top:40.0%;left:49.0%;
 width:33.77%;height:23.15%'><span lang=ES-MODERN style='font-family:"Arial Black";
 font-size:58%'>2000</span></div>
 <div v:shape="_x0000_s46118" class=O style='mso-line-spacing:"100 50 0";
 mso-char-wrap:1;mso-kinsoku-overflow:1'><span style='position:absolute;
 top:2.1%;left:13.24%;width:78.14%;height:23.15%'><span lang=ES-MODERN
 style='font-family:"Arial Black";font-size:58%;color:red'>POBLACI&Oacute;N </span></span><span
 style='position:absolute;top:20.0%;left:13.24%;width:69.53%;height:23.15%'><span
 lang=ES-MODERN style='font-family:"Arial Black";font-size:58%;color:red'>LUCRE</span></span></div>
 <div v:shape="_x0000_s46119" class=O style='mso-line-spacing:"100 50 0";
 mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;top:68.42%;
 left:48.34%;width:45.69%;height:23.15%'><span lang=ES-MODERN style='font-family:
 "Arial Black";font-size:58%'>5,743</span></div>
 <div v:shape="_x0000_s46121" class=O style='mso-line-spacing:"100 50 0";
 mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;top:69.47%;
 left:5.29%;width:45.69%;height:23.15%'><span lang=ES-MODERN style='font-family:
 "Arial Black";font-size:58%'>3,804</span></div>
 <![if !ppt]></div>
 <![endif]><v:group id="_x0000_s46136" style='position:absolute;left:590.25pt;
  top:213.25pt;width:141.75pt;height:86.75pt' coordorigin="4422,2387"
  coordsize="1134,694">
  <v:shape id="_x0000_s46129" type="#_x0000_t202" style='position:absolute;
   left:4604;top:2624;width:363;height:192' o:regroupid="4" filled="f"
   fillcolor="#f90 [4]" stroked="f" strokecolor="white [1]">
   <v:fill color2="#930 [0]"/>
   <v:shadow color="#bb5f03 [2]"/>
   <v:textbox style='mso-fit-shape-to-text:t'/>
  </v:shape><v:shape id="_x0000_s46130" type="#_x0000_t202" style='position:absolute;
   left:4922;top:2624;width:499;height:192' o:regroupid="4" filled="f"
   fillcolor="#f90 [4]" stroked="f" strokecolor="white [1]">
   <v:fill color2="#930 [0]"/>
   <v:shadow color="#bb5f03 [2]"/>
   <v:textbox style='mso-fit-shape-to-text:t'/>
  </v:shape><v:shape id="_x0000_s46131" type="#_x0000_t202" style='position:absolute;
   left:4558;top:2387;width:817;height:192' o:regroupid="4" filled="f"
   fillcolor="#f90 [4]" stroked="f" strokecolor="white [1]">
   <v:fill color2="#930 [0]"/>
   <v:shadow color="#bb5f03 [2]"/>
   <v:textbox style='mso-fit-shape-to-text:t'/>
  </v:shape><v:shape id="_x0000_s46132" type="#_x0000_t202" style='position:absolute;
   left:4921;top:2830;width:635;height:192' o:regroupid="4" filled="f"
   fillcolor="#f90 [4]" stroked="f" strokecolor="white [1]">
   <v:fill color2="#930 [0]"/>
   <v:shadow color="#bb5f03 [2]"/>
   <v:textbox style='mso-fit-shape-to-text:t'/>
  </v:shape><v:shape id="_x0000_s46133" style='position:absolute;left:4919;
   top:2533;width:2;height:548' coordsize="2,548" o:regroupid="4" path="m2,l,548e"
   filled="f" strokecolor="white [1]">
   <v:shadow color="#bb5f03 [2]"/>
   <v:path arrowok="t"/>
  </v:shape><v:shape id="_x0000_s46134" type="#_x0000_t202" style='position:absolute;
   left:4422;top:2840;width:635;height:192' o:regroupid="4" filled="f"
   fillcolor="#f90 [4]" stroked="f" strokecolor="white [1]">
   <v:fill color2="#930 [0]"/>
   <v:shadow color="#bb5f03 [2]"/>
   <v:textbox style='mso-fit-shape-to-text:t'/>
  </v:shape><v:line id="_x0000_s46135" style='position:absolute' from="4467,2805"
   to="5420,2806" o:regroupid="4" strokecolor="white [1]">
   <v:shadow color="#bb5f03 [2]"/>
  </v:line><p:animation number="12" delay="0" type="object" effect="wipe"
   direction="up" flag="17412"/></v:group><![if !ppt]>
 <div id="_x0000_s46136_AllText" style='position:absolute;top:39.57%;
 left:81.98%;width:20.0%;height:16.43%;white-space:nowrap'
 onfilterchange="javascript:TickHandler()"><![endif]><![if !vml]><img border=0
 v:shapes="_x0000_s46136,_x0000_s46129,_x0000_s46130,_x0000_s46131,_x0000_s46132,_x0000_s46133,_x0000_s46134,_x0000_s46135"
 src="slide0036_image012.gif" style='position:absolute;top:0%;left:0%;
 width:100.0%;height:100.0%'><![endif]>
 <div v:shape="_x0000_s46129" class=O style='mso-line-spacing:"100 50 0";
 mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;top:34.4%;left:20.52%;
 width:21.85%;height:23.65%'><span lang=ES-MODERN style='font-family:"Arial Black";
 font-size:58%'>93</span></div>
 <div v:shape="_x0000_s46130" class=O style='mso-line-spacing:"100 50 0";
 mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;top:34.4%;left:48.34%;
 width:33.77%;height:23.65%'><span lang=ES-MODERN style='font-family:"Arial Black";
 font-size:58%'>2000</span></div>
 <div v:shape="_x0000_s46131" class=O style='mso-line-spacing:"100 50 0";
 mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;top:1.07%;left:16.55%;
 width:63.57%;height:23.65%'><span lang=ES-MODERN style='font-family:"Arial Black";
 font-size:58%;color:red'>OROPESA</span></div>
 <div v:shape="_x0000_s46132" class=O style='mso-line-spacing:"100 50 0";
 mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;top:63.44%;
 left:48.34%;width:45.69%;height:23.65%'><span lang=ES-MODERN style='font-family:
 "Arial Black";font-size:58%'>8,158</span></div>
 <div v:shape="_x0000_s46134" class=O style='mso-line-spacing:"100 50 0";
 mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;top:64.51%;
 left:5.29%;width:45.69%;height:23.65%'><span lang=ES-MODERN style='font-family:
 "Arial Black";font-size:58%'>5,430</span></div>
 <![if !ppt]></div>
 <![endif]><v:group id="_x0000_s46142" style='position:absolute;left:-6pt;
  top:385.25pt;width:150.25pt;height:124.75pt' coordorigin=",119" coordsize="1202,998">
  <v:shape id="_x0000_s46143" type="#_x0000_t202" style='position:absolute;
   top:119;width:1134;height:460' filled="f" fillcolor="#f90 [4]" stroked="f"
   strokecolor="white [1]">
   <v:fill color2="#930 [0]"/>
   <v:shadow color="#bb5f03 [2]"/>
   <v:textbox style='mso-fit-shape-to-text:t'/>
  </v:shape><v:group id="_x0000_s46144" style='position:absolute;left:68;top:495;
   width:1134;height:622' coordorigin="68,402" coordsize="1134,622">
   <v:shape id="_x0000_s46145" type="#_x0000_t202" style='position:absolute;
    left:250;top:493;width:363;height:192' filled="f" fillcolor="#f90 [4]"
    stroked="f" strokecolor="white [1]">
    <v:fill color2="#930 [0]"/>
    <v:shadow color="#bb5f03 [2]"/>
    <v:textbox style='mso-fit-shape-to-text:t'/>
   </v:shape><v:shape id="_x0000_s46146" type="#_x0000_t202" style='position:absolute;
    left:568;top:493;width:499;height:192' filled="f" fillcolor="#f90 [4]"
    stroked="f" strokecolor="white [1]">
    <v:fill color2="#930 [0]"/>
    <v:shadow color="#bb5f03 [2]"/>
    <v:textbox style='mso-fit-shape-to-text:t'/>
   </v:shape><v:shape id="_x0000_s46147" type="#_x0000_t202" style='position:absolute;
    left:567;top:699;width:635;height:192' filled="f" fillcolor="#f90 [4]"
    stroked="f" strokecolor="white [1]">
    <v:fill color2="#930 [0]"/>
    <v:shadow color="#bb5f03 [2]"/>
    <v:textbox style='mso-fit-shape-to-text:t'/>
   </v:shape><v:shape id="_x0000_s46148" style='position:absolute;left:567;
    top:402;width:1;height:622' coordsize="1,622" path="m,l,622e" filled="f"
    strokecolor="white [1]">
    <v:shadow color="#bb5f03 [2]"/>
    <v:path arrowok="t"/>
   </v:shape><v:shape id="_x0000_s46149" type="#_x0000_t202" style='position:absolute;
    left:68;top:709;width:635;height:192' filled="f" fillcolor="#f90 [4]"
    stroked="f" strokecolor="white [1]">
    <v:fill color2="#930 [0]"/>
    <v:shadow color="#bb5f03 [2]"/>
    <v:textbox style='mso-fit-shape-to-text:t'/>
   </v:shape><v:line id="_x0000_s46150" style='position:absolute' from="113,674"
    to="1066,675" strokecolor="white [1]">
    <v:shadow color="#bb5f03 [2]"/>
   </v:line></v:group><p:animation number="9" delay="0" type="object"
   effect="wipe" direction="up" flag="17412"/></v:group><![if !ppt]>
 <div id="_x0000_s46142_AllText" style='position:absolute;top:71.37%;
 left:-.79%;width:21.19%;height:23.49%;white-space:nowrap'
 onfilterchange="javascript:TickHandler()"><![endif]><![if !vml]><img border=0
 v:shapes="_x0000_s46142,_x0000_s46143,_x0000_s46145,_x0000_s46146,_x0000_s46147,_x0000_s46148,_x0000_s46149,_x0000_s46150"
 src="slide0036_image013.gif" style='position:absolute;top:0%;left:0%;
 width:100.0%;height:100.0%'><![endif]>
 <div v:shape="_x0000_s46143" class=O style='text-align:center;mso-line-spacing:
 "100 50 0";mso-char-wrap:1;mso-kinsoku-overflow:1'><span style='position:absolute;
 top:.75%;left:4.37%;width:83.75%;height:16.54%'><span lang=ES-MODERN
 style='font-family:"Arial Black";font-size:58%;color:red'>POBLACI&Oacute;N </span></span><span
 style='position:absolute;top:14.28%;left:4.37%;width:83.75%;height:16.54%'><span
 lang=ES-MODERN style='font-family:"Arial Black";font-size:58%;color:red'>SAN </span></span><span
 style='position:absolute;top:27.06%;left:4.37%;width:83.75%;height:16.54%'><span
 lang=ES-MODERN style='font-family:"Arial Black";font-size:58%;color:red'>SEBASTIAN</span></span></div>
 <div v:shape="_x0000_s46145" class=O style='mso-line-spacing:"100 50 0";
 mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;top:46.61%;
 left:25.0%;width:20.62%;height:16.54%'><span lang=ES-MODERN style='font-family:
 "Arial Black";font-size:58%'>93</span></div>
 <div v:shape="_x0000_s46146" class=O style='mso-line-spacing:"100 50 0";
 mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;top:46.61%;
 left:51.24%;width:31.87%;height:16.54%'><span lang=ES-MODERN style='font-family:
 "Arial Black";font-size:58%'>2001</span></div>
 <div v:shape="_x0000_s46147" class=O style='mso-line-spacing:"100 50 0";
 mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;top:66.91%;
 left:51.24%;width:43.12%;height:16.54%'><span lang=ES-MODERN style='font-family:
 "Arial Black";font-size:58%'>73,056</span></div>
 <div v:shape="_x0000_s46149" class=O style='mso-line-spacing:"100 50 0";
 mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;top:68.42%;
 left:10.0%;width:43.12%;height:16.54%'><span lang=ES-MODERN style='font-family:
 "Arial Black";font-size:58%'>32,134</span></div>
 <![if !ppt]></div>
 <![endif]><v:shape id="_x0000_s46151" type="#_x0000_t202" style='position:absolute;
  left:257.25pt;top:181.125pt;width:96.5pt;height:21.625pt;mso-wrap-style:none;
  v-text-anchor:middle' fillcolor="white [1]" stroked="f" strokecolor="white [1]">
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="4" delay="0" type="object" effect="zoomFly"
   direction="in" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s46151" src="slide0036_image014.gif" style='position:absolute;
 top:33.56%;left:35.76%;width:13.64%;height:4.41%'><![endif]>
 <div id="_x0000_s46151_AllText" v:shape="_x0000_s46151" class=O
 style='position:absolute;top:34.27%;left:36.55%;width:11.92%;height:2.82%;
 white-space:nowrap'>
 <div style='text-align:center;position:absolute;top:0%;left:0%;width:100.0%;
 height:100.0%'><span style='font-family:"Futura Lt BT";font-size:50%;
 color:red'><b>San Sebastian</b></span><span style='font-family:"Futura Lt BT";
 font-size:58%;color:red;mso-special-format:lastCR;display:none'><b>&#13;</b></span></div>
 </div>
</p:slide></div>

<p:animation number="263071901"/><oa:par id="TimeNode0" dur="indefinite"
 restart="never" p:nodeType="timingRoot">
 <oa:seq id="TimeNode1" dur="indefinite" prev="document.onpptprev"
  next="document.onpptnext" concurrent="enabled" nextAction="seek"
  p:nodeType="mainSeq">
  <oa:par id="TimeNode2" begin="indefinite;TimeNode1.onbegin" fill="hold">
   <oa:par id="TimeNode3" begin="0.0" fill="hold">
    <oa:iterate targetElement="_x0000_s46084" id="TimeNode4" o:presetID="ppt_16"
     o:presetClass="entrance" o:presetSubType="0x1A" begin="0.0" fill="hold"
     o:groupID="0" p:nodeType="afterEffect" iterateType="byLetter"
     iterateInterval="100.0%">
     <oa:set id="TimeNode5" begin="0.0" dur="0.001" fill="hold"
      attributeName="style.visibility" to="visible"/>
     <oa:animateFilter id="TimeNode6" dur="0.075" transition="in"
      filter="barn(inHorizontal)"/>
    </oa:iterate>
    <![if !ppt]><oa:iterate targetElement="_x0000_s46084_AllText" id="TimeNode7"
     o:presetID="ppt_16" o:presetClass="entrance" o:presetSubType="0x1A"
     begin="0.0" fill="hold" p:nodeType="withEffect" iterateType="byLetter"
     iterateInterval="100.0%">
     <oa:set id="TimeNode8" begin="0.0" dur="0.001" fill="hold"
      attributeName="style.visibility" to="visible"/>
     <oa:animateFilter id="TimeNode9" dur="0.075" transition="in"
      filter="barn(inHorizontal)"/>
    </oa:iterate>
    <![endif]></oa:par>
   <oa:par id="TimeNode10" begin="1.35" fill="hold">
    <oa:par id="TimeNode11" o:presetID="ppt_23" o:presetClass="entrance"
     o:presetSubType="0x10" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode12" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s46085" attributeName="style.visibility"
      to="visible"/>
     <oa:animate id="TimeNode13" dur="0.5" fill="hold"
      targetElement="_x0000_s46085" attributeName="ppt_w" calcmode="linear"
      valueType="number" keyTimes="0.0;1.0" values="0.0;#ppt_w"/>
     <oa:animate id="TimeNode14" dur="0.5" fill="hold"
      targetElement="_x0000_s46085" attributeName="ppt_h" calcmode="linear"
      valueType="number" keyTimes="0.0;1.0" values="0.0;#ppt_h"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode15" o:presetID="ppt_23"
     o:presetClass="entrance" o:presetSubType="0x10" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode16" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s46085_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animate id="TimeNode17" dur="0.5" fill="hold"
      targetElement="_x0000_s46085_AllText" attributeName="ppt_w"
      calcmode="linear" valueType="number" keyTimes="0.0;1.0"
      values="0.0;#ppt_w"/>
     <oa:animate id="TimeNode18" dur="0.5" fill="hold"
      targetElement="_x0000_s46085_AllText" attributeName="ppt_h"
      calcmode="linear" valueType="number" keyTimes="0.0;1.0"
      values="0.0;#ppt_h"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode19" begin="1.85" fill="hold">
    <oa:par id="TimeNode20" o:presetID="ppt_23" o:presetClass="entrance"
     o:presetSubType="0x10" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode21" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s46151" attributeName="style.visibility"
      to="visible"/>
     <oa:animate id="TimeNode22" dur="0.5" fill="hold"
      targetElement="_x0000_s46151" attributeName="ppt_w" calcmode="linear"
      valueType="number" keyTimes="0.0;1.0" values="0.0;#ppt_w"/>
     <oa:animate id="TimeNode23" dur="0.5" fill="hold"
      targetElement="_x0000_s46151" attributeName="ppt_h" calcmode="linear"
      valueType="number" keyTimes="0.0;1.0" values="0.0;#ppt_h"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode24" o:presetID="ppt_23"
     o:presetClass="entrance" o:presetSubType="0x10" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode25" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s46151_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animate id="TimeNode26" dur="0.5" fill="hold"
      targetElement="_x0000_s46151_AllText" attributeName="ppt_w"
      calcmode="linear" valueType="number" keyTimes="0.0;1.0"
      values="0.0;#ppt_w"/>
     <oa:animate id="TimeNode27" dur="0.5" fill="hold"
      targetElement="_x0000_s46151_AllText" attributeName="ppt_h"
      calcmode="linear" valueType="number" keyTimes="0.0;1.0"
      values="0.0;#ppt_h"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode28" begin="2.35" fill="hold">
    <oa:par id="TimeNode29" o:presetID="ppt_23" o:presetClass="entrance"
     o:presetSubType="0x10" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode30" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s46086" attributeName="style.visibility"
      to="visible"/>
     <oa:animate id="TimeNode31" dur="0.5" fill="hold"
      targetElement="_x0000_s46086" attributeName="ppt_w" calcmode="linear"
      valueType="number" keyTimes="0.0;1.0" values="0.0;#ppt_w"/>
     <oa:animate id="TimeNode32" dur="0.5" fill="hold"
      targetElement="_x0000_s46086" attributeName="ppt_h" calcmode="linear"
      valueType="number" keyTimes="0.0;1.0" values="0.0;#ppt_h"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode33" o:presetID="ppt_23"
     o:presetClass="entrance" o:presetSubType="0x10" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode34" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s46086_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animate id="TimeNode35" dur="0.5" fill="hold"
      targetElement="_x0000_s46086_AllText" attributeName="ppt_w"
      calcmode="linear" valueType="number" keyTimes="0.0;1.0"
      values="0.0;#ppt_w"/>
     <oa:animate id="TimeNode36" dur="0.5" fill="hold"
      targetElement="_x0000_s46086_AllText" attributeName="ppt_h"
      calcmode="linear" valueType="number" keyTimes="0.0;1.0"
      values="0.0;#ppt_h"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode37" begin="2.85" fill="hold">
    <oa:par id="TimeNode38" o:presetID="ppt_23" o:presetClass="entrance"
     o:presetSubType="0x10" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode39" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s46087" attributeName="style.visibility"
      to="visible"/>
     <oa:animate id="TimeNode40" dur="0.5" fill="hold"
      targetElement="_x0000_s46087" attributeName="ppt_w" calcmode="linear"
      valueType="number" keyTimes="0.0;1.0" values="0.0;#ppt_w"/>
     <oa:animate id="TimeNode41" dur="0.5" fill="hold"
      targetElement="_x0000_s46087" attributeName="ppt_h" calcmode="linear"
      valueType="number" keyTimes="0.0;1.0" values="0.0;#ppt_h"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode42" o:presetID="ppt_23"
     o:presetClass="entrance" o:presetSubType="0x10" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode43" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s46087_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animate id="TimeNode44" dur="0.5" fill="hold"
      targetElement="_x0000_s46087_AllText" attributeName="ppt_w"
      calcmode="linear" valueType="number" keyTimes="0.0;1.0"
      values="0.0;#ppt_w"/>
     <oa:animate id="TimeNode45" dur="0.5" fill="hold"
      targetElement="_x0000_s46087_AllText" attributeName="ppt_h"
      calcmode="linear" valueType="number" keyTimes="0.0;1.0"
      values="0.0;#ppt_h"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode46" begin="3.35" fill="hold">
    <oa:par id="TimeNode47" o:presetID="ppt_23" o:presetClass="entrance"
     o:presetSubType="0x10" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode48" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s46088" attributeName="style.visibility"
      to="visible"/>
     <oa:animate id="TimeNode49" dur="0.5" fill="hold"
      targetElement="_x0000_s46088" attributeName="ppt_w" calcmode="linear"
      valueType="number" keyTimes="0.0;1.0" values="0.0;#ppt_w"/>
     <oa:animate id="TimeNode50" dur="0.5" fill="hold"
      targetElement="_x0000_s46088" attributeName="ppt_h" calcmode="linear"
      valueType="number" keyTimes="0.0;1.0" values="0.0;#ppt_h"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode51" o:presetID="ppt_23"
     o:presetClass="entrance" o:presetSubType="0x10" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode52" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s46088_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animate id="TimeNode53" dur="0.5" fill="hold"
      targetElement="_x0000_s46088_AllText" attributeName="ppt_w"
      calcmode="linear" valueType="number" keyTimes="0.0;1.0"
      values="0.0;#ppt_w"/>
     <oa:animate id="TimeNode54" dur="0.5" fill="hold"
      targetElement="_x0000_s46088_AllText" attributeName="ppt_h"
      calcmode="linear" valueType="number" keyTimes="0.0;1.0"
      values="0.0;#ppt_h"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode55" begin="3.85" fill="hold">
    <oa:par id="TimeNode56" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x4" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode57" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s46137" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode58" dur="0.5" targetElement="_x0000_s46137"
      transition="in" filter="wipe(down)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode59" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x4" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode60" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s46137_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode61" dur="0.5"
      targetElement="_x0000_s46137_AllText" transition="in" filter="wipe(down)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode62" begin="4.35" fill="hold">
    <oa:par id="TimeNode63" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x4" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode64" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s46142" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode65" dur="0.5" targetElement="_x0000_s46142"
      transition="in" filter="wipe(down)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode66" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x4" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode67" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s46142_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode68" dur="0.5"
      targetElement="_x0000_s46142_AllText" transition="in" filter="wipe(down)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode69" begin="4.85" fill="hold">
    <oa:par id="TimeNode70" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x4" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode71" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s46110" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode72" dur="0.5" targetElement="_x0000_s46110"
      transition="in" filter="wipe(down)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode73" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x4" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode74" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s46110_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode75" dur="0.5"
      targetElement="_x0000_s46110_AllText" transition="in" filter="wipe(down)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode76" begin="5.35" fill="hold">
    <oa:par id="TimeNode77" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x4" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode78" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s46123" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode79" dur="0.5" targetElement="_x0000_s46123"
      transition="in" filter="wipe(down)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode80" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x4" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode81" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s46123_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode82" dur="0.5"
      targetElement="_x0000_s46123_AllText" transition="in" filter="wipe(down)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode83" begin="5.85" fill="hold">
    <oa:par id="TimeNode84" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x4" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode85" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s46136" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode86" dur="0.5" targetElement="_x0000_s46136"
      transition="in" filter="wipe(down)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode87" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x4" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode88" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s46136_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode89" dur="0.5"
      targetElement="_x0000_s46136_AllText" transition="in" filter="wipe(down)"/>
    </oa:par>
    <![endif]></oa:par>
  </oa:par>
 </oa:seq>
</oa:par>
<![if ppt]>
<oa:buildParagraph targetElement="_x0000_s46084" groupID="0" build="asAWhole"
 buildLevel="1" reverse="false" buildAdvance="onclick" userSetAnimBgd="true"/><oa:buildParagraph
 targetElement="_x0000_s46085" groupID="0" build="asAWhole" buildLevel="1"
 alsoAnimate="background" reverse="false" buildAdvance="onclick"
 userSetAnimBgd="true"/><oa:buildParagraph targetElement="_x0000_s46086"
 groupID="0" build="asAWhole" buildLevel="1" alsoAnimate="background"
 reverse="false" buildAdvance="onclick" userSetAnimBgd="true"/><oa:buildParagraph
 targetElement="_x0000_s46087" groupID="0" build="asAWhole" buildLevel="1"
 alsoAnimate="background" reverse="false" buildAdvance="onclick"
 userSetAnimBgd="true"/><oa:buildParagraph targetElement="_x0000_s46088"
 groupID="0" build="asAWhole" buildLevel="1" alsoAnimate="background"
 reverse="false" buildAdvance="onclick" userSetAnimBgd="true"/><oa:buildParagraph
 targetElement="_x0000_s46151" groupID="0" build="asAWhole" buildLevel="1"
 alsoAnimate="background" reverse="false" buildAdvance="onclick"
 userSetAnimBgd="true"/>
<![endif]>
</body>

</html>
