<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=us-ascii">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 11">
<link id=Main-File rel=Main-File href="../CID_valle_sur_ilmc.htm">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>PIDES</title>
<meta name=Description content="22/04/2005">
<link rel=Stylesheet href="master04_stylesheet.css">
<!--[if gte IE 5]>
<object id=MSOANIM classid="CLSID:A4639D2F-774E-11D3-A490-00C04F6843FB"></object>
<object id=MSOTIME classid="CLSID:A4639D29-774E-11D3-A490-00C04F6843FB"></object>
<![endif]-->
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:76% !important;}
-->
</style>
<style>
<!--
oa\:* { BEHAVIOR: url(#MSOANIM#ANIM) url(#MSOTIME#TIME) }
oa\:par,oa\:seq,oa\:iterate { BEHAVIOR:url(#MSOTIME) }
oa\:video,oa\:audio {BEHAVIOR:url(#MSOTIME) url(#MSOTIME#MEDIA) }
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><script><!--
g_animItemsToHide=new Array("_x0000_s125969_AllText","_x0000_s125969","_x0000_s125984_AllText","_x0000_s125984","_x0000_s125983_AllText","_x0000_s125983","_x0000_s125982_AllText","_x0000_s125982","_x0000_s125981_AllText","_x0000_s125981","_x0000_s125980_AllText","_x0000_s125980","_x0000_s125979_AllText","_x0000_s125979","_x0000_s125978_AllText","_x0000_s125978","_x0000_s125985_AllText","_x0000_s125985","_x0000_s125963_AllText","_x0000_s125963","_x0000_s125961_AllText","_x0000_s125961");

//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><p:slidetransition advancetime="0" speed="1"
 effect="randomBar" direction="vertical" flag="1"/><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="124"/>
</o:shapelayout>
</head>

<body lang=ES-MODERN style='margin:0px;background-color:#993300'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()" oa:clockstart="onstart">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:755px;height:566px;font-size:16px;background-color:black;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden;filter:revealtrans(Duration=2, Transition=22)'><p:slide
 coordsize="720,540"
 colors="#993300,#ffffff,#bb5f03,#feec94,#ff9900,#b76a03,#ffffcc,#cccc00"
 masterhref="master04.xml">
 <v:background id="_x0000_s125953" o:bwmode="white" fillcolor="black"/>
 <v:shapetype id="_x0000_t202" coordsize="21600,21600" o:spt="202" path="m,l,21600r21600,l21600,xe">
  <v:stroke joinstyle="miter"/>
  <v:path gradientshapeok="t" o:connecttype="rect"/>
 </v:shapetype><v:shape id="_x0000_s125956" type="#_x0000_t202" style='position:absolute;
  left:19.75pt;top:14.875pt;width:190.5pt;height:31.25pt;mso-wrap-style:none;
  v-text-anchor:top-baseline' filled="f" fillcolor="#f90 [4]" stroked="f"
  strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
 </v:shape>
 <div v:shape="_x0000_s125956" class=O style='mso-char-wrap:1;mso-kinsoku-overflow:
 1;position:absolute;top:3.71%;left:3.7%;width:29.53%;height:4.24%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:83%'><b>TERCERA<span
 style='mso-spacerun:yes'>&nbsp; </span>ETAPA</b></span></div>
 <v:group id="_x0000_s125985" style='position:absolute;left:15.625pt;top:228.625pt;
  width:704.375pt;height:63pt' coordorigin="125,1829" coordsize="5635,504">
  <v:shapetype id="_x0000_t13" coordsize="21600,21600" o:spt="13" adj="16200,5400"
   path="m@0,l@0@1,0@1,0@2@0@2@0,21600,21600,10800xe">
   <v:stroke joinstyle="miter"/>
   <v:formulas>
    <v:f eqn="val #0"/>
    <v:f eqn="val #1"/>
    <v:f eqn="sum height 0 #1"/>
    <v:f eqn="sum 10800 0 #1"/>
    <v:f eqn="sum width 0 #0"/>
    <v:f eqn="prod @4 @3 10800"/>
    <v:f eqn="sum width 0 @5"/>
   </v:formulas>
   <v:path o:connecttype="custom" o:connectlocs="@0,0;0,10800;@0,21600;21600,10800"
    o:connectangles="270,180,90,0" textboxrect="0,@1,@6,@2"/>
   <v:handles>
    <v:h position="#0,#1" xrange="0,21600" yrange="0,10800"/>
   </v:handles>
  </v:shapetype><v:shape id="_x0000_s125957" type="#_x0000_t13" style='position:absolute;
   left:125;top:1829;width:5635;height:504' o:allowincell="f" adj="19457,4422"
   fillcolor="silver"/>
  <v:shape id="_x0000_s125958" style='position:absolute;left:2770;top:1915;
   width:0;height:328;mso-position-horizontal:absolute;
   mso-position-horizontal-relative:text;mso-position-vertical:absolute;
   mso-position-vertical-relative:text' coordsize="1,820" o:allowincell="f"
   path="m,l,820e" filled="f">
   <v:path arrowok="t"/>
  </v:shape><v:shape id="_x0000_s125959" type="#_x0000_t202" style='position:absolute;
   left:978;top:1982;width:936;height:207' o:allowincell="f">
   <v:textbox style='mso-next-textbox:#_x0000_s125959'/>
  </v:shape><v:shape id="_x0000_s125960" type="#_x0000_t202" style='position:absolute;
   left:3714;top:1973;width:1368;height:206'>
   <v:textbox style='mso-next-textbox:#_x0000_s125960'/>
  </v:shape><p:animation number="4" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:group><![if !ppt]>
 <div id="_x0000_s125985_AllText" style='position:absolute;top:42.22%;
 left:2.11%;width:98.27%;height:12.19%;white-space:nowrap'
 onfilterchange="javascript:TickHandler()"><![endif]><![if !vml]><img border=0
 v:shapes="_x0000_s125985,_x0000_s125957,_x0000_s125958,_x0000_s125959,_x0000_s125960"
 src="slide0073_image108.gif" style='position:absolute;top:0%;left:0%;
 width:100.0%;height:100.0%'><![endif]>
 <div v:shape="_x0000_s125959" class=O style='text-align:center;mso-char-wrap:
 1;mso-kinsoku-overflow:1;position:absolute;top:37.68%;left:16.17%;width:14.42%;
 height:28.98%'><span lang=ES-MODERN style='font-size:67%;color:black'><b>Agosto
 1999</b></span><span lang=ES-MODERN style='font-size:75%;color:black;
 mso-special-format:lastCR;display:none'>&#13;</span></div>
 <div v:shape="_x0000_s125960" class=O style='text-align:center;mso-char-wrap:
 1;mso-kinsoku-overflow:1;position:absolute;top:36.23%;left:64.55%;width:22.1%;
 height:28.98%'><span lang=ES-MODERN style='font-size:67%;color:black'><b>Diciembre
 2000</b></span><span lang=ES-MODERN style='font-size:75%;color:black;
 mso-special-format:lastCR;display:none'>&#13;</span></div>
 <![if !ppt]></div>
 <![endif]><v:shape id="_x0000_s125961" type="#_x0000_t202" style='position:absolute;
  left:14.125pt;top:60.25pt;width:686.125pt;height:51pt' o:allowincell="f"
  fillcolor="red">
  <p:animation number="2" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s125961" src="slide0073_image109.gif" style='position:absolute;
 top:11.13%;left:1.85%;width:95.62%;height:9.89%'><![endif]>
 <div id="_x0000_s125961_AllText" v:shape="_x0000_s125961" style='position:
 absolute;top:12.19%;left:3.04%;width:93.24%;height:11.83%'>
 <div class=O1 style='text-align:justify;mso-margin-left-alt:165;mso-text-indent-alt:
 165;mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;top:0%;
 left:2.98%;width:97.01%;height:67.16%'><span style='font-family:Arial;
 font-size:75%;color:black'><span style='mso-special-format:bullet;text-align:
 left;font-family:Wingdings'>&uuml;</span></span><span lang=ES-MODERN
 style='font-family:Arial;font-size:75%;color:black'><b>Conformaci&oacute;n de
 los CDDs y formulaci&oacute;n de Planes Integrales de Desarrollo para cada
 distrito.&#13;</b></span></div>
 <div class=O style='mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;
 top:67.16%;left:0%;width:100.0%;height:32.83%'><span lang=ES-MODERN
 style='font-family:Arial;font-size:75%;color:black;mso-special-format:lastCR;
 display:none'><b>&#13;</b></span></div>
 </div>
 <v:shape id="_x0000_s125963" type="#_x0000_t202" style='position:absolute;
  left:8.5pt;top:479.25pt;width:686pt;height:28.875pt' fillcolor="red">
  <p:animation number="3" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s125963" src="slide0073_image110.gif" style='position:absolute;
 top:88.69%;left:1.19%;width:95.62%;height:5.83%'><![endif]>
 <div id="_x0000_s125963_AllText" v:shape="_x0000_s125963" class=O1
 style='position:absolute;top:89.75%;left:7.28%;width:88.34%;height:3.88%;
 white-space:nowrap'>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><span style='position:absolute;
 top:0%;left:2.09%;width:97.75%;height:100.0%'><span style='font-family:Arial;
 font-size:75%;color:black'><span style='mso-special-format:bullet;position:
 absolute;left:-2.14%;font-family:Wingdings'>&uuml;</span></span><span
 lang=ES-MODERN style='font-family:Arial;font-size:75%;color:black'><b>Ejecuci&oacute;n
 de acciones.</b></span></span></div>
 </div>
 <v:group id="_x0000_s125979" style='position:absolute;left:94.875pt;top:122.625pt;
  width:112pt;height:113.375pt' coordorigin="759,1026" coordsize="896,907">
  <v:shape id="_x0000_s125964" type="#_x0000_t202" style='position:absolute;
   left:759;top:1026;width:896;height:644' o:allowincell="f">
   <v:textbox style='mso-next-textbox:#_x0000_s125964'/>
  </v:shape><v:shape id="_x0000_s125965" style='position:absolute;left:1247;
   top:1691;width:6;height:242' coordsize="6,242" o:allowincell="f" path="m,242l6,e"
   filled="f" strokecolor="white [1]">
   <v:stroke endarrow="block"/>
   <v:path arrowok="t"/>
  </v:shape><p:animation number="6" delay="0" type="object" effect="wipe"
   direction="up" flag="17412"/></v:group><![if !ppt]>
 <div id="_x0000_s125979_AllText" style='position:absolute;top:22.61%;
 left:13.11%;width:15.89%;height:21.55%;white-space:nowrap'
 onfilterchange="javascript:TickHandler()"><![endif]><![if !vml]><img border=0
 v:shapes="_x0000_s125979,_x0000_s125964,_x0000_s125965"
 src="slide0073_image111.gif" style='position:absolute;top:0%;left:0%;
 width:100.0%;height:100.0%'><![endif]>
 <div v:shape="_x0000_s125964" class=O style='text-align:justify;mso-line-spacing:
 "100 -48 0";mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;
 top:4.91%;left:6.66%;width:85.0%;height:57.37%'><span lang=ES-MODERN
 style='font-family:Arial;font-size:58%;color:black'><b>Elaboraci&oacute;n y
 aprobaci&oacute;n de estatutos en cada CDD</b></span></div>
 <![if !ppt]></div>
 <![endif]><v:group id="_x0000_s125980" style='position:absolute;left:212.625pt;
  top:122.625pt;width:147.375pt;height:119.125pt' coordorigin="1701,1026"
  coordsize="1179,953">
  <v:line id="_x0000_s125966" style='position:absolute;flip:y' from="2200,1680"
   to="2200,1979" o:allowincell="f" strokecolor="white [1]">
   <v:stroke endarrow="block"/>
  </v:line><v:shape id="_x0000_s125967" type="#_x0000_t202" style='position:absolute;
   left:1701;top:1026;width:1179;height:635' o:allowincell="f">
   <v:textbox style='mso-next-textbox:#_x0000_s125967'/>
  </v:shape><p:animation number="7" delay="0" type="object" effect="wipe"
   direction="up" flag="17412"/></v:group><![if !ppt]>
 <div id="_x0000_s125980_AllText" style='position:absolute;top:22.61%;
 left:29.53%;width:20.79%;height:22.61%;white-space:nowrap'
 onfilterchange="javascript:TickHandler()"><![endif]><![if !vml]><img border=0
 v:shapes="_x0000_s125980,_x0000_s125966,_x0000_s125967"
 src="slide0073_image112.gif" style='position:absolute;top:0%;left:0%;
 width:100.0%;height:100.0%'><![endif]>
 <div v:shape="_x0000_s125967" class=O style='text-align:justify;mso-char-wrap:
 1;mso-kinsoku-overflow:1;position:absolute;top:4.68%;left:5.09%;width:88.53%;
 height:54.68%'><span lang=ES-MODERN style='font-family:Arial;font-size:58%;
 color:black'><b>Se inicia la formulaci&oacute;n de los Planes Integrales de
 cada distrito.</b></span></div>
 <![if !ppt]></div>
 <![endif]><v:shape id="_x0000_s125969" type="#_x0000_t202" style='position:absolute;
  left:14.125pt;top:434.5pt;width:510.25pt;height:39.75pt'>
  <v:textbox style='mso-next-textbox:#_x0000_s125969'/>
  <p:animation number="12" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s125969" src="slide0073_image113.gif" style='position:absolute;
 top:80.38%;left:1.85%;width:71.25%;height:7.77%'><![endif]>
 <div id="_x0000_s125969_AllText" v:shape="_x0000_s125969" class=O
 style='position:absolute;top:81.44%;left:3.04%;width:68.87%;height:6.18%'>
 <div style='text-align:justify;mso-char-wrap:1;mso-kinsoku-overflow:1;
 position:absolute;top:0%;left:0%;width:100.0%;height:100.0%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:58%;color:black'><b>Ejecuci&oacute;n
 de proyectos y acciones priorizadas en el Plan y por las Comisiones
 Tem&aacute;ticas.</b></span></div>
 </div>
 <v:group id="_x0000_s125981" style='position:absolute;left:73.25pt;top:282.625pt;
  width:105.375pt;height:112.125pt' coordorigin="586,2306" coordsize="843,897">
  <v:shape id="_x0000_s125968" type="#_x0000_t202" style='position:absolute;
   left:586;top:2478;width:843;height:725'>
   <v:textbox style='mso-next-textbox:#_x0000_s125968'/>
  </v:shape><v:line id="_x0000_s125970" style='position:absolute' from="989,2306"
   to="989,2478" strokecolor="white [1]">
   <v:stroke endarrow="block"/>
  </v:line><p:animation number="8" delay="0" type="object" effect="wipe"
   direction="down" flag="17412"/></v:group><![if !ppt]>
 <div id="_x0000_s125981_AllText" style='position:absolute;top:52.29%;
 left:10.06%;width:14.96%;height:21.2%;white-space:nowrap'
 onfilterchange="javascript:TickHandler()"><![endif]><![if !vml]><img border=0
 v:shapes="_x0000_s125981,_x0000_s125968,_x0000_s125970"
 src="slide0073_image114.gif" style='position:absolute;top:0%;left:0%;
 width:100.0%;height:100.0%'><![endif]>
 <div v:shape="_x0000_s125968" class=O style='text-align:center;mso-char-wrap:
 1;mso-kinsoku-overflow:1'><span style='position:absolute;top:23.33%;
 left:5.3%;width:89.38%;height:14.16%'><span lang=ES-MODERN style='font-family:
 Arial;font-size:58%;color:black'><b>Celebraci&oacute;n </b></span></span><span
 style='position:absolute;top:37.5%;left:7.96%;width:84.07%;height:14.16%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:58%;color:black'><b>del II </b></span></span><span
 style='position:absolute;top:52.5%;left:2.65%;width:93.8%;height:14.16%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:58%;color:black'><b>Festivalle
 en </b></span></span><span style='position:absolute;top:67.5%;left:7.96%;
 width:84.07%;height:14.16%'><span lang=ES-MODERN style='font-family:Arial;
 font-size:58%;color:black'><b>San </b></span></span><span style='position:
 absolute;top:81.66%;left:7.96%;width:84.07%;height:14.16%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:58%;color:black'><b>Jer&oacute;nimo</b></span></span></div>
 <![if !ppt]></div>
 <![endif]><v:group id="_x0000_s125978" style='position:absolute;left:0;top:122.625pt;
  width:87.625pt;height:113.375pt' coordorigin=",1026" coordsize="701,907">
  <v:shape id="_x0000_s125962" type="#_x0000_t202" style='position:absolute;
   top:1026;width:701;height:771' o:allowincell="f">
   <v:textbox style='mso-next-textbox:#_x0000_s125962'/>
  </v:shape><v:line id="_x0000_s125971" style='position:absolute;flip:y'
   from="356,1818" to="356,1933" o:allowincell="f" strokecolor="white [1]">
   <v:stroke endarrow="block"/>
  </v:line><p:animation number="5" delay="0" type="object" effect="wipe"
   direction="up" flag="17412"/></v:group><![if !ppt]>
 <div id="_x0000_s125978_AllText" style='position:absolute;top:22.61%;
 left:0%;width:12.58%;height:21.55%;white-space:nowrap'
 onfilterchange="javascript:TickHandler()"><![endif]><![if !vml]><img border=0
 v:shapes="_x0000_s125978,_x0000_s125962,_x0000_s125971"
 src="slide0073_image115.gif" style='position:absolute;top:0%;left:0%;
 width:100.0%;height:100.0%'><![endif]>
 <div v:shape="_x0000_s125962" class=O style='text-align:center;mso-char-wrap:
 1;mso-kinsoku-overflow:1'><span style='position:absolute;top:4.91%;left:3.15%;
 width:91.57%;height:13.93%'><span lang=ES-MODERN style='font-family:Arial;
 font-size:58%;color:black'><b>Constituci</b></span></span><span
 style='position:absolute;top:18.85%;left:7.36%;width:82.1%;height:13.93%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:58%;color:black'><b>&oacute;n
 de los </b></span></span><span style='position:absolute;top:33.6%;left:8.42%;
 width:81.05%;height:13.93%'><span lang=ES-MODERN style='font-family:Arial;
 font-size:58%;color:black'><b>CDDs de </b></span></span><span
 style='position:absolute;top:47.54%;left:8.42%;width:81.05%;height:13.93%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:58%;color:black'><b>los 4 </b></span></span><span
 style='position:absolute;top:62.29%;left:8.42%;width:81.05%;height:13.93%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:58%;color:black'><b>distritos.</b></span></span></div>
 <![if !ppt]></div>
 <![endif]><v:group id="_x0000_s125983" style='position:absolute;left:447.625pt;
  top:282.625pt;width:93.625pt;height:112.125pt' coordorigin="3581,2306"
  coordsize="749,897">
  <v:shape id="_x0000_s125972" type="#_x0000_t202" style='position:absolute;
   left:3581;top:2478;width:749;height:725'/>
  <v:line id="_x0000_s125974" style='position:absolute' from="3927,2306" to="3927,2478"
   strokecolor="white [1]">
   <v:stroke endarrow="block"/>
  </v:line><p:animation number="10" delay="0" type="object" effect="wipe"
   direction="down" flag="17412"/></v:group><![if !ppt]>
 <div id="_x0000_s125983_AllText" style='position:absolute;top:52.29%;
 left:62.11%;width:13.37%;height:21.2%;white-space:nowrap'
 onfilterchange="javascript:TickHandler()"><![endif]><![if !vml]><img border=0
 v:shapes="_x0000_s125983,_x0000_s125972,_x0000_s125974"
 src="slide0073_image116.gif" style='position:absolute;top:0%;left:0%;
 width:100.0%;height:100.0%'><![endif]>
 <div v:shape="_x0000_s125972" class=O style='text-align:center;mso-char-wrap:
 1;mso-kinsoku-overflow:1'><span style='position:absolute;top:23.33%;
 left:4.95%;width:89.1%;height:14.16%'><span lang=ES-MODERN style='font-family:
 Arial;font-size:58%;color:black'><b>Culmina el </b></span></span><span
 style='position:absolute;top:37.5%;left:0%;width:98.01%;height:14.16%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:58%;color:black'><b>diagn&oacute;stico
 </b></span></span><span style='position:absolute;top:52.5%;left:7.92%;
 width:82.17%;height:14.16%'><span lang=ES-MODERN style='font-family:Arial;
 font-size:58%;color:black'><b>de </b></span></span><span style='position:absolute;
 top:67.5%;left:7.92%;width:82.17%;height:14.16%'><span lang=ES-MODERN
 style='font-family:Arial;font-size:58%;color:black'><b>Recursos </b></span></span><span
 style='position:absolute;top:81.66%;left:6.93%;width:85.14%;height:14.16%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:58%;color:black'><b>Naturales.</b></span></span></div>
 <![if !ppt]></div>
 <![endif]><v:group id="_x0000_s125984" style='position:absolute;left:548.5pt;
  top:284pt;width:151.75pt;height:167.5pt' coordorigin="4388,2317" coordsize="1214,1340">
  <v:shape id="_x0000_s125973" type="#_x0000_t202" style='position:absolute;
   left:4388;top:2490;width:1214;height:1167'/>
  <v:line id="_x0000_s125975" style='position:absolute' from="4921,2317" to="4921,2490"
   strokecolor="white [1]">
   <v:stroke endarrow="block"/>
  </v:line><p:animation number="11" delay="0" type="object" effect="wipe"
   direction="down" flag="17412"/></v:group><![if !ppt]>
 <div id="_x0000_s125984_AllText" style='position:absolute;top:52.47%;
 left:76.15%;width:23.31%;height:31.44%;white-space:nowrap'
 onfilterchange="javascript:TickHandler()"><![endif]><![if !vml]><img border=0
 v:shapes="_x0000_s125984,_x0000_s125973,_x0000_s125975"
 src="slide0073_image117.gif" style='position:absolute;top:0%;left:0%;
 width:92.04%;height:100.0%'><![endif]>
 <div v:shape="_x0000_s125973" class=O style='mso-char-wrap:1;mso-kinsoku-overflow:
 1'><span style='position:absolute;top:15.73%;left:4.54%;width:83.52%;
 height:9.55%'><span lang=ES-MODERN style='font-family:Arial;font-size:58%;
 color:black'><b>Realizaci&oacute;n del III </b></span></span><span
 style='position:absolute;top:25.84%;left:4.54%;width:88.06%;height:9.55%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:58%;color:black'><b>Foro del
 Valle Sur, </b></span></span><span style='position:absolute;top:35.95%;
 left:4.54%;width:88.63%;height:9.55%'><span lang=ES-MODERN style='font-family:
 Arial;font-size:58%;color:black'><b>present&aacute;ndose los </b></span></span><span
 style='position:absolute;top:45.5%;left:4.54%;width:81.81%;height:9.55%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:58%;color:black'><b>lineamientos
 </b></span></span><span style='position:absolute;top:55.61%;left:4.54%;
 width:81.81%;height:9.55%'><span lang=ES-MODERN style='font-family:Arial;
 font-size:58%;color:black'><b>estrat&eacute;gicos </b></span></span><span
 style='position:absolute;top:65.16%;left:4.54%;width:81.81%;height:9.55%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:58%;color:black'><b>preliminares
 </b></span></span><span style='position:absolute;top:75.28%;left:4.54%;
 width:81.81%;height:9.55%'><span lang=ES-MODERN style='font-family:Arial;
 font-size:58%;color:black'><b>resultado del </b></span></span><span
 style='position:absolute;top:84.83%;left:4.54%;width:95.45%;height:9.55%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:58%;color:black'><b>trabajo
 de los CDDs</b></span></span></div>
 <![if !ppt]></div>
 <![endif]><v:group id="_x0000_s125982" style='position:absolute;left:314.625pt;
  top:282.625pt;width:120.25pt;height:140.5pt' coordorigin="2517,2306"
  coordsize="962,1124">
  <v:shape id="_x0000_s125976" type="#_x0000_t202" style='position:absolute;
   left:2517;top:2523;width:962;height:907'/>
  <v:line id="_x0000_s125977" style='position:absolute' from="3061,2306" to="3061,2478"
   strokecolor="white [1]">
   <v:stroke endarrow="block"/>
  </v:line><p:animation number="9" delay="0" type="object" effect="wipe"
   direction="down" flag="17412"/></v:group><![if !ppt]>
 <div id="_x0000_s125982_AllText" style='position:absolute;top:52.29%;
 left:43.7%;width:18.14%;height:26.5%;white-space:nowrap'
 onfilterchange="javascript:TickHandler()"><![endif]><![if !vml]><img border=0
 v:shapes="_x0000_s125982,_x0000_s125976,_x0000_s125977"
 src="slide0073_image118.gif" style='position:absolute;top:0%;left:0%;
 width:94.16%;height:100.0%'><![endif]>
 <div v:shape="_x0000_s125976" class=O style='mso-char-wrap:1;mso-kinsoku-overflow:
 1'><span style='position:absolute;top:22.66%;left:5.83%;width:81.02%;
 height:11.33%'><span lang=ES-MODERN style='font-family:Arial;font-size:58%;
 color:black'><b>Capacitaci&oacute;n </b></span></span><span style='position:
 absolute;top:34.0%;left:5.83%;width:94.16%;height:11.33%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:58%;color:black'><b>de
 Autoridades </b></span></span><span style='position:absolute;top:46.0%;
 left:5.83%;width:81.02%;height:11.33%'><span lang=ES-MODERN style='font-family:
 Arial;font-size:58%;color:black'><b>Municipales, </b></span></span><span
 style='position:absolute;top:57.33%;left:5.83%;width:81.02%;height:11.33%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:58%;color:black'><b>L&iacute;deres,
 </b></span></span><span style='position:absolute;top:69.33%;left:5.83%;
 width:86.13%;height:11.33%'><span lang=ES-MODERN style='font-family:Arial;
 font-size:58%;color:black'><b>productores y </b></span></span><span
 style='position:absolute;top:81.33%;left:5.83%;width:81.02%;height:11.33%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:58%;color:black'><b>poblaci&oacute;n.</b></span></span></div>
 <![if !ppt]></div>
 <![endif]></p:slide></div>

<p:animation number="-242100453"/><oa:par id="TimeNode0" dur="indefinite"
 restart="never" p:nodeType="timingRoot">
 <oa:seq id="TimeNode1" dur="indefinite" prev="document.onpptprev"
  next="document.onpptnext" concurrent="enabled" nextAction="seek"
  p:nodeType="mainSeq">
  <oa:par id="TimeNode2" begin="indefinite;TimeNode1.onbegin" fill="hold">
   <oa:par id="TimeNode3" begin="0.0" fill="hold">
    <oa:par id="TimeNode4" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode5" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s125961" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode6" dur="1.0" targetElement="_x0000_s125961"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode7" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode8" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s125961_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode9" dur="1.0"
      targetElement="_x0000_s125961_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode10" begin="1.0" fill="hold">
    <oa:par id="TimeNode11" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode12" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s125963" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode13" dur="0.5" targetElement="_x0000_s125963"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode14" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode15" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s125963_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode16" dur="0.5"
      targetElement="_x0000_s125963_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode17" begin="1.5" fill="hold">
    <oa:par id="TimeNode18" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode19" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s125985" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode20" dur="1.0" targetElement="_x0000_s125985"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode21" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode22" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s125985_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode23" dur="1.0"
      targetElement="_x0000_s125985_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode24" begin="2.5" fill="hold">
    <oa:par id="TimeNode25" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x4" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode26" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s125978" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode27" dur="0.5" targetElement="_x0000_s125978"
      transition="in" filter="wipe(down)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode28" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x4" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode29" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s125978_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode30" dur="0.5"
      targetElement="_x0000_s125978_AllText" transition="in" filter="wipe(down)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode31" begin="3.0" fill="hold">
    <oa:par id="TimeNode32" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x4" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode33" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s125979" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode34" dur="0.5" targetElement="_x0000_s125979"
      transition="in" filter="wipe(down)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode35" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x4" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode36" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s125979_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode37" dur="0.5"
      targetElement="_x0000_s125979_AllText" transition="in" filter="wipe(down)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode38" begin="3.5" fill="hold">
    <oa:par id="TimeNode39" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x4" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode40" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s125980" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode41" dur="0.5" targetElement="_x0000_s125980"
      transition="in" filter="wipe(down)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode42" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x4" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode43" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s125980_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode44" dur="0.5"
      targetElement="_x0000_s125980_AllText" transition="in" filter="wipe(down)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode45" begin="4.0" fill="hold">
    <oa:par id="TimeNode46" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x1" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode47" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s125981" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode48" dur="0.5" targetElement="_x0000_s125981"
      transition="in" filter="wipe(up)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode49" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x1" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode50" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s125981_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode51" dur="0.5"
      targetElement="_x0000_s125981_AllText" transition="in" filter="wipe(up)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode52" begin="4.5" fill="hold">
    <oa:par id="TimeNode53" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x1" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode54" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s125982" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode55" dur="1.0" targetElement="_x0000_s125982"
      transition="in" filter="wipe(up)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode56" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x1" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode57" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s125982_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode58" dur="1.0"
      targetElement="_x0000_s125982_AllText" transition="in" filter="wipe(up)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode59" begin="5.5" fill="hold">
    <oa:par id="TimeNode60" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x1" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode61" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s125983" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode62" dur="1.0" targetElement="_x0000_s125983"
      transition="in" filter="wipe(up)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode63" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x1" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode64" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s125983_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode65" dur="1.0"
      targetElement="_x0000_s125983_AllText" transition="in" filter="wipe(up)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode66" begin="6.5" fill="hold">
    <oa:par id="TimeNode67" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x1" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode68" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s125984" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode69" dur="1.0" targetElement="_x0000_s125984"
      transition="in" filter="wipe(up)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode70" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x1" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode71" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s125984_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode72" dur="1.0"
      targetElement="_x0000_s125984_AllText" transition="in" filter="wipe(up)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode73" begin="7.5" fill="hold">
    <oa:par id="TimeNode74" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode75" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s125969" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode76" dur="1.0" targetElement="_x0000_s125969"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode77" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode78" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s125969_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode79" dur="1.0"
      targetElement="_x0000_s125969_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
  </oa:par>
 </oa:seq>
</oa:par>
<![if ppt]>
<oa:buildParagraph targetElement="_x0000_s125961" groupID="0" build="asAWhole"
 buildLevel="1" alsoAnimate="background" reverse="false" buildAdvance="onclick"
 userSetAnimBgd="false"/><oa:buildParagraph targetElement="_x0000_s125963"
 groupID="0" build="asAWhole" buildLevel="1" alsoAnimate="background"
 reverse="false" buildAdvance="onclick" userSetAnimBgd="false"/><oa:buildParagraph
 targetElement="_x0000_s125969" groupID="0" build="asAWhole" buildLevel="1"
 alsoAnimate="background" reverse="false" buildAdvance="onclick"
 userSetAnimBgd="false"/>
<![endif]>
</body>

</html>
