<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=us-ascii">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 11">
<link id=Main-File rel=Main-File href="../CID_valle_sur_ilmc.htm">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>PIDES</title>
<meta name=Description content="22/04/2005">
<link rel=Stylesheet href="master04_stylesheet.css">
<!--[if gte IE 5]>
<object id=MSOANIM classid="CLSID:A4639D2F-774E-11D3-A490-00C04F6843FB"></object>
<object id=MSOTIME classid="CLSID:A4639D29-774E-11D3-A490-00C04F6843FB"></object>
<![endif]-->
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:76% !important;}
-->
</style>
<style>
<!--
oa\:* { BEHAVIOR: url(#MSOANIM#ANIM) url(#MSOTIME#TIME) }
oa\:par,oa\:seq,oa\:iterate { BEHAVIOR:url(#MSOTIME) }
oa\:video,oa\:audio {BEHAVIOR:url(#MSOTIME) url(#MSOTIME#MEDIA) }
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><script><!--
g_animItemsToHide=new Array("_x0000_s126993_AllText","_x0000_s126993","_x0000_s127013_AllText","_x0000_s127013","_x0000_s127012_AllText","_x0000_s127012","_x0000_s127011_AllText","_x0000_s127011","_x0000_s127001","_x0000_s127000","_x0000_s126999","_x0000_s126998","_x0000_s126995_AllText","_x0000_s126995","_x0000_s126994_AllText","_x0000_s126994","_x0000_s126987_AllText","_x0000_s126987","_x0000_s127010_AllText","_x0000_s127010","_x0000_s126992","_x0000_s126985_AllText","_x0000_s126985","_x0000_s127009_AllText","_x0000_s127009","_x0000_s126986_AllText","_x0000_s126986","_x0000_s126984_AllText","_x0000_s126984");

//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><p:slidetransition advancetime="0" speed="1"
 effect="randomBar" direction="vertical" flag="1"/><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="125"/>
</o:shapelayout>
</head>

<body lang=ES-MODERN style='margin:0px;background-color:#993300'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()" oa:clockstart="onstart">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:755px;height:566px;font-size:16px;background-color:black;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden;filter:revealtrans(Duration=2, Transition=22)'><p:slide
 coordsize="720,540"
 colors="#993300,#ffffff,#bb5f03,#feec94,#ff9900,#b76a03,#ffffcc,#cccc00"
 masterhref="master04.xml">
 <v:background id="_x0000_s126977" o:bwmode="white" fillcolor="black"/>
 <v:group id="_x0000_s127009" style='position:absolute;left:19.75pt;top:234.25pt;
  width:700.25pt;height:63pt' coordorigin="158,1874" coordsize="5602,504">
  <v:shapetype id="_x0000_t13" coordsize="21600,21600" o:spt="13" adj="16200,5400"
   path="m@0,l@0@1,0@1,0@2@0@2@0,21600,21600,10800xe">
   <v:stroke joinstyle="miter"/>
   <v:formulas>
    <v:f eqn="val #0"/>
    <v:f eqn="val #1"/>
    <v:f eqn="sum height 0 #1"/>
    <v:f eqn="sum 10800 0 #1"/>
    <v:f eqn="sum width 0 #0"/>
    <v:f eqn="prod @4 @3 10800"/>
    <v:f eqn="sum width 0 @5"/>
   </v:formulas>
   <v:path o:connecttype="custom" o:connectlocs="@0,0;0,10800;@0,21600;21600,10800"
    o:connectangles="270,180,90,0" textboxrect="0,@1,@6,@2"/>
   <v:handles>
    <v:h position="#0,#1" xrange="0,21600" yrange="0,10800"/>
   </v:handles>
  </v:shapetype><v:shape id="_x0000_s126980" type="#_x0000_t13" style='position:absolute;
   left:158;top:1874;width:5602;height:504' o:allowincell="f" adj="19457,4422"
   fillcolor="silver"/>
  <v:shape id="_x0000_s126981" style='position:absolute;left:3056;top:1976;
   width:0;height:304;mso-position-horizontal:absolute;
   mso-position-horizontal-relative:text;mso-position-vertical:absolute;
   mso-position-vertical-relative:text' coordsize="1,760" o:allowincell="f"
   path="m,l,760e" filled="f">
   <v:path arrowok="t"/>
  </v:shape><v:shapetype id="_x0000_t202" coordsize="21600,21600" o:spt="202"
   path="m,l,21600r21600,l21600,xe">
   <v:stroke joinstyle="miter"/>
   <v:path gradientshapeok="t" o:connecttype="rect"/>
  </v:shapetype><v:shape id="_x0000_s126982" type="#_x0000_t202" style='position:absolute;
   left:1184;top:2027;width:1080;height:207' o:allowincell="f">
   <v:textbox style='mso-next-textbox:#_x0000_s126982'/>
  </v:shape><v:shape id="_x0000_s126983" type="#_x0000_t202" style='position:absolute;
   left:3969;top:2027;width:1080;height:207' o:allowincell="f">
   <v:textbox style='mso-next-textbox:#_x0000_s126983'/>
  </v:shape><p:animation number="4" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:group><![if !ppt]>
 <div id="_x0000_s127009_AllText" style='position:absolute;top:43.1%;
 left:2.64%;width:97.74%;height:12.19%;white-space:nowrap'
 onfilterchange="javascript:TickHandler()"><![endif]><![if !vml]><img border=0
 v:shapes="_x0000_s127009,_x0000_s126980,_x0000_s126981,_x0000_s126982,_x0000_s126983"
 src="slide0074_image119.gif" style='position:absolute;top:0%;left:0%;
 width:100.0%;height:100.0%'><![endif]>
 <div v:shape="_x0000_s126982" class=O style='text-align:center;mso-char-wrap:
 1;mso-kinsoku-overflow:1;position:absolute;top:39.13%;left:19.37%;width:17.07%;
 height:28.98%'><span lang=ES-MODERN style='font-size:67%;color:black'><b>Abril
 2001</b></span><span lang=ES-MODERN style='font-size:75%;color:black;
 mso-special-format:lastCR;display:none'>&#13;</span></div>
 <div v:shape="_x0000_s126983" class=O style='text-align:center;mso-char-wrap:
 1;mso-kinsoku-overflow:1;position:absolute;top:39.13%;left:68.83%;width:17.07%;
 height:28.98%'><span lang=ES-MODERN style='font-size:67%;color:black'><b>Marzo
 2002</b></span><span lang=ES-MODERN style='font-size:75%;color:black;
 mso-special-format:lastCR;display:none'>&#13;</span></div>
 <![if !ppt]></div>
 <![endif]><v:shape id="_x0000_s126984" type="#_x0000_t202" style='position:absolute;
  left:31.125pt;top:49pt;width:673.625pt;height:56.625pt' o:allowincell="f"
  fillcolor="red">
  <p:animation number="2" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s126984" src="slide0074_image120.gif" style='position:absolute;
 top:9.01%;left:4.23%;width:93.9%;height:10.95%'><![endif]>
 <div id="_x0000_s126984_AllText" v:shape="_x0000_s126984" style='position:
 absolute;top:10.07%;left:5.43%;width:91.52%;height:11.83%'>
 <div class=O1 style='text-align:justify;mso-char-wrap:1;mso-kinsoku-overflow:
 1;position:absolute;top:0%;left:5.35%;width:94.64%;height:67.16%'><span
 style='font-family:Arial;font-size:75%;color:black'><span style='mso-special-format:
 bullet;text-align:left;font-family:Wingdings'>&uuml;</span></span><span
 lang=ES-MODERN style='font-family:Arial;font-size:75%;color:black'><b>Elaboraci&oacute;n
 del Diagn&oacute;stico para implementar el PAT y ejecuci&oacute;n del POA de
 las COTIs&#13;</b></span></div>
 <div class=O style='mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;
 top:67.16%;left:0%;width:100.0%;height:32.83%'><span lang=ES-MODERN
 style='font-family:Arial;font-size:75%;color:black;mso-special-format:lastCR;
 display:none'>&#13;</span></div>
 </div>
 <v:shape id="_x0000_s126985" type="#_x0000_t202" style='position:absolute;
  left:19.75pt;top:128.25pt;width:124.75pt;height:96.375pt' o:allowincell="f">
  <v:textbox style='mso-next-textbox:#_x0000_s126985'/>
  <p:animation number="5" delay="0" type="object" effect="wipe" direction="up"
   flag="17412"/></v:shape><![if !vml]><img border=0 v:shapes="_x0000_s126985"
 src="slide0074_image121.gif" style='position:absolute;top:23.67%;left:2.64%;
 width:17.74%;height:18.37%'><![endif]>
 <div id="_x0000_s126985_AllText" v:shape="_x0000_s126985" class=O
 style='position:absolute;top:24.73%;left:3.84%;width:18.41%;height:15.54%;
 white-space:nowrap'>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1'><span style='position:
 absolute;top:0%;left:0%;width:94.96%;height:19.31%'><span lang=ES-MODERN
 style='font-family:Arial;font-size:58%;color:black'><b>Elaboraci&oacute;n del </b></span></span><span
 style='position:absolute;top:19.31%;left:0%;width:83.45%;height:19.31%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:58%;color:black'><b>diagn&oacute;stico
 </b></span></span><span style='position:absolute;top:39.77%;left:0%;
 width:100.0%;height:19.31%'><span lang=ES-MODERN style='font-family:Arial;
 font-size:58%;color:black'><b>propositivo para </b></span></span><span
 style='position:absolute;top:59.09%;left:0%;width:89.92%;height:19.31%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:58%;color:black'><b>implementar
 el </b></span></span><span style='position:absolute;top:79.54%;left:0%;
 width:83.45%;height:19.31%'><span lang=ES-MODERN style='font-family:Arial;
 font-size:58%;color:black'><b>PAT</b></span></span></div>
 </div>
 <v:shape id="_x0000_s126986" type="#_x0000_t202" style='position:absolute;
  left:36.875pt;top:482.375pt;width:657pt;height:42.75pt' fillcolor="red">
  <p:animation number="3" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s126986" src="slide0074_image122.gif" style='position:absolute;
 top:89.22%;left:5.03%;width:91.65%;height:8.48%'><![endif]>
 <div id="_x0000_s126986_AllText" v:shape="_x0000_s126986" class=O1
 style='position:absolute;top:90.28%;left:11.12%;width:84.23%;height:3.88%;
 white-space:nowrap'>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><span style='position:absolute;
 top:0%;left:2.35%;width:97.64%;height:100.0%'><span style='font-family:Arial;
 font-size:75%;color:black'><span style='mso-special-format:bullet;position:
 absolute;left:-2.41%;font-family:Wingdings'>&uuml;</span></span><span
 lang=ES-MODERN style='font-family:Arial;font-size:75%;color:black'><b>Ejecuci&oacute;n
 de acciones.</b></span></span></div>
 </div>
 <v:shape id="_x0000_s126987" type="#_x0000_t202" style='position:absolute;
  left:269.25pt;top:122.5pt;width:243.875pt;height:22.75pt' o:allowincell="f">
  <v:textbox style='mso-next-textbox:#_x0000_s126987'/>
  <p:animation number="8" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s126987" src="slide0074_image123.gif" style='position:absolute;
 top:22.61%;left:37.35%;width:34.17%;height:4.77%'><![endif]>
 <div id="_x0000_s126987_AllText" v:shape="_x0000_s126987" class=O
 style='position:absolute;top:23.67%;left:38.41%;width:26.88%;height:3.0%'>
 <div style='text-align:justify;mso-char-wrap:1;mso-kinsoku-overflow:1;
 position:absolute;top:0%;left:0%;width:100.0%;height:100.0%'><nobr><span
 lang=ES-MODERN style='font-family:Arial;font-size:58%;color:black'><b>Elaboraci&oacute;n
 de Gu&iacute;a tur&iacute;stica</b></span></nobr></div>
 </div>
 <v:group id="_x0000_s127010" style='position:absolute;left:150.25pt;top:116.875pt;
  width:100.75pt;height:123.5pt' coordorigin="1202,935" coordsize="806,988">
  <v:line id="_x0000_s126988" style='position:absolute;flip:y' from="1613,1797"
   to="1613,1923" o:allowincell="f" strokecolor="white [1]">
   <v:stroke endarrow="block"/>
  </v:line><v:shape id="_x0000_s126989" type="#_x0000_t202" style='position:absolute;
   left:1202;top:935;width:806;height:862' o:allowincell="f">
   <v:textbox style='mso-next-textbox:#_x0000_s126989'/>
  </v:shape><p:animation number="7" delay="0" type="object" effect="wipe"
   direction="up" flag="17412"/></v:group><![if !ppt]>
 <div id="_x0000_s127010_AllText" style='position:absolute;top:21.55%;
 left:20.79%;width:14.3%;height:23.32%;white-space:nowrap'
 onfilterchange="javascript:TickHandler()"><![endif]><![if !vml]><img border=0
 v:shapes="_x0000_s127010,_x0000_s126988,_x0000_s126989"
 src="slide0074_image124.gif" style='position:absolute;top:0%;left:0%;
 width:100.0%;height:100.0%'><![endif]>
 <div v:shape="_x0000_s126989" class=O style='text-align:justify;mso-char-wrap:
 1;mso-kinsoku-overflow:1;position:absolute;top:4.54%;left:8.33%;width:84.25%;
 height:74.24%'><span lang=ES-MODERN style='font-family:Arial;font-size:54%;
 color:black'><b>Ejecuci&oacute;n de actividades y acciones previstas en el POA
 de cada COTI</b></span></div>
 <![if !ppt]></div>
 <![endif]><v:group id="_x0000_s127011" style='position:absolute;left:76.5pt;
  top:292.625pt;width:117.875pt;height:102.125pt' coordorigin="612,2341"
  coordsize="943,817">
  <v:shape id="_x0000_s126990" type="#_x0000_t202" style='position:absolute;
   left:612;top:2539;width:943;height:619'>
   <v:textbox style='mso-next-textbox:#_x0000_s126990'/>
  </v:shape><v:line id="_x0000_s126991" style='position:absolute' from="1066,2341"
   to="1066,2514" strokecolor="white [1]">
   <v:stroke endarrow="block"/>
  </v:line><p:animation number="15" delay="0" type="object" effect="wipe"
   direction="down" flag="17412"/></v:group><![if !ppt]>
 <div id="_x0000_s127011_AllText" style='position:absolute;top:54.06%;
 left:10.59%;width:16.68%;height:19.43%;white-space:nowrap'
 onfilterchange="javascript:TickHandler()"><![endif]><![if !vml]><img border=0
 v:shapes="_x0000_s127011,_x0000_s126990,_x0000_s126991"
 src="slide0074_image125.gif" style='position:absolute;top:0%;left:0%;
 width:100.0%;height:100.0%'><![endif]>
 <div v:shape="_x0000_s126990" class=O style='text-align:center;mso-char-wrap:
 1;mso-kinsoku-overflow:1'><span style='position:absolute;top:29.09%;
 left:6.34%;width:86.5%;height:15.45%'><span lang=ES-MODERN style='font-family:
 Arial;font-size:58%;color:black'><b>Celebraci&oacute;n </b></span></span><span
 style='position:absolute;top:44.54%;left:6.34%;width:86.5%;height:15.45%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:58%;color:black'><b>del III </b></span></span><span
 style='position:absolute;top:60.9%;left:6.34%;width:86.5%;height:15.45%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:58%;color:black'><b>Festivalle
 en </b></span></span><span style='position:absolute;top:76.36%;left:6.34%;
 width:85.71%;height:15.45%'><span lang=ES-MODERN style='font-family:Arial;
 font-size:58%;color:black'><b>Lucre</b></span></span></div>
 <![if !ppt]></div>
 <![endif]><v:line id="_x0000_s126992" style='position:absolute;flip:y' from="82.125pt,224.625pt"
  to="82.125pt,239pt" o:allowincell="f" strokecolor="white [1]">
  <v:stroke endarrow="block"/>
  <p:animation number="6" delay="0" type="object" effect="wipe" direction="up"
   flag="17412"/></v:line><![if !vml]><img border=0 v:shapes="_x0000_s126992"
 src="slide0074_image126.gif" style='position:absolute;top:41.51%;left:10.86%;
 width:1.19%;height:3.18%'><![endif]><v:shape id="_x0000_s126993" type="#_x0000_t202"
  style='position:absolute;left:116.25pt;top:428.75pt;width:482pt;height:45.375pt'>
  <v:textbox style='mso-next-textbox:#_x0000_s126993'/>
  <p:animation number="18" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s126993" src="slide0074_image127.gif" style='position:absolute;
 top:79.32%;left:16.15%;width:67.28%;height:8.83%'><![endif]>
 <div id="_x0000_s126993_AllText" v:shape="_x0000_s126993" class=O
 style='position:absolute;top:80.38%;left:17.21%;width:64.9%;height:6.18%'>
 <div style='text-align:justify;mso-char-wrap:1;mso-kinsoku-overflow:1;
 position:absolute;top:0%;left:0%;width:100.0%;height:100.0%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:58%;color:black'><b>Ejecuci&oacute;n
 de proyectos y acciones priorizadas en el Plan y por las Comisiones
 Tem&aacute;ticas.</b></span></div>
 </div>
 <v:shape id="_x0000_s126994" type="#_x0000_t202" style='position:absolute;
  left:266.375pt;top:164pt;width:337.375pt;height:26.625pt' o:allowincell="f">
  <v:textbox style='mso-next-textbox:#_x0000_s126994'/>
  <p:animation number="9" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s126994" src="slide0074_image128.gif" style='position:absolute;
 top:30.38%;left:36.95%;width:47.28%;height:5.47%'><![endif]>
 <div id="_x0000_s126994_AllText" v:shape="_x0000_s126994" class=O
 style='position:absolute;top:31.27%;left:38.01%;width:35.49%;height:3.0%'>
 <div style='text-align:justify;mso-char-wrap:1;mso-kinsoku-overflow:1;
 position:absolute;top:0%;left:0%;width:100.0%;height:100.0%'><nobr><span
 lang=ES-MODERN style='font-family:Arial;font-size:58%;color:black'><b>Campa&ntilde;a
 de limpieza del r&iacute;o Huatanay</b></span></nobr></div>
 </div>
 <v:shape id="_x0000_s126995" type="#_x0000_t202" style='position:absolute;
  left:266.375pt;top:202pt;width:371.5pt;height:30.25pt' o:allowincell="f"
  strokecolor="white [1]">
  <v:textbox style='mso-next-textbox:#_x0000_s126995'/>
  <p:animation number="10" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s126995" src="slide0074_image129.gif" style='position:absolute;
 top:37.27%;left:36.95%;width:51.92%;height:6.0%'><![endif]>
 <div id="_x0000_s126995_AllText" v:shape="_x0000_s126995" class=O
 style='position:absolute;top:38.33%;left:38.01%;width:58.54%;height:3.0%;
 white-space:nowrap'>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><span lang=ES-MODERN
 style='font-family:Arial;font-size:58%;color:black'><b>Bibliotecas Municipales
 y Defensor&iacute;as Comunitarias. </b></span></div>
 </div>
 <v:line id="_x0000_s126998" style='position:absolute' from="252pt,180pt" to="266.375pt,180pt"
  o:allowincell="f" strokecolor="white [1]">
  <p:animation number="11" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:line><![if !vml]><img border=0
 v:shapes="_x0000_s126998" src="slide0074_image130.gif" style='position:absolute;
 top:33.21%;left:34.96%;width:2.38%;height:.53%'><![endif]><v:line id="_x0000_s126999"
  style='position:absolute' from="259.25pt,2in" to="259.25pt,208.75pt"
  o:allowincell="f" strokecolor="white [1]">
  <p:animation number="12" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:line><![if !vml]><img border=0
 v:shapes="_x0000_s126999" src="slide0074_image131.gif" style='position:absolute;
 top:26.67%;left:35.89%;width:.39%;height:12.54%'><![endif]><v:line id="_x0000_s127000"
  style='position:absolute' from="259.25pt,2in" to="266.375pt,2in"
  o:allowincell="f" strokecolor="white [1]">
  <p:animation number="13" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:line><![if !vml]><img border=0
 v:shapes="_x0000_s127000" src="slide0074_image132.gif" style='position:absolute;
 top:26.67%;left:35.89%;width:1.32%;height:.53%'><![endif]><v:line id="_x0000_s127001"
  style='position:absolute' from="259.25pt,208.75pt" to="266.375pt,208.75pt"
  o:allowincell="f" strokecolor="white [1]">
  <p:animation number="14" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:line><![if !vml]><img border=0
 v:shapes="_x0000_s127001" src="slide0074_image133.gif" style='position:absolute;
 top:38.51%;left:35.89%;width:1.32%;height:.53%'><![endif]><v:group id="_x0000_s127012"
  style='position:absolute;left:194.375pt;top:315.375pt;width:245pt;height:90.75pt'
  coordorigin="1555,2523" coordsize="1960,726">
  <v:shape id="_x0000_s126996" type="#_x0000_t202" style='position:absolute;
   left:1837;top:2523;width:1678;height:227' strokecolor="white [1]">
   <v:textbox style='mso-next-textbox:#_x0000_s126996'/>
  </v:shape><v:shape id="_x0000_s126997" type="#_x0000_t202" style='position:absolute;
   left:1837;top:2886;width:1406;height:363'>
   <v:textbox style='mso-next-textbox:#_x0000_s126997'/>
  </v:shape><v:line id="_x0000_s127002" style='position:absolute' from="1555,2770"
   to="1728,2770" strokecolor="white [1]"/>
  <v:line id="_x0000_s127003" style='position:absolute' from="1728,2654" to="1728,2885"
   strokecolor="white [1]"/>
  <v:line id="_x0000_s127004" style='position:absolute' from="1728,2654" to="1843,2654"
   strokecolor="white [1]"/>
  <v:line id="_x0000_s127005" style='position:absolute' from="1728,2885" to="1843,2885"
   strokecolor="white [1]"/>
  <p:animation number="16" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:group><![if !ppt]>
 <div id="_x0000_s127012_AllText" style='position:absolute;top:58.3%;
 left:26.88%;width:34.43%;height:17.31%;white-space:nowrap'
 onfilterchange="javascript:TickHandler()"><![endif]><![if !vml]><img border=0
 v:shapes="_x0000_s127012,_x0000_s126996,_x0000_s126997,_x0000_s127002,_x0000_s127003,_x0000_s127004,_x0000_s127005"
 src="slide0074_image134.gif" style='position:absolute;top:0%;left:0%;
 width:100.0%;height:100.0%'><![endif]>
 <div v:shape="_x0000_s126996" class=O style='text-align:justify;mso-char-wrap:
 1;mso-kinsoku-overflow:1;position:absolute;top:6.12%;left:17.69%;width:72.3%;
 height:17.34%'><nobr><span lang=ES-MODERN style='font-family:Arial;font-size:
 58%;color:black'><b>Presentaci&oacute;n avances PAT</b></span></nobr></div>
 <div v:shape="_x0000_s126997" class=O style='mso-char-wrap:1;mso-kinsoku-overflow:
 1'><span style='position:absolute;top:54.08%;left:17.69%;width:65.0%;
 height:17.34%'><span lang=ES-MODERN style='font-family:Arial;font-size:58%;
 color:black'><b>Presentaci&oacute;n de </b></span></span><span
 style='position:absolute;top:72.44%;left:17.69%;width:70.38%;height:17.34%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:58%;color:black'><b>trabajos
 de las COTIS</b></span></span></div>
 <![if !ppt]></div>
 <![endif]><v:group id="_x0000_s127013" style='position:absolute;left:462pt;
  top:295.75pt;width:226.875pt;height:116pt' coordorigin="3696,2366"
  coordsize="1815,928">
  <v:shape id="_x0000_s127006" type="#_x0000_t202" style='position:absolute;
   left:3696;top:2597;width:1815;height:697'/>
  <v:line id="_x0000_s127007" style='position:absolute' from="4608,2366" to="4608,2539"
   strokecolor="white [1]">
   <v:stroke endarrow="block"/>
  </v:line><p:animation number="17" delay="0" type="object" effect="wipe"
   direction="down" flag="17412"/></v:group><![if !ppt]>
 <div id="_x0000_s127013_AllText" style='position:absolute;top:54.77%;
 left:64.1%;width:31.92%;height:21.9%;white-space:nowrap'
 onfilterchange="javascript:TickHandler()"><![endif]><![if !vml]><img border=0
 v:shapes="_x0000_s127013,_x0000_s127006,_x0000_s127007"
 src="slide0074_image135.gif" style='position:absolute;top:0%;left:0%;
 width:100.0%;height:100.0%'><![endif]>
 <div v:shape="_x0000_s127006" class=O style='text-align:justify;mso-char-wrap:
 1;mso-kinsoku-overflow:1;position:absolute;top:28.22%;left:3.31%;width:92.53%;
 height:56.45%'><span lang=ES-MODERN style='font-family:Arial;font-size:58%;
 color:black'><b>Realizaci&oacute;n del Taller participativo de An&aacute;lisis
 y Propuesta sobre la nueva Ley Org&aacute;nica de Municipalidades.</b></span></div>
 <![if !ppt]></div>
 <![endif]><v:shape id="_x0000_s127008" type="#_x0000_t202" style='position:absolute;
  left:19.75pt;top:14.875pt;width:178.25pt;height:31.25pt;mso-wrap-style:none;
  v-text-anchor:top-baseline' filled="f" fillcolor="#f90 [4]" stroked="f"
  strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
 </v:shape>
 <div v:shape="_x0000_s127008" class=O style='mso-char-wrap:1;mso-kinsoku-overflow:
 1;position:absolute;top:3.71%;left:3.7%;width:27.41%;height:4.24%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:83%'><b>CUARTA<span
 style='mso-spacerun:yes'>&nbsp; </span>ETAPA</b></span></div>
</p:slide></div>

<p:animation number="-178547614"/><oa:par id="TimeNode0" dur="indefinite"
 restart="never" p:nodeType="timingRoot">
 <oa:seq id="TimeNode1" dur="indefinite" prev="document.onpptprev"
  next="document.onpptnext" concurrent="enabled" nextAction="seek"
  p:nodeType="mainSeq">
  <oa:par id="TimeNode2" begin="indefinite;TimeNode1.onbegin" fill="hold">
   <oa:par id="TimeNode3" begin="0.0" fill="hold">
    <oa:par id="TimeNode4" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode5" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s126984" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode6" dur="1.0" targetElement="_x0000_s126984"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode7" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode8" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s126984_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode9" dur="1.0"
      targetElement="_x0000_s126984_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode10" begin="1.0" fill="hold">
    <oa:par id="TimeNode11" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode12" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s126986" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode13" dur="1.0" targetElement="_x0000_s126986"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode14" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode15" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s126986_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode16" dur="1.0"
      targetElement="_x0000_s126986_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode17" begin="2.0" fill="hold">
    <oa:par id="TimeNode18" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode19" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s127009" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode20" dur="2.0" targetElement="_x0000_s127009"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode21" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode22" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s127009_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode23" dur="2.0"
      targetElement="_x0000_s127009_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode24" begin="4.0" fill="hold">
    <oa:par id="TimeNode25" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x4" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode26" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s126985" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode27" dur="1.0" targetElement="_x0000_s126985"
      transition="in" filter="wipe(down)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode28" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x4" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode29" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s126985_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode30" dur="1.0"
      targetElement="_x0000_s126985_AllText" transition="in" filter="wipe(down)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode31" begin="5.0" fill="hold">
    <oa:par id="TimeNode32" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x4" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode33" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s126992" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode34" dur="1.0" targetElement="_x0000_s126992"
      transition="in" filter="wipe(down)"/>
    </oa:par>
   </oa:par>
   <oa:par id="TimeNode35" begin="6.0" fill="hold">
    <oa:par id="TimeNode36" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x4" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode37" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s127010" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode38" dur="0.5" targetElement="_x0000_s127010"
      transition="in" filter="wipe(down)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode39" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x4" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode40" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s127010_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode41" dur="0.5"
      targetElement="_x0000_s127010_AllText" transition="in" filter="wipe(down)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode42" begin="6.5" fill="hold">
    <oa:par id="TimeNode43" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode44" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s126987" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode45" dur="1.0" targetElement="_x0000_s126987"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode46" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode47" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s126987_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode48" dur="1.0"
      targetElement="_x0000_s126987_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode49" begin="7.5" fill="hold">
    <oa:par id="TimeNode50" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode51" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s126994" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode52" dur="1.0" targetElement="_x0000_s126994"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode53" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode54" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s126994_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode55" dur="1.0"
      targetElement="_x0000_s126994_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode56" begin="8.5" fill="hold">
    <oa:par id="TimeNode57" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode58" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s126995" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode59" dur="1.0" targetElement="_x0000_s126995"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode60" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode61" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s126995_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode62" dur="1.0"
      targetElement="_x0000_s126995_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode63" begin="9.5" fill="hold">
    <oa:par id="TimeNode64" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode65" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s126998" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode66" dur="1.0" targetElement="_x0000_s126998"
      transition="in" filter="wipe(left)"/>
    </oa:par>
   </oa:par>
   <oa:par id="TimeNode67" begin="10.5" fill="hold">
    <oa:par id="TimeNode68" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode69" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s126999" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode70" dur="1.0" targetElement="_x0000_s126999"
      transition="in" filter="wipe(left)"/>
    </oa:par>
   </oa:par>
   <oa:par id="TimeNode71" begin="11.5" fill="hold">
    <oa:par id="TimeNode72" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode73" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s127000" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode74" dur="1.0" targetElement="_x0000_s127000"
      transition="in" filter="wipe(left)"/>
    </oa:par>
   </oa:par>
   <oa:par id="TimeNode75" begin="12.5" fill="hold">
    <oa:par id="TimeNode76" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode77" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s127001" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode78" dur="1.0" targetElement="_x0000_s127001"
      transition="in" filter="wipe(left)"/>
    </oa:par>
   </oa:par>
   <oa:par id="TimeNode79" begin="13.5" fill="hold">
    <oa:par id="TimeNode80" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x1" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode81" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s127011" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode82" dur="0.5" targetElement="_x0000_s127011"
      transition="in" filter="wipe(up)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode83" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x1" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode84" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s127011_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode85" dur="0.5"
      targetElement="_x0000_s127011_AllText" transition="in" filter="wipe(up)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode86" begin="14.0" fill="hold">
    <oa:par id="TimeNode87" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode88" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s127012" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode89" dur="1.0" targetElement="_x0000_s127012"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode90" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode91" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s127012_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode92" dur="1.0"
      targetElement="_x0000_s127012_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode93" begin="15.0" fill="hold">
    <oa:par id="TimeNode94" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x1" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode95" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s127013" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode96" dur="1.0" targetElement="_x0000_s127013"
      transition="in" filter="wipe(up)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode97" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x1" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode98" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s127013_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode99" dur="1.0"
      targetElement="_x0000_s127013_AllText" transition="in" filter="wipe(up)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode100" begin="16.0" fill="hold">
    <oa:par id="TimeNode101" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode102" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s126993" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode103" dur="1.0" targetElement="_x0000_s126993"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode104" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode105" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s126993_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode106" dur="1.0"
      targetElement="_x0000_s126993_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
  </oa:par>
 </oa:seq>
</oa:par>
<![if ppt]>
<oa:buildParagraph targetElement="_x0000_s126984" groupID="0" build="asAWhole"
 buildLevel="1" alsoAnimate="background" reverse="false" buildAdvance="onclick"
 userSetAnimBgd="false"/><oa:buildParagraph targetElement="_x0000_s126985"
 groupID="0" build="asAWhole" buildLevel="1" alsoAnimate="background"
 reverse="false" buildAdvance="onclick" userSetAnimBgd="false"/><oa:buildParagraph
 targetElement="_x0000_s126986" groupID="0" build="asAWhole" buildLevel="1"
 alsoAnimate="background" reverse="false" buildAdvance="onclick"
 userSetAnimBgd="false"/><oa:buildParagraph targetElement="_x0000_s126987"
 groupID="0" build="asAWhole" buildLevel="1" alsoAnimate="background"
 reverse="false" buildAdvance="onclick" userSetAnimBgd="false"/><oa:buildParagraph
 targetElement="_x0000_s126993" groupID="0" build="asAWhole" buildLevel="1"
 alsoAnimate="background" reverse="false" buildAdvance="onclick"
 userSetAnimBgd="false"/><oa:buildParagraph targetElement="_x0000_s126994"
 groupID="0" build="asAWhole" buildLevel="1" alsoAnimate="background"
 reverse="false" buildAdvance="onclick" userSetAnimBgd="false"/><oa:buildParagraph
 targetElement="_x0000_s126995" groupID="0" build="asAWhole" buildLevel="1"
 alsoAnimate="background" reverse="false" buildAdvance="onclick"
 userSetAnimBgd="false"/>
<![endif]>
</body>

</html>
