<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=us-ascii">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 11">
<link id=Main-File rel=Main-File href="../CID_valle_sur_ilmc.htm">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>PIDES</title>
<meta name=Description content="22/04/2005">
<link rel=Stylesheet href="master04_stylesheet.css">
<!--[if gte IE 5]>
<object id=MSOANIM classid="CLSID:A4639D2F-774E-11D3-A490-00C04F6843FB"></object>
<object id=MSOTIME classid="CLSID:A4639D29-774E-11D3-A490-00C04F6843FB"></object>
<![endif]-->
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:76% !important;}
-->
</style>
<style>
<!--
oa\:* { BEHAVIOR: url(#MSOANIM#ANIM) url(#MSOTIME#TIME) }
oa\:par,oa\:seq,oa\:iterate { BEHAVIOR:url(#MSOTIME) }
oa\:video,oa\:audio {BEHAVIOR:url(#MSOTIME) url(#MSOTIME#MEDIA) }
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><script><!--
g_animItemsToHide=new Array("_x0000_s139297","_x0000_s139296","_x0000_s139295","_x0000_s139294","_x0000_s139292","_x0000_s139291","_x0000_s139290","_x0000_s139287_AllText","_x0000_s139287","_x0000_s139286_AllText","_x0000_s139286","_x0000_s139284_AllText","_x0000_s139284","_x0000_s139283_AllText","_x0000_s139283","_x0000_s139281_AllText","_x0000_s139281","_x0000_s139279_AllText","_x0000_s139279","_x0000_s139278_AllText","_x0000_s139278","_x0000_s139277_AllText","_x0000_s139277","_x0000_s139266_AllText","_x0000_s139266");

//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><p:slidetransition advancetime="0" speed="1"
 effect="randomBar" direction="vertical" flag="1"/><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="136"/>
</o:shapelayout>
</head>

<body lang=ES-MODERN style='margin:0px;background-color:#993300'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()" oa:clockstart="onstart">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:755px;height:566px;font-size:16px;background-color:#993300;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden;filter:revealtrans(Duration=2, Transition=22)'><p:slide
 coordsize="720,540"
 colors="#993300,#ffffff,#bb5f03,#feec94,#ff9900,#b76a03,#ffffcc,#cccc00"
 masterhref="master04.xml">
 <p:shaperange href="master04.xml#_x0000_s118785"/><![if !vml]><img
 src="master04_background.gif" v:shapes="_x0000_s118785" style='position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><![endif]><![if !ppt]><p:shaperange
  href="master04.xml#_x0000_s118786"/><![if !vml]><img border=0
 v:shapes="_x0000_s118786,_x0000_s118787,_x0000_s118788,_x0000_s118789,_x0000_s118790,_x0000_s118791,_x0000_s118792,_x0000_s118793,_x0000_s118794,_x0000_s118795,_x0000_s118796,_x0000_s118797,_x0000_s118798,_x0000_s118799,_x0000_s118800,_x0000_s118801,_x0000_s118802,_x0000_s118803,_x0000_s118804"
 src="master04_image015.gif" style='position:absolute;top:0%;left:0%;
 width:100.26%;height:101.41%'><![endif]><p:shaperange
  href="master04.xml#_x0000_s118809"/>
 <div v:shape="_x0000_s118809" class=O>
 <div style='text-align:right;mso-char-wrap:1;mso-kinsoku-overflow:1;
 position:absolute;top:92.04%;left:72.71%;width:21.45%;height:3.0%'><span
 lang=ES-MODERN style='font-size:58%;text-shadow:auto;mso-field-code:meta16'>26</span><span
 lang=ES-MODERN style='font-size:58%;text-shadow:auto;mso-special-format:lastCR;
 display:none'>&#13;</span></div>
 </div>
 <![endif]><v:shapetype id="_x0000_t202" coordsize="21600,21600" o:spt="202"
  path="m,l,21600r21600,l21600,xe">
  <v:stroke joinstyle="miter"/>
  <v:path gradientshapeok="t" o:connecttype="rect"/>
 </v:shapetype><v:shape id="_x0000_s139266" type="#_x0000_t202" style='position:absolute;
  left:0;top:3.5pt;width:586.75pt;height:31.25pt' fillcolor="#930 [0]"
  stroked="f" strokecolor="white [1]">
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="2" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s139266" src="slide0086_image193.gif" style='position:absolute;
 top:.7%;left:0%;width:81.72%;height:6.18%'><![endif]>
 <div id="_x0000_s139266_AllText" v:shape="_x0000_s139266" class=O
 style='position:absolute;top:1.59%;left:1.05%;width:79.6%;height:4.24%;
 white-space:nowrap'>
 <div style='mso-line-spacing:"100 50 0";mso-char-wrap:1;mso-kinsoku-overflow:
 1;position:absolute;top:0%;left:0%;width:100.0%;height:100.0%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:83%'><b>Gesti&oacute;n y
 operatividad del Plan</b></span><span lang=ES-MODERN style='font-family:Arial;
 font-size:83%;mso-special-format:lastCR;display:none'>&#13;</span></div>
 </div>
 <v:shape id="_x0000_s139277" type="#_x0000_t202" style='position:absolute;
  left:8.5pt;top:37.5pt;width:680.375pt;height:115.375pt' filled="f"
  fillcolor="#f90 [4]" stroked="f" strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="3" delay="0" type="object" effect="wipe"
   direction="right" flag="1028"/></v:shape>
 <div id="_x0000_s139277_AllText" v:shape="_x0000_s139277" class=O
 style='position:absolute;top:7.77%;left:2.25%;width:92.58%;height:19.96%'>
 <div style='text-align:justify;mso-line-spacing:"100 50 0";mso-char-wrap:1;
 mso-kinsoku-overflow:1;position:absolute;top:0%;left:0%;width:100.0%;
 height:100.0%'><span lang=ES-MODERN style='font-family:Arial;font-size:75%'><b>Se
 han conformado 8 comisiones de trabajo en funci&oacute;n a 8 temas
 estrat&eacute;gicos definidos en el plan, en estas comisiones participan
 autoridades (alcaldes y concejales) de las 4 municipalidades del valle sur con
 la participaci&oacute;n de la sociedad civil. Estas Comisiones T&eacute;cnicas
 Interdistrital desarrollan actividades en cada uno de los ejes identificados.</b></span></div>
 </div>
 <v:shape id="_x0000_s139278" type="#_x0000_t202" style='position:absolute;
  left:0;top:168pt;width:314.5pt;height:28.875pt;mso-wrap-style:none;
  v-text-anchor:top-baseline' fillcolor="#930 [0]" stroked="f" strokecolor="white [1]">
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="4" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s139278" src="slide0086_image194.gif" style='position:absolute;
 top:31.09%;left:0%;width:43.97%;height:5.65%'><![endif]>
 <div id="_x0000_s139278_AllText" v:shape="_x0000_s139278" class=O
 style='position:absolute;top:31.97%;left:1.05%;width:50.19%;height:3.88%;
 white-space:nowrap'>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><span lang=ES-MODERN
 style='font-family:Arial;font-size:75%'><b>1. DESARROLLO AGROPECUARIO</b></span></div>
 </div>
 <v:shape id="_x0000_s139279" type="#_x0000_t202" style='position:absolute;
  left:0;top:198pt;width:286.5pt;height:50.5pt;mso-wrap-style:none;
  v-text-anchor:top-baseline' fillcolor="#930 [0]" stroked="f" strokecolor="white [1]">
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="5" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s139279" src="slide0086_image195.gif" style='position:absolute;
 top:36.74%;left:0%;width:40.0%;height:9.71%'><![endif]>
 <div id="_x0000_s139279_AllText" v:shape="_x0000_s139279" class=O
 style='position:absolute;top:37.63%;left:1.05%;width:45.43%;height:7.95%;
 white-space:nowrap'>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;
 top:0%;left:0%;width:100.0%;height:48.88%'><span lang=ES-MODERN
 style='font-family:Arial;font-size:75%'><b>2. TURISMO, GASTRONOM&Iacute;A Y
 &#13;</b></span></div>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;
 top:48.88%;left:0%;width:83.38%;height:48.88%'><span lang=ES-MODERN
 style='font-family:Arial;font-size:75%'><b><span
 style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;&nbsp; </span>RECREACI&Oacute;N</b></span></div>
 </div>
 <v:shape id="_x0000_s139281" type="#_x0000_t202" style='position:absolute;
  left:0;top:246pt;width:237.5pt;height:50.5pt;mso-wrap-style:none;
  v-text-anchor:top-baseline' fillcolor="#930 [0]" stroked="f" strokecolor="white [1]">
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="7" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s139281" src="slide0086_image196.gif" style='position:absolute;
 top:45.58%;left:0%;width:33.24%;height:9.71%'><![endif]>
 <div id="_x0000_s139281_AllText" v:shape="_x0000_s139281" class=O
 style='position:absolute;top:46.46%;left:1.05%;width:37.35%;height:7.95%;
 white-space:nowrap'>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;
 top:0%;left:0%;width:100.0%;height:48.88%'><span lang=ES-MODERN
 style='font-family:Arial;font-size:75%'><b>3. EDUCACI&Oacute;N, SALUD Y &#13;</b></span></div>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;
 top:51.11%;left:0%;width:83.33%;height:48.88%'><span lang=ES-MODERN
 style='font-family:Arial;font-size:75%'><b><span
 style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </span>CULTURA</b></span></div>
 </div>
 <v:shape id="_x0000_s139283" type="#_x0000_t202" style='position:absolute;
  left:0;top:300pt;width:217.5pt;height:28.875pt;mso-wrap-style:none;
  v-text-anchor:top-baseline' fillcolor="#930 [0]" stroked="f" strokecolor="white [1]">
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="9" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s139283" src="slide0086_image197.gif" style='position:absolute;
 top:55.47%;left:0%;width:30.46%;height:5.65%'><![endif]>
 <div id="_x0000_s139283_AllText" v:shape="_x0000_s139283" class=O
 style='position:absolute;top:56.53%;left:1.05%;width:34.03%;height:3.88%;
 white-space:nowrap'>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><span lang=ES-MODERN
 style='font-family:Arial;font-size:75%'><b>4. INSTITUCIONALIDAD</b></span></div>
 </div>
 <v:shape id="_x0000_s139284" type="#_x0000_t202" style='position:absolute;
  left:0;top:348pt;width:281.5pt;height:50.5pt;mso-wrap-style:none;
  v-text-anchor:top-baseline' fillcolor="#930 [0]" stroked="f" strokecolor="white [1]">
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="10" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s139284" src="slide0086_image198.gif" style='position:absolute;
 top:64.48%;left:0%;width:39.33%;height:9.71%'><![endif]>
 <div id="_x0000_s139284_AllText" v:shape="_x0000_s139284" class=O
 style='position:absolute;top:65.37%;left:1.05%;width:44.63%;height:7.95%;
 white-space:nowrap'>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;
 top:0%;left:0%;width:100.0%;height:48.88%'><span lang=ES-MODERN
 style='font-family:Arial;font-size:75%'><b>5. RIO HUATANAY, AMBIENTE &#13;</b></span></div>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;
 top:51.11%;left:0%;width:88.13%;height:48.88%'><span lang=ES-MODERN
 style='font-family:Arial;font-size:75%'><b>Y RECURSOS NATURALES</b></span></div>
 </div>
 <v:shape id="_x0000_s139286" type="#_x0000_t202" style='position:absolute;
  left:0;top:408pt;width:308.5pt;height:28.875pt;mso-wrap-style:none;
  v-text-anchor:top-baseline' fillcolor="#930 [0]" stroked="f" strokecolor="white [1]">
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="12" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s139286" src="slide0086_image199.gif" style='position:absolute;
 top:75.61%;left:0%;width:43.04%;height:5.65%'><![endif]>
 <div id="_x0000_s139286_AllText" v:shape="_x0000_s139286" class=O
 style='position:absolute;top:76.5%;left:1.05%;width:49.13%;height:3.88%;
 white-space:nowrap'>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><span lang=ES-MODERN
 style='font-family:Arial;font-size:75%'><b>6. ORDENAMIENTO TERRITORIAL</b></span></div>
 </div>
 <v:shape id="_x0000_s139287" type="#_x0000_t202" style='position:absolute;
  left:0;top:444pt;width:219.5pt;height:28.875pt;mso-wrap-style:none;
  v-text-anchor:top-baseline' fillcolor="#930 [0]" stroked="f" strokecolor="white [1]">
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="13" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s139287" src="slide0086_image200.gif" style='position:absolute;
 top:82.15%;left:0%;width:30.72%;height:5.65%'><![endif]>
 <div id="_x0000_s139287_AllText" v:shape="_x0000_s139287" class=O
 style='position:absolute;top:83.03%;left:1.05%;width:34.3%;height:3.88%;
 white-space:nowrap'>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><span lang=ES-MODERN
 style='font-family:Arial;font-size:75%'><b>7. SERVICIOS B&Aacute;SICOS</b></span></div>
 </div>
 <v:shapetype id="_x0000_t75" coordsize="21600,21600" o:spt="75"
  o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" aspectratio="t"/>
 </v:shapetype><v:shape id="_x0000_s139290" type="#_x0000_t75" style='position:absolute;
  left:337.375pt;top:190.625pt;width:352.5pt;height:227.75pt'>
  <v:imagedata src="slide0086_image201.jpg" o:title="COMISIONES-COTIS" gain="74473f"
   blacklevel="-1966f"/>
  <p:animation number="15" delay="0" type="object" effect="randomBar"
   direction="horizontal" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s139290" src="slide0086_image202.jpg" style='position:absolute;
 top:35.33%;left:46.88%;width:49.0%;height:42.22%'><![endif]><v:shape id="_x0000_s139291"
  type="#_x0000_t75" style='position:absolute;left:331.625pt;top:190.125pt;
  width:363.375pt;height:232.25pt'>
  <v:imagedata src="slide0086_image203.jpg" o:title="lagun1" gain="74473f"
   blacklevel="-3932f"/>
  <p:animation number="16" delay="3500" type="object" effect="randomBar"
   direction="vertical" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s139291" src="slide0086_image204.jpg" style='position:absolute;
 top:35.15%;left:46.09%;width:50.46%;height:42.93%'><![endif]><v:shape id="_x0000_s139292"
  type="#_x0000_t75" style='position:absolute;left:314.625pt;top:179.25pt;
  width:385.625pt;height:251.625pt'>
  <v:imagedata src="slide0086_image205.jpg" o:title="casa-hacienda"/>
  <p:animation number="17" delay="3500" type="object" effect="randomBar"
   direction="vertical" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s139292" src="slide0086_image206.jpg" style='position:absolute;
 top:33.21%;left:43.7%;width:53.5%;height:46.64%'><![endif]><v:shape id="_x0000_s139294"
  type="#_x0000_t75" style='position:absolute;left:314.625pt;top:173.625pt;
  width:388pt;height:255.125pt'>
  <v:imagedata src="slide0086_image207.jpg" o:title="Imagen 026" cropbottom="4950f"/>
  <p:animation number="18" delay="3500" type="object" effect="randomBar"
   direction="horizontal" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s139294" src="slide0086_image208.jpg" style='position:absolute;
 top:32.15%;left:43.7%;width:53.9%;height:47.17%'><![endif]><v:shape id="_x0000_s139295"
  type="#_x0000_t75" style='position:absolute;left:314.625pt;top:173.625pt;
  width:391.25pt;height:254.75pt'>
  <v:imagedata src="slide0086_image209.jpg" o:title="patrimonio edificado"
   gain="74473f" blacklevel="-1966f"/>
  <p:animation number="19" delay="3500" type="object" effect="randomBar"
   direction="vertical" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s139295" src="slide0086_image210.jpg" style='position:absolute;
 top:32.15%;left:43.7%;width:54.3%;height:47.17%'><![endif]><v:shape id="_x0000_s139296"
  type="#_x0000_t75" style='position:absolute;left:303.25pt;top:173.625pt;
  width:402pt;height:260.75pt'>
  <v:imagedata src="slide0086_image211.jpg" o:title="Manantial bestial "
   cropbottom="4750f" cropleft="2659f"/>
  <p:animation number="20" delay="3000" type="object" effect="randomBar"
   direction="horizontal" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s139296" src="slide0086_image212.jpg" style='position:absolute;
 top:32.15%;left:42.11%;width:55.89%;height:48.23%'><![endif]><v:shape id="_x0000_s139297"
  type="#_x0000_t75" style='position:absolute;left:303.25pt;top:173.625pt;
  width:402.625pt;height:260.75pt'>
  <v:imagedata src="slide0086_image213.jpg" o:title="presion urbana areas agricolas"
   cropbottom="3653f" cropright="1666f"/>
  <p:animation number="21" delay="3000" type="object" effect="randomBar"
   direction="vertical" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s139297" src="slide0086_image214.jpg" style='position:absolute;
 top:32.15%;left:42.11%;width:55.89%;height:48.23%'><![endif]><v:shape id="_x0000_s139298"
  type="#_x0000_t202" style='position:absolute;left:0;top:474pt;width:4in;
  height:28.875pt' filled="f" fillcolor="#f90 [4]" stroked="f" strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
 </v:shape>
 <div v:shape="_x0000_s139298" class=O style='mso-line-spacing:"100 50 0";
 mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;top:88.69%;
 left:1.05%;width:38.14%;height:3.88%'><span style='font-family:Arial;
 font-size:75%'><b>8. DIFUSI&Oacute;N</b></span><span style='font-size:75%;
 mso-special-format:lastCR;display:none'>&#13;</span></div>
</p:slide></div>

<p:animation number="-1784923420"/><oa:par id="TimeNode0" dur="indefinite"
 restart="never" p:nodeType="timingRoot">
 <oa:seq id="TimeNode1" dur="indefinite" prev="document.onpptprev"
  next="document.onpptnext" concurrent="enabled" nextAction="seek"
  p:nodeType="mainSeq">
  <oa:par id="TimeNode2" begin="indefinite;TimeNode1.onbegin" fill="hold">
   <oa:par id="TimeNode3" begin="0.0" fill="hold">
    <oa:par id="TimeNode4" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode5" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s139266" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode6" dur="0.5" targetElement="_x0000_s139266"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode7" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode8" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s139266_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode9" dur="0.5"
      targetElement="_x0000_s139266_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode10" begin="0.5" fill="hold">
    <oa:par id="TimeNode11" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode12" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s139277" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode13" dur="0.5" targetElement="_x0000_s139277"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode14" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode15" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s139277_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode16" dur="0.5"
      targetElement="_x0000_s139277_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode17" begin="1.0" fill="hold">
    <oa:par id="TimeNode18" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode19" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s139278" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode20" dur="0.5" targetElement="_x0000_s139278"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode21" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode22" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s139278_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode23" dur="0.5"
      targetElement="_x0000_s139278_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode24" begin="1.5" fill="hold">
    <oa:par id="TimeNode25" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode26" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s139279" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode27" dur="0.5" targetElement="_x0000_s139279"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode28" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode29" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s139279_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode30" dur="0.5"
      targetElement="_x0000_s139279_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode31" begin="2.0" fill="hold">
    <oa:par id="TimeNode32" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode33" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s139281" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode34" dur="0.5" targetElement="_x0000_s139281"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode35" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode36" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s139281_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode37" dur="0.5"
      targetElement="_x0000_s139281_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode38" begin="2.5" fill="hold">
    <oa:par id="TimeNode39" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode40" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s139283" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode41" dur="0.5" targetElement="_x0000_s139283"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode42" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode43" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s139283_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode44" dur="0.5"
      targetElement="_x0000_s139283_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode45" begin="3.0" fill="hold">
    <oa:par id="TimeNode46" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode47" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s139284" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode48" dur="0.5" targetElement="_x0000_s139284"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode49" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode50" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s139284_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode51" dur="0.5"
      targetElement="_x0000_s139284_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode52" begin="3.5" fill="hold">
    <oa:par id="TimeNode53" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode54" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s139286" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode55" dur="0.5" targetElement="_x0000_s139286"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode56" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode57" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s139286_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode58" dur="0.5"
      targetElement="_x0000_s139286_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode59" begin="4.0" fill="hold">
    <oa:par id="TimeNode60" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode61" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s139287" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode62" dur="0.5" targetElement="_x0000_s139287"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode63" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode64" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s139287_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode65" dur="0.5"
      targetElement="_x0000_s139287_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode66" begin="4.5" fill="hold">
    <oa:par id="TimeNode67" o:presetID="ppt_14" o:presetClass="entrance"
     o:presetSubType="0xA" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode68" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s139290" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode69" dur="0.5" targetElement="_x0000_s139290"
      transition="in" filter="randombar(horizontal)"/>
    </oa:par>
   </oa:par>
   <oa:par id="TimeNode70" begin="5.0" fill="hold">
    <oa:par id="TimeNode71" o:presetID="ppt_14" o:presetClass="entrance"
     o:presetSubType="0x5" begin="3.5" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode72" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s139291" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode73" dur="0.5" targetElement="_x0000_s139291"
      transition="in" filter="randombar(vertical)"/>
    </oa:par>
   </oa:par>
   <oa:par id="TimeNode74" begin="9.0" fill="hold">
    <oa:par id="TimeNode75" o:presetID="ppt_14" o:presetClass="entrance"
     o:presetSubType="0x5" begin="3.5" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode76" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s139292" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode77" dur="0.5" targetElement="_x0000_s139292"
      transition="in" filter="randombar(vertical)"/>
    </oa:par>
   </oa:par>
   <oa:par id="TimeNode78" begin="13.0" fill="hold">
    <oa:par id="TimeNode79" o:presetID="ppt_14" o:presetClass="entrance"
     o:presetSubType="0xA" begin="3.5" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode80" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s139294" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode81" dur="0.5" targetElement="_x0000_s139294"
      transition="in" filter="randombar(horizontal)"/>
    </oa:par>
   </oa:par>
   <oa:par id="TimeNode82" begin="17.0" fill="hold">
    <oa:par id="TimeNode83" o:presetID="ppt_14" o:presetClass="entrance"
     o:presetSubType="0x5" begin="3.5" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode84" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s139295" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode85" dur="0.5" targetElement="_x0000_s139295"
      transition="in" filter="randombar(vertical)"/>
    </oa:par>
   </oa:par>
   <oa:par id="TimeNode86" begin="21.0" fill="hold">
    <oa:par id="TimeNode87" o:presetID="ppt_14" o:presetClass="entrance"
     o:presetSubType="0xA" begin="3.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode88" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s139296" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode89" dur="0.5" targetElement="_x0000_s139296"
      transition="in" filter="randombar(horizontal)"/>
    </oa:par>
   </oa:par>
   <oa:par id="TimeNode90" begin="24.5" fill="hold">
    <oa:par id="TimeNode91" o:presetID="ppt_14" o:presetClass="entrance"
     o:presetSubType="0x5" begin="3.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode92" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s139297" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode93" dur="0.5" targetElement="_x0000_s139297"
      transition="in" filter="randombar(vertical)"/>
    </oa:par>
   </oa:par>
  </oa:par>
 </oa:seq>
</oa:par>
<![if ppt]>
<oa:buildParagraph targetElement="_x0000_s139266" groupID="0" build="asAWhole"
 buildLevel="1" alsoAnimate="background" reverse="false" buildAdvance="onclick"
 userSetAnimBgd="true"/><oa:buildParagraph targetElement="_x0000_s139277"
 groupID="0" build="asAWhole" buildLevel="1" reverse="false"
 buildAdvance="onclick" userSetAnimBgd="true"/><oa:buildParagraph
 targetElement="_x0000_s139278" groupID="0" build="asAWhole" buildLevel="1"
 alsoAnimate="background" reverse="false" buildAdvance="onclick"
 userSetAnimBgd="true"/><oa:buildParagraph targetElement="_x0000_s139279"
 groupID="0" build="asAWhole" buildLevel="1" alsoAnimate="background"
 reverse="false" buildAdvance="onclick" userSetAnimBgd="true"/><oa:buildParagraph
 targetElement="_x0000_s139281" groupID="0" build="asAWhole" buildLevel="1"
 alsoAnimate="background" reverse="false" buildAdvance="onclick"
 userSetAnimBgd="true"/><oa:buildParagraph targetElement="_x0000_s139283"
 groupID="0" build="asAWhole" buildLevel="1" alsoAnimate="background"
 reverse="false" buildAdvance="onclick" userSetAnimBgd="true"/><oa:buildParagraph
 targetElement="_x0000_s139284" groupID="0" build="asAWhole" buildLevel="1"
 alsoAnimate="background" reverse="false" buildAdvance="onclick"
 userSetAnimBgd="true"/><oa:buildParagraph targetElement="_x0000_s139286"
 groupID="0" build="asAWhole" buildLevel="1" alsoAnimate="background"
 reverse="false" buildAdvance="onclick" userSetAnimBgd="true"/><oa:buildParagraph
 targetElement="_x0000_s139287" groupID="0" build="asAWhole" buildLevel="1"
 alsoAnimate="background" reverse="false" buildAdvance="onclick"
 userSetAnimBgd="true"/>
<![endif]>
</body>

</html>
