<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=us-ascii">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 11">
<link id=Main-File rel=Main-File href="../CID_valle_sur_ilmc.htm">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>PIDES</title>
<meta name=Description content="22/04/2005">
<link rel=Stylesheet href="master04_stylesheet.css">
<!--[if gte IE 5]>
<object id=MSOANIM classid="CLSID:A4639D2F-774E-11D3-A490-00C04F6843FB"></object>
<object id=MSOTIME classid="CLSID:A4639D29-774E-11D3-A490-00C04F6843FB"></object>
<![endif]-->
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:76% !important;}
-->
</style>
<style>
<!--
oa\:* { BEHAVIOR: url(#MSOANIM#ANIM) url(#MSOTIME#TIME) }
oa\:par,oa\:seq,oa\:iterate { BEHAVIOR:url(#MSOTIME) }
oa\:video,oa\:audio {BEHAVIOR:url(#MSOTIME) url(#MSOTIME#MEDIA) }
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><script><!--
g_animItemsToHide=new Array("_x0000_s124971_AllText","_x0000_s124971","_x0000_s124970_AllText","_x0000_s124970","_x0000_s124969_AllText","_x0000_s124969","_x0000_s124965_AllText","_x0000_s124965","_x0000_s124968_AllText","_x0000_s124968","_x0000_s124967_AllText","_x0000_s124967","_x0000_s124966_AllText","_x0000_s124966","_x0000_s124964_AllText","_x0000_s124964","_x0000_s124963_AllText","_x0000_s124963","_x0000_s124962_AllText","_x0000_s124962","_x0000_s124972_AllText","_x0000_s124972","_x0000_s124939_AllText","_x0000_s124939","_x0000_s124937_AllText","_x0000_s124937");

//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><p:slidetransition advancetime="0" speed="1"
 effect="randomBar" direction="vertical" flag="1"/><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="123"/>
</o:shapelayout>
</head>

<body lang=ES-MODERN style='margin:0px;background-color:#993300'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()" oa:clockstart="onstart">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:755px;height:566px;font-size:16px;background-color:black;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden;filter:revealtrans(Duration=2, Transition=22)'><p:slide
 coordsize="720,540"
 colors="#993300,#ffffff,#bb5f03,#feec94,#ff9900,#b76a03,#ffffcc,#cccc00"
 masterhref="master04.xml">
 <v:background id="_x0000_s124929" o:bwmode="white" fillcolor="black"/>
 <v:shapetype id="_x0000_t202" coordsize="21600,21600" o:spt="202" path="m,l,21600r21600,l21600,xe">
  <v:stroke joinstyle="miter"/>
  <v:path gradientshapeok="t" o:connecttype="rect"/>
 </v:shapetype><v:shape id="_x0000_s124932" type="#_x0000_t202" style='position:absolute;
  left:19.75pt;top:14.875pt;width:193.75pt;height:31.25pt;mso-wrap-style:none;
  v-text-anchor:top-baseline' filled="f" fillcolor="#f90 [4]" stroked="f"
  strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
 </v:shape>
 <div v:shape="_x0000_s124932" class=O style='mso-char-wrap:1;mso-kinsoku-overflow:
 1;position:absolute;top:3.71%;left:3.7%;width:30.06%;height:4.24%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:83%'><b>SEGUNDA<span
 style='mso-spacerun:yes'>&nbsp; </span>ETAPA</b></span></div>
 <v:group id="_x0000_s124972" style='position:absolute;left:25.5pt;top:234.25pt;
  width:694.5pt;height:63pt' coordorigin="204,1874" coordsize="5556,504">
  <v:shapetype id="_x0000_t13" coordsize="21600,21600" o:spt="13" adj="16200,5400"
   path="m@0,l@0@1,0@1,0@2@0@2@0,21600,21600,10800xe">
   <v:stroke joinstyle="miter"/>
   <v:formulas>
    <v:f eqn="val #0"/>
    <v:f eqn="val #1"/>
    <v:f eqn="sum height 0 #1"/>
    <v:f eqn="sum 10800 0 #1"/>
    <v:f eqn="sum width 0 #0"/>
    <v:f eqn="prod @4 @3 10800"/>
    <v:f eqn="sum width 0 @5"/>
   </v:formulas>
   <v:path o:connecttype="custom" o:connectlocs="@0,0;0,10800;@0,21600;21600,10800"
    o:connectangles="270,180,90,0" textboxrect="0,@1,@6,@2"/>
   <v:handles>
    <v:h position="#0,#1" xrange="0,21600" yrange="0,10800"/>
   </v:handles>
  </v:shapetype><v:shape id="_x0000_s124933" type="#_x0000_t13" style='position:absolute;
   left:204;top:1874;width:5556;height:504' o:allowincell="f" adj="19457,4422"
   fillcolor="silver"/>
  <v:shape id="_x0000_s124934" style='position:absolute;left:2873;top:1984;
   width:1;height:288;mso-position-horizontal:absolute;
   mso-position-horizontal-relative:text;mso-position-vertical:absolute;
   mso-position-vertical-relative:text' coordsize="1,720" o:allowincell="f"
   path="m,l,720e" filled="f">
   <v:path arrowok="t"/>
  </v:shape><v:shape id="_x0000_s124935" type="#_x0000_t202" style='position:absolute;
   left:865;top:2018;width:1224;height:216'>
   <v:textbox style='mso-next-textbox:#_x0000_s124935'/>
  </v:shape><v:shape id="_x0000_s124936" type="#_x0000_t202" style='position:absolute;
   left:3961;top:2027;width:936;height:207' o:allowincell="f">
   <v:textbox style='mso-next-textbox:#_x0000_s124936'/>
  </v:shape><p:animation number="4" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:group><![if !ppt]>
 <div id="_x0000_s124972_AllText" style='position:absolute;top:43.1%;
 left:3.44%;width:96.95%;height:12.19%;white-space:nowrap'
 onfilterchange="javascript:TickHandler()"><![endif]><![if !vml]><img border=0
 v:shapes="_x0000_s124972,_x0000_s124933,_x0000_s124934,_x0000_s124935,_x0000_s124936"
 src="slide0072_image095.gif" style='position:absolute;top:0%;left:0%;
 width:100.0%;height:100.0%'><![endif]>
 <div v:shape="_x0000_s124935" class=O style='text-align:center;mso-char-wrap:
 1;mso-kinsoku-overflow:1;position:absolute;top:37.68%;left:12.97%;width:19.8%;
 height:28.98%'><span lang=ES-MODERN style='font-size:67%;color:black'><b>Mayo
 1998</b></span><span lang=ES-MODERN style='font-size:75%;color:black;
 mso-special-format:lastCR;display:none'>&#13;</span></div>
 <div v:shape="_x0000_s124936" class=O style='text-align:center;mso-char-wrap:
 1;mso-kinsoku-overflow:1;position:absolute;top:39.13%;left:68.44%;width:14.61%;
 height:28.98%'><span lang=ES-MODERN style='font-size:67%;color:black'><b>Julio
 1999</b></span><span lang=ES-MODERN style='font-size:75%;color:black;
 mso-special-format:lastCR;display:none'>&#13;</span></div>
 <![if !ppt]></div>
 <![endif]><v:shape id="_x0000_s124937" type="#_x0000_t202" style='position:absolute;
  left:31.125pt;top:54.5pt;width:657.625pt;height:51pt' o:allowincell="f"
  fillcolor="red">
  <p:animation number="2" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s124937" src="slide0072_image096.gif" style='position:absolute;
 top:10.07%;left:4.23%;width:91.65%;height:9.89%'><![endif]>
 <div id="_x0000_s124937_AllText" v:shape="_x0000_s124937" style='position:
 absolute;top:11.13%;left:5.43%;width:89.4%;height:11.83%'>
 <div class=O1 style='text-align:justify;mso-margin-left-alt:165;mso-text-indent-alt:
 113;mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;top:0%;
 left:2.07%;width:97.77%;height:67.16%'><span style='position:absolute;
 top:0%;left:1.06%;width:98.93%;height:100.0%'><span style='font-family:Arial;
 font-size:75%;color:black'><span style='mso-special-format:bullet;position:
 absolute;left:-1.07%;text-align:left;font-family:Wingdings'>&uuml;</span></span><span
 lang=ES-MODERN style='font-family:Arial;font-size:75%;color:black'><b>Formulaci&oacute;n
 del PIDES y consolidaci&oacute;n de las Comisiones de Trabajo por Ejes
 Tem&aacute;ticos: COTIs.&#13;</b></span></span></div>
 <div class=O style='mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;
 top:67.16%;left:0%;width:100.0%;height:32.83%'><span lang=ES-MODERN
 style='font-family:Arial;font-size:75%;color:black;mso-special-format:lastCR;
 display:none'><b>&#13;</b></span></div>
 </div>
 <v:shape id="_x0000_s124939" type="#_x0000_t202" style='position:absolute;
  left:19.75pt;top:496.875pt;width:661.75pt;height:34pt' fillcolor="red">
  <p:animation number="3" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s124939" src="slide0072_image097.gif" style='position:absolute;
 top:91.87%;left:2.64%;width:92.31%;height:6.71%'><![endif]>
 <div id="_x0000_s124939_AllText" v:shape="_x0000_s124939" class=O1
 style='position:absolute;top:92.93%;left:8.74%;width:84.9%;height:4.24%;
 white-space:nowrap'>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><span style='position:absolute;
 top:0%;left:2.65%;width:97.5%;height:100.0%'><span style='font-family:Arial;
 font-size:83%;color:black'><span style='mso-special-format:bullet;position:
 absolute;left:-2.72%;font-family:Wingdings'>&uuml;</span></span><span
 lang=ES-MODERN style='font-family:Arial;font-size:83%;color:black'>Ejecuci&oacute;n
 de acciones</span></span></div>
 </div>
 <v:group id="_x0000_s124963" style='position:absolute;left:104.875pt;top:133.875pt;
  width:93.5pt;height:107.75pt' coordorigin="839,1071" coordsize="748,862">
  <v:shape id="_x0000_s124940" type="#_x0000_t202" style='position:absolute;
   left:839;top:1071;width:748;height:454' o:allowincell="f">
   <v:textbox style='mso-next-textbox:#_x0000_s124940'/>
  </v:shape><v:line id="_x0000_s124941" style='position:absolute;flip:y'
   from="1207,1645" to="1208,1933" o:allowincell="f" strokecolor="white [1]">
   <v:stroke endarrow="block"/>
  </v:line><p:animation number="6" delay="0" type="object" effect="wipe"
   direction="up" flag="17412"/></v:group><![if !ppt]>
 <div id="_x0000_s124963_AllText" style='position:absolute;top:24.73%;
 left:14.56%;width:13.37%;height:20.49%;white-space:nowrap'
 onfilterchange="javascript:TickHandler()"><![endif]><![if !vml]><img border=0
 v:shapes="_x0000_s124963,_x0000_s124940,_x0000_s124941"
 src="slide0072_image098.gif" style='position:absolute;top:0%;left:0%;
 width:100.0%;height:100.0%'><![endif]>
 <div v:shape="_x0000_s124940" class=O style='text-align:justify;mso-line-spacing:
 "100 -48 0";mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;
 top:4.31%;left:7.92%;width:82.17%;height:44.82%'><span lang=ES-MODERN
 style='font-family:Arial;font-size:58%;color:black'><b>Propuesta para Plan
 Operativo.</b></span></div>
 <![if !ppt]></div>
 <![endif]><v:group id="_x0000_s124964" style='position:absolute;left:201.375pt;
  top:133.875pt;width:192.625pt;height:107.75pt' coordorigin="1611,1071"
  coordsize="1541,862">
  <v:line id="_x0000_s124942" style='position:absolute;flip:y' from="2380,1761"
   to="2381,1933" o:allowincell="f" strokecolor="white [1]">
   <v:stroke endarrow="block"/>
  </v:line><v:shape id="_x0000_s124943" type="#_x0000_t202" style='position:absolute;
   left:1611;top:1071;width:1541;height:590' o:allowincell="f">
   <v:textbox style='mso-next-textbox:#_x0000_s124943'/>
  </v:shape><p:animation number="7" delay="0" type="object" effect="wipe"
   direction="up" flag="17412"/></v:group><![if !ppt]>
 <div id="_x0000_s124964_AllText" style='position:absolute;top:24.73%;
 left:27.94%;width:29.93%;height:20.49%;white-space:nowrap'
 onfilterchange="javascript:TickHandler()"><![endif]><![if !vml]><img border=0
 v:shapes="_x0000_s124964,_x0000_s124942,_x0000_s124943"
 src="slide0072_image099.gif" style='position:absolute;top:0%;left:0%;
 width:90.7%;height:100.0%'><![endif]>
 <div v:shape="_x0000_s124943" class=O style='mso-char-wrap:1;mso-kinsoku-overflow:
 1'><span style='position:absolute;top:4.31%;left:3.53%;width:96.01%;
 height:13.79%'><span lang=ES-MODERN style='font-family:Arial;font-size:54%;
 color:black'><b>Encuentros Sectoriales con </b></span></span><span
 style='position:absolute;top:18.96%;left:3.53%;width:95.13%;height:13.79%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:54%;color:black'><b>Comunidades
 Campesinas, </b></span></span><span style='position:absolute;top:32.75%;
 left:3.53%;width:93.36%;height:13.79%'><span lang=ES-MODERN style='font-family:
 Arial;font-size:54%;color:black'><b>organizaciones Femeninas </b></span></span><span
 style='position:absolute;top:47.41%;left:3.53%;width:82.74%;height:13.79%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:54%;color:black'><b>y
 J&oacute;venes.</b></span></span></div>
 <![if !ppt]></div>
 <![endif]><v:group id="_x0000_s124969" style='position:absolute;left:370pt;
  top:286.5pt;width:108pt;height:199pt' coordorigin="2960,2292" coordsize="864,1592">
  <v:line id="_x0000_s124945" style='position:absolute' from="3420,2292" to="3421,2464"
   strokecolor="white [1]">
   <v:stroke endarrow="block"/>
  </v:line><v:shape id="_x0000_s124947" type="#_x0000_t202" style='position:absolute;
   left:2960;top:2464;width:864;height:1420'/>
  <p:animation number="12" delay="0" type="object" effect="wipe"
   direction="down" flag="17412"/></v:group><![if !ppt]>
 <div id="_x0000_s124969_AllText" style='position:absolute;top:53.0%;
 left:51.39%;width:16.55%;height:39.04%;white-space:nowrap'
 onfilterchange="javascript:TickHandler()"><![endif]><![if !vml]><img border=0
 v:shapes="_x0000_s124969,_x0000_s124945,_x0000_s124947"
 src="slide0072_image100.gif" style='position:absolute;top:0%;left:0%;
 width:92.8%;height:95.47%'><![endif]>
 <div v:shape="_x0000_s124947" class=O style='mso-char-wrap:1;mso-kinsoku-overflow:
 1'><span style='position:absolute;top:12.66%;left:6.4%;width:84.0%;height:
 7.69%'><span lang=ES-MODERN style='font-family:Arial;font-size:58%;color:black'><b>Movilizaci&oacute;n
 </b></span></span><span style='position:absolute;top:20.36%;left:6.4%;
 width:89.6%;height:7.69%'><span lang=ES-MODERN style='font-family:Arial;
 font-size:58%;color:black'><b>para reubicar </b></span></span><span
 style='position:absolute;top:28.5%;left:6.4%;width:78.4%;height:7.69%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:58%;color:black'><b>la
 garita de </b></span></span><span style='position:absolute;top:36.65%;
 left:6.4%;width:78.4%;height:7.69%'><span lang=ES-MODERN style='font-family:
 Arial;font-size:58%;color:black'><b>Peaje de </b></span></span><span
 style='position:absolute;top:44.34%;left:6.4%;width:78.4%;height:7.69%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:58%;color:black'><b>Saylla,
 que </b></span></span><span style='position:absolute;top:52.48%;left:6.4%;
 width:78.4%;height:7.69%'><span lang=ES-MODERN style='font-family:Arial;
 font-size:58%;color:black'><b>acaba </b></span></span><span style='position:
 absolute;top:60.18%;left:6.4%;width:88.0%;height:7.69%'><span lang=ES-MODERN
 style='font-family:Arial;font-size:58%;color:black'><b>traslad&aacute;ndos</b></span></span><span
 style='position:absolute;top:68.32%;left:6.4%;width:78.4%;height:7.69%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:58%;color:black'><b>e a </b></span></span><span
 style='position:absolute;top:76.01%;left:6.4%;width:82.4%;height:7.69%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:58%;color:black'><b>Mollebamba
 </b></span></span><span style='position:absolute;top:84.16%;left:6.4%;
 width:93.6%;height:7.69%'><span lang=ES-MODERN style='font-family:Arial;
 font-size:58%;color:black'><b>(Quispicanchi</b></span></span><span
 style='position:absolute;top:92.3%;left:6.4%;width:78.4%;height:7.69%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:58%;color:black'><b>)</b></span></span></div>
 <![if !ppt]></div>
 <![endif]><v:group id="_x0000_s124966" style='position:absolute;left:2.75pt;
  top:286.5pt;width:96.375pt;height:96.875pt' coordorigin="22,2292"
  coordsize="771,775">
  <v:shape id="_x0000_s124944" type="#_x0000_t202" style='position:absolute;
   left:22;top:2464;width:771;height:603'>
   <v:textbox style='mso-next-textbox:#_x0000_s124944'/>
  </v:shape><v:line id="_x0000_s124950" style='position:absolute' from="368,2292"
   to="369,2464" strokecolor="white [1]">
   <v:stroke endarrow="block"/>
  </v:line><p:animation number="8" delay="0" type="object" effect="wipe"
   direction="down" flag="17412"/></v:group><![if !ppt]>
 <div id="_x0000_s124966_AllText" style='position:absolute;top:53.0%;
 left:.26%;width:13.77%;height:18.37%;white-space:nowrap'
 onfilterchange="javascript:TickHandler()"><![endif]><![if !vml]><img border=0
 v:shapes="_x0000_s124966,_x0000_s124944,_x0000_s124950"
 src="slide0072_image101.gif" style='position:absolute;top:0%;left:0%;
 width:100.0%;height:100.0%'><![endif]>
 <div v:shape="_x0000_s124944" class=O style='text-align:center;mso-char-wrap:
 1;mso-kinsoku-overflow:1'><span style='position:absolute;top:26.92%;
 left:.96%;width:97.11%;height:16.34%'><span lang=ES-MODERN style='font-family:
 Arial;font-size:58%;color:black'><b>Celebraci&oacute;n </b></span></span><span
 style='position:absolute;top:43.26%;left:8.65%;width:82.69%;height:16.34%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:58%;color:black'><b>del I </b></span></span><span
 style='position:absolute;top:60.57%;left:8.65%;width:82.69%;height:16.34%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:58%;color:black'><b>Festivalle
 </b></span></span><span style='position:absolute;top:77.88%;left:8.65%;
 width:82.69%;height:16.34%'><span lang=ES-MODERN style='font-family:Arial;
 font-size:58%;color:black'><b>en Saylla</b></span></span></div>
 <![if !ppt]></div>
 <![endif]><v:group id="_x0000_s124967" style='position:absolute;left:53.125pt;
  top:286.5pt;width:193.5pt;height:193.25pt' coordorigin="425,2292"
  coordsize="1548,1546">
  <v:shape id="_x0000_s124946" type="#_x0000_t202" style='position:absolute;
   left:425;top:3566;width:1548;height:272'/>
  <v:shape id="_x0000_s124948" type="#_x0000_t202" style='position:absolute;
   left:828;top:2464;width:1009;height:376'>
   <v:textbox style='mso-next-textbox:#_x0000_s124948'/>
  </v:shape><v:shape id="_x0000_s124949" type="#_x0000_t202" style='position:absolute;
   left:425;top:3105;width:1548;height:415'/>
  <v:line id="_x0000_s124951" style='position:absolute' from="1289,2292" to="1290,2464"
   strokecolor="white [1]">
   <v:stroke endarrow="block"/>
  </v:line><v:line id="_x0000_s124952" style='position:absolute' from="1289,2894"
   to="1290,3067" strokecolor="white [1]">
   <v:stroke endarrow="block"/>
  </v:line><p:animation number="9" delay="0" type="object" effect="wipe"
   direction="down" flag="17412"/></v:group><![if !ppt]>
 <div id="_x0000_s124967_AllText" style='position:absolute;top:53.0%;
 left:7.28%;width:27.28%;height:36.21%;white-space:nowrap'
 onfilterchange="javascript:TickHandler()"><![endif]><![if !vml]><img border=0
 v:shapes="_x0000_s124967,_x0000_s124946,_x0000_s124948,_x0000_s124949,_x0000_s124951,_x0000_s124952"
 src="slide0072_image102.gif" style='position:absolute;top:0%;left:0%;
 width:100.0%;height:100.0%'><![endif]>
 <div v:shape="_x0000_s124946" class=O style='text-align:justify;mso-char-wrap:
 1;mso-kinsoku-overflow:1;position:absolute;top:83.9%;left:4.36%;width:91.26%;
 height:14.63%'><span lang=ES-MODERN style='font-family:Arial;font-size:50%;
 color:black'><b>Aprobaci&oacute;n del Plan de Desarrollo </b></span></div>
 <div v:shape="_x0000_s124948" class=O style='text-align:center;mso-char-wrap:
 1;mso-kinsoku-overflow:1'><span style='position:absolute;top:13.65%;
 left:27.18%;width:62.13%;height:8.29%'><span lang=ES-MODERN style='font-family:
 Arial;font-size:58%;color:black'><b>Realizaci&oacute;n del </b></span></span><span
 style='position:absolute;top:21.95%;left:26.69%;width:63.59%;height:8.29%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:58%;color:black'><b>II Foro
 del Valle </b></span></span><span style='position:absolute;top:30.73%;
 left:30.09%;width:56.79%;height:8.29%'><span lang=ES-MODERN style='font-family:
 Arial;font-size:58%;color:black'><b>Sur</b></span></span></div>
 <div v:shape="_x0000_s124949" class=O style='text-align:justify;mso-char-wrap:
 1;mso-kinsoku-overflow:1;position:absolute;top:54.63%;left:4.36%;width:91.26%;
 height:17.07%'><span lang=ES-MODERN style='font-family:Arial;font-size:58%;
 color:black'><b>Priorizaci&oacute;n de Proyectos y Acciones</b></span></div>
 <![if !ppt]></div>
 <![endif]><v:group id="_x0000_s124968" style='position:absolute;left:244.75pt;
  top:286.5pt;width:115.25pt;height:199pt' coordorigin="1958,2292" coordsize="922,1592">
  <v:line id="_x0000_s124953" style='position:absolute' from="2419,2292" to="2420,2464"
   strokecolor="white [1]">
   <v:stroke endarrow="block"/>
  </v:line><v:shape id="_x0000_s124954" type="#_x0000_t202" style='position:absolute;
   left:1958;top:2464;width:922;height:1420'>
   <v:textbox style='mso-next-textbox:#_x0000_s124954'/>
  </v:shape><p:animation number="10" delay="0" type="object" effect="wipe"
   direction="down" flag="17412"/></v:group><![if !ppt]>
 <div id="_x0000_s124968_AllText" style='position:absolute;top:53.0%;
 left:33.9%;width:17.48%;height:37.27%;white-space:nowrap'
 onfilterchange="javascript:TickHandler()"><![endif]><![if !vml]><img border=0
 v:shapes="_x0000_s124968,_x0000_s124953,_x0000_s124954"
 src="slide0072_image103.gif" style='position:absolute;top:0%;left:0%;
 width:93.93%;height:100.0%'><![endif]>
 <div v:shape="_x0000_s124954" class=O style='mso-char-wrap:1;mso-kinsoku-overflow:
 1'><span style='position:absolute;top:13.27%;left:6.81%;width:80.3%;
 height:7.58%'><span lang=ES-MODERN style='font-family:Arial;font-size:54%;
 color:black'><b>Presentaci&oacute;n </b></span></span><span style='position:
 absolute;top:20.85%;left:6.81%;width:93.18%;height:7.58%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:54%;color:black'><b>del
 Diagn&oacute;stico </b></span></span><span style='position:absolute;
 top:28.9%;left:6.81%;width:80.3%;height:7.58%'><span lang=ES-MODERN
 style='font-family:Arial;font-size:54%;color:black'><b>de Recursos </b></span></span><span
 style='position:absolute;top:36.49%;left:6.81%;width:80.3%;height:7.58%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:54%;color:black'><b>Naturales
 e </b></span></span><span style='position:absolute;top:44.07%;left:6.81%;
 width:81.81%;height:7.58%'><span lang=ES-MODERN style='font-family:Arial;
 font-size:54%;color:black'><b>inventario del </b></span></span><span
 style='position:absolute;top:52.13%;left:6.81%;width:80.3%;height:7.58%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:54%;color:black'><b>Patrimonio
 </b></span></span><span style='position:absolute;top:59.71%;left:6.81%;
 width:80.3%;height:7.58%'><span lang=ES-MODERN style='font-family:Arial;
 font-size:54%;color:black'><b>Cultural y </b></span></span><span
 style='position:absolute;top:67.77%;left:6.81%;width:80.3%;height:7.58%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:54%;color:black'><b>Tur&iacute;stico
 </b></span></span><span style='position:absolute;top:75.35%;left:6.81%;
 width:80.3%;height:7.58%'><span lang=ES-MODERN style='font-family:Arial;
 font-size:54%;color:black'><b>realizado por </b></span></span><span
 style='position:absolute;top:82.93%;left:6.81%;width:90.9%;height:7.58%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:54%;color:black'><b>Guaman
 Poma.</b></span></span></div>
 <![if !ppt]></div>
 <![endif]><v:group id="_x0000_s124962" style='position:absolute;left:0;top:122.625pt;
  width:100.5pt;height:119pt' coordorigin=",981" coordsize="804,952">
  <v:shape id="_x0000_s124938" type="#_x0000_t202" style='position:absolute;
   top:981;width:804;height:758' o:allowincell="f">
   <v:textbox style='mso-next-textbox:#_x0000_s124938'/>
  </v:shape><v:line id="_x0000_s124955" style='position:absolute;flip:y'
   from="459,1818" to="460,1933" o:allowincell="f" strokecolor="white [1]">
   <v:stroke endarrow="block"/>
  </v:line><p:animation number="5" delay="0" type="object" effect="wipe"
   direction="up" flag="17412"/></v:group><![if !ppt]>
 <div id="_x0000_s124962_AllText" style='position:absolute;top:22.61%;
 left:-.13%;width:14.43%;height:22.43%;white-space:nowrap'
 onfilterchange="javascript:TickHandler()"><![endif]><![if !vml]><img border=0
 v:shapes="_x0000_s124962,_x0000_s124938,_x0000_s124955"
 src="slide0072_image104.gif" style='position:absolute;top:0%;left:.91%;
 width:99.08%;height:100.0%'><![endif]>
 <div v:shape="_x0000_s124938" class=O style='text-align:center;mso-char-wrap:
 1;mso-kinsoku-overflow:1'><span style='position:absolute;top:4.72%;left:.91%;
 width:98.16%;height:13.38%'><span lang=ES-MODERN style='font-family:Arial;
 font-size:58%;color:black'><b>Formulaci&oacute;n </b></span></span><span
 style='position:absolute;top:18.11%;left:8.25%;width:82.56%;height:13.38%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:58%;color:black'><b>del Plan
 </b></span></span><span style='position:absolute;top:32.28%;left:5.5%;
 width:88.99%;height:13.38%'><span lang=ES-MODERN style='font-family:Arial;
 font-size:58%;color:black'><b>Estrat&eacute;gico </b></span></span><span
 style='position:absolute;top:45.66%;left:0%;width:99.08%;height:13.38%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:58%;color:black'><b>y del
 Plan de </b></span></span><span style='position:absolute;top:59.84%;
 left:8.25%;width:82.56%;height:13.38%'><span lang=ES-MODERN style='font-family:
 Arial;font-size:58%;color:black'><b>Acci&oacute;n</b></span></span></div>
 <![if !ppt]></div>
 <![endif]><v:group id="_x0000_s124970" style='position:absolute;left:496.125pt;
  top:286.5pt;width:96.375pt;height:108.25pt' coordorigin="3969,2292"
  coordsize="771,866">
  <v:shape id="_x0000_s124956" type="#_x0000_t202" style='position:absolute;
   left:3969;top:2464;width:771;height:694'/>
  <v:line id="_x0000_s124958" style='position:absolute' from="4342,2292" to="4343,2464"
   strokecolor="white [1]">
   <v:stroke endarrow="block"/>
  </v:line><p:animation number="13" delay="0" type="object" effect="wipe"
   direction="down" flag="17412"/></v:group><![if !ppt]>
 <div id="_x0000_s124970_AllText" style='position:absolute;top:53.0%;
 left:68.87%;width:13.77%;height:20.49%;white-space:nowrap'
 onfilterchange="javascript:TickHandler()"><![endif]><![if !vml]><img border=0
 v:shapes="_x0000_s124970,_x0000_s124956,_x0000_s124958"
 src="slide0072_image105.gif" style='position:absolute;top:0%;left:0%;
 width:100.0%;height:100.0%'><![endif]>
 <div v:shape="_x0000_s124956" class=O style='text-align:center;mso-char-wrap:
 1;mso-kinsoku-overflow:1'><span style='position:absolute;top:24.13%;
 left:7.69%;width:82.69%;height:14.65%'><span lang=ES-MODERN style='font-family:
 Arial;font-size:58%;color:black'><b>Campa&ntilde;a </b></span></span><span
 style='position:absolute;top:38.79%;left:2.88%;width:92.3%;height:14.65%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:58%;color:black'><b>de
 limpieza </b></span></span><span style='position:absolute;top:54.31%;
 left:7.69%;width:82.69%;height:14.65%'><span lang=ES-MODERN style='font-family:
 Arial;font-size:58%;color:black'><b>del r&iacute;o </b></span></span><span
 style='position:absolute;top:69.82%;left:7.69%;width:82.69%;height:14.65%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:58%;color:black'><b>Huatanay</b></span></span></div>
 <![if !ppt]></div>
 <![endif]><v:group id="_x0000_s124971" style='position:absolute;left:603.875pt;
  top:286.5pt;width:113.375pt;height:142.25pt' coordorigin="4831,2292"
  coordsize="907,1138">
  <v:shape id="_x0000_s124957" type="#_x0000_t202" style='position:absolute;
   left:4831;top:2523;width:907;height:907'/>
  <v:line id="_x0000_s124959" style='position:absolute' from="5148,2292" to="5149,2464"
   strokecolor="white [1]">
   <v:stroke endarrow="block"/>
  </v:line><p:animation number="14" delay="0" type="object" effect="wipe"
   direction="down" flag="17412"/></v:group><![if !ppt]>
 <div id="_x0000_s124971_AllText" style='position:absolute;top:53.0%;
 left:83.84%;width:16.15%;height:26.85%;white-space:nowrap'
 onfilterchange="javascript:TickHandler()"><![endif]><![if !vml]><img border=0
 v:shapes="_x0000_s124971,_x0000_s124957,_x0000_s124959"
 src="slide0072_image106.gif" style='position:absolute;top:0%;left:0%;
 width:100.0%;height:100.0%'><![endif]>
 <div v:shape="_x0000_s124957" class=O style='text-align:center;mso-char-wrap:
 1;mso-kinsoku-overflow:1'><span style='position:absolute;top:23.68%;
 left:4.09%;width:90.16%;height:11.18%'><span lang=ES-MODERN style='font-family:
 Arial;font-size:58%;color:black'><b>Capacitaci&oacute;n </b></span></span><span
 style='position:absolute;top:34.86%;left:.81%;width:96.72%;height:11.18%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:58%;color:black'><b>a
 Autoridades </b></span></span><span style='position:absolute;top:46.71%;
 left:5.73%;width:86.88%;height:11.18%'><span lang=ES-MODERN style='font-family:
 Arial;font-size:58%;color:black'><b>Municipales, </b></span></span><span
 style='position:absolute;top:57.89%;left:6.55%;width:85.24%;height:11.18%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:58%;color:black'><b>L&iacute;deres,
 </b></span></span><span style='position:absolute;top:69.73%;left:.81%;
 width:96.72%;height:11.18%'><span lang=ES-MODERN style='font-family:Arial;
 font-size:58%;color:black'><b>productores y </b></span></span><span
 style='position:absolute;top:80.92%;left:6.55%;width:85.24%;height:11.18%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:58%;color:black'><b>poblaci&oacute;n.</b></span></span></div>
 <![if !ppt]></div>
 <![endif]><v:group id="_x0000_s124965" style='position:absolute;left:450.75pt;
  top:122.625pt;width:170.125pt;height:119pt' coordorigin="3606,981"
  coordsize="1361,952">
  <v:shape id="_x0000_s124960" type="#_x0000_t202" style='position:absolute;
   left:3606;top:981;width:1361;height:585' o:allowincell="f">
   <v:textbox style='mso-next-textbox:#_x0000_s124960'/>
  </v:shape><v:line id="_x0000_s124961" style='position:absolute;flip:y'
   from="4318,1703" to="4319,1933" o:allowincell="f" strokecolor="white [1]">
   <v:stroke endarrow="block"/>
  </v:line><p:animation number="11" delay="0" type="object" effect="wipe"
   direction="up" flag="17412"/></v:group><![if !ppt]>
 <div id="_x0000_s124965_AllText" style='position:absolute;top:22.61%;
 left:62.51%;width:23.97%;height:22.43%;white-space:nowrap'
 onfilterchange="javascript:TickHandler()"><![endif]><![if !vml]><img border=0
 v:shapes="_x0000_s124965,_x0000_s124960,_x0000_s124961"
 src="slide0072_image107.gif" style='position:absolute;top:0%;left:0%;
 width:100.0%;height:100.0%'><![endif]>
 <div v:shape="_x0000_s124960" class=O style='text-align:justify;mso-char-wrap:
 1;mso-kinsoku-overflow:1;position:absolute;top:4.72%;left:4.97%;width:90.05%;
 height:55.11%'><span lang=ES-MODERN style='font-family:Arial;font-size:58%;
 color:black'><b>Cambio de autoridades y renovaci&oacute;n de cargos directivos
 del CID</b></span></div>
 <![if !ppt]></div>
 <![endif]></p:slide></div>

<p:animation number="-1122240771"/><oa:par id="TimeNode0" dur="indefinite"
 restart="never" p:nodeType="timingRoot">
 <oa:seq id="TimeNode1" dur="indefinite" prev="document.onpptprev"
  next="document.onpptnext" concurrent="enabled" nextAction="seek"
  p:nodeType="mainSeq">
  <oa:par id="TimeNode2" begin="indefinite;TimeNode1.onbegin" fill="hold">
   <oa:par id="TimeNode3" begin="0.0" fill="hold">
    <oa:par id="TimeNode4" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode5" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s124937" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode6" dur="1.0" targetElement="_x0000_s124937"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode7" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode8" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s124937_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode9" dur="1.0"
      targetElement="_x0000_s124937_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode10" begin="1.0" fill="hold">
    <oa:par id="TimeNode11" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode12" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s124939" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode13" dur="1.0" targetElement="_x0000_s124939"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode14" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode15" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s124939_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode16" dur="1.0"
      targetElement="_x0000_s124939_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode17" begin="2.0" fill="hold">
    <oa:par id="TimeNode18" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode19" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s124972" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode20" dur="1.0" targetElement="_x0000_s124972"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode21" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode22" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s124972_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode23" dur="1.0"
      targetElement="_x0000_s124972_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode24" begin="3.0" fill="hold">
    <oa:par id="TimeNode25" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x4" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode26" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s124962" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode27" dur="1.0" targetElement="_x0000_s124962"
      transition="in" filter="wipe(down)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode28" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x4" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode29" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s124962_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode30" dur="1.0"
      targetElement="_x0000_s124962_AllText" transition="in" filter="wipe(down)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode31" begin="4.0" fill="hold">
    <oa:par id="TimeNode32" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x4" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode33" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s124963" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode34" dur="1.0" targetElement="_x0000_s124963"
      transition="in" filter="wipe(down)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode35" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x4" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode36" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s124963_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode37" dur="1.0"
      targetElement="_x0000_s124963_AllText" transition="in" filter="wipe(down)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode38" begin="5.0" fill="hold">
    <oa:par id="TimeNode39" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x4" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode40" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s124964" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode41" dur="1.0" targetElement="_x0000_s124964"
      transition="in" filter="wipe(down)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode42" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x4" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode43" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s124964_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode44" dur="1.0"
      targetElement="_x0000_s124964_AllText" transition="in" filter="wipe(down)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode45" begin="6.0" fill="hold">
    <oa:par id="TimeNode46" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x1" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode47" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s124966" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode48" dur="1.0" targetElement="_x0000_s124966"
      transition="in" filter="wipe(up)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode49" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x1" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode50" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s124966_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode51" dur="1.0"
      targetElement="_x0000_s124966_AllText" transition="in" filter="wipe(up)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode52" begin="7.0" fill="hold">
    <oa:par id="TimeNode53" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x1" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode54" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s124967" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode55" dur="1.0" targetElement="_x0000_s124967"
      transition="in" filter="wipe(up)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode56" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x1" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode57" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s124967_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode58" dur="1.0"
      targetElement="_x0000_s124967_AllText" transition="in" filter="wipe(up)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode59" begin="8.0" fill="hold">
    <oa:par id="TimeNode60" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x1" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode61" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s124968" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode62" dur="0.5" targetElement="_x0000_s124968"
      transition="in" filter="wipe(up)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode63" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x1" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode64" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s124968_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode65" dur="0.5"
      targetElement="_x0000_s124968_AllText" transition="in" filter="wipe(up)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode66" begin="8.5" fill="hold">
    <oa:par id="TimeNode67" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x4" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode68" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s124965" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode69" dur="1.0" targetElement="_x0000_s124965"
      transition="in" filter="wipe(down)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode70" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x4" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode71" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s124965_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode72" dur="1.0"
      targetElement="_x0000_s124965_AllText" transition="in" filter="wipe(down)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode73" begin="9.5" fill="hold">
    <oa:par id="TimeNode74" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x1" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode75" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s124969" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode76" dur="0.5" targetElement="_x0000_s124969"
      transition="in" filter="wipe(up)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode77" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x1" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode78" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s124969_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode79" dur="0.5"
      targetElement="_x0000_s124969_AllText" transition="in" filter="wipe(up)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode80" begin="10.0" fill="hold">
    <oa:par id="TimeNode81" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x1" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode82" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s124970" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode83" dur="1.0" targetElement="_x0000_s124970"
      transition="in" filter="wipe(up)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode84" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x1" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode85" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s124970_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode86" dur="1.0"
      targetElement="_x0000_s124970_AllText" transition="in" filter="wipe(up)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode87" begin="11.0" fill="hold">
    <oa:par id="TimeNode88" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x1" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode89" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s124971" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode90" dur="1.0" targetElement="_x0000_s124971"
      transition="in" filter="wipe(up)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode91" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x1" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode92" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s124971_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode93" dur="1.0"
      targetElement="_x0000_s124971_AllText" transition="in" filter="wipe(up)"/>
    </oa:par>
    <![endif]></oa:par>
  </oa:par>
 </oa:seq>
</oa:par>
<![if ppt]>
<oa:buildParagraph targetElement="_x0000_s124937" groupID="0" build="asAWhole"
 buildLevel="1" alsoAnimate="background" reverse="false" buildAdvance="onclick"
 userSetAnimBgd="false"/><oa:buildParagraph targetElement="_x0000_s124939"
 groupID="0" build="asAWhole" buildLevel="1" alsoAnimate="background"
 reverse="false" buildAdvance="onclick" userSetAnimBgd="false"/>
<![endif]>
</body>

</html>
