<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=us-ascii">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 11">
<link id=Main-File rel=Main-File href="../CID_valle_sur_ilmc.htm">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>PIDES</title>
<meta name=Description content="22/04/2005">
<link rel=Stylesheet href="master04_stylesheet.css">
<!--[if gte IE 5]>
<object id=MSOANIM classid="CLSID:A4639D2F-774E-11D3-A490-00C04F6843FB"></object>
<object id=MSOTIME classid="CLSID:A4639D29-774E-11D3-A490-00C04F6843FB"></object>
<![endif]-->
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:76% !important;}
-->
</style>
<style>
<!--
oa\:* { BEHAVIOR: url(#MSOANIM#ANIM) url(#MSOTIME#TIME) }
oa\:par,oa\:seq,oa\:iterate { BEHAVIOR:url(#MSOTIME) }
oa\:video,oa\:audio {BEHAVIOR:url(#MSOTIME) url(#MSOTIME#MEDIA) }
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><script><!--
g_animItemsToHide=new Array("_x0000_s8195_AllText","_x0000_s8195","_x0000_s8210_AllText","_x0000_s8210","_x0000_s8197_AllText","_x0000_s8197","_x0000_s8209_AllText","_x0000_s8209","_x0000_s8213","_x0000_s8194_AllText","_x0000_s8194");

//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><p:slidetransition advancetime="0" speed="1"
 effect="randomBar" direction="vertical" flag="1"/><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="9,10"/>
 <o:regrouptable v:ext="edit">
  <o:entry new="1" old="0"/>
 </o:regrouptable>
</o:shapelayout>
</head>

<body lang=ES-MODERN style='margin:0px;background-color:#993300'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()" oa:clockstart="onstart">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:755px;height:566px;font-size:16px;background-color:#993300;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden;filter:revealtrans(Duration=2, Transition=22)'><p:slide
 coordsize="720,540"
 colors="#993300,#ffffff,#bb5f03,#feec94,#ff9900,#b76a03,#ffffcc,#cccc00"
 masterhref="master04.xml">
 <p:shaperange href="master04.xml#_x0000_s118785"/><![if !vml]><img
 src="master04_background.gif" v:shapes="_x0000_s118785" style='position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><![endif]><![if !ppt]><p:shaperange
  href="master04.xml#_x0000_s118786"/><![if !vml]><img border=0
 v:shapes="_x0000_s118786,_x0000_s118787,_x0000_s118788,_x0000_s118789,_x0000_s118790,_x0000_s118791,_x0000_s118792,_x0000_s118793,_x0000_s118794,_x0000_s118795,_x0000_s118796,_x0000_s118797,_x0000_s118798,_x0000_s118799,_x0000_s118800,_x0000_s118801,_x0000_s118802,_x0000_s118803,_x0000_s118804"
 src="master04_image015.gif" style='position:absolute;top:0%;left:0%;
 width:100.26%;height:101.41%'><![endif]><p:shaperange
  href="master04.xml#_x0000_s118809"/>
 <div v:shape="_x0000_s118809" class=O>
 <div style='text-align:right;mso-char-wrap:1;mso-kinsoku-overflow:1;
 position:absolute;top:92.04%;left:72.71%;width:21.45%;height:3.0%'><span
 lang=ES-MODERN style='font-size:58%;text-shadow:auto;mso-field-code:meta16'>7</span><span
 lang=ES-MODERN style='font-size:58%;text-shadow:auto;mso-special-format:lastCR;
 display:none'>&#13;</span></div>
 </div>
 <![endif]><v:shapetype id="_x0000_t202" coordsize="21600,21600" o:spt="202"
  path="m,l,21600r21600,l21600,xe">
  <v:stroke joinstyle="miter"/>
  <v:path gradientshapeok="t" o:connecttype="rect"/>
 </v:shapetype><v:shape id="_x0000_s8194" type="#_x0000_t202" style='position:absolute;
  left:59.5pt;top:37.5pt;width:234pt;height:36pt' filled="f" fillcolor="#f90 [4]"
  stroked="f" strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="2" delay="0" type="object" effect="wipe"
   direction="right" flag="1028"/></v:shape>
 <div id="_x0000_s8194_AllText" v:shape="_x0000_s8194" class=O
 style='position:absolute;top:7.95%;left:9.27%;width:36.15%;height:5.12%;
 white-space:nowrap'>
 <div style='mso-line-spacing:"100 50 0";position:absolute;top:0%;left:0%;
 width:100.0%;height:100.0%'><span style='font-family:Arial'><b>Es<span
 style='mso-spacerun:yes'>&nbsp; </span></b></span><span style='font-family:
 Arial;color:yellow'><b>ESTRATEGICO</b></span><span style='font-family:Arial;
 color:yellow;mso-special-format:lastCR;display:none'>&#13;</span></div>
 </div>
 <v:shape id="_x0000_s8195" type="#_x0000_t202" style='position:absolute;
  left:365.625pt;top:372pt;width:324pt;height:123pt' filled="f" fillcolor="#f90 [4]"
  strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="7" delay="1500" type="object" effect="wipe"
   direction="down" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s8195" src="slide0007_image039.gif" style='position:absolute;
 top:68.9%;left:50.72%;width:45.43%;height:23.32%'><![endif]>
 <div id="_x0000_s8195_AllText" v:shape="_x0000_s8195" class=O
 style='position:absolute;top:69.96%;left:51.78%;width:50.33%;height:21.02%;
 white-space:nowrap'>
 <div style='mso-line-spacing:"100 50 0";position:absolute;top:0%;left:0%;
 width:85.52%;height:24.36%'><span style='font-family:Arial'><b>Porque: &#13;</b></span></div>
 <div style='mso-line-spacing:"100 50 0";position:absolute;top:37.81%;
 left:0%;width:85.52%;height:24.36%'><span style='font-family:Arial'><b>-
 Identifica ejes&#13;</b></span></div>
 <div style='mso-line-spacing:"100 50 0";position:absolute;top:75.63%;
 left:0%;width:100.0%;height:24.36%'><span style='font-family:Arial'><b>-
 Prioriza una metodolog&iacute;a</b></span><span style='font-family:Arial;
 mso-special-format:lastCR;display:none'>&#13;</span></div>
 </div>
 <v:shapetype id="_x0000_t93" coordsize="21600,21600" o:spt="93" adj="16200,5400"
  path="m@0,l@0@1,3375@1,3375@2@0@2@0,21600,21600,10800xem1350@1l1350@2,2700@2,2700@1xem0@1l0@2,675@2,675@1xe">
  <v:stroke joinstyle="miter"/>
  <v:formulas>
   <v:f eqn="val #0"/>
   <v:f eqn="val #1"/>
   <v:f eqn="sum height 0 #1"/>
   <v:f eqn="sum 10800 0 #1"/>
   <v:f eqn="sum width 0 #0"/>
   <v:f eqn="prod @4 @3 10800"/>
   <v:f eqn="sum width 0 @5"/>
  </v:formulas>
  <v:path o:connecttype="custom" o:connectlocs="@0,0;0,10800;@0,21600;21600,10800"
   o:connectangles="270,180,90,0" textboxrect="3375,@1,@6,@2"/>
  <v:handles>
   <v:h position="#0,#1" xrange="3375,21600" yrange="0,10800"/>
  </v:handles>
 </v:shapetype><v:shape id="_x0000_s8197" type="#_x0000_t93" style='position:absolute;
  left:235.25pt;top:156.625pt;width:174pt;height:102pt;mso-wrap-style:none;
  v-text-anchor:middle' fillcolor="black" strokecolor="white [1]">
  <v:shadow color="#bb5f03 [2]"/>
  <p:animation number="5" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s8197" src="slide0007_image040.gif" style='position:absolute;
 top:28.79%;left:32.58%;width:24.63%;height:19.61%'><![endif]>
 <div id="_x0000_s8197_AllText" v:shape="_x0000_s8197" class=O
 style='position:absolute;top:36.04%;left:36.15%;width:18.14%;height:5.12%;
 white-space:nowrap'>
 <div style='text-align:center;position:absolute;top:0%;left:0%;width:100.0%;
 height:100.0%'>Estrat&eacute;gico</div>
 </div>
 <v:shape id="_x0000_s8209" type="#_x0000_t202" style='position:absolute;
  left:195.625pt;top:122.625pt;width:120pt;height:36pt' filled="f" fillcolor="#f90 [4]"
  stroked="f" strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="4" delay="0" type="object" effect="wipe"
   direction="right" flag="1028"/></v:shape>
 <div id="_x0000_s8209_AllText" v:shape="_x0000_s8209" class=O
 style='position:absolute;top:23.67%;left:28.21%;width:14.83%;height:5.12%;
 white-space:nowrap'>
 <div style='mso-line-spacing:"100 50 0";position:absolute;top:0%;left:0%;
 width:100.0%;height:100.0%'><span style='font-family:Arial;text-shadow:auto;
 color:#FFFFCC;mso-color-index:6'><b>Visi&oacute;n</b></span></div>
 </div>
 <v:shape id="_x0000_s8210" type="#_x0000_t202" style='position:absolute;
  left:445pt;top:173.625pt;width:141.75pt;height:55.25pt' filled="f"
  fillcolor="#f90 [4]" stroked="f" strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="6" delay="0" type="object" effect="wipe"
   direction="right" flag="1028"/></v:shape>
 <div id="_x0000_s8210_AllText" v:shape="_x0000_s8210" class=O
 style='position:absolute;top:33.39%;left:62.78%;width:21.19%;height:8.48%;
 white-space:nowrap'>
 <div style='mso-line-spacing:"100 50 0";position:absolute;top:0%;left:0%;
 width:100.0%;height:100.0%'><span style='font-family:Arial;font-size:167%;
 text-shadow:auto;color:#FFFFCC;mso-color-index:6'><b>Futuro</b></span></div>
 </div>
 <v:shapetype id="_x0000_t75" coordsize="21600,21600" o:spt="75"
  o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" aspectratio="t"/>
 </v:shapetype><v:shape id="_x0000_s8211" type="#_x0000_t75" style='position:absolute;
  left:36pt;top:2in;width:181.75pt;height:197.75pt' o:preferrelative="f"
  o:regroupid="1">
  <v:fill o:detectmouseclick="t"/>
  <v:path o:extrusionok="t" o:connecttype="none"/>
  <o:lock v:ext="edit" text="t"/>
 </v:shape><v:shape id="_x0000_s8213" style='position:absolute;left:36.875pt;
  top:144.75pt;width:179.25pt;height:195.5pt' coordsize="2867,3128"
  o:regroupid="1" path="m1881,3128r,-287l1892,2775r19,-69l1952,2656r65,-26l2227,2586r125,-26l2452,2519r70,-34l2558,2455r24,-45l2582,2330r-4,-100l2567,2095r,-117l2582,1873r31,-65l2652,1763r71,-29l2817,1698r31,-25l2867,1643r,-45l2833,1552r-31,-35l2572,1227r-20,-25l2563,1157r30,-43l2637,991r15,-77l2652,793,2598,621,2543,492,2452,330,2367,230r-95,-91l2142,71,1942,24,1752,4,1557,,1366,9,1211,30,1060,59,890,124,725,210,520,350r-95,76l340,511,245,621,154,756,65,926,19,1073,,1234r9,124l34,1482r55,132l250,1866r210,308l545,2330r35,89l600,2507r10,79l615,2660r6,150l600,3128r1281,xe"
  fillcolor="#ff8000" strokeweight=".39689mm">
  <v:path arrowok="t"/>
  <p:animation number="3" delay="0" type="object" effect="cut"
   direction="noBlack" buildby="char" flag="17412"/></v:shape><![if !vml]><img
 border=0 v:shapes="_x0000_s8213" src="slide0007_image041.gif"
 style='position:absolute;top:26.5%;left:4.9%;width:25.43%;height:36.92%'><![endif]></p:slide></div>

<p:animation number="926825824"/><oa:par id="TimeNode0" dur="indefinite"
 restart="never" p:nodeType="timingRoot">
 <oa:seq id="TimeNode1" dur="indefinite" prev="document.onpptprev"
  next="document.onpptnext" concurrent="enabled" nextAction="seek"
  p:nodeType="mainSeq">
  <oa:par id="TimeNode2" begin="indefinite;TimeNode1.onbegin" fill="hold">
   <oa:par id="TimeNode3" begin="0.0" fill="hold">
    <oa:par id="TimeNode4" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode5" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s8194" attributeName="style.visibility" to="visible"/>
     <oa:animateFilter id="TimeNode6" dur="1.0" targetElement="_x0000_s8194"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode7" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode8" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s8194_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode9" dur="1.0"
      targetElement="_x0000_s8194_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode10" begin="1.0" fill="hold">
    <oa:iterate targetElement="_x0000_s8213" id="TimeNode11" o:presetID="ppt_31"
     o:presetClass="entrance" o:presetSubType="0x0" begin="0.0" fill="hold"
     p:nodeType="afterEffect" iterateType="byLetter" iterateInterval="5.0%">
     <oa:set id="TimeNode12" begin="0.0" dur="0.001" fill="hold"
      attributeName="style.visibility" to="visible"/>
     <oa:animate id="TimeNode13" dur="0.5" fill="hold" attributeName="ppt_w"
      calcmode="linear" valueType="number" keyTimes="0.0;1.0"
      values="0.0;#ppt_w"/>
     <oa:animate id="TimeNode14" dur="0.5" fill="hold" attributeName="ppt_h"
      calcmode="linear" valueType="number" keyTimes="0.0;1.0"
      values="0.0;#ppt_h"/>
     <oa:animate id="TimeNode15" dur="0.5" fill="hold"
      attributeName="style.rotation" calcmode="linear" valueType="number"
      keyTimes="0.0;1.0" values="90.0;0.0"/>
     <oa:animateFilter id="TimeNode16" dur="0.5" transition="in" filter="fade"/>
    </oa:iterate>
   </oa:par>
   <oa:par id="TimeNode17" begin="1.5" fill="hold">
    <oa:par id="TimeNode18" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode19" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s8209" attributeName="style.visibility" to="visible"/>
     <oa:animateFilter id="TimeNode20" dur="0.5" targetElement="_x0000_s8209"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode21" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode22" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s8209_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode23" dur="0.5"
      targetElement="_x0000_s8209_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode24" begin="2.0" fill="hold">
    <oa:par id="TimeNode25" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode26" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s8197" attributeName="style.visibility" to="visible"/>
     <oa:animateFilter id="TimeNode27" dur="1.0" targetElement="_x0000_s8197"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode28" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode29" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s8197_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode30" dur="1.0"
      targetElement="_x0000_s8197_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode31" begin="3.0" fill="hold">
    <oa:par id="TimeNode32" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode33" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s8210" attributeName="style.visibility" to="visible"/>
     <oa:animateFilter id="TimeNode34" dur="0.5" targetElement="_x0000_s8210"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode35" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode36" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s8210_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode37" dur="0.5"
      targetElement="_x0000_s8210_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode38" begin="3.5" fill="hold">
    <oa:par id="TimeNode39" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x1" begin="1.5" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode40" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s8195" attributeName="style.visibility" to="visible"/>
     <oa:animateFilter id="TimeNode41" dur="0.5" targetElement="_x0000_s8195"
      transition="in" filter="wipe(up)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode42" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x1" begin="1.5" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode43" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s8195_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode44" dur="0.5"
      targetElement="_x0000_s8195_AllText" transition="in" filter="wipe(up)"/>
    </oa:par>
    <![endif]></oa:par>
  </oa:par>
 </oa:seq>
</oa:par>
<![if ppt]>
<oa:buildParagraph targetElement="_x0000_s8194" groupID="0" build="asAWhole"
 buildLevel="1" reverse="false" buildAdvance="onclick" userSetAnimBgd="false"/><oa:buildParagraph
 targetElement="_x0000_s8195" groupID="0" build="asAWhole" buildLevel="1"
 alsoAnimate="background" reverse="false" buildAdvance="onclick"
 userSetAnimBgd="false"/><oa:buildParagraph targetElement="_x0000_s8197"
 groupID="0" build="asAWhole" buildLevel="1" alsoAnimate="background"
 reverse="false" buildAdvance="onclick" userSetAnimBgd="false"/><oa:buildParagraph
 targetElement="_x0000_s8209" groupID="0" build="asAWhole" buildLevel="1"
 reverse="false" buildAdvance="onclick" userSetAnimBgd="false"/><oa:buildParagraph
 targetElement="_x0000_s8210" groupID="0" build="asAWhole" buildLevel="1"
 reverse="false" buildAdvance="onclick" userSetAnimBgd="false"/>
<![endif]>
</body>

</html>
