<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=us-ascii">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 11">
<link id=Main-File rel=Main-File href="../CID_valle_sur_ilmc.htm">
<link rel=Preview href=preview.wmf>
<link rel=OLE-Object-Data href=oledata.mso>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>PIDES</title>
<meta name=Description content="22/04/2005">
<link rel=Stylesheet href="master04_stylesheet.css">
<!--[if gte IE 5]>
<object id=MSOANIM classid="CLSID:A4639D2F-774E-11D3-A490-00C04F6843FB"></object>
<object id=MSOTIME classid="CLSID:A4639D29-774E-11D3-A490-00C04F6843FB"></object>
<![endif]-->
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:76% !important;}
-->
</style>
<style>
<!--
oa\:* { BEHAVIOR: url(#MSOANIM#ANIM) url(#MSOTIME#TIME) }
oa\:par,oa\:seq,oa\:iterate { BEHAVIOR:url(#MSOTIME) }
oa\:video,oa\:audio {BEHAVIOR:url(#MSOTIME) url(#MSOTIME#MEDIA) }
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><script><!--
g_animItemsToHide=new Array("_x0000_s9236_AllText","_x0000_s9236","_x0000_s9237_AllText","_x0000_s9237","_x0000_s9235","_x0000_s9234","_x0000_s9225_AllText","_x0000_s9225","_x0000_s9227","_x0000_s9229_AllText","_x0000_s9229","_x0000_s9221","_x0000_s9228_AllText","_x0000_s9228","_x0000_s9226","_x0000_s9218","_x0000_s9219_AllText","_x0000_s9219");

//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><p:slidetransition advancetime="0" speed="1"
 effect="randomBar" direction="vertical" flag="1"/><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="24"/>
</o:shapelayout>
</head>

<body lang=ES-MODERN style='margin:0px;background-color:#993300'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()" oa:clockstart="onstart">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:755px;height:566px;font-size:16px;background-color:#993300;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden;filter:revealtrans(Duration=2, Transition=22)'><p:slide
 coordsize="720,540"
 colors="#993300,#ffffff,#bb5f03,#feec94,#ff9900,#b76a03,#ffffcc,#cccc00"
 masterhref="master04.xml">
 <p:shaperange href="master04.xml#_x0000_s118785"/><![if !vml]><img
 src="master04_background.gif" v:shapes="_x0000_s118785" style='position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><![endif]><![if !ppt]><p:shaperange
  href="master04.xml#_x0000_s118786"/><![if !vml]><img border=0
 v:shapes="_x0000_s118786,_x0000_s118787,_x0000_s118788,_x0000_s118789,_x0000_s118790,_x0000_s118791,_x0000_s118792,_x0000_s118793,_x0000_s118794,_x0000_s118795,_x0000_s118796,_x0000_s118797,_x0000_s118798,_x0000_s118799,_x0000_s118800,_x0000_s118801,_x0000_s118802,_x0000_s118803,_x0000_s118804"
 src="master04_image015.gif" style='position:absolute;top:0%;left:0%;
 width:100.26%;height:101.41%'><![endif]><p:shaperange
  href="master04.xml#_x0000_s118809"/>
 <div v:shape="_x0000_s118809" class=O>
 <div style='text-align:right;mso-char-wrap:1;mso-kinsoku-overflow:1;
 position:absolute;top:92.04%;left:72.71%;width:21.45%;height:3.0%'><span
 lang=ES-MODERN style='font-size:58%;text-shadow:auto;mso-field-code:meta16'>8</span><span
 lang=ES-MODERN style='font-size:58%;text-shadow:auto;mso-special-format:lastCR;
 display:none'>&#13;</span></div>
 </div>
 <![endif]><v:shapetype id="_x0000_t75" coordsize="21600,21600" o:spt="75"
  o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" aspectratio="t"/>
 </v:shapetype><v:shape id="_x0000_s9218" type="#_x0000_t75" style='position:absolute;
  left:408pt;top:172.5pt;width:68.375pt;height:62.5pt'>
  <v:imagedata src="slide0006_image023.wmz" o:title="" cropright="27846f"/>
  <p:animation number="3" delay="0" type="object" effect="cut"
   direction="noBlack" buildby="char" flag="17412"/></v:shape><o:OLEObject
  Type="Embed" ProgID="MS_ClipArt_Gallery.2" ShapeID="_x0000_s9218"
  DrawAspect="Content" ObjectID="19">
  <p:oleclientdata subtype="clipart" menuname="Imagen"
   clipboardname="Galer&#237;a de im&#225;genes de Microsoft"/></o:OLEObject>
 <![if !vml]><img border=0 v:shapes="_x0000_s9218" src="slide0008_image042.gif"
 style='position:absolute;top:31.97%;left:56.68%;width:9.53%;height:11.66%'><![endif]><v:shapetype
  id="_x0000_t202" coordsize="21600,21600" o:spt="202" path="m,l,21600r21600,l21600,xe">
  <v:stroke joinstyle="miter"/>
  <v:path gradientshapeok="t" o:connecttype="rect"/>
 </v:shapetype><v:shape id="_x0000_s9219" type="#_x0000_t202" style='position:absolute;
  left:25.5pt;top:20.5pt;width:234pt;height:36pt' filled="f" fillcolor="#f90 [4]"
  stroked="f" strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="2" delay="0" type="object" effect="wipe"
   direction="right" flag="1028"/></v:shape>
 <div id="_x0000_s9219_AllText" v:shape="_x0000_s9219" class=O
 style='position:absolute;top:4.77%;left:4.5%;width:32.84%;height:5.12%;
 white-space:nowrap'>
 <div style='mso-line-spacing:"100 50 0";position:absolute;top:0%;left:0%;
 width:100.0%;height:100.0%'><span style='font-family:Arial'><b>Es </b></span><span
 style='font-family:Arial;color:#CC0000'><b> </b></span><span style='font-family:
 Arial;text-shadow:auto;color:yellow'><b>SOSTENIBLE</b></span><span
 style='font-family:Arial;text-shadow:auto;color:yellow;mso-special-format:
 lastCR;display:none'>&#13;</span></div>
 </div>
 <v:oval id="_x0000_s9221" style='position:absolute;left:348pt;top:66pt;
  width:192pt;height:180pt;mso-wrap-style:none;v-text-anchor:middle' filled="f"
  fillcolor="#c00" strokecolor="white [1]" strokeweight="2.25pt">
  <v:shadow color="#bb5f03 [2]"/>
  <p:animation number="6" delay="0" type="object" effect="randomBar"
   direction="horizontal" flag="17412"/></v:oval><![if !vml]><img border=0
 v:shapes="_x0000_s9221" src="slide0008_image043.gif" style='position:absolute;
 top:12.01%;left:48.21%;width:27.28%;height:34.09%'><![endif]>
 <div v:shape="_x0000_s9221" class=O style='text-align:center'><span
 style='position:absolute;top:26.5%;left:53.11%;width:17.35%;height:5.12%'><span
 lang=ES-MODERN style='mso-special-format:lastCR;display:none'>&#13;</span></span></div>
 <v:rect id="_x0000_s9225" style='position:absolute;left:480pt;top:234pt;
  width:101.375pt;height:45.75pt;mso-wrap-style:none;v-text-anchor:top-baseline'
  filled="f" fillcolor="#f90 [4]" stroked="f" strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="9" delay="0" type="object" effect="randomBar"
   direction="horizontal" flag="1028"/></v:rect>
 <div id="_x0000_s9225_AllText" v:shape="_x0000_s9225" class=O
 style='position:absolute;top:44.16%;left:66.49%;width:14.56%;height:7.06%;
 white-space:nowrap'>
 <div style='text-align:center;position:absolute;top:0%;left:8.18%;width:83.63%;
 height:50.0%'><span style='font-size:67%'><b>MEDO&#13;</b></span></div>
 <div style='text-align:center;position:absolute;top:52.5%;left:0%;width:100.0%;
 height:50.0%'><span style='font-size:67%'><b>AMBIENTE</b></span></div>
 </div>
 <v:oval id="_x0000_s9226" style='position:absolute;left:300pt;top:2in;width:192pt;
  height:180pt;mso-wrap-style:none;v-text-anchor:middle' filled="f"
  fillcolor="#f90 [4]" strokecolor="white [1]" strokeweight="2.25pt">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <p:animation number="4" delay="0" type="object" effect="randomBar"
   direction="horizontal" flag="17412"/></v:oval><![if !vml]><img border=0
 v:shapes="_x0000_s9226" src="slide0008_image044.gif" style='position:absolute;
 top:26.5%;left:41.45%;width:27.28%;height:34.09%'><![endif]>
 <div v:shape="_x0000_s9226" class=O style='text-align:center'><span
 style='position:absolute;top:40.98%;left:46.35%;width:17.35%;height:5.12%'><span
 lang=ES-MODERN style='mso-special-format:lastCR;display:none'>&#13;</span></span></div>
 <v:oval id="_x0000_s9227" style='position:absolute;left:390pt;top:2in;width:192pt;
  height:180pt;mso-wrap-style:none;v-text-anchor:middle' filled="f"
  fillcolor="#f90 [4]" strokecolor="white [1]" strokeweight="2.25pt">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <p:animation number="8" delay="0" type="object" effect="randomBar"
   direction="horizontal" flag="17412"/></v:oval><![if !vml]><img border=0
 v:shapes="_x0000_s9227" src="slide0008_image045.gif" style='position:absolute;
 top:26.5%;left:54.03%;width:27.28%;height:34.09%'><![endif]>
 <div v:shape="_x0000_s9227" class=O style='text-align:center'><span
 style='position:absolute;top:40.98%;left:58.94%;width:17.35%;height:5.12%'><span
 lang=ES-MODERN style='mso-special-format:lastCR;display:none'>&#13;</span></span></div>
 <v:rect id="_x0000_s9228" style='position:absolute;left:300pt;top:240pt;
  width:98.75pt;height:26.5pt;mso-wrap-style:none;v-text-anchor:top-baseline'
  filled="f" fillcolor="#f90 [4]" stroked="f" strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="5" delay="0" type="object" effect="randomBar"
   direction="horizontal" flag="1028"/></v:rect>
 <div id="_x0000_s9228_AllText" v:shape="_x0000_s9228" class=O
 style='position:absolute;top:45.4%;left:42.64%;width:14.17%;height:3.53%;
 white-space:nowrap'>
 <div style='position:absolute;top:0%;left:0%;width:100.0%;height:100.0%'><span
 style='font-size:67%'><b>SOCIEDAD</b></span></div>
 </div>
 <v:rect id="_x0000_s9229" style='position:absolute;left:390pt;top:90pt;
  width:106pt;height:26.5pt;mso-wrap-style:none;v-text-anchor:top-baseline'
  filled="f" fillcolor="#f90 [4]" stroked="f" strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="7" delay="0" type="object" effect="randomBar"
   direction="horizontal" flag="1028"/></v:rect>
 <div id="_x0000_s9229_AllText" v:shape="_x0000_s9229" class=O
 style='position:absolute;top:17.49%;left:55.23%;width:15.36%;height:3.53%;
 white-space:nowrap'>
 <div style='position:absolute;top:0%;left:0%;width:100.0%;height:100.0%'><span
 style='font-size:67%'><b>ECONOMIA</b></span></div>
 </div>
 <v:shapetype id="_x0000_t102" coordsize="21600,21600" o:spt="102" adj="12960,19440,14400"
  path="ar,0@23@3@22,,0@4,0@15@23@1,0@7@2@13l@2@14@22@8@2@12wa,0@23@3@2@11@26@17,0@15@23@1@26@17@22@15xear,0@23@3,0@4@26@17nfe">
  <v:stroke joinstyle="miter"/>
  <v:formulas>
   <v:f eqn="val #0"/>
   <v:f eqn="val #1"/>
   <v:f eqn="val #2"/>
   <v:f eqn="sum #0 width #1"/>
   <v:f eqn="prod @3 1 2"/>
   <v:f eqn="sum #1 #1 width"/>
   <v:f eqn="sum @5 #1 #0"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="mid width #0"/>
   <v:f eqn="sum height 0 #2"/>
   <v:f eqn="ellipse @9 height @4"/>
   <v:f eqn="sum @4 @10 0"/>
   <v:f eqn="sum @11 #1 width"/>
   <v:f eqn="sum @7 @10 0"/>
   <v:f eqn="sum @12 width #0"/>
   <v:f eqn="sum @5 0 #0"/>
   <v:f eqn="prod @15 1 2"/>
   <v:f eqn="mid @4 @7"/>
   <v:f eqn="sum #0 #1 width"/>
   <v:f eqn="prod @18 1 2"/>
   <v:f eqn="sum @17 0 @19"/>
   <v:f eqn="val width"/>
   <v:f eqn="val height"/>
   <v:f eqn="prod height 2 1"/>
   <v:f eqn="sum @17 0 @4"/>
   <v:f eqn="ellipse @24 @4 height"/>
   <v:f eqn="sum height 0 @25"/>
   <v:f eqn="sum @8 128 0"/>
   <v:f eqn="prod @5 1 2"/>
   <v:f eqn="sum @5 0 128"/>
   <v:f eqn="sum #0 @17 @12"/>
   <v:f eqn="ellipse @20 @4 height"/>
   <v:f eqn="sum width 0 #0"/>
   <v:f eqn="prod @32 1 2"/>
   <v:f eqn="prod height height 1"/>
   <v:f eqn="prod @9 @9 1"/>
   <v:f eqn="sum @34 0 @35"/>
   <v:f eqn="sqrt @36"/>
   <v:f eqn="sum @37 height 0"/>
   <v:f eqn="prod width height @38"/>
   <v:f eqn="sum @39 64 0"/>
   <v:f eqn="prod #0 1 2"/>
   <v:f eqn="ellipse @33 @41 height"/>
   <v:f eqn="sum height 0 @42"/>
   <v:f eqn="sum @43 64 0"/>
   <v:f eqn="prod @4 1 2"/>
   <v:f eqn="sum #1 0 @45"/>
   <v:f eqn="prod height 4390 32768"/>
   <v:f eqn="prod height 28378 32768"/>
  </v:formulas>
  <v:path o:extrusionok="f" o:connecttype="custom" o:connectlocs="0,@17;@2,@14;@22,@8;@2,@12;@22,@16"
   o:connectangles="180,90,0,0,0" textboxrect="@47,@45,@48,@46"/>
  <v:handles>
   <v:h position="bottomRight,#0" yrange="@40,@29"/>
   <v:h position="bottomRight,#1" yrange="@27,@21"/>
   <v:h position="#2,bottomRight" xrange="@44,@22"/>
  </v:handles>
  <o:complex v:ext="view"/>
 </v:shapetype><v:shape id="_x0000_s9234" type="#_x0000_t102" style='position:absolute;
  left:376.5pt;top:-112.5pt;width:149.875pt;height:435pt;rotation:-5767774fd;
  flip:y;mso-wrap-style:none;v-text-anchor:middle' adj="16976,19697,19951"
  fillcolor="black" strokecolor="#f9f">
  <v:shadow color="#bb5f03 [2]"/>
  <p:animation number="10" delay="0" type="object" effect="wipe"
   direction="down" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s9234" src="slide0008_image046.gif" style='position:absolute;
 top:4.94%;left:32.45%;width:61.45%;height:30.38%'><![endif]><v:shape id="_x0000_s9235"
  type="#_x0000_t102" style='position:absolute;left:343.5pt;top:100.5pt;
  width:156pt;height:435pt;rotation:5894818fd;flip:y;mso-wrap-style:none;
  v-text-anchor:middle' adj="17053,19697,19657" fillcolor="black"
  strokecolor="#f9f">
  <v:shadow color="#bb5f03 [2]"/>
  <p:animation number="11" delay="0" type="object" effect="wipe" direction="up"
   flag="17412"/></v:shape><![if !vml]><img border=0 v:shapes="_x0000_s9235"
 src="slide0008_image047.gif" style='position:absolute;top:44.34%;left:28.07%;
 width:61.05%;height:29.5%'><![endif]><v:shape id="_x0000_s9236" type="#_x0000_t202"
  style='position:absolute;left:30pt;top:408pt;width:672pt;height:99.25pt'
  filled="f" fillcolor="#f90 [4]" strokecolor="white [1]" strokeweight="3pt">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="13" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s9236" src="slide0008_image048.gif" style='position:absolute;
 top:75.26%;left:3.97%;width:94.03%;height:19.25%'><![endif]>
 <div id="_x0000_s9236_AllText" v:shape="_x0000_s9236" class=O
 style='position:absolute;top:76.67%;left:5.43%;width:104.9%;height:16.25%;
 white-space:nowrap'>
 <div style='mso-line-spacing:"100 50 0";position:absolute;top:0%;left:0%;
 width:100.0%;height:26.08%'><span style='font-family:Arial;font-size:83%'>- </span><span
 style='font-family:Arial;font-size:75%'><b>Debe lograr un equilibrio entre la
 sociedad, econom&iacute;a y medio ambiente&#13;</b></span></div>
 <div style='mso-line-spacing:"100 50 0";position:absolute;top:40.21%;
 left:0%;width:86.74%;height:23.91%'><span style='font-family:Arial;font-size:
 75%'><b>- Debe prever impactos a mediano y largo plazo&#13;</b></span></div>
 <div style='mso-line-spacing:"100 50 0";position:absolute;top:77.17%;
 left:0%;width:86.74%;height:23.91%'><span style='font-family:Arial;font-size:
 75%'><b>- Debe garantizar su mantenimiento en el tiempo</b></span></div>
 </div>
 <v:shape id="_x0000_s9237" type="#_x0000_t202" style='position:absolute;
  left:31.125pt;top:366.375pt;width:120pt;height:36pt' filled="f" fillcolor="#f90 [4]"
  stroked="f" strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="12" delay="0" type="object" effect="wipe"
   direction="right" flag="1028"/></v:shape>
 <div id="_x0000_s9237_AllText" v:shape="_x0000_s9237" class=O
 style='position:absolute;top:68.72%;left:5.29%;width:15.23%;height:5.12%;
 white-space:nowrap'>
 <div style='mso-line-spacing:"100 50 0";position:absolute;top:0%;left:0%;
 width:100.0%;height:100.0%'><span style='font-family:Arial;color:#FFFFCC;
 mso-color-index:6'><b>Porque:</b></span></div>
 </div>
</p:slide></div>

<p:animation number="-2096854663"/><oa:par id="TimeNode0" dur="indefinite"
 restart="never" p:nodeType="timingRoot">
 <oa:seq id="TimeNode1" dur="indefinite" prev="document.onpptprev"
  next="document.onpptnext" concurrent="enabled" nextAction="seek"
  p:nodeType="mainSeq">
  <oa:par id="TimeNode2" begin="indefinite;TimeNode1.onbegin" fill="hold">
   <oa:par id="TimeNode3" begin="0.0" fill="hold">
    <oa:par id="TimeNode4" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode5" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s9219" attributeName="style.visibility" to="visible"/>
     <oa:animateFilter id="TimeNode6" dur="1.0" targetElement="_x0000_s9219"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode7" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode8" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s9219_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode9" dur="1.0"
      targetElement="_x0000_s9219_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode10" begin="1.0" fill="hold">
    <oa:iterate targetElement="_x0000_s9218" id="TimeNode11" o:presetID="ppt_31"
     o:presetClass="entrance" o:presetSubType="0x0" begin="0.0" fill="hold"
     p:nodeType="afterEffect" iterateType="byLetter" iterateInterval="5.0%">
     <oa:set id="TimeNode12" begin="0.0" dur="0.001" fill="hold"
      attributeName="style.visibility" to="visible"/>
     <oa:animate id="TimeNode13" dur="1.0" fill="hold" attributeName="ppt_w"
      calcmode="linear" valueType="number" keyTimes="0.0;1.0"
      values="0.0;#ppt_w"/>
     <oa:animate id="TimeNode14" dur="1.0" fill="hold" attributeName="ppt_h"
      calcmode="linear" valueType="number" keyTimes="0.0;1.0"
      values="0.0;#ppt_h"/>
     <oa:animate id="TimeNode15" dur="1.0" fill="hold"
      attributeName="style.rotation" calcmode="linear" valueType="number"
      keyTimes="0.0;1.0" values="90.0;0.0"/>
     <oa:animateFilter id="TimeNode16" dur="1.0" transition="in" filter="fade"/>
    </oa:iterate>
   </oa:par>
   <oa:par id="TimeNode17" begin="2.0" fill="hold">
    <oa:par id="TimeNode18" o:presetID="ppt_14" o:presetClass="entrance"
     o:presetSubType="0xA" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode19" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s9226" attributeName="style.visibility" to="visible"/>
     <oa:animateFilter id="TimeNode20" dur="0.5" targetElement="_x0000_s9226"
      transition="in" filter="randombar(horizontal)"/>
    </oa:par>
   </oa:par>
   <oa:par id="TimeNode21" begin="2.5" fill="hold">
    <oa:par id="TimeNode22" o:presetID="ppt_14" o:presetClass="entrance"
     o:presetSubType="0xA" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode23" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s9228" attributeName="style.visibility" to="visible"/>
     <oa:animateFilter id="TimeNode24" dur="0.5" targetElement="_x0000_s9228"
      transition="in" filter="randombar(horizontal)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode25" o:presetID="ppt_14"
     o:presetClass="entrance" o:presetSubType="0xA" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode26" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s9228_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode27" dur="0.5"
      targetElement="_x0000_s9228_AllText" transition="in"
      filter="randombar(horizontal)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode28" begin="3.0" fill="hold">
    <oa:par id="TimeNode29" o:presetID="ppt_14" o:presetClass="entrance"
     o:presetSubType="0xA" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode30" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s9221" attributeName="style.visibility" to="visible"/>
     <oa:animateFilter id="TimeNode31" dur="0.5" targetElement="_x0000_s9221"
      transition="in" filter="randombar(horizontal)"/>
    </oa:par>
   </oa:par>
   <oa:par id="TimeNode32" begin="3.5" fill="hold">
    <oa:par id="TimeNode33" o:presetID="ppt_14" o:presetClass="entrance"
     o:presetSubType="0xA" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode34" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s9229" attributeName="style.visibility" to="visible"/>
     <oa:animateFilter id="TimeNode35" dur="0.5" targetElement="_x0000_s9229"
      transition="in" filter="randombar(horizontal)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode36" o:presetID="ppt_14"
     o:presetClass="entrance" o:presetSubType="0xA" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode37" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s9229_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode38" dur="0.5"
      targetElement="_x0000_s9229_AllText" transition="in"
      filter="randombar(horizontal)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode39" begin="4.0" fill="hold">
    <oa:par id="TimeNode40" o:presetID="ppt_14" o:presetClass="entrance"
     o:presetSubType="0xA" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode41" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s9227" attributeName="style.visibility" to="visible"/>
     <oa:animateFilter id="TimeNode42" dur="0.5" targetElement="_x0000_s9227"
      transition="in" filter="randombar(horizontal)"/>
    </oa:par>
   </oa:par>
   <oa:par id="TimeNode43" begin="4.5" fill="hold">
    <oa:par id="TimeNode44" o:presetID="ppt_14" o:presetClass="entrance"
     o:presetSubType="0xA" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode45" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s9225" attributeName="style.visibility" to="visible"/>
     <oa:animateFilter id="TimeNode46" dur="0.5" targetElement="_x0000_s9225"
      transition="in" filter="randombar(horizontal)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode47" o:presetID="ppt_14"
     o:presetClass="entrance" o:presetSubType="0xA" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode48" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s9225_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode49" dur="0.5"
      targetElement="_x0000_s9225_AllText" transition="in"
      filter="randombar(horizontal)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode50" begin="5.0" fill="hold">
    <oa:par id="TimeNode51" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x1" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode52" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s9234" attributeName="style.visibility" to="visible"/>
     <oa:animateFilter id="TimeNode53" dur="0.5" targetElement="_x0000_s9234"
      transition="in" filter="wipe(up)"/>
    </oa:par>
   </oa:par>
   <oa:par id="TimeNode54" begin="5.5" fill="hold">
    <oa:par id="TimeNode55" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x4" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode56" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s9235" attributeName="style.visibility" to="visible"/>
     <oa:animateFilter id="TimeNode57" dur="1.0" targetElement="_x0000_s9235"
      transition="in" filter="wipe(down)"/>
    </oa:par>
   </oa:par>
   <oa:par id="TimeNode58" begin="6.5" fill="hold">
    <oa:par id="TimeNode59" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode60" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s9237" attributeName="style.visibility" to="visible"/>
     <oa:animateFilter id="TimeNode61" dur="1.0" targetElement="_x0000_s9237"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode62" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode63" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s9237_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode64" dur="1.0"
      targetElement="_x0000_s9237_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode65" begin="7.5" fill="hold">
    <oa:par id="TimeNode66" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode67" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s9236" attributeName="style.visibility" to="visible"/>
     <oa:animateFilter id="TimeNode68" dur="0.5" targetElement="_x0000_s9236"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode69" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode70" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s9236_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode71" dur="0.5"
      targetElement="_x0000_s9236_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
  </oa:par>
 </oa:seq>
</oa:par>
<![if ppt]>
<oa:buildParagraph targetElement="_x0000_s9219" groupID="0" build="asAWhole"
 buildLevel="1" reverse="false" buildAdvance="onclick" userSetAnimBgd="false"/><oa:buildParagraph
 targetElement="_x0000_s9221" groupID="0" build="asAWhole" buildLevel="1"
 alsoAnimate="background" reverse="false" buildAdvance="onclick"
 userSetAnimBgd="false"/><oa:buildParagraph targetElement="_x0000_s9225"
 groupID="0" build="asAWhole" buildLevel="1" reverse="false"
 buildAdvance="onclick" userSetAnimBgd="false"/><oa:buildParagraph
 targetElement="_x0000_s9226" groupID="0" build="asAWhole" buildLevel="1"
 alsoAnimate="background" reverse="false" buildAdvance="onclick"
 userSetAnimBgd="false"/><oa:buildParagraph targetElement="_x0000_s9227"
 groupID="0" build="asAWhole" buildLevel="1" alsoAnimate="background"
 reverse="false" buildAdvance="onclick" userSetAnimBgd="false"/><oa:buildParagraph
 targetElement="_x0000_s9228" groupID="0" build="asAWhole" buildLevel="1"
 reverse="false" buildAdvance="onclick" userSetAnimBgd="false"/><oa:buildParagraph
 targetElement="_x0000_s9229" groupID="0" build="asAWhole" buildLevel="1"
 reverse="false" buildAdvance="onclick" userSetAnimBgd="false"/><oa:buildParagraph
 targetElement="_x0000_s9236" groupID="0" build="asAWhole" buildLevel="1"
 alsoAnimate="background" reverse="false" buildAdvance="onclick"
 userSetAnimBgd="false"/><oa:buildParagraph targetElement="_x0000_s9237"
 groupID="0" build="asAWhole" buildLevel="1" reverse="false"
 buildAdvance="onclick" userSetAnimBgd="false"/>
<![endif]>
</body>

</html>
