<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=us-ascii">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 11">
<link id=Main-File rel=Main-File href="../CID_valle_sur_ilmc.htm">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>PIDES</title>
<meta name=Description content="22/04/2005">
<link rel=Stylesheet href="master04_stylesheet.css">
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:76% !important;}
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><p:slidetransition advancetime="0" effect="fade"
 flag="1"/>
</head>

<body lang=ES-MODERN style='margin:0px;background-color:#993300'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:755px;height:566px;font-size:16px;background-color:black;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden;filter:revealtrans(Duration=1, Transition=12)'><p:slide
 coordsize="720,540"
 colors="#993300,#ffffff,#bb5f03,#feec94,#ff9900,#b76a03,#ffffcc,#cccc00"
 masterhref="master04.xml">
 <v:background id="_x0000_s108545" o:bwmode="white" fillcolor="black"/>
 <v:shapetype id="_x0000_t202" coordsize="21600,21600" o:spt="202" path="m,l,21600r21600,l21600,xe">
  <v:stroke joinstyle="miter"/>
  <v:path gradientshapeok="t" o:connecttype="rect"/>
 </v:shapetype><v:shape id="_x0000_s108547" type="#_x0000_t202" style='position:absolute;
  left:127.5pt;top:468.5pt;width:493pt;height:64.75pt;mso-wrap-style:none;
  v-text-anchor:top-baseline' filled="f" fillcolor="white [1]" stroked="f"
  strokecolor="white [1]">
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
 </v:shape>
 <div v:shape="_x0000_s108547" class=O>
 <div style='position:absolute;top:87.63%;left:18.67%;width:79.86%;height:5.12%'><span
 style='font-family:Arial'><b>Vista Panor&aacute;mica del Valle Sur del
 Cusco,&#13;</b></span></div>
 <div style='position:absolute;top:93.1%;left:18.67%;width:79.73%;height:5.12%'><span
 style='font-family:Arial'><b>desde las alturas de Oropesa hacia Saylla</b></span></div>
 </div>
 <v:shapetype id="_x0000_t75" coordsize="21600,21600" o:spt="75"
  o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" aspectratio="t"/>
 </v:shapetype><v:shape id="_x0000_s108548" type="#_x0000_t75" style='position:absolute;
  left:0;top:96pt;width:10in;height:5in'>
  <v:imagedata src="slide0067_image001.jpg" o:title="foto93" cropbottom="17157f"
   cropright="712f"/>
 </v:shape><![if !vml]><img border=0 v:shapes="_x0000_s108548"
 src="slide0067_image002.jpg" style='position:absolute;top:17.84%;left:0%;
 width:100.0%;height:66.6%'><![endif]><v:shape id="_x0000_s108549" type="#_x0000_t202"
  style='position:absolute;left:14.125pt;top:26.25pt;width:700.25pt;height:104.375pt;
  mso-wrap-style:square' filled="f" fillcolor="#f90 [4]" stroked="f"
  strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
 </v:shape>
 <div v:shape="_x0000_s108549" class=O>
 <div style='text-align:center;mso-line-spacing:"100 0 -144"'><span
 style='position:absolute;top:4.94%;left:-2.91%;width:107.01%;height:5.83%'><span
 lang=ES-MX style='font-family:"Comic Sans MS";font-size:92%'><b>PROCESO DE
 PLANIFICACI&Oacute;N DEL DESARROLLO DE LOS </b></span></span><span
 style='position:absolute;top:9.71%;left:2.91%;width:95.36%;height:5.83%'><span
 lang=ES-MX style='font-family:"Comic Sans MS";font-size:92%'><b>DISTRITOS DEL
 VALLE SUR DEL HUATANAY&#13;</b></span></span></div>
 <div style='text-align:center;mso-line-spacing:"100 0 -144";position:absolute;
 top:18.9%;left:2.91%;width:95.36%;height:4.77%'><span style='font-family:Arial;
 font-size:92%;mso-special-format:lastCR;display:none'><b>&#13;</b></span></div>
 </div>
</p:slide></div>

</body>

</html>
