<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=us-ascii">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 11">
<link id=Main-File rel=Main-File href="../CID_valle_sur_ilmc.htm">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>PIDES</title>
<meta name=Description content="22/04/2005">
<link rel=Stylesheet href="master04_stylesheet.css">
<!--[if gte IE 5]>
<object id=MSOANIM classid="CLSID:A4639D2F-774E-11D3-A490-00C04F6843FB"></object>
<object id=MSOTIME classid="CLSID:A4639D29-774E-11D3-A490-00C04F6843FB"></object>
<![endif]-->
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:76% !important;}
-->
</style>
<style>
<!--
oa\:* { BEHAVIOR: url(#MSOANIM#ANIM) url(#MSOTIME#TIME) }
oa\:par,oa\:seq,oa\:iterate { BEHAVIOR:url(#MSOTIME) }
oa\:video,oa\:audio {BEHAVIOR:url(#MSOTIME) url(#MSOTIME#MEDIA) }
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><script><!--
g_animItemsToHide=new Array("_x0000_s131081_AllText","_x0000_s131081","_x0000_s131084_AllText","_x0000_s131084","_x0000_s131085","_x0000_s131080_AllText","_x0000_s131080","_x0000_s131079_AllText","_x0000_s131079","_x0000_s131076_AllText","_x0000_s131076");

//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><p:slidetransition advancetime="0" speed="1"
 effect="randomBar" direction="vertical" flag="1"/><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="129"/>
</o:shapelayout>
</head>

<body lang=ES-MODERN style='margin:0px;background-color:#993300'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()" oa:clockstart="onstart">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:755px;height:566px;font-size:16px;background-color:#993300;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden;filter:revealtrans(Duration=2, Transition=22)'><p:slide
 coordsize="720,540"
 colors="#993300,#ffffff,#bb5f03,#feec94,#ff9900,#b76a03,#ffffcc,#cccc00"
 masterhref="master04.xml">
 <p:shaperange href="master04.xml#_x0000_s118785"/><![if !vml]><img
 src="master04_background.gif" v:shapes="_x0000_s118785" style='position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><![endif]><![if !ppt]><p:shaperange
  href="master04.xml#_x0000_s118786"/><![if !vml]><img border=0
 v:shapes="_x0000_s118786,_x0000_s118787,_x0000_s118788,_x0000_s118789,_x0000_s118790,_x0000_s118791,_x0000_s118792,_x0000_s118793,_x0000_s118794,_x0000_s118795,_x0000_s118796,_x0000_s118797,_x0000_s118798,_x0000_s118799,_x0000_s118800,_x0000_s118801,_x0000_s118802,_x0000_s118803,_x0000_s118804"
 src="master04_image015.gif" style='position:absolute;top:0%;left:0%;
 width:100.26%;height:101.41%'><![endif]><p:shaperange
  href="master04.xml#_x0000_s118809"/>
 <div v:shape="_x0000_s118809" class=O>
 <div style='text-align:right;mso-char-wrap:1;mso-kinsoku-overflow:1;
 position:absolute;top:92.04%;left:72.71%;width:21.45%;height:3.0%'><span
 lang=ES-MODERN style='font-size:58%;text-shadow:auto;mso-field-code:meta16'>18</span><span
 lang=ES-MODERN style='font-size:58%;text-shadow:auto;mso-special-format:lastCR;
 display:none'>&#13;</span></div>
 </div>
 <![endif]><v:shapetype id="_x0000_t202" coordsize="21600,21600" o:spt="202"
  path="m,l,21600r21600,l21600,xe">
  <v:stroke joinstyle="miter"/>
  <v:path gradientshapeok="t" o:connecttype="rect"/>
 </v:shapetype><v:shape id="_x0000_s131076" type="#_x0000_t202" style='position:absolute;
  left:0;top:60.25pt;width:663.375pt;height:28.875pt' fillcolor="#930 [0]"
  stroked="f" strokecolor="white [1]">
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="2" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s131076" src="slide0078_image153.gif" style='position:absolute;
 top:11.13%;left:0%;width:92.45%;height:5.65%'><![endif]>
 <div id="_x0000_s131076_AllText" v:shape="_x0000_s131076" class=O
 style='position:absolute;top:12.01%;left:1.05%;width:90.19%;height:3.88%;
 white-space:nowrap'>
 <div style='mso-line-spacing:"100 50 0";mso-char-wrap:1;mso-kinsoku-overflow:
 1;position:absolute;top:0%;left:0%;width:100.0%;height:100.0%'><span
 lang=ES-PE style='font-family:Arial;font-size:75%'><b>LOS CDDs O
 COMIT&Eacute;S DISTRITALES DE DESARROLLO</b></span><span lang=ES-MODERN
 style='font-family:Arial;font-size:75%;mso-special-format:lastCR;display:none'><b>&#13;</b></span></div>
 </div>
 <v:shape id="_x0000_s131078" type="#_x0000_t202" style='position:absolute;
  left:-2.875pt;top:3.5pt;width:722.875pt;height:40.875pt' fillcolor="#930 [0]"
  stroked="f" strokecolor="white [1]">
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
 </v:shape><![if !vml]><img border=0 v:shapes="_x0000_s131078"
 src="slide0078_image154.gif" style='position:absolute;top:.7%;left:-.39%;
 width:100.66%;height:7.95%'><![endif]>
 <div v:shape="_x0000_s131078" class=O style='text-align:center;position:absolute;
 top:1.59%;left:.66%;width:98.54%;height:6.0%'><span style='font-family:Arial;
 font-size:117%;text-shadow:auto;color:#FFFFCC;mso-color-index:6'><b>ESPACIOS
 DE CONCERTACION</b></span><span style='font-size:117%;text-shadow:auto;
 mso-special-format:lastCR;display:none'><b>&#13;</b></span></div>
 <v:shape id="_x0000_s131079" type="#_x0000_t202" style='position:absolute;
  left:14.125pt;top:116.875pt;width:317.5pt;height:93.75pt' filled="f"
  fillcolor="#f90 [4]" stroked="f" strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="3" delay="0" type="object" effect="wipe"
   direction="right" flag="1028"/></v:shape>
 <div id="_x0000_s131079_AllText" v:shape="_x0000_s131079" class=O
 style='position:absolute;top:22.61%;left:2.91%;width:42.25%;height:15.9%'>
 <div style='text-align:justify;mso-line-spacing:"100 50 0";mso-char-wrap:1;
 mso-kinsoku-overflow:1;position:absolute;top:0%;left:0%;width:100.0%;
 height:100.0%'><span lang=ES-MODERN style='font-family:Arial;font-size:75%'><b>El
 Plan Integral Interdistrital, en su eje de Sociedad y Cultura, prioriza la
 necesidad de conformar Comit&eacute;s Distritales de Desarrollo. </b></span></div>
 </div>
 <v:shape id="_x0000_s131080" type="#_x0000_t202" style='position:absolute;
  left:14.125pt;top:236pt;width:311.875pt;height:180.25pt' filled="f"
  fillcolor="#f90 [4]" stroked="f" strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="4" delay="0" type="object" effect="wipe" direction="down"
   flag="1028"/></v:shape>
 <div id="_x0000_s131080_AllText" v:shape="_x0000_s131080" class=O
 style='position:absolute;top:44.52%;left:2.91%;width:41.45%;height:31.97%'>
 <div style='text-align:justify;mso-line-spacing:"100 50 0";mso-char-wrap:1;
 mso-kinsoku-overflow:1;position:absolute;top:0%;left:0%;width:100.0%;
 height:100.0%'><span lang=ES-MODERN style='font-family:Arial;font-size:75%'><b>Es
 as&iacute; como en<span style='mso-spacerun:yes'>&nbsp; </span>1999 se logra
 la constituci&oacute;n de los cuatro CDDs,<span
 style='mso-spacerun:yes'>&nbsp; </span>liderados en cada caso por la autoridad
 democr&aacute;ticamente elegida, y constituidos con el fin de fortalecer la
 institucionalidad local y la participaci&oacute;n ciudadana en los cuatro
 distritos. </b></span></div>
 </div>
 <v:shape id="_x0000_s131081" type="#_x0000_t202" style='position:absolute;
  left:14.125pt;top:445.75pt;width:640.75pt;height:72.125pt' filled="f"
  fillcolor="#f90 [4]" stroked="f" strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="7" delay="0" type="object" effect="wipe"
   direction="right" flag="1028"/></v:shape>
 <div id="_x0000_s131081_AllText" v:shape="_x0000_s131081" class=O
 style='position:absolute;top:83.39%;left:2.91%;width:100.79%;height:11.83%;
 white-space:nowrap'>
 <div style='mso-line-spacing:"100 50 0";mso-char-wrap:1;mso-kinsoku-overflow:
 1'><span style='position:absolute;top:0%;left:0%;width:98.16%;height:32.83%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:75%'><b>Los Comit&eacute;s
 Distritales de Desarrollo son instancias de participaci&oacute;n </b></span></span><span
 style='position:absolute;top:34.32%;left:0%;width:100.0%;height:32.83%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:75%'><b>ciudadana en el
 gobierno local y est&aacute;n amparados por la Ley Org&aacute;nica </b></span></span><span
 style='position:absolute;top:68.65%;left:0%;width:86.46%;height:32.83%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:75%'><b>de Municipalidades </b></span></span></div>
 </div>
 <v:group id="_x0000_s131085" style='position:absolute;left:337.25pt;top:139.625pt;
  width:374.25pt;height:249.5pt' coordorigin="2698,1117" coordsize="2994,1996">
  <v:rect id="_x0000_s131083" style='position:absolute;left:2698;top:1117;
   width:2994;height:1996;mso-wrap-style:none;v-text-anchor:middle' filled="f"
   fillcolor="white [1]" strokecolor="#f90 [4]">
   <v:shadow color="#bb5f03 [2]"/>
  </v:rect><v:shapetype id="_x0000_t75" coordsize="21600,21600" o:spt="75"
   o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
   <v:stroke joinstyle="miter"/>
   <v:formulas>
    <v:f eqn="if lineDrawn pixelLineWidth 0"/>
    <v:f eqn="sum @0 1 0"/>
    <v:f eqn="sum 0 0 @1"/>
    <v:f eqn="prod @2 1 2"/>
    <v:f eqn="prod @3 21600 pixelWidth"/>
    <v:f eqn="prod @3 21600 pixelHeight"/>
    <v:f eqn="sum @0 0 1"/>
    <v:f eqn="prod @6 1 2"/>
    <v:f eqn="prod @7 21600 pixelWidth"/>
    <v:f eqn="sum @8 21600 0"/>
    <v:f eqn="prod @7 21600 pixelHeight"/>
    <v:f eqn="sum @10 21600 0"/>
   </v:formulas>
   <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
   <o:lock v:ext="edit" aspectratio="t"/>
  </v:shapetype><v:shape id="_x0000_s131082" type="#_x0000_t75" style='position:absolute;
   left:2743;top:1162;width:2903;height:1885'>
   <v:imagedata src="slide0078_image155.jpg" o:title="CDD-LUCRE" cropright="6907f"
    gain="112993f" blacklevel="-3932f"/>
  </v:shape><p:animation number="5" delay="0" type="object" effect="randomBar"
   direction="horizontal" flag="17412"/></v:group><![if !vml]><img border=0
 v:shapes="_x0000_s131085,_x0000_s131083,_x0000_s131082"
 src="slide0078_image156.gif" style='position:absolute;top:25.79%;left:46.75%;
 width:52.31%;height:46.64%'><![endif]><v:shape id="_x0000_s131084" type="#_x0000_t202"
  style='position:absolute;left:584.375pt;top:389.125pt;width:132.875pt;
  height:21.625pt;mso-wrap-style:none;v-text-anchor:top-baseline' filled="f"
  fillcolor="#f90 [4]" stroked="f" strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="6" delay="0" type="object" effect="wipe"
   direction="right" flag="1028"/></v:shape>
 <div id="_x0000_s131084_AllText" v:shape="_x0000_s131084" class=O
 style='position:absolute;top:72.96%;left:82.11%;width:19.86%;height:2.65%;
 white-space:nowrap'>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><span lang=ES-MODERN
 style='font-family:Arial;font-size:50%'>TALLER CDD LUCRE</span></div>
 </div>
</p:slide></div>

<p:animation number="618999288"/><oa:par id="TimeNode0" dur="indefinite"
 restart="never" p:nodeType="timingRoot">
 <oa:seq id="TimeNode1" dur="indefinite" prev="document.onpptprev"
  next="document.onpptnext" concurrent="enabled" nextAction="seek"
  p:nodeType="mainSeq">
  <oa:par id="TimeNode2" begin="indefinite;TimeNode1.onbegin" fill="hold">
   <oa:par id="TimeNode3" begin="0.0" fill="hold">
    <oa:par id="TimeNode4" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode5" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s131076" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode6" dur="2.0" targetElement="_x0000_s131076"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode7" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode8" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s131076_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode9" dur="2.0"
      targetElement="_x0000_s131076_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode10" begin="2.0" fill="hold">
    <oa:par id="TimeNode11" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode12" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s131079" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode13" dur="2.0" targetElement="_x0000_s131079"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode14" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode15" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s131079_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode16" dur="2.0"
      targetElement="_x0000_s131079_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode17" begin="4.0" fill="hold">
    <oa:par id="TimeNode18" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x1" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode19" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s131080" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode20" dur="2.0" targetElement="_x0000_s131080"
      transition="in" filter="wipe(up)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode21" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x1" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode22" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s131080_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode23" dur="2.0"
      targetElement="_x0000_s131080_AllText" transition="in" filter="wipe(up)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode24" begin="6.0" fill="hold">
    <oa:par id="TimeNode25" o:presetID="ppt_14" o:presetClass="entrance"
     o:presetSubType="0xA" begin="0.0" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode26" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s131085" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode27" dur="0.5" targetElement="_x0000_s131085"
      transition="in" filter="randombar(horizontal)"/>
    </oa:par>
   </oa:par>
   <oa:par id="TimeNode28" begin="6.5" fill="hold">
    <oa:par id="TimeNode29" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode30" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s131084" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode31" dur="0.5" targetElement="_x0000_s131084"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode32" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode33" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s131084_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode34" dur="0.5"
      targetElement="_x0000_s131084_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode35" begin="7.0" fill="hold">
    <oa:par id="TimeNode36" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode37" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s131081" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode38" dur="1.0" targetElement="_x0000_s131081"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode39" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode40" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s131081_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode41" dur="1.0"
      targetElement="_x0000_s131081_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
  </oa:par>
 </oa:seq>
</oa:par>
<![if ppt]>
<oa:buildParagraph targetElement="_x0000_s131076" groupID="0" build="asAWhole"
 buildLevel="1" alsoAnimate="background" reverse="false" buildAdvance="onclick"
 userSetAnimBgd="false"/><oa:buildParagraph targetElement="_x0000_s131079"
 groupID="0" build="asAWhole" buildLevel="1" reverse="false"
 buildAdvance="onclick" userSetAnimBgd="false"/><oa:buildParagraph
 targetElement="_x0000_s131080" groupID="0" build="asAWhole" buildLevel="1"
 reverse="false" buildAdvance="onclick" userSetAnimBgd="false"/><oa:buildParagraph
 targetElement="_x0000_s131081" groupID="0" build="asAWhole" buildLevel="1"
 reverse="false" buildAdvance="onclick" userSetAnimBgd="false"/><oa:buildParagraph
 targetElement="_x0000_s131084" groupID="0" build="asAWhole" buildLevel="1"
 reverse="false" buildAdvance="onclick" userSetAnimBgd="false"/>
<![endif]>
</body>

</html>
