<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=us-ascii">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 11">
<link id=Main-File rel=Main-File href="../CID_valle_sur_ilmc.htm">
<link rel=Preview href=preview.wmf>
<link rel=OLE-Object-Data href=oledata.mso>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>PIDES</title>
<meta name=Description content="22/04/2005">
<link rel=Stylesheet href="master04_stylesheet.css">
<!--[if gte IE 5]>
<object id=MSOANIM classid="CLSID:A4639D2F-774E-11D3-A490-00C04F6843FB"></object>
<object id=MSOTIME classid="CLSID:A4639D29-774E-11D3-A490-00C04F6843FB"></object>
<![endif]-->
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:76% !important;}
-->
</style>
<style>
<!--
oa\:* { BEHAVIOR: url(#MSOANIM#ANIM) url(#MSOTIME#TIME) }
oa\:par,oa\:seq,oa\:iterate { BEHAVIOR:url(#MSOTIME) }
oa\:video,oa\:audio {BEHAVIOR:url(#MSOTIME) url(#MSOTIME#MEDIA) }
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><script><!--
g_animItemsToHide=new Array("_x0000_s7176_AllText","_x0000_s7176","_x0000_s7178_AllText","_x0000_s7178","_x0000_s7175_AllText","_x0000_s7175","_x0000_s7174_AllText","_x0000_s7174","_x0000_s7173_AllText","_x0000_s7173","_x0000_s7180_AllText","_x0000_s7180","_x0000_s7177_AllText","_x0000_s7177","_x0000_s7179_AllText","_x0000_s7179","_x0000_s7172","_x0000_s7181_AllText","_x0000_s7181","_x0000_s7171_AllText","_x0000_s7171");

//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><p:slidetransition advancetime="0" speed="1"
 effect="randomBar" direction="vertical" flag="1"/><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="7,8"/>
</o:shapelayout>
</head>

<body lang=ES-MODERN style='margin:0px;background-color:#993300'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()" oa:clockstart="onstart">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:755px;height:566px;font-size:16px;background-color:#993300;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden;filter:revealtrans(Duration=2, Transition=22)'><p:slide
 coordsize="720,540"
 colors="#993300,#ffffff,#bb5f03,#feec94,#ff9900,#b76a03,#ffffcc,#cccc00"
 masterhref="master04.xml">
 <p:shaperange href="master04.xml#_x0000_s118785"/><![if !vml]><img
 src="master04_background.gif" v:shapes="_x0000_s118785" style='position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><![endif]><![if !ppt]><p:shaperange
  href="master04.xml#_x0000_s118786"/><![if !vml]><img border=0
 v:shapes="_x0000_s118786,_x0000_s118787,_x0000_s118788,_x0000_s118789,_x0000_s118790,_x0000_s118791,_x0000_s118792,_x0000_s118793,_x0000_s118794,_x0000_s118795,_x0000_s118796,_x0000_s118797,_x0000_s118798,_x0000_s118799,_x0000_s118800,_x0000_s118801,_x0000_s118802,_x0000_s118803,_x0000_s118804"
 src="master04_image015.gif" style='position:absolute;top:0%;left:0%;
 width:100.26%;height:101.41%'><![endif]><p:shaperange
  href="master04.xml#_x0000_s118809"/>
 <div v:shape="_x0000_s118809" class=O>
 <div style='text-align:right;mso-char-wrap:1;mso-kinsoku-overflow:1;
 position:absolute;top:92.04%;left:72.71%;width:21.45%;height:3.0%'><span
 lang=ES-MODERN style='font-size:58%;text-shadow:auto;mso-field-code:meta16'>6</span><span
 lang=ES-MODERN style='font-size:58%;text-shadow:auto;mso-special-format:lastCR;
 display:none'>&#13;</span></div>
 </div>
 <![endif]><v:shapetype id="_x0000_t202" coordsize="21600,21600" o:spt="202"
  path="m,l,21600r21600,l21600,xe">
  <v:stroke joinstyle="miter"/>
  <v:path gradientshapeok="t" o:connecttype="rect"/>
 </v:shapetype><v:shape id="_x0000_s7171" type="#_x0000_t202" style='position:absolute;
  left:18pt;top:18pt;width:557.5pt;height:45.625pt' filled="f" fillcolor="#f90 [4]"
  stroked="f" strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="2" delay="0" type="object" effect="wipe"
   direction="right" flag="1028"/></v:shape>
 <div id="_x0000_s7171_AllText" v:shape="_x0000_s7171" class=O
 style='position:absolute;top:4.41%;left:-1.58%;width:85.82%;height:6.89%;
 white-space:nowrap'>
 <div style='text-align:center;mso-line-spacing:"100 50 0";position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><span style='font-family:Arial;
 font-size:133%'><b>Tiene una perspectiva</b></span><span style='font-size:
 133%'><b> </b></span><span style='font-size:133%;text-shadow:auto;color:yellow'><b>INTEGRAL</b></span><span
 style='text-shadow:auto;color:yellow;mso-special-format:lastCR;display:none'><b>&#13;</b></span></div>
 </div>
 <v:shapetype id="_x0000_t75" coordsize="21600,21600" o:spt="75"
  o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" aspectratio="t"/>
 </v:shapetype><v:shape id="_x0000_s7172" type="#_x0000_t75" style='position:absolute;
  left:366pt;top:240pt;width:114.875pt;height:121pt'>
  <v:imagedata src="slide0006_image023.wmz" o:title="" cropright="27846f"/>
  <p:animation number="4" delay="0" type="object" effect="cut"
   direction="noBlack" buildby="char" flag="17412"/></v:shape><o:OLEObject
  Type="Embed" ProgID="MS_ClipArt_Gallery.2" ShapeID="_x0000_s7172"
  DrawAspect="Content" ObjectID="3">
  <p:oleclientdata subtype="clipart" menuname="Imagen"
   clipboardname="Galer&#237;a de im&#225;genes de Microsoft"/></o:OLEObject>
 <![if !vml]><img border=0 v:shapes="_x0000_s7172" src="slide0006_image024.gif"
 style='position:absolute;top:44.52%;left:50.86%;width:15.89%;height:22.43%'><![endif]><v:shapetype
  id="_x0000_t66" coordsize="21600,21600" o:spt="66" adj="5400,5400" path="m@0,l@0@1,21600@1,21600@2@0@2@0,21600,,10800xe">
  <v:stroke joinstyle="miter"/>
  <v:formulas>
   <v:f eqn="val #0"/>
   <v:f eqn="val #1"/>
   <v:f eqn="sum 21600 0 #1"/>
   <v:f eqn="prod #0 #1 10800"/>
   <v:f eqn="sum #0 0 @3"/>
  </v:formulas>
  <v:path o:connecttype="custom" o:connectlocs="@0,0;0,10800;@0,21600;21600,10800"
   o:connectangles="270,180,90,0" textboxrect="@4,@1,21600,@2"/>
  <v:handles>
   <v:h position="#0,#1" xrange="0,21600" yrange="0,10800"/>
  </v:handles>
 </v:shapetype><v:shape id="_x0000_s7173" type="#_x0000_t66" style='position:absolute;
  left:474pt;top:378pt;width:132pt;height:60pt;rotation:2702407fd;
  mso-wrap-style:none;v-text-anchor:middle' fillcolor="black" strokecolor="#c00">
  <v:shadow color="#bb5f03 [2]"/>
  <p:animation number="8" delay="0" type="object" effect="wipe" direction="up"
   flag="17412"/></v:shape><![if !ppt]>
 <div style='position:absolute;top:67.13%;left:67.94%;width:15.62%;height:18.9%;
 visibility:hidden' onfilterchange="javascript:TickHandler()"><![endif]><![if !ppt]><img
 border=0 v:shapes="_x0000_s7173" src="slide0006_image025.gif"
 alt="Flecha izquierda: CULTURA" style='position:absolute;top:0%;left:0%;
 width:100.0%;height:100.0%'><![endif]>
 <div v:shape="_x0000_s7173" class=O style='text-align:center;position:absolute;
 top:36.44%;left:5.93%;width:91.52%;height:18.69%;visibility:hidden'><span
 style='font-size:67%'><b>CULTURA</b></span><span style='mso-special-format:
 lastCR;display:none'>&#13;</span></div>
 <![if !ppt]></div>
 <![endif]><![if !ppt]>
 <div id="_x0000_s7173_AllText" style='position:absolute;top:67.13%;left:67.94%;
 width:15.62%;height:18.9%'><img border=0 src="dsld0006_image026.gif"
 style='position:absolute;top:0%;left:0%;width:100.0%;height:100.0%'></div>
 <![endif]><v:shape id="_x0000_s7174" type="#_x0000_t66" style='position:absolute;
  left:354pt;top:426pt;width:132pt;height:60pt;rotation:5921600fd;
  mso-wrap-style:none;v-text-anchor:middle' fillcolor="black" strokecolor="#c00">
  <v:shadow color="#bb5f03 [2]"/>
  <p:animation number="9" delay="0" type="object" effect="wipe" direction="up"
   flag="17412"/></v:shape><![if !ppt]>
 <div style='position:absolute;top:72.08%;left:54.03%;width:9.0%;height:25.08%;
 visibility:hidden' onfilterchange="javascript:TickHandler()"><![endif]><![if !ppt]><img
 border=0 v:shapes="_x0000_s7174" src="slide0006_image027.gif"
 alt="Flecha izquierda: IDENTIDAD" style='position:absolute;top:0%;left:0%;
 width:100.0%;height:100.0%'><![endif]>
 <div v:shape="_x0000_s7174" class=O style='text-align:center;position:absolute;
 top:42.95%;left:-26.47%;width:170.58%;height:14.08%;visibility:hidden'><span
 style='font-size:67%'><b>IDENTIDAD</b></span><span style='mso-special-format:
 lastCR;display:none'>&#13;</span></div>
 <![if !ppt]></div>
 <![endif]><![if !ppt]>
 <div id="_x0000_s7174_AllText" style='position:absolute;top:72.08%;left:54.03%;
 width:9.0%;height:25.08%'><img border=0 src="dsld0006_image028.gif"
 style='position:absolute;top:0%;left:0%;width:100.0%;height:100.0%'></div>
 <![endif]><v:shape id="_x0000_s7175" type="#_x0000_t66" style='position:absolute;
  left:222pt;top:378pt;width:2in;height:60pt;rotation:2470369fd;flip:x;
  mso-wrap-style:none;v-text-anchor:middle' fillcolor="black" strokecolor="#c00">
  <v:shadow color="#bb5f03 [2]"/>
  <p:animation number="10" delay="0" type="object" effect="wipe" direction="up"
   flag="17412"/></v:shape><![if !ppt]>
 <div style='position:absolute;top:66.96%;left:31.52%;width:17.61%;height:19.43%;
 visibility:hidden' onfilterchange="javascript:TickHandler()"><![endif]><![if !ppt]><img
 border=0 v:shapes="_x0000_s7175" src="slide0006_image029.gif"
 alt="Flecha izquierda: SERVICIOS" style='position:absolute;top:0%;left:0%;
 width:100.0%;height:100.0%'><![endif]>
 <div v:shape="_x0000_s7175" class=O style='text-align:center;position:absolute;
 top:36.36%;left:2.25%;width:89.47%;height:18.18%;visibility:hidden'><span
 style='font-size:67%'><b>SERVICIOS</b></span><span style='mso-special-format:
 lastCR;display:none'>&#13;</span></div>
 <![if !ppt]></div>
 <![endif]><![if !ppt]>
 <div id="_x0000_s7175_AllText" style='position:absolute;top:66.96%;left:31.52%;
 width:17.61%;height:19.43%'><img border=0 src="dsld0006_image030.gif"
 style='position:absolute;top:0%;left:0%;width:100.0%;height:100.0%'></div>
 <![endif]><v:shape id="_x0000_s7176" type="#_x0000_t66" style='position:absolute;
  left:240pt;top:168pt;width:132pt;height:60pt;rotation:-2311528fd;flip:x;
  mso-wrap-style:none;v-text-anchor:middle' fillcolor="black" strokecolor="#c00">
  <v:shadow color="#bb5f03 [2]"/>
  <p:animation number="12" delay="0" type="object" effect="wipe"
   direction="down" flag="17412"/></v:shape><![if !ppt]>
 <div style='position:absolute;top:27.2%;left:33.64%;width:16.68%;height:18.02%;
 visibility:hidden' onfilterchange="javascript:TickHandler()"><![endif]><![if !ppt]><img
 border=0 v:shapes="_x0000_s7176" src="slide0006_image031.gif"
 alt="Flecha izquierda: AMBIENTE" style='position:absolute;top:0%;left:0%;
 width:100.0%;height:100.0%'><![endif]>
 <div v:shape="_x0000_s7176" class=O style='text-align:center;position:absolute;
 top:44.11%;left:3.17%;width:87.3%;height:19.6%;visibility:hidden'><span
 style='font-size:67%'><b>AMBIENTE</b></span><span style='mso-special-format:
 lastCR;display:none'>&#13;</span></div>
 <![if !ppt]></div>
 <![endif]><![if !ppt]>
 <div id="_x0000_s7176_AllText" style='position:absolute;top:27.2%;left:33.64%;
 width:16.68%;height:18.02%'><img border=0 src="dsld0006_image032.gif"
 style='position:absolute;top:0%;left:0%;width:100.0%;height:100.0%'></div>
 <![endif]><v:shape id="_x0000_s7177" type="#_x0000_t66" style='position:absolute;
  left:468pt;top:156pt;width:132pt;height:60pt;rotation:-2390273fd;
  mso-wrap-style:none;v-text-anchor:middle' fillcolor="black" strokecolor="#c00">
  <v:shadow color="#bb5f03 [2]"/>
  <p:animation number="6" delay="0" type="object" effect="wipe" direction="down"
   flag="17412"/></v:shape><![if !ppt]>
 <div style='position:absolute;top:24.73%;left:66.62%;width:16.55%;height:18.19%;
 visibility:hidden' onfilterchange="javascript:TickHandler()"><![endif]><![if !ppt]><img
 border=0 v:shapes="_x0000_s7177" src="slide0006_image033.gif"
 alt="Flecha izquierda: HABITAT" style='position:absolute;top:0%;left:0%;
 width:100.0%;height:100.0%'><![endif]>
 <div v:shape="_x0000_s7177" class=O style='text-align:center;position:absolute;
 top:44.66%;left:8.79%;width:86.4%;height:19.41%;visibility:hidden'><span
 style='font-size:67%'><b>HABITAT</b></span><span style='mso-special-format:
 lastCR;display:none'>&#13;</span></div>
 <![if !ppt]></div>
 <![endif]><![if !ppt]>
 <div id="_x0000_s7177_AllText" style='position:absolute;top:24.73%;left:66.62%;
 width:16.55%;height:18.19%'><img border=0 src="dsld0006_image034.gif"
 style='position:absolute;top:0%;left:0%;width:100.0%;height:100.0%'></div>
 <![endif]><v:shape id="_x0000_s7178" type="#_x0000_t66" style='position:absolute;
  left:186pt;top:270pt;width:150pt;height:60pt;flip:x;mso-wrap-style:none;
  v-text-anchor:middle' fillcolor="black" strokecolor="#c00">
  <v:shadow color="#bb5f03 [2]"/>
  <p:animation number="11" delay="0" type="object" effect="wipe"
   direction="right" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s7178" src="slide0006_image035.gif"
 alt="Flecha izquierda: EDUCACION" style='position:absolute;top:49.82%;
 left:25.82%;width:21.32%;height:11.83%'><![endif]>
 <div id="_x0000_s7178_AllText" v:shape="_x0000_s7178" class=O
 style='position:absolute;top:54.06%;left:26.88%;width:16.55%;height:3.53%;
 white-space:nowrap'>
 <div style='text-align:center;position:absolute;top:0%;left:0%;width:100.0%;
 height:100.0%'><span style='font-size:67%'><b>EDUCACION</b></span><span
 style='mso-special-format:lastCR;display:none'>&#13;</span></div>
 </div>
 <v:shape id="_x0000_s7179" type="#_x0000_t66" style='position:absolute;left:354pt;
  top:120pt;width:132pt;height:60pt;rotation:-5889674fd;mso-wrap-style:none;
  v-text-anchor:middle' fillcolor="black" strokecolor="#c00">
  <v:shadow color="#bb5f03 [2]"/>
  <p:animation number="5" delay="0" type="object" effect="wipe" direction="down"
   flag="17412"/></v:shape><![if !ppt]>
 <div style='position:absolute;top:15.37%;left:54.03%;width:9.0%;height:25.08%;
 visibility:hidden' onfilterchange="javascript:TickHandler()"><![endif]><![if !ppt]><img
 border=0 v:shapes="_x0000_s7179" src="slide0006_image036.gif"
 alt="Flecha izquierda: TRABAJO" style='position:absolute;top:0%;left:0%;
 width:100.0%;height:100.0%'><![endif]>
 <div v:shape="_x0000_s7179" class=O style='text-align:center;position:absolute;
 top:42.95%;left:-19.11%;width:158.82%;height:14.08%;visibility:hidden'><span
 style='font-size:67%'><b>TRABAJO</b></span><span style='mso-special-format:
 lastCR;display:none'>&#13;</span></div>
 <![if !ppt]></div>
 <![endif]><![if !ppt]>
 <div id="_x0000_s7179_AllText" style='position:absolute;top:15.37%;left:54.03%;
 width:9.0%;height:25.08%'><img border=0 src="dsld0006_image037.gif"
 style='position:absolute;top:0%;left:0%;width:100.0%;height:100.0%'></div>
 <![endif]><v:shape id="_x0000_s7180" type="#_x0000_t66" style='position:absolute;
  left:510pt;top:264pt;width:132pt;height:60pt;mso-wrap-style:none;
  v-text-anchor:middle' fillcolor="black" strokecolor="#c00">
  <v:shadow color="#bb5f03 [2]"/>
  <p:animation number="7" delay="0" type="object" effect="wipe" direction="left"
   flag="17412"/></v:shape><![if !vml]><img border=0 v:shapes="_x0000_s7180"
 src="slide0006_image038.gif" style='position:absolute;top:48.58%;left:70.72%;
 width:18.8%;height:11.83%'><![endif]>
 <div id="_x0000_s7180_AllText" v:shape="_x0000_s7180" class=O
 style='position:absolute;top:52.82%;left:73.9%;width:14.3%;height:3.53%;
 white-space:nowrap'>
 <div style='text-align:center;position:absolute;top:0%;left:0%;width:100.0%;
 height:100.0%'><span style='font-size:67%'><b>SALUD</b></span><span
 style='mso-special-format:lastCR;display:none'>&#13;</span></div>
 </div>
 <v:shape id="_x0000_s7181" type="#_x0000_t202" style='position:absolute;
  left:42.5pt;top:77.25pt;width:249.5pt;height:91.25pt' filled="f" fillcolor="#f90 [4]"
  stroked="f" strokecolor="white [1]">
  <v:fill color2="#930 [0]"/>
  <v:shadow color="#bb5f03 [2]"/>
  <v:textbox style='mso-fit-shape-to-text:t'/>
  <p:animation number="3" delay="0" type="object" effect="wipe"
   direction="right" flag="1028"/></v:shape>
 <div id="_x0000_s7181_AllText" v:shape="_x0000_s7181" class=O
 style='position:absolute;top:15.19%;left:6.88%;width:39.07%;height:15.37%;
 white-space:nowrap'>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;
 top:0%;left:0%;width:100.0%;height:27.58%'><span style='font-family:Arial;
 font-size:83%'><b>Porque abarca todos los &#13;</b></span></div>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;
 top:28.73%;left:0%;width:96.61%;height:27.58%'><span style='font-family:Arial;
 font-size:83%'><b>sectores de la sociedad</b></span><span style='font-family:
 Arial;font-size:83%;display:none'>&#13;</span></div>
 <div style='mso-line-spacing:"100 50 0";mso-char-wrap:1;mso-kinsoku-overflow:
 1;position:absolute;top:72.41%;left:0%;width:83.72%;height:27.58%'><span
 lang=ES-MODERN style='font-family:Arial;font-size:83%;mso-special-format:lastCR;
 display:none'>&#13;</span></div>
 </div>
</p:slide></div>

<p:animation number="155509543"/><oa:par id="TimeNode0" dur="indefinite"
 restart="never" p:nodeType="timingRoot">
 <oa:seq id="TimeNode1" dur="indefinite" prev="document.onpptprev"
  next="document.onpptnext" concurrent="enabled" nextAction="seek"
  p:nodeType="mainSeq">
  <oa:par id="TimeNode2" begin="indefinite;TimeNode1.onbegin" fill="hold">
   <oa:par id="TimeNode3" begin="0.0" fill="hold">
    <oa:par id="TimeNode4" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode5" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s7171" attributeName="style.visibility" to="visible"/>
     <oa:animateFilter id="TimeNode6" dur="2.0" targetElement="_x0000_s7171"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode7" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode8" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s7171_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode9" dur="2.0"
      targetElement="_x0000_s7171_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode10" begin="2.0" fill="hold">
    <oa:par id="TimeNode11" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode12" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s7181" attributeName="style.visibility" to="visible"/>
     <oa:animateFilter id="TimeNode13" dur="2.0" targetElement="_x0000_s7181"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode14" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode15" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s7181_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode16" dur="2.0"
      targetElement="_x0000_s7181_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode17" begin="4.0" fill="hold">
    <oa:iterate targetElement="_x0000_s7172" id="TimeNode18" o:presetID="ppt_31"
     o:presetClass="entrance" o:presetSubType="0x0" begin="0.0" fill="hold"
     p:nodeType="afterEffect" iterateType="byLetter" iterateInterval="5.0%">
     <oa:set id="TimeNode19" begin="0.0" dur="0.001" fill="hold"
      attributeName="style.visibility" to="visible"/>
     <oa:animate id="TimeNode20" dur="1.0" fill="hold" attributeName="ppt_w"
      calcmode="linear" valueType="number" keyTimes="0.0;1.0"
      values="0.0;#ppt_w"/>
     <oa:animate id="TimeNode21" dur="1.0" fill="hold" attributeName="ppt_h"
      calcmode="linear" valueType="number" keyTimes="0.0;1.0"
      values="0.0;#ppt_h"/>
     <oa:animate id="TimeNode22" dur="1.0" fill="hold"
      attributeName="style.rotation" calcmode="linear" valueType="number"
      keyTimes="0.0;1.0" values="90.0;0.0"/>
     <oa:animateFilter id="TimeNode23" dur="1.0" transition="in" filter="fade"/>
    </oa:iterate>
   </oa:par>
   <oa:par id="TimeNode24" begin="5.0" fill="hold">
    <oa:par id="TimeNode25" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x1" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode26" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s7179" attributeName="style.visibility" to="visible"/>
     <oa:animateFilter id="TimeNode27" dur="0.5" targetElement="_x0000_s7179"
      transition="in" filter="wipe(up)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode28" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x1" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode29" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s7179_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode30" dur="0.5"
      targetElement="_x0000_s7179_AllText" transition="in" filter="wipe(up)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode31" begin="5.5" fill="hold">
    <oa:par id="TimeNode32" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x1" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode33" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s7177" attributeName="style.visibility" to="visible"/>
     <oa:animateFilter id="TimeNode34" dur="0.5" targetElement="_x0000_s7177"
      transition="in" filter="wipe(up)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode35" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x1" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode36" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s7177_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode37" dur="0.5"
      targetElement="_x0000_s7177_AllText" transition="in" filter="wipe(up)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode38" begin="6.0" fill="hold">
    <oa:par id="TimeNode39" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x2" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode40" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s7180" attributeName="style.visibility" to="visible"/>
     <oa:animateFilter id="TimeNode41" dur="1.0" targetElement="_x0000_s7180"
      transition="in" filter="wipe(right)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode42" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x2" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode43" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s7180_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode44" dur="1.0"
      targetElement="_x0000_s7180_AllText" transition="in" filter="wipe(right)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode45" begin="7.0" fill="hold">
    <oa:par id="TimeNode46" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x4" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode47" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s7173" attributeName="style.visibility" to="visible"/>
     <oa:animateFilter id="TimeNode48" dur="1.0" targetElement="_x0000_s7173"
      transition="in" filter="wipe(down)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode49" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x4" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode50" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s7173_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode51" dur="1.0"
      targetElement="_x0000_s7173_AllText" transition="in" filter="wipe(down)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode52" begin="8.0" fill="hold">
    <oa:par id="TimeNode53" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x4" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode54" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s7174" attributeName="style.visibility" to="visible"/>
     <oa:animateFilter id="TimeNode55" dur="1.0" targetElement="_x0000_s7174"
      transition="in" filter="wipe(down)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode56" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x4" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode57" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s7174_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode58" dur="1.0"
      targetElement="_x0000_s7174_AllText" transition="in" filter="wipe(down)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode59" begin="9.0" fill="hold">
    <oa:par id="TimeNode60" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x4" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode61" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s7175" attributeName="style.visibility" to="visible"/>
     <oa:animateFilter id="TimeNode62" dur="1.0" targetElement="_x0000_s7175"
      transition="in" filter="wipe(down)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode63" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x4" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode64" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s7175_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode65" dur="1.0"
      targetElement="_x0000_s7175_AllText" transition="in" filter="wipe(down)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode66" begin="10.0" fill="hold">
    <oa:par id="TimeNode67" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x8" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode68" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s7178" attributeName="style.visibility" to="visible"/>
     <oa:animateFilter id="TimeNode69" dur="1.0" targetElement="_x0000_s7178"
      transition="in" filter="wipe(left)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode70" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x8" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode71" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s7178_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode72" dur="1.0"
      targetElement="_x0000_s7178_AllText" transition="in" filter="wipe(left)"/>
    </oa:par>
    <![endif]></oa:par>
   <oa:par id="TimeNode73" begin="11.0" fill="hold">
    <oa:par id="TimeNode74" o:presetID="ppt_22" o:presetClass="entrance"
     o:presetSubType="0x1" begin="0.0" fill="hold" o:groupID="0"
     p:nodeType="afterEffect">
     <oa:set id="TimeNode75" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s7176" attributeName="style.visibility" to="visible"/>
     <oa:animateFilter id="TimeNode76" dur="0.5" targetElement="_x0000_s7176"
      transition="in" filter="wipe(up)"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode77" o:presetID="ppt_22"
     o:presetClass="entrance" o:presetSubType="0x1" begin="0.0" fill="hold"
     p:nodeType="withEffect">
     <oa:set id="TimeNode78" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s7176_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode79" dur="0.5"
      targetElement="_x0000_s7176_AllText" transition="in" filter="wipe(up)"/>
    </oa:par>
    <![endif]></oa:par>
  </oa:par>
 </oa:seq>
</oa:par>
<![if ppt]>
<oa:buildParagraph targetElement="_x0000_s7171" groupID="0" build="asAWhole"
 buildLevel="1" reverse="false" buildAdvance="onclick" userSetAnimBgd="false"/><oa:buildParagraph
 targetElement="_x0000_s7173" groupID="0" build="asAWhole" buildLevel="1"
 alsoAnimate="background" reverse="false" buildAdvance="onclick"
 userSetAnimBgd="false"/><oa:buildParagraph targetElement="_x0000_s7174"
 groupID="0" build="asAWhole" buildLevel="1" alsoAnimate="background"
 reverse="false" buildAdvance="onclick" userSetAnimBgd="false"/><oa:buildParagraph
 targetElement="_x0000_s7175" groupID="0" build="asAWhole" buildLevel="1"
 alsoAnimate="background" reverse="false" buildAdvance="onclick"
 userSetAnimBgd="false"/><oa:buildParagraph targetElement="_x0000_s7176"
 groupID="0" build="asAWhole" buildLevel="1" alsoAnimate="background"
 reverse="false" buildAdvance="onclick" userSetAnimBgd="false"/><oa:buildParagraph
 targetElement="_x0000_s7177" groupID="0" build="asAWhole" buildLevel="1"
 alsoAnimate="background" reverse="false" buildAdvance="onclick"
 userSetAnimBgd="false"/><oa:buildParagraph targetElement="_x0000_s7178"
 groupID="0" build="asAWhole" buildLevel="1" alsoAnimate="background"
 reverse="false" buildAdvance="onclick" userSetAnimBgd="false"/><oa:buildParagraph
 targetElement="_x0000_s7179" groupID="0" build="asAWhole" buildLevel="1"
 alsoAnimate="background" reverse="false" buildAdvance="onclick"
 userSetAnimBgd="false"/><oa:buildParagraph targetElement="_x0000_s7180"
 groupID="0" build="asAWhole" buildLevel="1" alsoAnimate="background"
 reverse="false" buildAdvance="onclick" userSetAnimBgd="false"/><oa:buildParagraph
 targetElement="_x0000_s7181" groupID="0" build="asAWhole" buildLevel="1"
 reverse="false" buildAdvance="onclick" userSetAnimBgd="false"/>
<![endif]>
</body>

</html>
