<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 11">
<link id=Main-File rel=Main-File href="../03avances.htm">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>Diapositiva 1</title>
<meta name=Description content="24/04/2005">
<link rel=Stylesheet href="master04_stylesheet.css">
<!--[if gte IE 5]>
<object id=MSOANIM classid="CLSID:A4639D2F-774E-11D3-A490-00C04F6843FB"></object>
<object id=MSOTIME classid="CLSID:A4639D29-774E-11D3-A490-00C04F6843FB"></object>
<![endif]-->
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:76% !important;}
-->
</style>
<style>
<!--
oa\:* { BEHAVIOR: url(#MSOANIM#ANIM) url(#MSOTIME#TIME) }
oa\:par,oa\:seq,oa\:iterate { BEHAVIOR:url(#MSOTIME) }
oa\:video,oa\:audio {BEHAVIOR:url(#MSOTIME) url(#MSOTIME#MEDIA) }
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><script><!--
g_animItemsToHide=new Array("_x0000_s6146");

//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="6"/>
</o:shapelayout>
</head>

<body lang=ES-MODERN style='margin:0px;background-color:black'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()" oa:clockstart="onstart">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:755px;height:566px;font-size:16px;background-color:#A3BBA9;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden'><p:slide coordsize="720,540"
 colors="#a3bba9,#ffffff,#cdd9d1,#007d80,#9ca8a4,#cbd7ce,#009900,#009999"
 masterhref="master04.xml">
 <p:shaperange href="master04.xml#_x0000_s9217"/><![if !ppt]><p:shaperange
  href="master04.xml#_x0000_s9218"/><![if !vml]><img border=0
 v:shapes="_x0000_s9218,_x0000_s9219,_x0000_s9220,_x0000_s9222,_x0000_s9223,_x0000_s9224,_x0000_s9225,_x0000_s9226,_x0000_s9227,_x0000_s9228,_x0000_s9229,_x0000_s9230,_x0000_s9231,_x0000_s9232,_x0000_s9234,_x0000_s9235,_x0000_s9236,_x0000_s9237,_x0000_s9238,_x0000_s9239,_x0000_s9240,_x0000_s9241,_x0000_s9242,_x0000_s9243,_x0000_s9244,_x0000_s9245,_x0000_s9246,_x0000_s9247,_x0000_s9248,_x0000_s9249,_x0000_s9250,_x0000_s9251,_x0000_s9253,_x0000_s9254,_x0000_s9255,_x0000_s9256,_x0000_s9257,_x0000_s9258,_x0000_s9259,_x0000_s9260,_x0000_s9261,_x0000_s9262,_x0000_s9263,_x0000_s9264,_x0000_s9265,_x0000_s9266,_x0000_s9267,_x0000_s9268,_x0000_s9269,_x0000_s9271,_x0000_s9272,_x0000_s9273,_x0000_s9274,_x0000_s9275,_x0000_s9276,_x0000_s9277,_x0000_s9279,_x0000_s9280,_x0000_s9281,_x0000_s9282"
 src="master04_image001.gif" style='position:absolute;top:62.19%;left:0%;
 width:100.26%;height:38.16%'><![endif]><p:shaperange
  href="master04.xml#_x0000_s9285"/><p:shaperange
  href="master04.xml#_x0000_s9286"/><![endif]><v:shapetype id="_x0000_t75"
  coordsize="21600,21600" o:spt="75" o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe"
  filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" aspectratio="t"/>
 </v:shapetype><v:shape id="_x0000_s6146" type="#_x0000_t75" style='position:absolute;
  left:11.25pt;top:11.375pt;width:700.25pt;height:525.125pt'>
  <v:imagedata src="slide0005_image006.wmz" o:title="vulnerabilidad"/>
  <p:animation number="2" delay="500" type="object" effect="cut"
   direction="noBlack" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s6146" src="slide0005_image007.gif" style='position:absolute;
 top:2.12%;left:1.58%;width:97.21%;height:97.17%'><![endif]></p:slide></div>

<p:animation number="965095232"/><oa:par id="TimeNode0" dur="indefinite"
 restart="never" p:nodeType="timingRoot">
 <oa:seq id="TimeNode1" dur="indefinite" prev="document.onpptprev"
  next="document.onpptnext" concurrent="enabled" nextAction="seek"
  p:nodeType="mainSeq">
  <oa:par id="TimeNode2" begin="indefinite;TimeNode1.onbegin" fill="hold">
   <oa:par id="TimeNode3" begin="0.0" fill="hold">
    <oa:par id="TimeNode4" o:presetID="ppt_42" o:presetClass="entrance"
     o:presetSubType="0x0" begin="0.5" fill="hold" p:nodeType="withEffect">
     <oa:set id="TimeNode5" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s6146" attributeName="style.visibility" to="visible"/>
     <oa:animateFilter id="TimeNode6" dur="1.0" targetElement="_x0000_s6146"
      transition="in" filter="fade"/>
     <oa:animate id="TimeNode7" dur="1.0" fill="hold"
      targetElement="_x0000_s6146" attributeName="ppt_x" calcmode="linear"
      valueType="number" keyTimes="0.0;1.0" values="#ppt_x;#ppt_x"/>
     <oa:animate id="TimeNode8" dur="1.0" fill="hold"
      targetElement="_x0000_s6146" attributeName="ppt_y" calcmode="linear"
      valueType="number" keyTimes="0.0;1.0" values="#ppt_y+.1;#ppt_y"/>
    </oa:par>
   </oa:par>
  </oa:par>
 </oa:seq>
</oa:par>
</body>

</html>
