<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 11">
<link id=Main-File rel=Main-File href="../02fases.htm">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>Diapositiva 1</title>
<meta name=Description content="24/04/2005">
<link rel=Stylesheet href="master04_stylesheet.css">
<!--[if gte IE 5]>
<object id=MSOANIM classid="CLSID:A4639D2F-774E-11D3-A490-00C04F6843FB"></object>
<object id=MSOTIME classid="CLSID:A4639D29-774E-11D3-A490-00C04F6843FB"></object>
<![endif]-->
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:76% !important;}
-->
</style>
<style>
<!--
oa\:* { BEHAVIOR: url(#MSOANIM#ANIM) url(#MSOTIME#TIME) }
oa\:par,oa\:seq,oa\:iterate { BEHAVIOR:url(#MSOTIME) }
oa\:video,oa\:audio {BEHAVIOR:url(#MSOTIME) url(#MSOTIME#MEDIA) }
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><script><!--
g_animItemsToHide=new Array("_x0000_s3075");

//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="3"/>
</o:shapelayout>
</head>

<body lang=ES-MODERN style='margin:0px;background-color:black'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()" oa:clockstart="onstart">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:755px;height:566px;font-size:16px;background-color:#466886;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden'><p:slide coordsize="720,540"
 colors="#466886,#ffffff,#3b4b5d,#ccecff,#6d9d97,#53718c,#99ccff,#a97cf2"
 masterhref="master04.xml">
 <p:shaperange href="master04.xml#_x0000_s10241"/><![if !ppt]><p:shaperange
  href="master04.xml#_x0000_s10242"/><![if !vml]><img border=0
 v:shapes="_x0000_s10242,_x0000_s10243,_x0000_s10244,_x0000_s10246,_x0000_s10247,_x0000_s10248,_x0000_s10249,_x0000_s10250,_x0000_s10251,_x0000_s10252,_x0000_s10253,_x0000_s10254,_x0000_s10255,_x0000_s10256,_x0000_s10258,_x0000_s10259,_x0000_s10260,_x0000_s10261,_x0000_s10262,_x0000_s10263,_x0000_s10264,_x0000_s10265,_x0000_s10266,_x0000_s10267,_x0000_s10268,_x0000_s10269,_x0000_s10270,_x0000_s10271,_x0000_s10272,_x0000_s10273,_x0000_s10274,_x0000_s10275,_x0000_s10277,_x0000_s10278,_x0000_s10279,_x0000_s10280,_x0000_s10281,_x0000_s10282,_x0000_s10283,_x0000_s10284,_x0000_s10285,_x0000_s10286,_x0000_s10287,_x0000_s10288,_x0000_s10289,_x0000_s10290,_x0000_s10291,_x0000_s10292,_x0000_s10293,_x0000_s10295,_x0000_s10296,_x0000_s10297,_x0000_s10298,_x0000_s10299,_x0000_s10300,_x0000_s10301,_x0000_s10303,_x0000_s10304,_x0000_s10305,_x0000_s10306"
 src="master04_image001.gif" style='position:absolute;top:62.19%;left:0%;
 width:100.26%;height:38.16%'><![endif]><p:shaperange
  href="master04.xml#_x0000_s10309"/><p:shaperange
  href="master04.xml#_x0000_s10310"/><![endif]><v:shapetype id="_x0000_t136"
  coordsize="21600,21600" o:spt="136" adj="10800" path="m@7,l@8,m@5,21600l@6,21600e">
  <v:formulas>
   <v:f eqn="sum #0 0 10800"/>
   <v:f eqn="prod #0 2 1"/>
   <v:f eqn="sum 21600 0 @1"/>
   <v:f eqn="sum 0 0 @2"/>
   <v:f eqn="sum 21600 0 @3"/>
   <v:f eqn="if @0 @3 0"/>
   <v:f eqn="if @0 21600 @1"/>
   <v:f eqn="if @0 0 @2"/>
   <v:f eqn="if @0 @4 21600"/>
   <v:f eqn="mid @5 @6"/>
   <v:f eqn="mid @8 @5"/>
   <v:f eqn="mid @7 @8"/>
   <v:f eqn="mid @6 @7"/>
   <v:f eqn="sum @6 0 @5"/>
  </v:formulas>
  <v:path textpathok="t" o:connecttype="custom" o:connectlocs="@9,0;@10,10800;@11,21600;@12,10800"
   o:connectangles="270,180,90,0"/>
  <v:textpath on="t" fitshape="t"/>
  <v:handles>
   <v:h position="#0,bottomRight" xrange="6629,14971"/>
  </v:handles>
  <o:lock v:ext="edit" text="t" shapetype="t"/>
 </v:shapetype><v:shape id="_x0000_s3075" type="#_x0000_t136" style='position:absolute;
  left:246.625pt;top:207.625pt;width:221.125pt;height:119.125pt' fillcolor="#e6dcac">
  <v:fill color2="#e6dcac" angle="-135" colors="0 #e6dcac;7864f #e6d78a;19661f #c7ac4c;29491f #e6d78a;50463f #c7ac4c;1 #e6dcac"
   method="none" focus="100%" type="gradient"/>
  <v:shadow color="#868686"/>
  <o:extrusion v:ext="view" specularity="80000f" diffusity="43712f"
   backdepth="18pt" color="white" on="t" metal="t" viewpoint="-34.72222mm"
   viewpointorigin="-.5" skewangle="-45" brightness="10000f" lightposition="0,-50000"
   lightlevel="44000f" lightposition2="0,50000" lightlevel2="24000f" type="perspective"/>
  <v:textpath style='font-family:"Book Antiqua";font-size:48pt;font-weight:bold;
   v-text-kern:t' trim="t" fitpath="t" string="Fases"/>
  <p:animation number="2" delay="1000" type="object" effect="checker"
   direction="horizontal" flag="17412"/></v:shape><![if !vml]><img border=0
 v:shapes="_x0000_s3075" src="slide0002_image002.gif" alt=Fases
 style='position:absolute;top:37.98%;left:33.9%;width:31.39%;height:22.96%'><![endif]></p:slide></div>

<p:animation number="-1196441523"/><oa:par id="TimeNode0" dur="indefinite"
 restart="never" p:nodeType="timingRoot">
 <oa:seq id="TimeNode1" dur="indefinite" prev="document.onpptprev"
  next="document.onpptnext" concurrent="enabled" nextAction="seek"
  p:nodeType="mainSeq">
  <oa:par id="TimeNode2" begin="indefinite;TimeNode1.onbegin" fill="hold">
   <oa:par id="TimeNode3" begin="0.0" fill="hold">
    <oa:par id="TimeNode4" o:presetID="ppt_5" o:presetClass="entrance"
     o:presetSubType="0xA" begin="1.0" accelerate="0.0" decelerate="0.0"
     autoReverse="false" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode5" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s3075" attributeName="style.visibility" to="visible"/>
     <oa:animateFilter id="TimeNode6" dur="0.5" targetElement="_x0000_s3075"
      transition="in" filter="checkerboard(across)"/>
    </oa:par>
   </oa:par>
  </oa:par>
 </oa:seq>
</oa:par>
</body>

</html>
