<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 11">
<link id=Main-File rel=Main-File href="../02fases.htm">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>Diapositiva 1</title>
<meta name=Description content="24/04/2005">
<link rel=Stylesheet href="master04_stylesheet.css">
<!--[if gte IE 5]>
<object id=MSOANIM classid="CLSID:A4639D2F-774E-11D3-A490-00C04F6843FB"></object>
<object id=MSOTIME classid="CLSID:A4639D29-774E-11D3-A490-00C04F6843FB"></object>
<![endif]-->
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:76% !important;}
-->
</style>
<style>
<!--
oa\:* { BEHAVIOR: url(#MSOANIM#ANIM) url(#MSOTIME#TIME) }
oa\:par,oa\:seq,oa\:iterate { BEHAVIOR:url(#MSOTIME) }
oa\:video,oa\:audio {BEHAVIOR:url(#MSOTIME) url(#MSOTIME#MEDIA) }
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><script><!--
g_animItemsToHide=new Array("_x0000_s5122_AllText","_x0000_s5122");

//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="5"/>
</o:shapelayout>
</head>

<body lang=ES-MODERN style='margin:0px;background-color:black'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()" oa:clockstart="onstart">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:755px;height:566px;font-size:16px;background-color:#466886;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden'><p:slide coordsize="720,540"
 colors="#466886,#ffffff,#3b4b5d,#ccecff,#6d9d97,#53718c,#99ccff,#a97cf2"
 masterhref="master04.xml">
 <p:shaperange href="master04.xml#_x0000_s10241"/><![if !ppt]><p:shaperange
  href="master04.xml#_x0000_s10242"/><![if !vml]><img border=0
 v:shapes="_x0000_s10242,_x0000_s10243,_x0000_s10244,_x0000_s10246,_x0000_s10247,_x0000_s10248,_x0000_s10249,_x0000_s10250,_x0000_s10251,_x0000_s10252,_x0000_s10253,_x0000_s10254,_x0000_s10255,_x0000_s10256,_x0000_s10258,_x0000_s10259,_x0000_s10260,_x0000_s10261,_x0000_s10262,_x0000_s10263,_x0000_s10264,_x0000_s10265,_x0000_s10266,_x0000_s10267,_x0000_s10268,_x0000_s10269,_x0000_s10270,_x0000_s10271,_x0000_s10272,_x0000_s10273,_x0000_s10274,_x0000_s10275,_x0000_s10277,_x0000_s10278,_x0000_s10279,_x0000_s10280,_x0000_s10281,_x0000_s10282,_x0000_s10283,_x0000_s10284,_x0000_s10285,_x0000_s10286,_x0000_s10287,_x0000_s10288,_x0000_s10289,_x0000_s10290,_x0000_s10291,_x0000_s10292,_x0000_s10293,_x0000_s10295,_x0000_s10296,_x0000_s10297,_x0000_s10298,_x0000_s10299,_x0000_s10300,_x0000_s10301,_x0000_s10303,_x0000_s10304,_x0000_s10305,_x0000_s10306"
 src="master04_image001.gif" style='position:absolute;top:62.19%;left:0%;
 width:100.26%;height:38.16%'><![endif]><p:shaperange
  href="master04.xml#_x0000_s10309"/><p:shaperange
  href="master04.xml#_x0000_s10310"/><![endif]><v:group id="_x0000_s5122"
  style='position:absolute;left:14.125pt;top:65.875pt;width:691.75pt;height:396.875pt'
  coordsize="3592,1955" o:tableproperties="1" o:tablelimits="35.125pt 151.625pt 128.375pt 81.75pt">
  <o:lock v:ext="edit" rotation="t"/>
  <v:rect id="_x0000_s5123" style='position:absolute;left:2206;top:1552;
   width:1386;height:403' filled="f" fillcolor="#6d9d97 [4]" stroked="f"
   strokecolor="white [1]">
   <v:fill color2="#466886 [0]" alignshape="f" o:detectmouseclick="t"/>
   <v:shadow color="#3b4b5d [2]"/>
  </v:rect><v:rect id="_x0000_s5124" style='position:absolute;left:820;top:1552;
   width:1386;height:403' filled="f" fillcolor="#6d9d97 [4]" stroked="f"
   strokecolor="white [1]">
   <v:fill color2="#466886 [0]" alignshape="f" o:detectmouseclick="t"/>
   <v:shadow color="#3b4b5d [2]"/>
  </v:rect><v:rect id="_x0000_s5125" style='position:absolute;left:2206;top:920;
   width:1386;height:632' filled="f" fillcolor="#6d9d97 [4]" stroked="f"
   strokecolor="white [1]">
   <v:fill color2="#466886 [0]" alignshape="f" o:detectmouseclick="t"/>
   <v:shadow color="#3b4b5d [2]"/>
  </v:rect><v:rect id="_x0000_s5126" style='position:absolute;left:820;top:920;
   width:1386;height:632' filled="f" fillcolor="#6d9d97 [4]" stroked="f"
   strokecolor="white [1]">
   <v:fill color2="#466886 [0]" alignshape="f" o:detectmouseclick="t"/>
   <v:shadow color="#3b4b5d [2]"/>
  </v:rect><v:rect id="_x0000_s5127" style='position:absolute;left:2206;top:173;
   width:1386;height:747' filled="f" fillcolor="#6d9d97 [4]" stroked="f"
   strokecolor="white [1]">
   <v:fill color2="#466886 [0]" alignshape="f" o:detectmouseclick="t"/>
   <v:shadow color="#3b4b5d [2]"/>
  </v:rect><v:rect id="_x0000_s5128" style='position:absolute;left:820;top:173;
   width:1386;height:747' filled="f" fillcolor="#6d9d97 [4]" stroked="f"
   strokecolor="white [1]">
   <v:fill color2="#466886 [0]" alignshape="f" o:detectmouseclick="t"/>
   <v:shadow color="#3b4b5d [2]"/>
  </v:rect><v:rect id="_x0000_s5129" style='position:absolute;top:173;width:820;
   height:1782' filled="f" fillcolor="#6d9d97 [4]" stroked="f" strokecolor="white [1]">
   <v:fill color2="#466886 [0]" alignshape="f" o:detectmouseclick="t"/>
   <v:shadow color="#3b4b5d [2]"/>
  </v:rect><v:rect id="_x0000_s5130" style='position:absolute;left:2206;
   width:1386;height:173' filled="f" fillcolor="#6d9d97 [4]" stroked="f"
   strokecolor="white [1]">
   <v:fill color2="#466886 [0]" alignshape="f" o:detectmouseclick="t"/>
   <v:shadow color="#3b4b5d [2]"/>
  </v:rect><v:rect id="_x0000_s5131" style='position:absolute;left:820;width:1386;
   height:173' filled="f" fillcolor="#6d9d97 [4]" stroked="f" strokecolor="white [1]">
   <v:fill color2="#466886 [0]" alignshape="f" o:detectmouseclick="t"/>
   <v:shadow color="#3b4b5d [2]"/>
  </v:rect><v:rect id="_x0000_s5132" style='position:absolute;width:820;
   height:173' filled="f" fillcolor="#6d9d97 [4]" stroked="f" strokecolor="white [1]">
   <v:fill color2="#466886 [0]" alignshape="f" o:detectmouseclick="t"/>
   <v:shadow color="#3b4b5d [2]"/>
  </v:rect><v:line id="_x0000_s5133" style='position:absolute' from="0,0" to="3592,0"
   strokeweight="1pt">
   <v:stroke endcap="round" imagealignshape="f"/>
   <v:shadow color="#3b4b5d [2]"/>
  </v:line><v:line id="_x0000_s5134" style='position:absolute' from="0,1955"
   to="3592,1955" strokeweight="1pt">
   <v:stroke endcap="round" imagealignshape="f"/>
   <v:shadow color="#3b4b5d [2]"/>
  </v:line><v:line id="_x0000_s5135" style='position:absolute' from="0,0" to="0,1955"
   strokeweight="1pt">
   <v:stroke endcap="round" imagealignshape="f"/>
   <v:shadow color="#3b4b5d [2]"/>
  </v:line><v:line id="_x0000_s5136" style='position:absolute' from="3592,0"
   to="3592,1955" strokeweight="1pt">
   <v:stroke endcap="round" imagealignshape="f"/>
   <v:shadow color="#3b4b5d [2]"/>
  </v:line><v:line id="_x0000_s5137" style='position:absolute' from="0,173"
   to="3592,173" strokeweight="1pt">
   <v:stroke endcap="round" imagealignshape="f"/>
   <v:shadow color="#3b4b5d [2]"/>
  </v:line><v:line id="_x0000_s5138" style='position:absolute' from="820,0"
   to="820,1955" strokeweight="1pt">
   <v:stroke endcap="round" imagealignshape="f"/>
   <v:shadow color="#3b4b5d [2]"/>
  </v:line><v:line id="_x0000_s5139" style='position:absolute' from="2206,0"
   to="2206,1955" strokeweight="1pt">
   <v:stroke endcap="round" imagealignshape="f"/>
   <v:shadow color="#3b4b5d [2]"/>
  </v:line><v:line id="_x0000_s5140" style='position:absolute' from="820,920"
   to="3592,920" strokeweight="1pt">
   <v:stroke endcap="round" imagealignshape="f"/>
   <v:shadow color="#3b4b5d [2]"/>
  </v:line><v:line id="_x0000_s5141" style='position:absolute' from="820,1552"
   to="3592,1552" strokeweight="1pt">
   <v:stroke endcap="round" imagealignshape="f"/>
   <v:shadow color="#3b4b5d [2]"/>
  </v:line><p:animation number="2" delay="500" type="object" effect="cut"
   direction="noBlack" flag="17412"/></v:group><![if !ppt]>
 <div id="_x0000_s5122_AllText" style='position:absolute;top:12.19%;left:1.85%;
 width:100.26%;height:74.02%;white-space:nowrap'><![endif]><![if !vml]><img
 border=0
 v:shapes="_x0000_s5122,_x0000_s5123,_x0000_s5124,_x0000_s5125,_x0000_s5126,_x0000_s5127,_x0000_s5128,_x0000_s5129,_x0000_s5130,_x0000_s5131,_x0000_s5132,_x0000_s5133,_x0000_s5134,_x0000_s5135,_x0000_s5136,_x0000_s5137,_x0000_s5138,_x0000_s5139,_x0000_s5140,_x0000_s5141"
 src="slide0004_image003.gif" style='position:absolute;top:0%;left:0%;
 width:96.16%;height:100.0%'><![endif]>
 <div v:shape="_x0000_s5123" style='tab-stops:.25in'>
 <div class=Tbl1 style='mso-margin-left-alt:288'></div>
 <div class=Tbl2 style='mso-margin-left-alt:576'></div>
 <div class=Tbl3 style='mso-margin-left-alt:864'></div>
 <div class=Tbl4 style='mso-margin-left-alt:1152'></div>
 <div class=Tbl style='mso-line-spacing:"100 0 0";mso-margin-left-alt:0;
 position:absolute;top:79.95%;left:59.97%;width:35.13%;height:4.77%'><span
 style='position:absolute;top:0%;left:2.25%;width:97.36%;height:100.0%'><span
 style='font-size:57%'><span style='mso-special-format:bullet;color:#99CCFF;
 mso-color-index:6;position:absolute;left:-2.31%;top:.22em;font-family:Wingdings;
 font-size:80%'>§</span></span><span lang=ES-MX style='font-family:Arial;
 mso-ascii-font-family:Arial;mso-bidi-font-family:"Times New Roman";mso-hansi-font-family:
 Arial;font-size:57%'><b>Tipo </b></span><span style='font-family:Arial;
 mso-ascii-font-family:Arial;mso-bidi-font-family:"Times New Roman";mso-hansi-font-family:
 Arial;font-size:57%;display:none'><b>&#13;</b></span></span></div>
 <div class=Tbl style='mso-line-spacing:"100 0 0";mso-margin-left-alt:0;
 mso-char-wrap:0;mso-kinsoku-overflow:0;position:absolute;top:84.96%;
 left:59.97%;width:35.13%;height:4.77%'><span style='position:absolute;
 top:0%;left:2.25%;width:97.36%;height:100.0%'><span style='font-size:57%'><span
 style='mso-special-format:bullet;color:#99CCFF;mso-color-index:6;position:
 absolute;left:-2.31%;top:.22em;font-family:Wingdings;font-size:80%'>§</span></span><span
 lang=ES-MX style='font-family:Arial;mso-ascii-font-family:Arial;mso-bidi-font-family:
 "Times New Roman";mso-hansi-font-family:Arial;font-size:57%'><b>Volumen</b></span><span
 style='font-family:Arial;mso-ascii-font-family:Arial;mso-bidi-font-family:
 "Times New Roman";mso-hansi-font-family:Arial;font-size:57%;display:none'><b>&#13;</b></span></span></div>
 <div class=Tbl style='mso-line-spacing:"100 0 0";mso-margin-left-alt:0;
 mso-char-wrap:0;mso-kinsoku-overflow:0;position:absolute;top:89.73%;
 left:59.97%;width:35.13%;height:4.77%'><span style='position:absolute;
 top:0%;left:2.25%;width:97.36%;height:100.0%'><span style='font-size:57%'><span
 style='mso-special-format:bullet;color:#99CCFF;mso-color-index:6;position:
 absolute;left:-2.31%;top:.22em;font-family:Wingdings;font-size:80%'>§</span></span><span
 lang=ES-MX style='font-family:Arial;mso-ascii-font-family:Arial;mso-bidi-font-family:
 "Times New Roman";mso-hansi-font-family:Arial;font-size:57%'><b>Focos de
 concentración </b></span><span lang=ES-MX style='mso-hansi-font-family:Arial;
 font-size:57%;mso-special-format:lastCR;display:none'><b>&#13;</b></span></span></div>
 </div>
 <div v:shape="_x0000_s5124" style='tab-stops:.25in'>
 <div class=Tbl1 style='mso-margin-left-alt:288'></div>
 <div class=Tbl2 style='mso-margin-left-alt:576'></div>
 <div class=Tbl3 style='mso-margin-left-alt:864'></div>
 <div class=Tbl4 style='mso-margin-left-alt:1152'></div>
 <div class=Tbl style='mso-line-spacing:"100 0 0";mso-margin-left-alt:0;
 position:absolute;top:79.95%;left:22.98%;width:36.85%;height:4.77%'><span
 style='position:absolute;top:0%;left:2.15%;width:97.84%;height:100.0%'><span
 style='font-size:57%'><span style='mso-special-format:bullet;color:#99CCFF;
 mso-color-index:6;position:absolute;left:-2.19%;top:.22em;font-family:Wingdings;
 font-size:80%'>§</span></span><span lang=ES-MX style='font-family:Arial;
 mso-ascii-font-family:Arial;mso-bidi-font-family:"Times New Roman";mso-hansi-font-family:
 Arial;font-size:57%'><b>Efectos de la contaminación</b></span><span
 lang=ES-MX style='mso-hansi-font-family:Arial;font-size:57%;mso-special-format:
 lastCR;display:none'><b>&#13;</b></span></span></div>
 </div>
 <div v:shape="_x0000_s5125" style='tab-stops:.25in'>
 <div class=Tbl1 style='mso-margin-left-alt:288'></div>
 <div class=Tbl2 style='mso-margin-left-alt:576'></div>
 <div class=Tbl3 style='mso-margin-left-alt:864'></div>
 <div class=Tbl4 style='mso-margin-left-alt:1152'></div>
 <div class=Tbl style='mso-line-spacing:"100 0 0";mso-margin-left-alt:0;
 position:absolute;top:47.97%;left:59.97%;width:35.13%;height:4.77%'><span
 style='position:absolute;top:0%;left:2.25%;width:97.36%;height:100.0%'><span
 style='font-size:57%'><span style='mso-special-format:bullet;color:#99CCFF;
 mso-color-index:6;position:absolute;left:-2.31%;top:.22em;font-family:Wingdings;
 font-size:80%'>§</span></span><span lang=ES-MX style='font-family:Arial;
 mso-ascii-font-family:Arial;mso-bidi-font-family:"Times New Roman";mso-hansi-font-family:
 Arial;font-size:57%'><b>Caudal y cantidad de agua</b></span><span
 style='font-family:Arial;mso-ascii-font-family:Arial;mso-bidi-font-family:
 "Times New Roman";mso-hansi-font-family:Arial;font-size:57%;display:none'><b>&#13;</b></span></span></div>
 <div class=Tbl style='mso-line-spacing:"100 0 0";mso-margin-left-alt:0;
 mso-char-wrap:0;mso-kinsoku-overflow:0;position:absolute;top:52.74%;
 left:59.97%;width:35.13%;height:4.77%'><span style='position:absolute;
 top:0%;left:2.25%;width:97.36%;height:100.0%'><span style='font-size:57%'><span
 style='mso-special-format:bullet;color:#99CCFF;mso-color-index:6;position:
 absolute;left:-2.31%;top:.22em;font-family:Wingdings;font-size:80%'>§</span></span><span
 lang=ES-MX style='font-family:Arial;mso-ascii-font-family:Arial;mso-bidi-font-family:
 "Times New Roman";mso-hansi-font-family:Arial;font-size:57%'><b>Ocurrencias</b></span><span
 style='font-family:Arial;mso-ascii-font-family:Arial;mso-bidi-font-family:
 "Times New Roman";mso-hansi-font-family:Arial;font-size:57%;display:none'><b>&#13;</b></span></span></div>
 <div class=Tbl style='mso-line-spacing:"100 0 0";mso-margin-left-alt:0;
 mso-char-wrap:0;mso-kinsoku-overflow:0;position:absolute;top:57.51%;
 left:59.97%;width:35.13%;height:4.77%'><span style='position:absolute;
 top:0%;left:2.25%;width:97.36%;height:100.0%'><span style='font-size:57%'><span
 style='mso-special-format:bullet;color:#99CCFF;mso-color-index:6;position:
 absolute;left:-2.31%;top:.22em;font-family:Wingdings;font-size:80%'>§</span></span><span
 lang=ES-MX style='font-family:Arial;mso-ascii-font-family:Arial;mso-bidi-font-family:
 "Times New Roman";mso-hansi-font-family:Arial;font-size:57%'><b>Áreas
 afectadas </b></span><span style='font-family:Arial;mso-ascii-font-family:
 Arial;mso-bidi-font-family:"Times New Roman";mso-hansi-font-family:Arial;
 font-size:57%;display:none'><b>&#13;</b></span></span></div>
 <div class=Tbl style='mso-line-spacing:"100 0 0";mso-margin-left-alt:0;
 mso-char-wrap:0;mso-kinsoku-overflow:0'><span style='position:absolute;
 top:62.29%;left:60.76%;width:39.23%;height:4.77%'><span style='font-size:57%'><span
 style='mso-special-format:bullet;color:#99CCFF;mso-color-index:6;position:
 absolute;left:-2.02%;top:.22em;font-family:Wingdings;font-size:80%'>§</span></span><span
 lang=ES-MX style='font-family:Arial;mso-ascii-font-family:Arial;mso-bidi-font-family:
 "Times New Roman";mso-hansi-font-family:Arial;font-size:57%'><b>Población
 afectada de acuerdo </b></span></span><span style='position:absolute;
 top:67.06%;left:59.97%;width:37.38%;height:4.77%'><span lang=ES-MX
 style='font-family:Arial;mso-ascii-font-family:Arial;mso-bidi-font-family:
 "Times New Roman";mso-hansi-font-family:Arial;font-size:57%'><b>a su estado de
 vulnerabilidad</b></span><span lang=ES-MX style='mso-hansi-font-family:Arial;
 font-size:57%;mso-special-format:lastCR;display:none'><b>&#13;</b></span></span></div>
 </div>
 <div v:shape="_x0000_s5126" style='tab-stops:.25in'>
 <div class=Tbl1 style='mso-margin-left-alt:288'></div>
 <div class=Tbl2 style='mso-margin-left-alt:576'></div>
 <div class=Tbl3 style='mso-margin-left-alt:864'></div>
 <div class=Tbl4 style='mso-margin-left-alt:1152'></div>
 <div class=Tbl style='mso-line-spacing:"100 0 0";mso-margin-left-alt:0;
 position:absolute;top:47.97%;left:22.98%;width:36.72%;height:4.77%'><span
 style='position:absolute;top:0%;left:2.15%;width:97.84%;height:100.0%'><span
 style='font-size:57%'><span style='mso-special-format:bullet;color:#99CCFF;
 mso-color-index:6;position:absolute;left:-2.2%;top:.22em;font-family:Wingdings;
 font-size:80%'>§</span></span><span lang=ES-MX style='font-family:Arial;
 mso-ascii-font-family:Arial;mso-bidi-font-family:"Times New Roman";mso-hansi-font-family:
 Arial;font-size:57%'><b>Efectos de las inundaciones</b></span><span
 lang=ES-MX style='mso-hansi-font-family:Arial;font-size:57%;mso-special-format:
 lastCR;display:none'><b>&#13;</b></span></span></div>
 </div>
 <div v:shape="_x0000_s5127" style='tab-stops:.25in'>
 <div class=Tbl1 style='mso-margin-left-alt:288'></div>
 <div class=Tbl2 style='mso-margin-left-alt:576'></div>
 <div class=Tbl3 style='mso-margin-left-alt:864'></div>
 <div class=Tbl4 style='mso-margin-left-alt:1152'></div>
 <div class=Tbl style='mso-line-spacing:"100 0 0";mso-margin-left-alt:0'><span
 style='position:absolute;top:10.02%;left:60.76%;width:34.21%;height:4.77%'><span
 style='font-size:57%'><span style='mso-special-format:bullet;color:#99CCFF;
 mso-color-index:6;position:absolute;left:-2.31%;top:.22em;font-family:Wingdings;
 font-size:80%'>§</span></span><span lang=ES-MX style='font-family:Arial;
 mso-ascii-font-family:Arial;mso-bidi-font-family:"Times New Roman";mso-hansi-font-family:
 Arial;font-size:57%'><b>Cauce (lecho, sedimentos, </b></span></span><span
 style='position:absolute;top:14.79%;left:59.97%;width:35.13%;height:4.77%'><span
 lang=ES-MX style='font-family:Arial;mso-ascii-font-family:Arial;mso-bidi-font-family:
 "Times New Roman";mso-hansi-font-family:Arial;font-size:57%'><b>estructura
 acuática, estado </b></span></span><span style='position:absolute;top:19.57%;
 left:59.97%;width:35.13%;height:4.77%'><span lang=ES-MX style='font-family:
 Arial;mso-ascii-font-family:Arial;mso-bidi-font-family:"Times New Roman";
 mso-hansi-font-family:Arial;font-size:57%'><b>visual del sistema fluvial) </b></span><span
 style='font-family:Arial;mso-ascii-font-family:Arial;mso-bidi-font-family:
 "Times New Roman";mso-hansi-font-family:Arial;font-size:57%;display:none'><b>&#13;</b></span></span></div>
 <div class=Tbl style='mso-line-spacing:"100 0 0";mso-margin-left-alt:0;
 mso-char-wrap:0;mso-kinsoku-overflow:0'><span style='position:absolute;
 top:24.34%;left:60.76%;width:38.83%;height:4.77%'><span style='font-size:57%'><span
 style='mso-special-format:bullet;color:#99CCFF;mso-color-index:6;position:
 absolute;left:-2.04%;top:.22em;font-family:Wingdings;font-size:80%'>§</span></span><span
 lang=ES-MX style='font-family:Arial;mso-ascii-font-family:Arial;mso-bidi-font-family:
 "Times New Roman";mso-hansi-font-family:Arial;font-size:57%'><b>Llanura de
 inundación y ribera </b></span></span><span style='position:absolute;
 top:29.35%;left:59.97%;width:35.66%;height:4.77%'><span lang=ES-MX
 style='font-family:Arial;mso-ascii-font-family:Arial;mso-bidi-font-family:
 "Times New Roman";mso-hansi-font-family:Arial;font-size:57%'><b>(grado de
 erosión, índice de </b></span></span><span style='position:absolute;
 top:34.12%;left:59.97%;width:35.13%;height:4.77%'><span lang=ES-MX
 style='font-family:Arial;mso-ascii-font-family:Arial;mso-bidi-font-family:
 "Times New Roman";mso-hansi-font-family:Arial;font-size:57%'><b>vegetación)</b></span><span
 style='font-family:Arial;mso-ascii-font-family:Arial;mso-bidi-font-family:
 "Times New Roman";mso-hansi-font-family:Arial;font-size:57%;mso-special-format:
 lastCR;display:none'><b>&#13;</b></span></span></div>
 </div>
 <div v:shape="_x0000_s5128" style='tab-stops:.25in'>
 <div class=Tbl1 style='mso-margin-left-alt:288'></div>
 <div class=Tbl2 style='mso-margin-left-alt:576'></div>
 <div class=Tbl3 style='mso-margin-left-alt:864'></div>
 <div class=Tbl4 style='mso-margin-left-alt:1152'></div>
 <div class=Tbl style='mso-line-spacing:"100 0 0";mso-margin-left-alt:0;
 position:absolute;top:10.02%;left:22.98%;width:35.13%;height:4.77%'><span
 style='position:absolute;top:0%;left:2.25%;width:97.36%;height:100.0%'><span
 style='font-size:57%'><span style='mso-special-format:bullet;color:#99CCFF;
 mso-color-index:6;position:absolute;left:-2.31%;top:.22em;font-family:Wingdings;
 font-size:80%'>§</span></span><span lang=ES-MX style='font-family:Arial;
 mso-ascii-font-family:Arial;mso-bidi-font-family:"Times New Roman";mso-hansi-font-family:
 Arial;font-size:57%'><b>Estado de conservación</b></span><span lang=ES-MX
 style='mso-hansi-font-family:Arial;font-size:57%;mso-special-format:lastCR;
 display:none'><b>&#13;</b></span></span></div>
 </div>
 <div v:shape="_x0000_s5129">
 <div class=Tbl1 style='mso-margin-left-alt:288'></div>
 <div class=Tbl2 style='mso-margin-left-alt:576'></div>
 <div class=Tbl3 style='mso-margin-left-alt:864'></div>
 <div class=Tbl4 style='mso-margin-left-alt:1152'></div>
 <div class=Tbl style='mso-line-spacing:"100 0 0";mso-margin-left-alt:0;
 position:absolute;top:10.02%;left:1.05%;width:22.72%;height:4.77%'><span
 lang=ES-MX style='font-family:Arial;mso-ascii-font-family:Arial;mso-bidi-font-family:
 "Times New Roman";mso-hansi-font-family:Arial;font-size:57%;color:#000099'><b>Ecológico
 Natural</b></span><span style='font-family:Arial;mso-ascii-font-family:Arial;
 mso-bidi-font-family:"Times New Roman";mso-hansi-font-family:Arial;font-size:
 57%;color:#000099;mso-special-format:lastCR;display:none'><b>&#13;</b></span></div>
 </div>
 <div v:shape="_x0000_s5130">
 <div class=Tbl1 style='mso-margin-left-alt:288'></div>
 <div class=Tbl2 style='mso-margin-left-alt:576'></div>
 <div class=Tbl3 style='mso-margin-left-alt:864'></div>
 <div class=Tbl4 style='mso-margin-left-alt:1152'></div>
 <div class=Tbl style='text-align:center;mso-line-spacing:"100 0 0";mso-margin-left-alt:
 0;position:absolute;top:1.19%;left:59.97%;width:35.13%;height:4.05%'><span
 lang=ES-MX style='font-family:Arial;mso-ascii-font-family:Arial;mso-bidi-font-family:
 "Times New Roman";mso-hansi-font-family:Arial;font-size:50%'><b>INDICADORES</b></span></div>
 </div>
 <div v:shape="_x0000_s5131">
 <div class=Tbl1 style='mso-margin-left-alt:288'></div>
 <div class=Tbl2 style='mso-margin-left-alt:576'></div>
 <div class=Tbl3 style='mso-margin-left-alt:864'></div>
 <div class=Tbl4 style='mso-margin-left-alt:1152'></div>
 <div class=Tbl style='text-align:center;mso-line-spacing:"100 0 0";mso-margin-left-alt:
 0;position:absolute;top:1.19%;left:22.98%;width:35.13%;height:4.05%'><span
 lang=ES-MX style='font-family:Arial;mso-ascii-font-family:Arial;mso-bidi-font-family:
 "Times New Roman";mso-hansi-font-family:Arial;font-size:50%'><b>VARIABLES
 ASOCIADAS</b></span><span style='font-family:Arial;mso-ascii-font-family:Arial;
 mso-bidi-font-family:"Times New Roman";mso-hansi-font-family:Arial;font-size:
 50%;mso-special-format:lastCR;display:none'><b>&#13;</b></span></div>
 </div>
 <div v:shape="_x0000_s5132">
 <div class=Tbl1 style='mso-margin-left-alt:288'></div>
 <div class=Tbl2 style='mso-margin-left-alt:576'></div>
 <div class=Tbl3 style='mso-margin-left-alt:864'></div>
 <div class=Tbl4 style='mso-margin-left-alt:1152'></div>
 <div class=Tbl style='text-align:center;mso-line-spacing:"100 0 0";mso-margin-left-alt:
 0;position:absolute;top:1.19%;left:1.05%;width:19.94%;height:4.05%'><span
 lang=ES-MX style='font-family:Arial;mso-ascii-font-family:Arial;mso-bidi-font-family:
 "Times New Roman";mso-hansi-font-family:Arial;font-size:50%'><b>CATEGORIA</b></span><span
 lang=ES-MX style='mso-hansi-font-family:Arial;font-size:50%;mso-special-format:
 lastCR;display:none'><b>&#13;</b></span></div>
 </div>
 <![if !ppt]></div>
 <![endif]></p:slide></div>

<p:animation number="965095232"/><oa:par id="TimeNode0" dur="indefinite"
 restart="never" p:nodeType="timingRoot">
 <oa:seq id="TimeNode1" dur="indefinite" prev="document.onpptprev"
  next="document.onpptnext" concurrent="enabled" nextAction="seek"
  p:nodeType="mainSeq">
  <oa:par id="TimeNode2" begin="indefinite;TimeNode1.onbegin" fill="hold">
   <oa:par id="TimeNode3" begin="0.0" fill="hold">
    <oa:par id="TimeNode4" o:presetID="ppt_47" o:presetClass="entrance"
     o:presetSubType="0x0" begin="0.5" accelerate="0.0" decelerate="0.0"
     autoReverse="false" fill="hold" p:nodeType="afterEffect">
     <oa:set id="TimeNode5" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s5122" attributeName="style.visibility" to="visible"/>
     <oa:animateFilter id="TimeNode6" dur="1.0" targetElement="_x0000_s5122"
      transition="in" filter="fade"/>
     <oa:animate id="TimeNode7" dur="1.0" fill="hold"
      targetElement="_x0000_s5122" attributeName="ppt_x" calcmode="linear"
      valueType="number" keyTimes="0.0;1.0" values="#ppt_x;#ppt_x"/>
     <oa:animate id="TimeNode8" dur="1.0" fill="hold"
      targetElement="_x0000_s5122" attributeName="ppt_y" calcmode="linear"
      valueType="number" keyTimes="0.0;1.0" values="#ppt_y-.1;#ppt_y"/>
    </oa:par>
    <![if !ppt]><oa:par id="TimeNode9" o:presetID="ppt_47"
     o:presetClass="entrance" o:presetSubType="0x0" begin="0.5" accelerate="0.0"
     decelerate="0.0" autoReverse="false" fill="hold" p:nodeType="withEffect">
     <oa:set id="TimeNode10" begin="0.0" dur="0.001" fill="hold"
      targetElement="_x0000_s5122_AllText" attributeName="style.visibility"
      to="visible"/>
     <oa:animateFilter id="TimeNode11" dur="1.0"
      targetElement="_x0000_s5122_AllText" transition="in" filter="fade"/>
     <oa:animate id="TimeNode12" dur="1.0" fill="hold"
      targetElement="_x0000_s5122_AllText" attributeName="ppt_x"
      calcmode="linear" valueType="number" keyTimes="0.0;1.0"
      values="#ppt_x;#ppt_x"/>
     <oa:animate id="TimeNode13" dur="1.0" fill="hold"
      targetElement="_x0000_s5122_AllText" attributeName="ppt_y"
      calcmode="linear" valueType="number" keyTimes="0.0;1.0"
      values="#ppt_y-.1;#ppt_y"/>
    </oa:par>
    <![endif]></oa:par>
  </oa:par>
 </oa:seq>
</oa:par>
</body>

</html>
