/* $Id: minnelli.css,v 1.3.2.1 2009/05/20 09:16:30 goba Exp $ */

/**
 * Minnelli, for Drupal 6.x
 * Stefan Nagtegaal, iStyledThis [dot] nl
 * Steven Wittens, acko [dot] net
 * Modificado para Guaman Poma de Ayala
 * Alexander Acurio, didjeram [dot] com
 */

body #wrapper #container {
  width: 560px;
}

body.sidebars #wrapper #container {
  width: 980px;
}

body.sidebar-left #wrapper #container,
body.sidebar-right #wrapper #container {
  width: 770px;
}
