.sinsubrayado {
	FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: Verdana, sans-serif; TEXT-DECORATION: none
}
.Tit4 {
	FONT-WEIGHT: bold; FONT-SIZE: medium; COLOR: #bd2126; FONT-FAMILY: Verdana, sans-serif; TEXT-DECORATION: none
}
.Tit3 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #bd2126; FONT-FAMILY: Verdana, sans-serif; TEXT-DECORATION: none
}
.espec {
	BORDER-RIGHT: #0000ff 1px dotted; BORDER-TOP: #0000ff 1px dotted; FONT-SIZE: 9px; BORDER-LEFT: #0000cc 1px dotted; COLOR: #ffffff; BORDER-BOTTOM: #0000cc 1px dotted; FONT-FAMILY: Verdana, sans-serif; LETTER-SPACING: 1px; BACKGROUND-COLOR: #bd2126; TEXT-DECORATION: none
}
.Enc_Mensaje {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; FONT-STYLE: italic; FONT-FAMILY: Arial, sans-serif
}
.Enc_txt {
	FONT-SIZE: 10pt; COLOR: #003366; FONT-FAMILY: Verdana, sans-serif
}
