table.identify { border-collapse:collapse;border:silver 1px solid;width:270px }
h1.identify { font-size:12px;font-weight:bold;margin-top:20px }
td.identify,p.identify,a.identify,a.identify:hover,td.gpx,p.gpx,a.gpx,a.gpx:hover {
  font-size:10px;margin:0px
}
th.identify,td.identify,td.identifyPic {
  border:silver 1px dotted;padding:3px;
}
th.identify { font-weight:bold;text-align:left;vertical-align:bottom;white-space:nowrap;background-color:lightgrey }
td.identifyPic { text-align:center }
td.identify { vertical-align:top }
.imgClose { padding-bottom:3px;padding-right:3px }
