table.query  {
  border:silver 2px solid;
  background-color:lightgrey;
  padding:6px;
  margin-top:10px;
  border-spacing:5px;
}
td.query { padding:0px;border:none }
input.query0 { width:30px }
input.query1 { width:30px }
input.query2 { width:40px }
tr.query { vertical-align:top;background-color:lightgrey}
