table.recTable { border:silver 2px solid;border-collapse:collapse;empty-cells:show }
h1.recTable { font-size:14px;font-weight:bold;margin:0px }
th {
  font-weight:bold;
  text-align:left;
  vertical-align:bottom;
  white-space:nowrap;
  background-color:lightgrey;
}
th,td {
  padding:3px;
  border:silver 1px solid;
}
td { vertical-align:top }
.imgTableTop { border:none }
.imgAsc {
  margin-left:5px;
  margin-right:2px;
  border:none;
  width:16px;
  height:16px;
}
