body {
  background-color:white;
  font-family:Arial,Helvetica,sans-serif;
  font-size:12px;
  font-weight:normal;
  color:#000000
}
body, html {
  /* do not delete */
  width:100%; height:100%;
}
h1 { font-size:24px;font-weight:bold;margin-top:0px;margin:7px }
h1.print { margin-left:30px }
h2 { font-size:14px;font-weight:bold }
h3 { font-size:12px;font-weight:bold;margin-bottom:7px }
th,td,li {
  font-size:12px;
}
a { color:gray;text-decoration:none }
a:hover { color:#000000 }
.formElem { background-color:white }
p.siteinfo,li.siteinfo {
  font-size:10px;line-height:11px;margin-top:0px;margin-bottom:7px
}
.tundra .dijitBorderContainer {
  padding: 0px;
}
.tundra .dijitTabContainerTop-dijitContentPane {
  padding-top:20px;
  padding-left:10px;
  background-color:white;
}
