.tundra .dijitMapViewIcon {
  background-image: url(../pictures/toolbar.png);
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  text-align: center;
}
.tundra .dijitMapViewIconZoomIn { background-position: 0px; }
.tundra .dijitMapViewIconZoomOut { background-position: -18px; }
.tundra .dijitMapViewIconPan { background-position: -36px; }
.tundra .dijitMapViewIconFullExtent { background-position: -54px; }
.tundra .dijitMapViewIconExtentPrevious { background-position: -72px; }
.tundra .dijitMapViewIconExtentNext { background-position: -90px; }
.tundra .dijitMapViewIconIdentify { background-position: -108px; }
.tundra .dijitMapViewIconKoord { background-position: -126px; }
.tundra .dijitMapViewIconMeasure { background-position: -144px; }
.tundra .dijitMapViewIconSiteInfo { background-position: -162px; }
.tundra .dijitMapViewIconPrint { background-position: -180px; }
.tundra .dijitMapViewIconHelp { background-position: -198px; }
.tundra .dijitMapViewIconZoomInGrey { background-position: -216px; }
.tundra .dijitMapViewIconZoomOutGrey { background-position: -234px; }
.tundra .dijitMapViewIconLine { background-position: -252px; }
.tundra .dijitMapViewIconArea { background-position: -270px; }
.tundra .dijitMapViewIconSum { background-position: -288px; }
.tundra .dijitMapViewIconClear { background-position: -306px; }
.tundra .dijitMapViewIconWikipedia { background-position: -324px; }
.tundra .dijitMapViewIconWeather { background-position: -342px; }
