.titular {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; color: #663333; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px}
.cuerpo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-align: justify;
	list-style-image: url(img_css/dot.gif);
	list-style-type: disc;
	padding: 2px;



}


.titulotabla {


	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-align: center;
	

}


.lista {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-align: justify;
	padding: 2px;



}








.mini {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #999999; text-decoration: overline}
a:link {  color: #33CC33}
a:hover {  color: #FF6600}
table {  font-family: Verdana, Arial, Helvetica, sans-serif}
a:visited {  color: #999999}
.minititulo {
font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11.5px; color: #000000; background-color:#FFFFFF;}
}
.ES-apartado {
	background-color: #663333;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #CCCC99;
	font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;




}
.ES-subapartado {
	font-size: 11px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border: thin solid #CCCC99;



}
.opciondis {
	font-style: bold;
	color: #FF0000; 
}

.error {
font-family:helvetica,verdana,palatino;
font-style:bold;
text-transform:uppercase;
width: 400px;
height: 200px;
border: 1px solid #000;
text-align:center;
align:center;
background-color:#660000;
color: #fff;
margin: 0px auto;
}
