body { background-color:beige }
td { font-family:Arial,Helvetica,sans-serif;font-size:12px;font-weight:normal;vertical-align:top;color:#000000;border:tan 1px solid;cursor:default;padding:3px }
th { font-family:Arial,Helvetica,sans-serif;font-size:12px;font-weight:bold;text-align:left;vertical-align:bottom;white-space:nowrap;color:#000000;background-color:#E6DABB;border:tan 1px solid;padding:3px }
td.normal { font-family:Arial,Helvetica,sans-serif;font-size:12px;font-weight:normal;vertical-align:top;border:none;color:#000000;padding:0px }
td.help { font-family:Arial,Helvetica,sans-serif;font-size:12px;font-weight:normal;vertical-align:top;border:none;color:#000000;padding:2px }
table.recTable { border:tan 2px solid;border-collapse:collapse }
td.identifyClose { text-align:right;vertical-align:bottom;border:none;padding:0px }
td.identifyPic { text-align:center }
td.identify { font-family:Arial,Helvetica,sans-serif;font-size:10px;font-weight:normal;vertical-align:top;color:#000000;border:tan 1px dotted;padding:3px }
a.identify { font-family:Arial,Helvetica,sans-serif;font-size:10px;font-weight:normal;color:#BEA27A;text-decoration:none }
a.identify:hover { font-family:Arial,Helvetica,sans-serif;font-size:10px;font-weight:normal;color:#000000;text-decoration:none }
table.identify { border-collapse:collapse;width:210px }
p { font-family:Arial,Helvetica,sans-serif;font-size:12px;font-weight:normal;color:#000000 }
li { font-family:Arial,Helvetica,sans-serif;font-size:12px;font-weight:normal;color:#000000 }
a { font-family:Arial,Helvetica,sans-serif;font-size:12px;font-weight:normal;color:#BEA27A;text-decoration:none }
a:hover { font-family:Arial,Helvetica,sans-serif;font-size:12px;font-weight:normal;color:#000000;text-decoration:none }
a.bold { font-family:Arial,Helvetica,sans-serif;font-size:12px;font-weight:bold;color:#BEA27A;text-decoration:none }
a.bold:hover { font-family:Arial,Helvetica,sans-serif;font-size:12px;font-weight:bold;color:#000000;text-decoration:none }
.tableHead { font-family:Arial,Helvetica,sans-serif;font-size:14px;font-weight:bold;color:#000000 }
.bold { font-family:Arial,Helvetica,sans-serif;font-size:12px;font-weight:bold;color:#000000 }
.formElement { background-color:beige }
.imgTableTop { border:none }
optgroup { font-weight:normal;font-style:normal }
