/* $Id: fix-ie.css,v 1.8.2.1.1 2009/05/20 09:22:29 goba Exp $ */

/**
 * Garland, for Drupal 6.x
 * Stefan Nagtegaal, iStyledThis [dot] nl
 * Steven Wittens, acko [dot] net
 * Modificado para Guaman Poma de Ayala
 * Alexander Acurio, didjeram [dot] com
 */

body {
  /* Center layout */
  text-align: center;
  /* Allow text resizing */
  font-size: 80%;
  _background:red:
}

#header-region, #wrapper #container {
  /* Reset text alignment */
  text-align: left; /* LTR */
}

#wrapper #container #center {
  /* Reduce amount of damage done by extremely wide content */
  overflow: hidden;
}

#wrapper #container #center .right-corner .left-corner {
  /* Because of the lack of min-height, we use height as an alternative */
  height: 400px;
}

fieldset {
  /* Don't draw backgrounds on fieldsets in IE, as they look really bad. */
  background: none;
}

ul.primary {
  /* Fix missing top margin */
  position: relative; /* LTR */
/*  top: 0.5em; */
}

/* Prevent fieldsets from shifting when changing collapsed state. */
html.js fieldset.collapsible {
  position: relative;
  top: -1em;
}
html.js fieldset.collapsed {
  top: 0;
  margin-bottom: 1em;
}

tr.menu-disabled {
  /* Use filter to emulate CSS3 opacity */
  filter: alpha(opacity=50);
}

#header-region {
  /* Because of the lack of min-height, we use height as an alternative */
  height: 1em;
}

tr.taxonomy-term-preview {
  filter: alpha(opacity=50);
}

#attach-hide label, #uploadprogress div.message {
  /* Fading elements in IE causes the text to bleed unless they have a background. */
  background-color: #ffffff;
}
