/* $Id: style.css,v 1.0.1 2009/05/20 09:31:20 goba Exp $ */

/**
 * GuamanPoma, for Drupal 6.x
 * Alexander Acurio, allpalab [dot] com
 *
 * If you use a customized color scheme, you must regenerate it after
 * modifying this file.
 */

/**
 * Generic elements
 */
body {
  margin: 0;
  padding: 0;
  background: #fff;
  font: 12px/155% Verdana, sans-serif;
  color: #494949;
}

input {
  font: 12px/100% Verdana, sans-serif;
  color: #494949;
}

textarea, select {
  font: 12px/160% Verdana, sans-serif;
  color: #000;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: Helvetica, Arial, sans-serif;
}

/**
 * 
 * ESTILOS DEL CONTENIDO PERSONALIZADO 
 * 
 **/

.content .contenedor {
	border:#C2B9AF solid 4px;
	_margin-right:10px;
}

.content h1 {
	color:#FFF;
	background-color:#8D3237;
	font-size:12px;
	padding:5px 20px;
	font-weight:800;
	_width:99%;
}

.content .contenedor h1 {
	_width:100%;
}

.content ul{
	margin:0;
	padding:10px 10px 10px 20px;
}

.content li {
	list-style-type:square;
	_list-style-type:none;
	width:99%;
}

.content li ul li {
	list-style-type:circle;
	_list-style-type:none;
}

h1 {
  font-size: 170%;
}

h2 {
  font-size: 160%;
  line-height: 130%;
  color:#710C0A;
  font-weight:900;
}

h3 {
  font-size: 140%;
}

h4 {
  font-size: 130%;
}

h5 {
  font-size: 120%;
}

h6 {
  font-size: 110%;
}

ul, quote, code, fieldset {
  margin: .5em 0;
}

p {
  margin: 0.6em 0.9em 1.2em 0.5em;
  _margin: 0.6em 0 1.2em 0.5em;
  padding: 0;
  text-align:justify;
}

a:link, a:visited {
  color: #6A0709;
  text-decoration: none;
}

a:hover {
  color: #6A0709;
  text-decoration: underline;
}

a:active, a.active {
  color: #6A0709;
}

hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background: #5294c1;
}

ul {
  margin: 0.5em 0 1em;
  padding: 0;
}

ol {
  margin: 0.75em 0 1.25em;
  padding: 0;
}

ol li, ul li {
  margin: 0.4em 0 0.4em .5em; /* LTR */
}

ul.menu, .item-list ul {
  margin: 0.35em 0 0 -0.5em; /* LTR */
  padding: 0;
  _width:193px;
}

ul.menu ul, .item-list ul ul {
  margin-left: 0em; /* LTR */
}

ol li, ul li, ul.menu li, .item-list ul li, li.leaf {
  margin: 0.15em 0 -1px .5em; /* LTR */
}

ul li, ul.menu li, .item-list ul li, li.leaf {
  padding: 4px 0 8px 0.5em;
  list-style-type: none;
  list-style-image: none;
  width:193px;
  _width:180px;
}

ul.menu ul.menu li {
  margin-left:-5px;
  background:url(images/iconos/arrowiz.gif) no-repeat 15px 8px;
}

ul.menu ul.menu ul.menu li {
  list-style-type:none;
  margin-left:10px;
}

.quienes, .ejes-de, .escuela, .diploma, .publica, .oferta, .nuevo{
  border-bottom:solid 1px #696661;
  width:181px;
  _width:193px !important;
}

.quienes .active, .ejes-de .active, .escuela .active, .diploma .active, .publica .active, .oferta .active, .nuevo .active {
	color:#FFF !important;
	margin-left:0;
}

.quienes {
  background: transparent url(images/Quienes-somos.png) no-repeat -20px -5px; /* LTR */
}

.active-trailquienes  {
  background: transparent url(images/quienes-somos-active.png) no-repeat -6px 0px; /* LTR */
}

.active-trailquienes a, .active-trailejes-de a, .active-trailescuela a, .active-traildiploma a, .active-trailpublica a, .active-trailoferta a, .active-trailnuevo a{
	color:#FFF !important;
}

.ejes-de {
  background: transparent url(images/Ejes-de-trabajo.png) no-repeat -20px -1px; /* LTR */
}

.active-trailejes-de {
	background: transparent url(images/ejes-de-trabajo-active.png) no-repeat -6px 0px; /* LTR */
}

.escuela {
  background: transparent url(images/Escuelas.png) no-repeat -20px -1px; /* LTR */
}

.active-trailescuela {
	background: transparent url(images/escuelas-active.png) no-repeat -6px 0px; /* LTR */
}

.diploma {
  background: transparent url(images/Diplomados.png) no-repeat -20px -1px; /* LTR */
}

.active-traildiploma {
	background: transparent url(images/diplomados-active.png) no-repeat -6px 0px; /* LTR */
}

.publica {
  background: transparent url(images/publicaciones.png) no-repeat -20px -1px; /* LTR */
}

.active-trailpublica {
	background: transparent url(images/publicaciones-active.png) no-repeat -6px 0px; /* LTR */
}

.oferta {
  background: transparent url(images/Oferta-educativa.png) no-repeat -20px -1px; /* LTR */
}

.active-trailoferta {
	background: transparent url(images/oferta-active.png) no-repeat -6px 0px; /* LTR */
}
/**/
.nuevo {
  background: transparent url(images/Nuevo.png) no-repeat -20px -1px; /* LTR */
}

.active-trailnuevo {
	background: transparent url(images/nuevo-active.png) no-repeat -6px 0px; /* LTR */
}
/**/

ol li {
  padding: 0 0 .3em;
  margin-left: 2em; /* LTR */
}

ul li.expandedquienes, ul li.expandedejes-de, ul li.expandedescuela, ul li.expandeddiploma, ul li.expandedpublica, ul li.expandedoferta, ul li.expandednuevo {
	border-bottom:1px solid #696661;
	width:100%;
	_width:190px;
}

ul li.expandedquienes a, ul li.expandedejes-de a, ul li.expandedescuela a, ul li.expandeddiploma a, ul li.expandedpublica a, ul li.expandedoferta a, ul li.expandednuevo a{
	color: #FFF;
	margin-left:28px;
}

ul li.expandedquienes { background:#B1A79D url("images/quienes-somos-active.png") no-repeat -7px -1px; }
ul li.expandedquienes a { color:#fff;  }
ul li.expandedejes-de { background:#B1A79D url("images/ejes-de-trabajo-active.png") no-repeat -7px -5px; }
ul li.expandedescuela { background:#B1A79D url("images/escuelas-active.png") no-repeat -7px -5px; }
ul li.expandeddiploma { background:#B1A79D url("images/diplomados-active.png") no-repeat -7px -5px; }
ul li.expandedpublica { background:#B1A79D url("images/publicaciones-active.png") no-repeat -7px -5px; }
ul li.expandedoferta { background:#B1A79D url("images/oferta-active.png") no-repeat -7px -5px; }
/**/
ul li.expandednuevo { background:#B1A79D url("images/nuevo-active.png") no-repeat -7px -5px; }

ul li.collapsed {
  
}

ul li.leaf a, ul li.expanded a, ul li.collapsed a {
  display: block;
  margin:0 5px 0 28px;
}

ul.inline li {
  background: none;
  margin: 0;
  padding: 0 1em 0 0; /* LTR */
}

ol.task-list {
  margin-left: 0; /* LTR */
  list-style-type: none;
  list-style-image: none;
}
ol.task-list li {
  padding: 0.5em 1em 0.5em 2em; /* LTR */
}
ol.task-list li.active {
  background: transparent url(images/task-list.png) no-repeat 3px 50%; /* LTR */
}
ol.task-list li.done {
  color: #393;
  background: transparent url(../../misc/watchdog-ok.png) no-repeat 0px 50%; /* LTR */
}
ol.task-list li.active {
  margin-right: 1em; /* LTR */
}

fieldset ul.clear-block li {
  margin: 0;
  padding: 0;
  background-image: none;
}

dl {
  margin: 0.5em 0 1em 1.5em; /* LTR */
}

dl dt {
}

dl dd {
  margin: 0 0 .5em 1.5em; /* LTR */
}

img, a img {
  border: none;
}

table {
  margin: 1em 0;
  width: 100%;
}

thead th {
  border-bottom: 2px solid #d3e7f4;
  color: #494949;
  font-weight: bold;
}

th a:link, th a:visited {
  color: #6f9dbd;
}

td, th {
  padding: .3em .5em;
}

tr.even, tr.odd, tbody th {
  border: solid #d3e7f4;
  border-width: 1px 0;
}

tr.odd, tr.info {
  background-color: #edf5fa;
}

tr.even {
  background-color: #fff;
}

tr.drag {
  background-color: #fffff0;
}

tr.drag-previous {
  background-color: #ffd;
}

tr.odd td.active {
  background-color: #ddecf5;
}

tr.even td.active {
  background-color: #e6f1f7;
}

td.region, td.module, td.container, td.category {
  border-top: 1.5em solid #fff;
  border-bottom: 1px solid #b4d7f0;
  background-color: #d4e7f3;
  color: #455067;
  font-weight: bold;
}

tr:first-child td.region, tr:first-child td.module, tr:first-child td.container, tr:first-child td.category {
  border-top-width: 0;
}

span.form-required {
  color: #ffae00;
}

span.submitted, .description {
  font-size: 0.92em;
  color: #898989;
}

.description {
  line-height: 150%;
  margin-bottom: 0.75em;
  color: #898989;
}

.messages, .preview {
  margin: .75em 0 .75em;
  padding: .5em 1em;
}

.messages ul {
  margin: 0;
}

.form-checkboxes, .form-radios, .form-checkboxes .form-item, .form-radios .form-item {
  margin: 0.25em 0;
}

#center form {
  margin-bottom: 2em;
}

.form-button, .form-submit {
  margin: 2em 0.5em 1em 0; /* LTR */
}

#dblog-form-overview .form-submit,
.confirmation .form-submit,
.search-form .form-submit,
.poll .form-submit,
fieldset .form-button, fieldset .form-submit,
.sidebar .form-button, .sidebar .form-submit,
table .form-button, table .form-submit {
  margin: 0;
}

.box {
  margin-bottom: 2.5em;
}

/**
 * Layout
 */
#header-region {
  min-height: 0em;
  background: #E7E4DD;
}

#header-region .block {
  display: block;
  margin: 0 1em;
}

#header-region .block-region {
  display: block;
  margin: 0 0.5em 1em;
  padding: 0.5em;
  position: relative;
  top: 0.5em;
}

#header-region * {
  display: inline;
  line-height: 64px;
  margin-top: 0;
  margin-bottom: 0;
  color:#660403;
}

/* Prevent the previous directive from showing the content of script elements in Mozilla browsers. */
#header-region script {
  display: none;
}

#header-region p, #header-region img {
  margin-top: 0.5em;
}

#header-region h2 {
  margin: 0 1em 0 0; /* LTR */
}

#header-region h3, #header-region label, #header-region li {
  margin: 0 1em;
  padding: 0;
  background: none;
}

#wrapper {
  background: transparent;
}

#wrapper #container {
  margin: 0 auto;
  padding: 0 20px;
  _padding:0;
  _width: expression((documentElement.clientWidth <985) ? "985px" : "100%" );
}

#wrapper #container #header {
  height:141px;
  _height:141px;
  margin:0;
  padding:0;
  width:100%;
}

#wrapper #container #header #logo-floater {
	width:343px;
	height:141px;
	_height:141px;
	background:#fff url(logo.png) no-repeat 6px 0;
	text-align:center;
	position:relative;
	margin-left:-20px;
	_margin:0px;
	padding:0px;
}

#wrapper #container #header #logo-flash {
	position: absolute; 
	top: 0pt; 
	left: 0pt; 
	z-index: -1; 
	background-color:#fff; 
	width:100%; 
	text-align:right;
}

#wrapper #container #header h1, #wrapper #container #header h1 a:link, #wrapper #container #header h1 a:visited {
  line-height: 120px;
  position: relative;
  z-index: 2;
  white-space: nowrap;
}

#wrapper #container #header h1 span {
  font-weight: bold;
}

#wrapper #container #header h1 img {
  padding-top: 16px;
  padding-right: 20px; /* LTR */
 _padding-right: 0px; /* LTR */
  float: left; /* LTR */
}

/* With 3 columns, require a minimum width of 1000px to ensure there is enough horizontal space. */
body.sidebars {
  min-width: 980px;
}
/* With 2 columns, require a minimum width of 800px. */
body.sidebar-left, body.sidebar-right {
  min-width: 780px;
}

/* We must define 100% width to avoid the body being too narrow for near-empty pages */
#wrapper #container #center {
  float: left;
  width: 100%;
  _width: 97%;
}

/* So we move the #center container over the sidebars to compensate */
body.sidebar-left #center {
  margin-left: -210px;
}
body.sidebar-right #center {
  margin-right: -210px;
}
body.sidebars #center {
  margin: 0 -210px;
}

/* And add blanks left and right for the sidebars to fill */
body.sidebar-left #squeeze {
  margin-left: 210px;
}
body.sidebar-right #squeeze {
  margin-right: 210px;
}
body.sidebars #squeeze {
  margin: 0 210px;
}

/* We ensure the sidebars are still clickable using z-index */
#wrapper #container .sidebar {
  margin: 0 0 0 -20px;
  width: 210px;
  float: left;
  z-index: 2;
  position: relative;
}

#wrapper #container #sidebar-left {
  margin-left:-20px;
  _margin-left:0px;
  background-color:#DDDAD5;
  padding-left:3px;
  width:200px;
}

#wrapper #container #sidebar-right {
  margin-left:10px;
  _margin-left:0px;
  _width:100px;
  float:right;
}
#wrapper #container .sidebar .block {
  margin: 0 0 1.5em 0;
}

#sidebar-left .block {
  padding: 0 15px 0 0px;
  _padding: 0 0 0 0px;
}

#sidebar-right .block {
  padding: 0 0px 0 0px;
}

.block .content {
  margin: 0;
}

#sidebar-left .block-region {
  margin: 0 15px 0 0px; /* LTR */
}

#sidebar-right .block-region {
  margin: 0 0px 0 15px; /* LTR */
}

.block-region {
  padding: 1em;
  background: transparent;
  border: 2px dashed #b4d7f0;
  text-align: center;
  font-size: 1.3em;
}

/* Now we add the backgrounds for the main content shading */
#wrapper #container #center #squeeze {
  
  position: relative;
}

#wrapper #container #center .right-corner {
  position: relative;
  left: 10px;
}

#wrapper #container #center .right-corner .left-corner {
  padding: 10px 25px 5em 35px;
  margin-left: -10px;
  position: relative;
  left: -10px;
  min-height: 400px;
}

#wrapper #container #footer {
  float: none;
  clear: both;
  text-align: center;
  margin: 4em 0 -3em;
  color: #898989;
}

#wrapper #container .breadcrumb {
  position: absolute;
  top: 15px;
  left: 35px; /* LTR */
  z-index: 3;
}

body.sidebar-left #footer {
  margin-left: -210px;
}

body.sidebar-right #footer {
  margin-right: -210px;
}

body.sidebars #footer {
  margin: 0 -210px;
}

/**
 * Header
 */
#wrapper #container #header h1, #wrapper #container #header h1 a:link, #wrapper #container #header h1 a:visited {
  color: #fff;
  font-weight: normal;
  text-shadow: #1659ac 0px 1px 3px;
  font-size: 1.5em;
}

#wrapper #container #header h1 a:hover {
  text-decoration: none;
}

#wrapper #container .breadcrumb {
  font-size: 0.92em;
}

#wrapper #container .breadcrumb, #wrapper #container .breadcrumb a {
  color: #529ad6;
}

#mission {
  padding: 1em;
  background-color: #fff;
  border: 1px solid #e0e5fb;
  margin-bottom: 2em;
}

/**
 * Primary navigation
 */
ul.primary-links {
  margin: 0;
  padding: 0;
  float: right; /* LTR */
  position: relative;
  z-index: 4; 
}

ul.primary-links li {
  margin: 0;
  padding: 0;
  float: left; /* LTR */
  background-image: none;
}

ul.primary-links li a, ul.primary-links li a:link, ul.primary-links li a:visited {
  display: block;
  margin: 0 1em;
  _margin: 0 8px;
  padding: .75em 0 0;
  color: #6B1113;
  text-align:center;
}

ul.primary-links li {
	height:26px;
	display:block;
	padding-top:14px;
	text-align:center;
	width:auto;
	border-left:#6A6561 solid 1px;
}

ul.primary-links li.inicio {
	background:transparent url(images/iconos/Inicio.png) no-repeat center;
	background-position:center;
}

ul.primary-links li.contactenos {
	background:transparent url(images/iconos/contactenos.png) no-repeat;
	background-position:center;
}

ul.primary-links li.mapa-del-sitio {
	background:transparent url(images/iconos/mapa-del-sitio.png) no-repeat;
	background-position:center;
}

ul.primary-links li.blog {
	background:transparent url(images/iconos/Blog.png) no-repeat;
	background-position:center;
}

ul.primary-links li.foro {
	background:transparent url(images/iconos/forum.png) no-repeat;
	background-position:center;
}

ul.primary-links li.correo-institucional {
	background:transparent url(images/iconos/correo-inst.png) no-repeat;
	background-position:center;
}

/**
 * Secondary navigation
 */
ul.secondary-links {
  margin: 0;
  padding: 18px 0 0;
  float: right; /* LTR */
  clear: right; /* LTR */
  position: relative;
  z-index: 4;
}

ul.secondary-links li {
  margin: 0;
  padding: 0;
  float: left; /* LTR */
  background-image: none;
}

ul.secondary-links li a, ul.secondary-links li a:link, ul.secondary-links li a:visited {
  display: block;
  margin: 0 1em;
  padding: .75em 0 0;
  color: #cde3f1;
  background: transparent;
}

ul.secondary-links li a:hover, ul.secondary-links li a.active {
  color: #cde3f1;
  background: transparent;
}

/**
 * Local tasks
 */
ul.primary, ul.primary li, ul.secondary, ul.secondary li {
  border: 0;
  background: none;
  margin: 0;
  padding: 0;
}

#tabs-wrapper {
  margin: 0 -26px 1em;
  padding: 0 26px;
  border-bottom: 1px solid #e9eff3;
  position: relative;
}
ul.primary {
  padding: 0.5em 0 10px;
  float: left; /* LTR */
}
ul.secondary {
  clear: both;
  text-align: left; /* LTR */
  border-bottom: 1px solid #e9eff3;
  margin: -0.2em -26px 1em;
  padding: 0 26px 0.6em;
}
h2.with-tabs {
  float: left; /* LTR */
  margin: 0 2em 0 0; /* LTR */
  padding: 0;
}

ul.primary li a, ul.primary li.active a, ul.primary li a:hover, ul.primary li a:visited,
ul.secondary li a, ul.secondary li.active a, ul.secondary li a:hover, ul.secondary li a:visited {
  border: 0;
  background: transparent;
  padding: 4px 1em;
  margin: 0 0 0 1px; /* LTR */
  height: auto;
  text-decoration: none;
  position: relative;
  top: -1px;
}
ul.primary li.active a, ul.primary li.active a:link, ul.primary li.active a:visited, ul.primary li a:hover,
ul.secondary li.active a, ul.secondary li.active a:link, ul.secondary li.active a:visited, ul.secondary li a:hover {
  background: url(images/bg-tab.png) repeat-x 0 50%;
  color: #fff;
}
ul.primary li.active a,
ul.secondary li.active a {
  font-weight: bold;
}

/**
 * Nodes & comments
 */
.node {
  border-bottom: 1px solid #e9eff3;
  margin: 0 -26px 1.5em;
  padding: 1.5em 26px;
}

ul.links li, ul.inline li {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0; /* LTR */
  padding-right: 0; /* LTR */
  background-image: none;
}

.node .links, .comment .links {
  text-align: left; /* LTR */
}

.node .links ul.links li, .comment .links ul.links li {}
.terms ul.links li {
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
  padding-left: 1em;
}

.picture, .comment .submitted {
  float: right; /* LTR */
  clear: right; /* LTR */
  padding-left: 1em; /* LTR */
}

.new {
  color: #ffae00;
  font-size: 0.92em;
  font-weight: bold;
  float: right; /* LTR */
}

.terms {
  float: right; /* LTR */
}

.preview .node, .preview .comment, .sticky {
  margin: 0;
  padding: 0.5em 0;
  border: 0;
  background: 0;
}

.sticky {
  padding: 1em;
  background-color: #fff;
  border: 1px solid #e0e5fb;
  margin-bottom: 2em;
}

#comments {
  position: relative;
  top: -1px;
  border-bottom: 1px solid #e9eff3;
  margin: -1.5em -25px 0;
  padding: 0 25px;
}

#comments h2.comments {
  margin: 0 -25px;
  padding: .5em 25px;
  background: #fff url(images/gradient-inner.png) repeat-x 0 0;
}

.comment {
  margin: 0 -25px;
  padding: 1.5em 25px 1.5em;
  border-top: 1px solid #e9eff3;
}

.indented {
  margin-left: 25px; /* LTR */
}

.comment h3 a.active {
  color: #494949;
}

.node .content, .comment .content {
  margin: 0.6em 0;
}

/**
 * Aggregator.module
 */
#aggregator {
  margin-top: 1em;
}
#aggregator .feed-item-title {
  font-size: 160%;
  line-height: 130%;
}
#aggregator .feed-item {
  border-bottom: 1px solid #e9eff3;
  margin: -1.5em -31px 1.75em;
  padding: 1.5em 31px;
}
#aggregator .feed-item-categories {
  font-size: 0.92em;
}
#aggregator .feed-item-meta {
  font-size: 0.92em;
  color: #898989;
}

/**
 * Color.module
 */
#palette .form-item {
  border: 1px solid #fff;
}
#palette .item-selected {
  background: #fff url(images/gradient-inner.png) repeat-x 0 0;
  border: 1px solid #d9eaf5;
}

/**
 * Menu.module
 */
tr.menu-disabled {
  opacity: 0.5;
}
tr.odd td.menu-disabled {
  background-color: #edf5fa;
}
tr.even td.menu-disabled {
  background-color: #fff;
}

/**
 * Poll.module
 */
.poll .bar {
  background: #fff url(images/bg-bar-white.png) repeat-x 0 0;
  border: solid #f0f0f0;
  border-width: 0 1px 1px;
}

.poll .bar .foreground {
  background: #71a7cc url(images/bg-bar.png) repeat-x 0 100%;
}

.poll .percent {
  font-size: .9em;
}

/**
 * Autocomplete.
 */
#autocomplete li {
  cursor: default;
  padding: 2px;
  margin: 0;
}

/**
 * Collapsible fieldsets
 */
fieldset {
  margin: 1em 0;
  padding: 1em;
  border: 1px solid #d9eaf5;
  background: #fff url(images/gradient-inner.png) repeat-x 0 0;
}

/* Targets IE 7. Fixes background image in field sets. */
*:first-child+html fieldset {
  padding: 0 1em 1em;
  background-position: 0 .75em;
  background-color: transparent;
}

*:first-child+html fieldset > .description, *:first-child+html fieldset .fieldset-wrapper .description {
  padding-top: 1em;
}

fieldset legend {
  /* Fix disappearing legend in FFox */
  display: block;
}

*:first-child+html fieldset legend, *:first-child+html fieldset.collapsed legend {
  display: inline;
}

html.js fieldset.collapsed {
  background: transparent;
  padding-top: 0;
  padding-bottom: .6em;
}

html.js fieldset.collapsible legend a {
  padding-left: 2em; /* LTR */
  background: url(images/menu-expanded.gif) no-repeat 0% 50%; /* LTR */
}

html.js fieldset.collapsed legend a {
  background: url(images/menu-collapsed.gif) no-repeat 0% 50%; /* LTR */
}

/**
 * Syndication icons and block
 */
#block-node-0 h2 {
  float: left; /* LTR */
  padding-right: 20px; /* LTR */
}

#block-node-0 img, .feed-icon {
  float: right; /* LTR */
  padding-top: 4px;
}

#block-node-0 .content {
  clear: right; /* LTR */
}

/**
 * Login Block
 */
#user-login-form {
  text-align: center;
}
#user-login-form ul {
  text-align: left; /* LTR */
}

/**
 * User profiles.
 */
.profile {
  margin-top: 1.5em;
}
.profile h3 {
  border-bottom: 0;
  margin-bottom: 1em;
}
.profile dl {
  margin: 0;
}
.profile dt {
  font-weight: normal;
  color: #898989;
  font-size: 0.92em;
  line-height: 1.3em;
  margin-top: 1.4em;
  margin-bottom: 0.45em;
}
.profile dd {
  margin-bottom: 1.6em;
}

/**
 * Admin Styles
 */
div.admin-panel,
div.admin-panel .description,
div.admin-panel .body,
div.admin,
div.admin .left,
div.admin .right,
div.admin .expert-link,
div.item-list,
.menu {
  margin: 0;
  padding: 0;
}

div.admin .left {
  float: left; /* LTR */
  width: 48%;
}
div.admin .right {
  float: right; /* LTR */
  width: 48%;
}

div.admin-panel {
  background: #fff url(images/gradient-inner.png) repeat-x 0 0;
  padding: 1em 1em 1.5em;
}
div.admin-panel .description {
  margin-bottom: 1.5em;
}
div.admin-panel dl {
  margin: 0;
}
div.admin-panel dd {
  color: #898989;
  font-size: 0.92em;
  line-height: 1.3em;
  margin-top: -.2em;
  margin-bottom: .65em;
}

table.system-status-report th {
  border-color: #d3e7f4;
}

#autocomplete li.selected, tr.selected td, tr.selected td.active {
  background: #027ac6;
  color: #fff;
}

tr.selected td a:link, tr.selected td a:visited, tr.selected td a:active {
  color: #d3e7f4;
}

tr.taxonomy-term-preview {
  opacity: 0.5;
}

tr.taxonomy-term-divider-top {
  border-bottom: none;
}

tr.taxonomy-term-divider-bottom {
  border-top: 1px dotted #CCC;
}

/**
 * CSS support
 */

/*******************************************************************
 * Color Module: Don't touch                                       *
 *******************************************************************/

/**
 * Generic elements.
 */
.messages {
  background-color: #fff;
  border: 1px solid #b8d3e5;
}

.preview {
  background-color: #fcfce8;
  border: 1px solid #e5e58f;
}

div.status {
  color: #33a333;
  border-color: #c7f2c8;
}

div.error, tr.error {
  color: #a30000;
  background-color: #FFCCCC;
}

.form-item input.error, .form-item textarea.error {
  border: 1px solid #c52020;
  color: #363636;
}

/**
 * dblog.module
 */
tr.dblog-user {
  background-color: #fcf9e5;
}

tr.dblog-user td.active {
  background-color: #fbf5cf;
}

tr.dblog-content {
  background-color: #fefefe;
}

tr.dblog-content td.active {
  background-color: #f5f5f5;
}

tr.dblog-warning {
  background-color: #fdf5e6;
}

tr.dblog-warning td.active {
  background-color: #fdf2de;
}

tr.dblog-error {
  background-color: #fbe4e4;
}

tr.dblog-error td.active {
  background-color: #fbdbdb;
}
tr.dblog-page-not-found, tr.dblog-access-denied {
  background: #d7ffd7;
}
tr.dblog-page-not-found td.active, tr.dblog-access-denied td.active {
  background: #c7eec7;
}

/**
 * Status report colors.
 */
table.system-status-report tr.error, table.system-status-report tr.error th {
  background-color: #fcc;
  border-color: #ebb;
  color: #200;
}
table.system-status-report tr.warning, table.system-status-report tr.warning th {
  background-color: #ffd;
  border-color: #eeb;
}
table.system-status-report tr.ok, table.system-status-report tr.ok th {
  background-color: #dfd;
  border-color: #beb;
}

#logogp {
	background-color:#E9E4DE;
	margin-left:-20px;
	_margin-left:0px;
	height:40px; !important
}

#buscartopgp {
	float:left;
	background:#E9E4DE url(images/buscar.png) no-repeat 0 0;
	width:195px;
	height:35px;
	padding:5px 0 0 10px;
}

#datosgp {
	 float:left; 
	 width:243px; 
	 height:40px;
	 background:url(images/direccion.png) no-repeat;
}

#toplinksgp{
	background-color:#E9E4DE;
	 width:531px;
	 _width:530px; 
	 height:40px; 
	 float:right;
	 margin-right:-20px;
	 _margin-right:0px;
	 _padding-top:-5px;
}

#limpiezagp {
	clear:both;
	margin:0;
	padding:0;
}

.site-map p, .site-map h2 {
	margin:15px 0;
}

.site-map ul, .site-map li, .site-map li a {
	background:none !important;
	color: #000 !important;
	width:100% !important;
	border:none !important;
	font-weight:900;
	list-style:none !important;
}

.site-map ul ul, .site-map ul ul li, .site-map ul ul li a {
	margin-left:20px;
	font-weight:100 !important;
} 
